<div{{ attributes }} class="decanter-media_block {{ classes }}">
  {% include "@decanter/components/atoms/media-block-img/media-block-img.html.twig" with { "classes": '' } %}
  {% include "@decanter/components/atoms/media-block-body/media-block-body.html.twig" with { "classes": '' } %}
</div>
