{#
/**
 * @file
 * Toucan
 *
 *
 */
#}
<div{{ attributes }} class="layout {{ modifier_class }}">
  <div class="flex-container centered-container">

    {# Required column #}
    <div class="flex-md-6-of-12">
      {{ first }}
    </div>

    {# Required column #}
    <div class="flex-md-6-of-12">
      {{ second }}
    </div>

  </div>
</div>
