@charset "UTF-8";

//
// @credits
//
// To be used for crediting a source or photographer.
//
// Style guide: Mixins.Typography.credits
//
@mixin credits {
  color: $color-cool-grey;
  font-size: $small-font-size;
  font-style: italic;

  @include margin(0 null null);
}
