@charset "UTF-8";

//
// Credits
//
// Default styling for image or other credits.
//
// Style guide: Mixins.Typography.credits
//
@mixin credits {
  color: $color-cool-grey;
  font-size: $small-font-size;
  font-style: italic;

  @include margin(0 null null);
}
