@charset "UTF-8";

///
/// FONT LEAD
///

@mixin font-lead {
  font-family: $font-sans;
  font-size: $lead-font-size;
  font-weight: $font-light;
  line-height: $lead-line-height;
  max-width: $lead-max-width;
}
