@charset "UTF-8";

//
// @font-lead
//
// For leading a page of text, summarizing a main point, and/or highlighting a
// paragraph or quote.
//
// Style guide: Mixins.Typography.font-lead
//
@mixin font-lead {
  font-family: $font-sans;
  font-size: $lead-font-size;
  font-weight: $font-light;
  line-height: $lead-line-height;
  max-width: $lead-max-width;
}
