@charset "UTF-8";

//
// @sans
//
// Sans Serfif font styling.
//
// Style guide: Mixins.Typography.sans
//
@mixin sans {
  p,
  a,
  li,
  span {
    font-family: $font-sans;
  }

  a {
    border-bottom: none;
    font-weight: $font-bold;
  }
}
