@charset "UTF-8";

//
// Sidenav
//
// A side navigation component.
//
// Markup: ../../templates/components/molecules/sidenav/sidenav.html.twig
//
// Style guide: Components.Molecules.Sidenav
//
.decanter-sidenav__list {
  @include sidenav-list;
}

.decanter-sidenav__sublist {
  @include sidenav-sublist;
}
