@charset "UTF-8";

//
// @allow-layout-classes
//
// Allow Layout Classes. Content size helpers.
//
// Style guide: Mixins.Grid.allow-layout-classes
//
@mixin allow-layout-classes {
  @include margin(null auto);

  &.width-one-half {
    @media #{$breakpoint-md} {
      width: 50%;
    }
  }

  &.width-one-third {
    @media #{$breakpoint-md} {
      width: 33%;
    }
  }

  &.width-two-thirds {
    @media #{$breakpoint-md} {
      width: 67%;
    }
  }

  &.width-one-fourth {
    @media #{$breakpoint-md} {
      width: 25%;
    }
  }

  &.width-three-fourths {
    @media #{$breakpoint-md} {
      width: 75%;
    }
  }

  &.align-left {
    @media #{$breakpoint-md} {
      float: left;

      @include margin(0.5em 2em null null);
    }
  }

  &.align-right {
    @media #{$breakpoint-md} {
      float: right;

      @include margin(0.5em null null 2em);
    }
  }
}
