@mixin decanter-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  @media #{$breakpoint-xs} {
    margin-left: (-$gutter-xs);
  }
  @media #{$breakpoint-sm} {
    margin-left: (-$gutter-sm);
  }
  @media #{$breakpoint-md} {
    margin-left: (-$gutter-md);
  }
  @media #{$breakpoint-lg} {
    margin-left: (-$gutter-lg);
  }
  @media #{$breakpoint-xl} {
    margin-left: (-$gutter-xl);
  }
}

@mixin decanter-grid--item {
  padding: 0 0 0 $gutter-xs;
  @media #{$breakpoint-lg} {
    padding: 0 0 0 $gutter-lg;
  }
}

@mixin decanter-width-one-whole {
  flex: 0 0 100%;
}

@mixin decanter-width-one-half {
  flex: 0 0 100%;
  @media #{$breakpoint-sm} {
    flex: 0 0 50%;
  }
}

@mixin decanter-width-one-third {
  flex: 0 0 100%;
  @media #{$breakpoint-sm} {
    flex: 0 0 (100% * (1 / 3));
  }
}

@mixin decanter-width-two-thirds {
  flex: 0 0 100%;
  @media #{$breakpoint-sm} {
    flex: 0 0 (100% * (2 / 3));
  }
}

@mixin decanter-width-one-fourth {
  flex: 0 0 100%;
  @media #{$breakpoint-sm} {
    flex: 0 0 (100% * (1 / 4));
  }
}

@mixin decanter-width-three-fourths {
  flex: 0 0 100%;
  @media #{$breakpoint-sm} {
    flex: 0 0 (100% * (3 / 4));
  }
}

@mixin decanter-width-one-sixth {
  flex: 0 0 100%;
  @media #{$breakpoint-sm} {
    flex: 0 0 (100% * (1 / 3));
  }
  @media #{$breakpoint-md} {
    flex: 0 0 (100% * (1 / 6));
  }
}

@mixin decanter-width-five-sixths {
  flex: 0 0 100%;
  @media #{$breakpoint-sm} {
    flex: 0 0 (100% * (1 / 3));
  }
  @media #{$breakpoint-md} {
    flex: 0 0 (100% * (5 / 6));
  }
}

@mixin decanter-width-one-twelfth {
  flex: 0 0 100%;
  @media #{$breakpoint-sm} {
    flex: 0 0 (100% * (1 / 3));
  }
  @media #{$breakpoint-md} {
    flex: 0 0 (100% * (1 / 12));
  }
}

@mixin decanter-width-five-twelfths {
  flex: 0 0 100%;
  @media #{$breakpoint-sm} {
    flex: 0 0 (100% * (1 / 3));
  }
  @media #{$breakpoint-md} {
    flex: 0 0 (100% * (5 / 12));
  }
}

@mixin decanter-width-seven-twelfths {
  flex: 0 0 100%;
  @media #{$breakpoint-sm} {
    flex: 0 0 (100% * (1 / 3));
  }
  @media #{$breakpoint-md} {
    flex: 0 0 (100% * (7 / 12));
  }
}
