@mixin page-layout--single-column {

  .page-layout {
    @include display-grid;
    max-width: $site-max-width;
    margin: 0 auto;

    @media #{$breakpoint-xs} {
      @include grid-columns(1fr 1fr 1fr 1fr 1fr 1fr); // Can't use repeat() function in IE
      padding-left: $gutter-xs;
      padding-right: $gutter-xs;
      @include grid-column-gap($gutter-xs);
    }
    @media #{$breakpoint-sm} {
      @include grid-columns(1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr); // Can't use repeat() function in IE
      padding-left: $gutter-sm;
      padding-right: $gutter-sm;
      @include grid-column-gap($gutter-sm);
    }
    @media #{$breakpoint-md} {
      @include grid-columns(1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr); // Can't use repeat() function in IE
      padding-left: $gutter-md;
      padding-right: $gutter-md;
      @include grid-column-gap($gutter-md);
    }
    @media #{$breakpoint-lg} {
      @include grid-columns(1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr); // Can't use repeat() function in IE
      padding-left: $gutter-lg;
      padding-right: $gutter-lg;
      @include grid-column-gap($gutter-lg);
    }
    @media #{$breakpoint-xl} {
      @include grid-columns(1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr); // Can't use repeat() function in IE
      padding-left: $gutter-xl;
      padding-right: $gutter-xl;
      @include grid-column-gap($gutter-xl);
    }
  }

  .region {

    @media #{$breakpoint-xs} {
      &--content-header {
        @include grid-item-spans(1, 7, 1, 2);
      }
      &--content {
        @include grid-item-spans(1, 7, 2, 3);
      }
      &--content-footer {
        @include grid-item-spans(1, 7, 3, 4);
      }
    }

    @media #{$breakpoint-sm} {
      &--content-header {
        @include grid-item-spans(1, 13, 1, 2);
      }
      &--content {
        @include grid-item-spans(1, 13, 2, 3);
      }
      &--content-footer {
        @include grid-item-spans(1, 13, 3, 4);
      }
    }

    @media #{$breakpoint-md} {
      &--content-header {
        @include grid-item-spans(1, 13, 1, 2);
      }
      &--content {
        @include grid-item-spans(3, 11, 2, 3);
      }
      &--content-footer {
        @include grid-item-spans(1, 13, 3, 4);
      }
    }

    @media #{$breakpoint-lg} {
      &--content-header {
        @include grid-item-spans(2, 12, 1, 2);
      }
      &--content {
        @include grid-item-spans(2, 12, 2, 3);
      }
      &--content-footer {
        @include grid-item-spans(2, 12, 3, 4);
      }
    }

    @media #{$breakpoint-xl} {
      &--content-header {
        @include grid-item-spans(2, 12, 1, 2);
      }
      &--content {
        @include grid-item-spans(2, 12, 2, 3);
      }
      &--content-footer {
        @include grid-item-spans(2, 12, 3, 4);
      }
    }
  }
}
