@charset "UTF-8";

//
// @page-layout--right-sidebar
//
// Mixin to apply to the wrapper of a right-sidebar layout.
//
// Style guide: Mixins.Grid.page-layout--right-sidebar
//

@mixin page-layout--right-sidebar {
  @include page-layout;
}

//
// @page-layout--right-sidebar--content
//
// Mixin to apply to the content region in a left-sidebar layout.
//
// Style guide: Mixins.Grid.page-layout--right-sidebar--content
//

@mixin page-layout--right-sidebar--content {
  @media #{$breakpoint-xs} {
    @include grid-item-spans(1, 7, 2, 3);
  }

  @media #{$breakpoint-sm} {
    @include grid-item-spans(2, 12, 2, 3);
  }

  @media #{$breakpoint-md} {
    @include grid-item-spans(1, 9, 2, 3);
  }

  @media #{$breakpoint-lg} {
    @include grid-item-spans(1, 9, 2, 3);
  }

  @media #{$breakpoint-xl} {
    @include grid-item-spans(1, 9, 2, 3);
  }
}

//
// @page-layout--right-sidebar--sidebar
//
// Mixin to apply to the sidebar in a right-sidebar layout.
//
// Style guide: Mixins.Grid.page-layout--right-sidebar--sidebar
//

@mixin page-layout--right-sidebar--sidebar {
  @media #{$breakpoint-xs} {
    @include grid-item-spans(1, 7, 3, 4);
  }

  @media #{$breakpoint-sm} {
    @include grid-item-spans(2, 12, 3, 4);
  }

  @media #{$breakpoint-md} {
    @include grid-item-spans(9, 13, 2, 3);
  }

  @media #{$breakpoint-lg} {
    @include grid-item-spans(9, 13, 2, 3);
  }

  @media #{$breakpoint-xl} {
    @include grid-item-spans(9, 13, 2, 3);
  }
}
