@mixin page-layout {
  @include display-grid;
  max-width: $site-max-width;
  margin: 0 auto;

  @media #{$breakpoint-xs} {
    @include grid-columns(1fr 1fr 1fr 1fr 1fr 1fr); // Can't use repeat() function in IE
    padding-left: $gutter-xs;
    padding-right: $gutter-xs;

    @include grid-column-gap($gutter-xs);
  }

  @media #{$breakpoint-sm} {
    @include grid-columns(1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr); // Can't use repeat() function in IE
    padding-left: $gutter-sm;
    padding-right: $gutter-sm;

    @include grid-column-gap($gutter-sm);
  }

  @media #{$breakpoint-md} {
    @include grid-columns(1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr); // Can't use repeat() function in IE
    padding-left: $gutter-md;
    padding-right: $gutter-md;

    @include grid-column-gap($gutter-md);
  }

  @media #{$breakpoint-lg} {
    @include grid-columns(1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr); // Can't use repeat() function in IE
    padding-left: $gutter-lg;
    padding-right: $gutter-lg;

    @include grid-column-gap($gutter-lg);
  }

  @media #{$breakpoint-xl} {
    @include grid-columns(1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr); // Can't use repeat() function in IE
    padding-left: $gutter-xl;
    padding-right: $gutter-xl;

    @include grid-column-gap($gutter-xl);
  }
}
