@charset "UTF-8";//

//
// @page-layout--single-column
//
// Mixin to apply to the wrapper of a single column layout.
//
// Style guide: Mixins.Grid.page-layout--single-column
//

@mixin page-layout--single-column {
  @include page-layout;
}

//
// @page-layout--single-column--content
//
// Mixin to apply to the content region in a single column layout.
//
// Style guide: Mixins.Grid.page-layout--single-column--content
//

@mixin page-layout--single-column--content {
  @media #{$breakpoint-xs} {
    @include grid-item-spans(1, 7, 2, 3);
  }

  @media #{$breakpoint-sm} {
    @include grid-item-spans(2, 12, 2, 3);
  }

  @media #{$breakpoint-md} {
    @include grid-item-spans(3, 11, 2, 3);
  }

  @media #{$breakpoint-lg} {
    @include grid-item-spans(2, 12, 2, 3);
  }

  @media #{$breakpoint-xl} {
    @include grid-item-spans(2, 12, 2, 3);
  }
}
