:root {
  --max_width: $site-max-width;
  --baseline: 3rem;
  --baseline-shift: 2rem;
  --repeating-width: calc(100% / var(--columns));
  --column-width: calc((100% / var(--columns)) - var(--gutter));
  --background-width: calc(100% + var(--gutter));
  --background-columns: repeating-linear-gradient(
    to right,
    var(--color),
    var(--color) var(--column-width),
    transparent var(--column-width),
    transparent var(--repeating-width)
  );
  --background-baseline: repeating-linear-gradient(
    to bottom,
    var(--color),
    var(--color) 0,
    transparent 0,
    transparent var(--baseline)
  ); }

@media (min-width: 0) {
  :root {
    --columns: 6;
    --gutter: 20px;
    --offset: 20px;
    --color: hsla(204, 80%, 72%, 0.2);
    --color-text: hsla(204, 80%, 72%, 1);
    --media-query: 'xs'; } }

@media (min-width: 576px) {
  :root {
    --columns: 12;
    --gutter: 20px;
    --offset: 20px;
    --color: hsla(286, 51%, 44%, 0.125);
    --color-text: hsla(286, 51%, 44%, 1);
    --media-query: 'sm'; } }

@media (min-width: 768px) {
  :root {
    --columns: 12;
    --gutter: 20px;
    --offset: 20px;
    --color: hsla(204, 80%, 72%, 0.2);
    --color-text: hsla(204, 80%, 72%, 1);
    --media-query: 'md'; } }

@media (min-width: 1024px) {
  :root {
    --columns: 12;
    --gutter: 30px;
    --offset: 30px;
    --color: hsla(286, 51%, 44%, 0.125);
    --color-text: hsla(286, 51%, 44%, 1);
    --media-query: 'lg'; } }

@media (min-width: 1500px) {
  :root {
    --columns: 12;
    --gutter: 30px;
    --offset: 30px;
    --color: hsla(204, 80%, 72%, 0.2);
    --color-text: hsla(204, 80%, 72%, 1);
    --media-query: 'xl'; } }

body#kss-node.kss-fullscreen-mode .kss-section.is-fullscreen {
  padding: 22px; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  background-color: #ffffff;
  overflow-x: hidden; }

.lt-ie9 * {
  -webkit-filter: none !important;
          filter: none !important; }

[hidden] {
  display: none !important; }

.decanter-grid {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  max-width: 1220px; }
  @media only screen and (min-width: 768px) {
    .decanter-grid {
      padding-right: 3rem;
      padding-left: 3rem; } }

.decanter-grid-full {
  padding: 0;
  max-width: 100%; }

.decanter-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0; }
  @media only screen and (min-width: 0) {
    .decanter-grid {
      margin-left: -20px; } }
  @media only screen and (min-width: 576px) {
    .decanter-grid {
      margin-left: -20px; } }
  @media only screen and (min-width: 768px) {
    .decanter-grid {
      margin-left: -20px; } }
  @media only screen and (min-width: 1024px) {
    .decanter-grid {
      margin-left: -30px; } }
  @media only screen and (min-width: 1500px) {
    .decanter-grid {
      margin-left: -30px; } }

.decanter-grid--item {
  padding: 0 0 0 20px;
  background-color: rgba(0, 0, 0, 0.125); }
  @media only screen and (min-width: 1024px) {
    .decanter-grid--item {
      padding: 0 0 0 30px; } }
  .decanter-grid--item:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.25); }

.decanter-width-one-fourth {
  flex: 0 0 100%; }
  @media only screen and (min-width: 576px) {
    .decanter-width-one-fourth {
      flex: 0 0 25%; } }

.decanter-width-three-fourths {
  flex: 0 0 100%; }
  @media only screen and (min-width: 576px) {
    .decanter-width-three-fourths {
      flex: 0 0 75%; } }

.decanter-width-one-third {
  flex: 0 0 100%; }
  @media only screen and (min-width: 576px) {
    .decanter-width-one-third {
      flex: 0 0 33.3333333333%; } }

.decanter-width-two-thirds {
  flex: 0 0 100%; }
  @media only screen and (min-width: 576px) {
    .decanter-width-two-thirds {
      flex: 0 0 66.6666666667%; } }

.decanter-width-one-half {
  flex: 0 0 100%; }
  @media only screen and (min-width: 576px) {
    .decanter-width-one-half {
      flex: 0 0 50%; } }

.decanter-width-one-whole {
  flex: 0 0 100%; }

.decanter-width-one-sixth {
  flex: 0 0 100%; }
  @media only screen and (min-width: 576px) {
    .decanter-width-one-sixth {
      flex: 0 0 33.3333333333%; } }
  @media only screen and (min-width: 768px) {
    .decanter-width-one-sixth {
      flex: 0 0 16.6666666667%; } }

.decanter-width-five-sixths {
  flex: 0 0 100%; }
  @media only screen and (min-width: 576px) {
    .decanter-width-five-sixths {
      flex: 0 0 33.3333333333%; } }
  @media only screen and (min-width: 768px) {
    .decanter-width-five-sixths {
      flex: 0 0 83.3333333333%; } }

.decanter-width-one-twelfth {
  flex: 0 0 100%; }
  @media only screen and (min-width: 576px) {
    .decanter-width-one-twelfth {
      flex: 0 0 33.3333333333%; } }
  @media only screen and (min-width: 768px) {
    .decanter-width-one-twelfth {
      flex: 0 0 8.3333333333%; } }

.decanter-width-five-twelfths {
  flex: 0 0 100%; }
  @media only screen and (min-width: 576px) {
    .decanter-width-five-twelfths {
      flex: 0 0 33.3333333333%; } }
  @media only screen and (min-width: 768px) {
    .decanter-width-five-twelfths {
      flex: 0 0 41.6666666667%; } }

.decanter-width-seven-twelfths {
  flex: 0 0 100%; }
  @media only screen and (min-width: 576px) {
    .decanter-width-seven-twelfths {
      flex: 0 0 33.3333333333%; } }
  @media only screen and (min-width: 768px) {
    .decanter-width-seven-twelfths {
      flex: 0 0 58.3333333333%; } }
/*# sourceMappingURL=decanter-grid.css.map */