@charset "UTF-8";

//
// Global Footer
//
// Global footer element as specified by the Identity Guidelines.
//
// Markup: ../../templates/components/organisms/global-footer/global-footer.twig
//
// Style guide: Organisms.Global Footer
//

.global-footer {
  @include centered-grid-container;
  background-color: $color-cardinal-red;
  color: $color-white;
  padding: 2.5rem 0;

  .global-footer__container {
    @include display-grid;
    @include grid-media('xs', 100%) {
      @include grid-rows(auto auto);
      justify-items: center;
    }

    @include grid-media('sm', 2fr 10fr) {
      justify-items: left;
    }

    @include grid-media('md', 1fr 10fr) {
      justify-items: left;
    }
  }

  .global-footer__brand {
    a {
      display: block;
    }
  }

  .global-footer__nav {
    @include grid-media-only('xs', 1fr 1fr) {
      @include display-grid;
      justify-content: center;
      justify-items: center;
    }
  }

  .global-footer__copyright {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .global-footer__menu {
    margin: 0 0 1rem;
    list-style-type: none;
    margin: 0 0 .625rem;
    padding: 0;

    li {
      margin: 0 2rem 0 0;
      padding: 0;
      display: inline-block;
      @media #{$breakpoint-xs-only} {
        width: 100%
      }
    }
  }

  .global-footer__menu--global {
    font-size: 1.75rem;
  }

  .global-footer__menu--policy {
    font-size: 1.5rem;
    font-weight: 300;
  }

  a {
    color: rgba($color-white, .9);
    text-decoration: none;

    &:hover {
      color: $color-white;
      text-decoration: underline;
    }
  }
}
