@charset "UTF-8";

///
/// SKIPNAV
///

@mixin skipnav {
  background: transparent;
  color: $color-black;
  left: 0;
  position: absolute;
  top: -4.2rem;
  transition: all 0.2s ease-in-out;
  z-index: 100;

  @include padding(1rem 1.5rem);

  &:focus {
    background: $color-white;
    left: 0;
    outline: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in-out;
  }
}
