{#
/**
 * @file
 * Css-Grid — Grid Align Self Mixins
 *
 * This file documents provides a visual example of of the mixin @grid-align-self in action.
 *
 *
#}
<div class="layout layout-bars">
  <div class="css-grid-align-self">
    <section>
      <h2>C1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </section>
    <section>
      <h2>C2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </section>
    <section>
      <h2>C3</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </section>
  </div>
</div>
