@charset "UTF-8";

///
/// Big button styling.
/// Same as primary but with larger font-size, more padding.
///
/// @name button-big
///
/// @group mixin
@mixin button-big {
  @include button-primary;
  @include padding(1.3rem 2.8rem 1.5rem);
  font-size: 2.5rem;

  @include grid-media('md') {
    @include padding(1.5rem 3rem 1.8rem);
    font-size: 2.8rem;
  }

  @include grid-media('2xl') {
    font-size: 3rem;
  }
}
