@charset "UTF-8";

//
// @button-big
//
// Big button styling.
//
// Style guide: Mixins.Button.button-big
//
@mixin button-big {
  @extend %button-base;
  @include padding(1.5rem 3rem 1.8rem);
  @include type-c;

  background-color: $color-bright-red;
  color: $color-white;

  &:hover {
    background-color: $color-black;
    color: $color-white;
  }

  &:focus {
    box-shadow: $focus-shadow;
    background-color: $color-black;
  }
}
