@charset "UTF-8";

///
/// Secondary button styling.
///
/// @name button-secondary
///
///
/// @group mixin
@mixin button-secondary {
  @extend %button-base;
  @include focus-visible;

  // button-focus needs to follow focus-visible.
  @include button-focus;
  @include padding(1rem 2rem 1.15rem);

  background-color: color(bg);
  box-shadow: $su-button-stroke color(brand--bright);
  color: color(link--alt);

  &:hover,
  &:focus {
    background-color: color(bg);
    color: color(link--alt-hover);
  }

  &:hover {
    box-shadow: $su-button-stroke $su-color-black;
  }
}
