@charset "UTF-8";

//
// CTAs
//
// A call-to-action block with a clickable image and a button
//
// .decanter-cta--button-bottom           - Button under image link
// .decanter-cta--button-bottom-icon      - Icon centered on image link with button underneath
// .decanter-cta--button-center           - Button centered on image link
//
// Markup: ../templates/components/molecules/ctas/ctas.twig
//
// Style guide: Molecules.CTAs
//

.decanter-cta--button-bottom,
.decanter-cta {
  @include cta--button;
}

.decanter-cta--button-bottom-icon {
  @include cta--button;

  @import "https://use.fontawesome.com/releases/v5.4.1/css/all.css";

  position: relative;

  .decanter-cta__icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    $_btn-height: $lead-font-size + 3rem; //height of the button
    $_shift: calc( #{-50%} - #{$_btn-height / 2} ); //calculate the extra shift up for the icon to compensate for the button height
    transform: translate(-50%, $_shift);
    color: #fff;
    font-size: 4em;
    text-shadow: 0 0 10px rgba(0, 0, 0, .4);
  }

}

.decanter-cta--button-center {
  @include cta--button;

  position: relative;

  .decanter-cta__button {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media #{$breakpoint-xs} {
      width: auto;
    }
  }

}


