@charset "UTF-8";

//
// Logo
//
// For displaying the Stanford University logo using custom font and glyphs.
//
// Markup: ../templates/components/molecules/logo/logo.twig
//
// Style guide: Molecules.Alerts
//

.su-brand {
  display: block;
  font-family: Stanford, Source Serif Pro, Georgia, Times, Times New Roman, serif !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: .75;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}