<div{{ attributes }} class="decanter-icon-grid__row {{ classes }}">

  {% if blocks not empty %}
    {{ blocks }}
  {% endif %}

  {% if items not empty %}
    {% for item in items %}
      {% include "@decanter/components/molecules/media-block/media-block.twig" with item %}
    {% endfor %}
  {% endif %}

</div>
