@charset 'UTF-8';

//
// %nav-item--parent
//
// Individual Nav Item -- Parent
//
// Style guide: Placeholders.Components.Nav-Item-Parent
//

%nav-item--parent {
  > a::after {
    background: url("#{$image-path}/plus-white.svg") no-repeat 0 0;
    background-size: 100%;
    content: "";
    display: inline-block;
    position: absolute;
    right: 2rem;
    top: 2.06rem;
    height: 1.8rem;
    width: 1.8rem;
  }
}
