@charset 'UTF-8';

/// Individual Nav Menu.
///
/// @name %nav-menu
///
/// @group placeholder
%nav-menu {
  @include margin(0 null);
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  background-color: color(bg, $su-nav-colors);

  li ul li a {
    font-size: 1.8rem;
  }

  li ul li ul li a {
    font-size: 1.6rem;
  }
}
