@charset 'UTF-8';

///
/// Individual Nav Item -- current
///
/// @name %nav-item--current
///
/// @group placeholder
%nav-item--current {
  > a {
    &::before {
      visibility: visible;
      transform: scaleY(1);
      background-color: color(border--active, $su-nav-colors);
    }

    &:hover,
    &:focus {
      &::before {
        left: 6px;
        transition: left 0.1s ease-out;
        background-color: color(border--active, $su-nav-colors);
      }
    }
  }
}
