@charset 'UTF-8';

///
/// Individual Nav Item -- Parent
///
/// @name %nav-item--parent
///
/// @group placeholder
%nav-item--parent {
  > a::after {
    background: url("#{$su-image-path}/plus-white.svg") no-repeat 0 0;
    background-size: 100%;
    content: "";
    display: inline-block;
    position: absolute;
    right: 2rem;
    top: 2.06rem;
    height: 1.8rem;
    width: 1.8rem;
  }
}
