@charset 'UTF-8';

///
/// Individual Nav Item -- Current Page and Expanded
///
/// @name %nav-item--current-expanded
///
/// @group placeholder
%nav-item--current-expanded {
  > a {
    &::before {
      background-color: color(border--active-expanded, $su-nav-colors);
    }

    &:focus::before {
      left: 0;
      background-color: color(border--active-expanded, $su-nav-colors);
    }

    &[aria-expanded="true"] {
      &:hover::before {
        left: 6px;
      }

      &:active {
        &::before {
          background-color: color(border--active, $su-nav-colors);
        }
      }
    }
  }
}
