@charset 'UTF-8';

///
/// Individual Nav Item -- Parent Expanded
///
/// @name %nav-item--parent-expanded
///
/// @group placeholder
%nav-item--parent-expanded {
  > a {
    &::after {
      background: url("#{$su-image-path}/minus-white.svg") no-repeat 0 0;
      background-size: 100%;
    }

    &::before {
      background-color: color(border--expanded, $su-nav-colors);
    }

    &:hover::before {
      background-color: color(border--hover, $su-nav-colors);
    }

    &:active::before {
      background-color: color(border--active, $su-nav-colors);
    }
  }
}
