<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Decanter Elements | Inputs</title>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../css/decanter.css">
  <!-- Example Element Styles -->
  <style>
    .grid-example {
      margin-bottom: 2em;
    }

    .grid-example [class*="decanter-grid"]>* {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  </style>
</head>

<body>
  <div class="grid-example">
    <div class="decanter-grid">
      <h1>Inputs</h1>
      <!-- Checkboxes ------------------------------>
      <h2>Checkboxes</h2>
      <fieldset class="decanter-fieldset-inputs">
        <legend class="decanter-sr-only">Stanford Presidents</legend>
        <ul class="decanter-list-unstyled">
          <li>
            <input id="casper" type="checkbox" name="stanford-presidents-1" value="casper" checked>
            <label for="casper">Gerhard Casper</label>
          </li>
          <li>
            <input id="hennessy" type="checkbox" name="stanford-presidents-2" value="hennessy">
            <label for="hennessy">John Hennessy</label>
          </li>
          <li>
            <input id="tessier-lavigne" type="checkbox" name="stanford-presidents-3" value="tessier-lavigne">
            <label for="tessier-lavigne">Marc Tessier-Lavigne</label>
          </li>
          <li>
            <input id="disabled-choice" type="checkbox" name="stanford-presidents-4" disabled>
            <label for="disabled-choice">Disabled choice</label>
          </li>
        </ul>
      </fieldset>
      <!-- Radio Buttons ------------------------------>
      <h2>Radio Buttons</h2>
      <fieldset class="decanter-fieldset-inputs">
        <legend class="decanter-sr-only">Stanford Provosts</legend>
        <ul class="decanter-list-unstyled">
          <li>
            <input id="lieberman" type="radio" checked name="stanford-provosts-1" value="lieberman">
            <label for="lieberman">Gerald Lieberman</label>
          </li>
          <li>
            <input id="etchemendy" type="radio" name="stanford-provosts-2" value="etchemendy">
            <label for="etchemendy">John W. Etchemendy</label>
          </li>
          <li>
            <input id="drell" type="radio" name="stanford-provosts-3" value="drell">
            <label for="drell">Persis Drell</label>
          </li>
        </ul>
      </fieldset>
    </div>
  </div>
  <!-- Script -->
  <script src="../../js/decanter.min.js"></script>
</body>

</html>
