{#
/**
 * @file
 * Wedge 2 column layout
 *
 * A 25/75 style two column layout.
 *
 * Variants:
  * layout-wedge-flex--right - A right sidebar variant to the layout.
  *
 * Variables:
 * attributes - html attributes for the template wrapper tag
 * modifier_class - Variant modifier css classes
 * first - First column and 25% width
 * second - Second Column and 75% width
 *
 *
 */
#}
<div{{ attributes }} class="layout {{ modifier_class }}">
  <section class="flex-container centered-container">
    <div class="flex-md-3-of-12">
      {{ first }}
    </div>

    <div class="flex-md-9-of-12">
      {{ second }}
    </div>
  </section>
</div>
