<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Decanter Components | Mega Menu</title>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../../css/decanter.css">
  <!-- Example Component Styles -->
  <style>
    .grid-example {
      margin-bottom: 2em;
    }

    .grid-example [class*="decanter-grid"]>* {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  </style>
</head>

<body>
  <div class="grid-example">
    <div class="decanter-grid">
      <h1>Mega Menu</h1>
      </br>
      <a class="decanter-skipnav" href="#main-content">Skip to main content</a>
      <div class="decanter-main-menu decanter-megamenu">
        <div class="decanter-nav__container">
          <button class="decanter-main-menu__btn">Menu</button>
          <nav role="navigation" class="decanter-nav">
            <button class="decanter-nav__close">
              <img src="../../../img/close.svg" alt="close">
            </button>
            <div class="decanter-nav__inner">
              <ul class="decanter-nav-primary decanter-accordion">
                <li><button class="decanter-accordion__button decanter-nav__link" aria-expanded="false" aria-controls="basic-mega-nav-section-one">
        Parent link
      </button>
                  <ul id="basic-mega-nav-section-one" class="decanter-nav-submenu decanter-megamenu decanter-grid-full">
                    <div class="decanter-megamenu__col">
                      <li>
                        <a href="#">Child link</a>
                      </li>
                      <li>
                        <a href="#">Child link</a>
                      </li>
                      <li>
                        <a href="#">Child link</a>
                      </li>
                    </div>
                    <div class="decanter-megamenu__col">
                      <li>
                        <a href="#">Child link</a>
                      </li>
                      <li>
                        <a href="#">Child link</a>
                      </li>
                      <li>
                        <a href="#">Child link</a>
                      </li>
                    </div>
                    <div class="decanter-megamenu__col">
                      <li>
                        <a href="#">Child link</a>
                      </li>
                      <li>
                        <a href="#">Child link</a>
                      </li>
                      <li>
                        <a href="#">Child link</a>
                      </li>
                    </div>
                  </ul>
                </li>
                <li><button class="decanter-accordion__button decanter-nav__link" aria-expanded="false" aria-controls="basic-mega-nav-section-two">
        Parent link
      </button>
                  <ul id="basic-mega-nav-section-two" class="decanter-nav-submenu decanter-megamenu decanter-grid-full">
                    <div class="decanter-megamenu__col">
                      <li>
                        <a href="#">Child link</a>
                      </li>
                      <li>
                        <a href="#">Child link</a>
                      </li>
                      <li>
                        <a href="#">Child link</a>
                      </li>
                    </div>
                    <div class="decanter-megamenu__col">
                      <li>
                        <a href="#">Child link</a>
                      </li>
                      <li>
                        <a href="#">Child link</a>
                      </li>
                      <li>
                        <a href="#">Child link</a>
                      </li>
                    </div>
                    <div class="decanter-megamenu__col">
                      <li>
                        <a href="#">Child link</a>
                      </li>
                      <li>
                        <a href="#">Child link</a>
                      </li>
                      <li>
                        <a href="#">Child link</a>
                      </li>
                    </div>
                  </ul>
                </li>
                <li><a class="decanter-nav__link" href="#">
        Parent link
      </a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="decanter-nav__overlay"></div>
    </div>
  </div>
  <!-- Script -->
  <script src="../../../js/decanter.min.js"></script>
</body>

</html>
