<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Decanter Components | Sidenav</title>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../../css/decanter.css">
  <!-- Example Component Styles -->
  <style>
    .grid-example {
      margin-bottom: 2em;
    }

    .grid-example [class*="decanter-grid"]>* {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  </style>
</head>

<body>
  <div class="grid-example">
    <div class="decanter-grid">
      <h1>Side Navigation</h1>
      <!-- Single Level ------------------------------>
      <h2>Single Level</h2>
      <aside>
        <ul class="decanter-sidenav__list">
          <li>
            <a class="decanter-nav__current" href="#">Active parent link</a>
          </li>
          <li>
            <a href="#">Parent link</a>
          </li>
          <li>
            <a href="#">Parent link</a>
          </li>
        </ul>
      </aside>
      <!-- Two Levels ------------------------------>
      <h2>Two Levels</h2>
      <aside>
        <ul class="decanter-sidenav__list">
          <li>
            <a href="#">Parent link</a>
          </li>
          <li>
            <a class="decanter-nav__current" href="#">Active parent link</a>
            <ul class="decanter-sidenav__sublist">
              <li>
                <a href="#">Child link</a>
              </li>
              <li>
                <a href="#">Child link</a>
              </li>
              <li>
                <a href="#">Child link</a>
              </li>
              <li>
                <a href="#">Child link</a>
              </li>
              <li>
                <a class="decanter-nav__current" href="#">Active child Link</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Parent link</a>
          </li>
        </ul>
      </aside>
      <!-- Three Levels ------------------------------>
      <h2>Three Levels</h2>
      <aside>
        <ul class="decanter-sidenav__list">
          <li>
            <a href="#">Parent link</a>
          </li>
          <li>
            <a class="decanter-nav__current" href="#">Active parent link</a>
            <ul class="decanter-sidenav__sublist">
              <li>
                <a href="#">Child link</a>
              </li>
              <li>
                <a class="decanter-nav__current" href="#">Active child link</a>
                <ul class="decanter-sidenav__sublist">
                  <li>
                    <a href="#">Grandchild link</a>
                  </li>
                  <li>
                    <a href="#">Grandchild link</a>
                  </li>
                  <li>
                    <a class="decanter-nav__current" href="#">Active grandchild link</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">Child link</a>
              </li>
              <li>
                <a href="#">Child link</a>
              </li>
              <li>
                <a href="#">Child link</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Parent link</a>
          </li>
        </ul>
      </aside>
    </div>
  </div>
  <!-- Script -->
  <script src="../../js/decanter.min.js"></script>
</body>

</html>
