@charset "UTF-8";

///
/// Focus for focused elements
///
/// @name focus-visible
///
/// @group mixin
///
@mixin focus-visible($focus: color(focus)) {
  // Set a default focus.
  &:focus {
    outline: $su-focus-default-outline;
  }

  // For browsers that support focus-visible.
  &:focus-visible {
    border: $focus;
    box-shadow: $su-button-stroke $focus, $su-focus-shadow;
    outline: none;
  }
}
