<div class="page-layout-wrapper page-layout-wrapper--single-column">
  <div class="page-layout page-layout--single-column">
    <div class="region region--content-header">
      {{ header_content }}
    </div>
    <div class="region region--content">
      {{ main_content }}
    </div>
    <div class="region region--content-footer">
      {{ footer_content }}
    </div>
  </div>
</div>
