<div class="page-layout--wrapper">
  <div class="page-layout page-layout--single-column">
    <div class="page-layout--inner page-layout--inner--single-column">
      <div class="column column--head">
        {{ headContent }}
      </div>
      <div class="column column--content">
        {{ mainContent }}
      </div>
    </div>
  </div>
</div>
