<div class="page-layout-wrapper page-layout-wrapper--single-column">
  <div class="page-layout page-layout--single-column">
    <header class="region region--header">
      {{ header_content }}
    </header>
    <main class="region region--content">
      {{ main_content }}
    </main>
    <footer class="region region--footer">
      {{ footer_content }}
    </footer>
  </div>
</div>
