.su-card--minimal {
  @include box-shadow($depth: 'flat', $stroke: 'none');
  background-color: inherit;

  .su-card__contents {
    // override modular spacing at all breakpoints
    @include grid-media-only(all) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.su-card--horizontal {
    // override modular spacing at all breakpoints
    @include grid-media-only(all) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
