@charset "UTF-8";

//
// Card variant where whole card is a link
//

.su-card--link {
  text-decoration: none;
  color: color(text);

  &:hover,
  &:focus {
    @include box-shadow($depth: medium);
    border-color: $color-driftwood;

    h3 {
      text-decoration: underline;
      color: color(link--alt);
    }
  }

  p {
    font-weight: $font-regular;
  }
}