@charset 'UTF-8';

//
// @modular-typography
//
// Specify font size using modular-scale, relative to the base font size (which varies by breakpoint).
//
// **Examples:**
// - `@include modular-typography(2)`
// - `@include modular-typography(1.5)`
// - `@include modular-typography(-1)`
//
// $scale - number (unitless) indicating how many steps to adjust font-size up or down the scale.
//   **Default:** 1 (1 step larger relative to base font size).
//
// Style guide: Mixins.Modular.modular-typography
//
@mixin modular-typography($scale: 1) {

  font-size: modular-scale($scale, map-get($modular-typography, 'xs'));

  @media #{$breakpoint-sm} {
    font-size: modular-scale($scale, map-get($modular-typography, 'sm'));
  }

  @media #{$breakpoint-md} {
    font-size: modular-scale($scale, map-get($modular-typography, 'md'));
  }

  @media #{$breakpoint-lg} {
    font-size: modular-scale($scale, map-get($modular-typography, 'lg'));
  }

  @media #{$breakpoint-xl} {
    font-size: modular-scale($scale, map-get($modular-typography, 'xl'));
  }

  @media #{$breakpoint-2xl} {
    font-size: modular-scale($scale, map-get($modular-typography, '2xl'));
  }
}
