@charset "UTF-8";

//
// @modular-margin
//
// A modular margin mixin for default spacing around an element.
//
// Style guide: Mixins.Modular.modular-margin
//
@mixin modular-margin {

  @include grid-media('2xl') {
    margin: map-get($modular-spacing, '2xl');
  }

  @include grid-media('xl') {
    margin: map-get($modular-spacing, 'xl');
  }

  @include grid-media('lg') {
    margin: map-get($modular-spacing, 'lg');
  }

  @include grid-media('md') {
    margin: map-get($modular-spacing, 'md');
  }

  @include grid-media('sm') {
    margin: map-get($modular-spacing, 'sm');
  }

  margin: map-get($modular-spacing, 'xs');
}
