{#
/**
 * Skip Links Component
 * Link element
 *
 * The link element of the Skip Links component should be included at the very top of your pages' markup,
 * before the nav and other header elements. It should be the first focusable element on the page.
 *
 * Available variables:
 * - attributes: Additional HTML attributes for the link.
 * - modifier_class: Additional CSS class(es) to change look or behavior of the link.
 * - link_text: The text for the link when in focus - defaults to 'Skip to main content'
 * - target_id: The id of the element in the page to skip to, which must match the id
 *   of the <h2> in _target.twig - defaults to 'su-main-content-1891'
 */
#}
<a{{ attributes }} href="#{{ target_id|default('su-main-content-1891') }}" class="su-skiplinks {{ modifier_class }}">{{ link_text|default('Skip to main content') }}</a>
