{% set skipID = "skip-to-content-" ~ random() %}

<header>
  <a href="#{{ anchor|default(skipID) }}" class="su-skiplinks">{{ text|default('Skip to content') }}</a>
</header>

<main>
  <h2 id="{{ skipID }}" class="su-sr-only-text" tabindex="-1">{{ skipped_to_title }}</h2>
</main>
