{#
/**
 * Skip Links Component
 *
 * Accessibility feature to allow passing over the nav and going directly to
 * the content.
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - modifier_class: Additional CSS classes to change look and behaviour.
 * - target_id: The anchor to skip to in the page.
 * - target_text: The text for the element that is being targeted.
 * - link_text: The text for the link when in focus.
 */
#}
{% set skipID = "skip-to-content-" ~ random() %}
<a{{ attributes }} href="#{{ target_id|default(skipID) }}" class="su-skiplinks {{ modifier_class }}">{{ link_text|default('Skip to main content') }}</a>
