@charset 'UTF-8';

// I like big fonts I cannot lie.
$base-font-size: 18px;

// Decant.
@import "decanter";


.layout--wedge--right {
  @include responsive-container($default-container);
  @include grid-container;
  background: #FDF;

  .column--first,
  .column--second {
    border: dashed 3px #0F0;
  }

  .column--first {
    @include grid-media($media-md) {
      @include grid-column(9 of 12);
    }
  }

  .column--second {
    @include grid-media($media-md) {
      @include grid-column(3 of 12);
    }
  }

}
