<footer id="footer" class="footer-wrapper">

  <div class="footer-branding">
    {% include "../../molecules/footer-logo/footer-logo.twig" %}
  </div>

  <div class="footer-content">
    <div class="footer-menus">
      {% include "../../molecules/footer-menus/footer-menu--global.twig" %}
      {% include "../../molecules/footer-menus/footer-menu--policy.twig" %}
    </div>
    <div class="footer-copyright">
      &copy; Stanford University. Stanford, California 94305.
    </div>
  </div>

</footer> <!-- global-footer end -->
