<a class="logo {{ modifier_class }}" href="https://www.stanford.edu">
  <img src="{{ src|default("../../img/footer-stanford-logo@2x.png") }}" alt="{{ alt|default("Stanford University") }}" />
</a>

{# <a href="https://www.stanford.edu" class="su-brand {{ modifier_class }}">Stanford<br>University</a> #}