@charset "UTF-8";

//
// Colors
//
// Default color palette. Primary colors include Cardinal Red, White, Cool Grey,
// and Black. All other colors are supporting colors.
// See complete color palette at
// http://identity.stanford.edu/color.html#digital-color.
//
// Style guide: Variables.Core.Colors
//

//
// $su-color-black
//
// Markup: $su-color-black: #2e2d29 !default;
//
// Styleguide: Variables.Core.Colors.su-color-black:
//
$su-color-black: #2e2d29 !default;

//
// <del>$color-black</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-black</code> instead.
//
// Styleguide: Variables.Core.Colors.color-black:
//
$color-black: $su-color-black !default;

//
// $su-color-cardinal-red
//
// Markup: $su-color-cardinal-red: #8c1515 !default;
//
// Styleguide: Variables.Core.Colors.su-color-cardinal-red
//
$su-color-cardinal-red: #8c1515 !default;

//
// <del>$color-cardinal-red</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-cardinal-red</code> instead.
//
// Styleguide: Variables.Core.Colors.color-cardinal-red
//
$color-cardinal-red: $su-color-cardinal-red !default;

//
// $su-color-cool-grey
//
// Markup: $su-color-cool-grey: #4d4f53 !default;
//
// Styleguide: Variables.Core.Colors.su-color-cool-grey
//
$su-color-cool-grey: #4d4f53 !default;

//
// <del>$color-cool-grey</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-cool-grey/code> instead.
//
// Styleguide: Variables.Core.Colors.color-cool-grey
//
$color-cool-grey: $su-color-cool-grey !default;

//
// $su-color-white
//
// Markup: $su-color-white: #ffffff !default;
//
// Styleguide: Variables.Core.Colors.su-color-white
//
$su-color-white: #ffffff !default;

//
// <del>$color-white</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-white</code> instead.
//
// Styleguide: Variables.Core.Colors.color-white
//
$color-white: $su-color-white !default;

//
// $su-color-beige
//
// Markup: $su-color-beige: #9d9573 !default;
//
// Styleguide: Variables.Core.Colors.su-color-beige
//
$su-color-beige: #9d9573 !default;

//
// <del>$color-beige</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-beige</code> instead.
//
// Styleguide: Variables.Core.Colors.color-beige
//
$color-beige: $su-color-beige !default;

//
// $su-color-blue
//
// Markup: $su-color-blue: #00548f !default;
//
// Styleguide: Variables.Core.Colors.su-color-blue
//
$su-color-blue: #00548f !default;

//
// <del>$color-blue</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-blue</code> instead.
//
// Styleguide: Variables.Core.Colors.color-blue
//
$color-blue: $su-color-blue !default;

//
// $su-color-bright-blue
//
// Markup: $su-color-bright-blue: #006cb8 !default;
//
// Styleguide: Variables.Core.Colors.su-color-bright-blue
//
$su-color-bright-blue: #006cb8 !default;

//
// <del>$color-bright-blue</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-bright-blue</code> instead.
//
// Styleguide: Variables.Core.Colors.color-bright-blue
//
$color-bright-blue: $su-color-bright-blue !default;

//
// $su-color-bright-red
//
// Markup: $su-color-bright-red: #b1040e !default;
//
// Styleguide: Variables.Core.Colors.su-color-bright-red
//
$su-color-bright-red: #b1040e !default;


//
// <del>$color-bright-red</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-bright-red</code> instead.
//
// Styleguide: Variables.Core.Colors.color-bright-red
//
$color-bright-red: $su-color-bright-red !default;

//
// $su-color-brown
//
// Markup: $su-color-brown: #5e3032 !default;
//
// Styleguide: Variables.Core.Colors.su-color-brown
//
$su-color-brown: #5e3032 !default;

//
// <del>$color-brown</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-brown</code> instead.
//
// Styleguide: Variables.Core.Colors.color-brown
//
$color-brown: $su-color-brown !default;

//
// $su-color-chocolate
//
// Markup: $su-color-chocolate: #2f2424 !default;
//
// Styleguide: Variables.Core.Colors.su-color-chocolate
//
$su-color-chocolate: #2f2424 !default;

//
// <del>$color-chocolate</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-chocolate</code> instead.
//
// Styleguide: Variables.Core.Colors.color-chocolate
//
$color-chocolate: $su-color-chocolate !default;

//
// $su-color-clay
//
// Markup: $su-color-clay: #5f574f !default;
//
// Styleguide: Variables.Core.Colors.su-color-clay
//
$su-color-clay: #5f574f !default;


//
// <del>$color-clay</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-clay</code> instead.
//
// Styleguide: Variables.Core.Colors.color-clay
//
$color-clay: $su-color-clay !default;

//
// $su-color-cloud
//
// Markup: $su-color-cloud: #dad7cb !default;
//
// Styleguide: Variables.Core.Colors.su-color-cloud
//
$su-color-cloud: #dad7cb !default;

//
// <del>$color-cloud</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-cloud</code> instead.
//
// Styleguide: Variables.Core.Colors.color-cloud
//
$color-cloud: $su-color-cloud !default;

//
// $su-color-dark-red
//
// Markup: $su-color-dark-red: #820000 !default;
//
// Styleguide: Variables.Core.Colors.su-color-dark-red
//
$su-color-dark-red: #820000 !default;

//
// <del>$color-dark-red</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-dark-red</code> instead.
//
// Styleguide: Variables.Core.Colors.color-dark-red
//
$color-dark-red: $su-color-dark-red !default;

//
// $su-color-driftwood
//
// Markup: $su-color-driftwood: #b6b1a9 !default;
//
// Styleguide: Variables.Core.Colors.su-color-driftwood
//
$su-color-driftwood: #b6b1a9 !default;

//
// <del>$color-driftwood</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-driftwood</code> instead.
//
// Styleguide: Variables.Core.Colors.color-driftwood
//
$color-driftwood: $su-color-driftwood !default;

//
// $su-color-fog
//
// Markup: $su-color-fog: #f4f4f4 !default;
//
// Styleguide: Variables.Core.Colors.su-color-fog
//
$su-color-fog: #f4f4f4 !default;


//
// <del>$su-color-fog</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-fog</code> instead.
//
// Styleguide: Variables.Core.Colors.color-fog
//
$su-color-fog: #f4f4f4 !default;

//
// $su-color-gold
//
// Markup: $su-color-gold: #b26f16 !default;
//
// Styleguide: Variables.Core.Colors.su-color-gold
//
$su-color-gold: #b26f16 !default;

//
// <del>$color-gold</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-gold</code> instead.
//
// Styleguide: Variables.Core.Colors.color-gold
//
$color-gold: $su-color-gold !default;

//
// $su-color-lagunita
//
// Markup: $su-color-lagunita: #007c92 !default;
//
// Styleguide: Variables.Core.Colors.su-color-lagunita
//
$su-color-lagunita: #007c92 !default;

//
// <del>$color-lagunita</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-lagunita</code> instead.
//
// Styleguide: Variables.Core.Colors.color-lagunita
//
$color-lagunita: $su-color-lagunita !default;

//
// $su-color-light-sage
//
// Markup: $su-color-light-sage: #c7d1c5 !default;
//
// Styleguide: Variables.Core.Colors.color-light-sage
//
$su-color-light-sage: #c7d1c5 !default;

//
// <del>$color-light-sage</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-light-sage</code> instead.
//
// Styleguide: Variables.Core.Colors.color-light-sage
//
$color-light-sage: $su-color-light-sage !default;

//
// $su-color-light-sandstone
//
// Markup: $su-color-light-sandstone: #f9f6ef !default;
//
// Styleguide: Variables.Core.Colors.su-color-light-sandstone
//
$su-color-light-sandstone: #f9f6ef !default;

//
// <del>$color-light-sandstone</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-light-sandstone</code> instead.
//
// Styleguide: Variables.Core.Colors.color-light-sandstone
//
$color-light-sandstone: $su-color-light-sandstone !default;

//
// $su-color-mint
//
// Markup: $su-color-mint: #009b76 !default;
//
// Styleguide: Variables.Core.Colors.su-color-mint
//
$su-color-mint: #009b76 !default;

//
// <del>$color-mint</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-mint</code> instead.
//
// Styleguide: Variables.Core.Colors.color-mint
//
$color-mint: $su-color-mint !default;

//
// $su-color-poppy
//
// Markup: $su-color-poppy: #e98300 !default;
//
// Styleguide: Variables.Core.Colors.su-color-poppy
//
$su-color-poppy: #e98300 !default;

//
// <del>$color-poppy</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-poppy</code> instead.
//
// Styleguide: Variables.Core.Colors.color-poppy
//
$color-poppy: $su-color-poppy !default;

//
// $su-color-palo-alto
//
// Markup: $su-color-palo-alto: #175e54 !default;
//
// Styleguide: Variables.Core.Colors.su-color-palo-alto
//
$su-color-palo-alto: #175e54 !default;

//
// <del>$color-palo-alto</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-palo-alto</code> instead.
//
// Styleguide: Variables.Core.Colors.color-palo-alto
//
$color-palo-alto: $su-color-palo-alto !default;

//
// $su-color-purple
//
// Markup: $su-color-purple: #53284f !default;
//
// Styleguide: Variables.Core.Colors.su-color-purple
//
$su-color-purple: #53284f !default;

//
// <del>$color-purple</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-purple</code> instead.
//
// Styleguide: Variables.Core.Colors.color-purple
//
$color-purple: $su-color-purple !default;

//
// $su-color-redwood
//
// Markup: $su-color-redwood: #8d3c1e !default;
//
// Styleguide: Variables.Core.Colors.su-color-redwood
//
$su-color-redwood: #8d3c1e !default;

//
// <del>$color-redwood</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-redwood</code> instead.
//
// Styleguide: Variables.Core.Colors.color-redwood
//
$color-redwood: $su-color-redwood !default;

//
// $su-color-sandhill
//
// Markup: $su-color-sandhill: #b3995d !default;
//
// Styleguide: Variables.Core.Colors.su-color-sandhill
//
$su-color-sandhill: #b3995d !default;

//
// <del>$color-sandhill</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-sandhill</code> instead.
//
// Styleguide: Variables.Core.Colors.color-sandhill
//
$color-sandhill: $su-color-sandhill !default;

//
// $su-color-sandstone
//
// Markup: $su-color-sandstone: #d2c295 !default;
//
// Styleguide: Variables.Core.Colors.su-color-sandstone
//
$su-color-sandstone: #d2c295 !default;

//
// <del>$color-sandstone</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-sandstone</code> instead.
//
// Styleguide: Variables.Core.Colors.color-sandstone
//
$color-sandstone: $su-color-sandstone !default;

//
// $su-color-sky
//
// Markup: $su-color-sky: #0098db !default;
//
// Styleguide: Variables.Core.Colors.su-color-sky
//
$su-color-sky: #0098db !default;

//
// <del>$color-sky</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-sky</code> instead.
//
// Styleguide: Variables.Core.Colors.color-sky
//
$color-sky: $su-color-sky !default;

//
// $su-color-stone
//
// Markup: $su-color-stone: #544948 !default;
//
// Styleguide: Variables.Core.Colors.su-color-stone
//
$su-color-stone: #544948 !default;

//
// <del>$color-stone</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-stone</code> instead.
//
// Styleguide: Variables.Core.Colors.color-stone
//
$color-stone: $su-color-stone !default;

//
// $su-color-sun
//
// Markup: $su-color-sun: #eaab00 !default;
//
// Styleguide: Variables.Core.Colors.su-color-sun
//
$su-color-sun: #eaab00 !default;

//
// <del>$color-sun</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-sun</code> instead.
//
// Styleguide: Variables.Core.Colors.color-sun
//
$color-sun: $su-color-sun !default;

//
// $su-color-teal
//
// Markup: $su-color-teal: #00505c !default;
//
// Styleguide: Variables.Core.Colors.su-color-teal
//
$su-color-teal: #00505c !default;

//
// <del>$color-teal</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-teal</code> instead.
//
// Styleguide: Variables.Core.Colors.color-teal
//
$color-teal: $su-color-teal !default;

//
// $su-color-vivid-red
//
// Markup: $su-color-vivid-red: #ec0513 !default;
//
// Styleguide: Variables.Core.Colors.su-color-vivid-red
//
$su-color-vivid-red: #ec0513 !default;

//
// <del>$color-vivid-red</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-vivid-red</code> instead.
//
// Styleguide: Variables.Core.Colors.color-vivid-red
//
$color-vivid-red: $su-color-vivid-red !default;

//
// $su-color-warm-grey
//
// Markup: $su-color-warm-grey: #3f3c30 !default;
//
// Styleguide: Variables.Core.Colors.color-warm-grey
//
$su-color-warm-grey: #3f3c30 !default;

//
// <del>$color-warm-grey</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-color-warm-grey</code> instead.
//
// Styleguide: Variables.Core.Colors.color-warm-grey
//
$color-warm-grey: $su-color-warm-grey !default;
