@charset "UTF-8";

// SASS color map for the core Decanter theme.

$core-colors: (
    brand:                        $color-cardinal-red,
    brand--bright:                $color-bright-red,
    brand--dark:                  $color-dark-red,
    bg:                           $color-white,
    bg--reverse:                  $color-black,
    text:                         $color-black,
    text--high-contrast:          #000,
    text--reverse:                $color-white,
    link:                         $color-bright-blue,
    link--active:                 $color-blue,
    link--alt:                    $color-bright-red,
    link--alt-active:             $color-black,
    link--reverse:                $color-white,
    link--reverse-active:         $color-vivid-red,
);
