@charset "UTF-8";

//
// Colors
//
// Default color palette. Primary colors include Cardinal Red, White, Cool Grey,
// and Black. All other colors are supporting colors.
// See complete color palette at
// http://identity.stanford.edu/color.html#digital-color.
//
// Style guide: Variables.Core.Colors
//

//
// $su-color-black
//
// Markup: $su-color-black: #2e2d29 !default;
//
// Styleguide: Variables.Core.Colors.su-color-black:
//
$su-color-black: #2e2d29 !default;

//
// $su-color-cardinal-red
//
// Markup: $su-color-cardinal-red: #8c1515 !default;
//
// Styleguide: Variables.Core.Colors.su-color-cardinal-red
//
$su-color-cardinal-red: #8c1515 !default;

//
// $su-color-cool-grey
//
// Markup: $su-color-cool-grey: #4d4f53 !default;
//
// Styleguide: Variables.Core.Colors.su-color-cool-grey
//
$su-color-cool-grey: #4d4f53 !default;

//
// $su-color-white
//
// Markup: $su-color-white: #ffffff !default;
//
// Styleguide: Variables.Core.Colors.su-color-white
//
$su-color-white: #ffffff !default;

//
// $su-color-beige
//
// Markup: $su-color-beige: #9d9573 !default;
//
// Styleguide: Variables.Core.Colors.su-color-beige
//
$su-color-beige: #9d9573 !default;

//
// $su-color-blue
//
// Markup: $su-color-blue: #00548f !default;
//
// Styleguide: Variables.Core.Colors.su-color-blue
//
$su-color-blue: #00548f !default;

//
// $su-color-bright-blue
//
// Markup: $su-color-bright-blue: #006cb8 !default;
//
// Styleguide: Variables.Core.Colors.su-color-bright-blue
//
$su-color-bright-blue: #006cb8 !default;

//
// $su-color-bright-red
//
// Markup: $su-color-bright-red: #b1040e !default;
//
// Styleguide: Variables.Core.Colors.su-color-bright-red
//
$su-color-bright-red: #b1040e !default;

//
// $su-color-brown
//
// Markup: $su-color-brown: #5e3032 !default;
//
// Styleguide: Variables.Core.Colors.su-color-brown
//
$su-color-brown: #5e3032 !default;

//
// $su-color-chocolate
//
// Markup: $su-color-chocolate: #2f2424 !default;
//
// Styleguide: Variables.Core.Colors.su-color-chocolate
//
$su-color-chocolate: #2f2424 !default;

//
// $su-color-clay
//
// Markup: $su-color-clay: #5f574f !default;
//
// Styleguide: Variables.Core.Colors.su-color-clay
//
$su-color-clay: #5f574f !default;

//
// $su-color-cloud
//
// Markup: $su-color-cloud: #dad7cb !default;
//
// Styleguide: Variables.Core.Colors.su-color-cloud
//
$su-color-cloud: #dad7cb !default;

//
// $su-color-dark-red
//
// Markup: $su-color-dark-red: #820000 !default;
//
// Styleguide: Variables.Core.Colors.su-color-dark-red
//
$su-color-dark-red: #820000 !default;

//
// $su-color-driftwood
//
// Markup: $su-color-driftwood: #b6b1a9 !default;
//
// Styleguide: Variables.Core.Colors.su-color-driftwood
//
$su-color-driftwood: #b6b1a9 !default;

//
// $su-color-fog
//
// Markup: $su-color-fog: #f4f4f4 !default;
//
// Styleguide: Variables.Core.Colors.su-color-fog
//
$su-color-fog: #f4f4f4 !default;

//
// $su-color-gold
//
// Markup: $su-color-gold: #b26f16 !default;
//
// Styleguide: Variables.Core.Colors.su-color-gold
//
$su-color-gold: #b26f16 !default;

//
// $su-color-lagunita
//
// Markup: $su-color-lagunita: #007c92 !default;
//
// Styleguide: Variables.Core.Colors.su-color-lagunita
//
$su-color-lagunita: #007c92 !default;

//
// $su-color-light-sage
//
// Markup: $su-color-light-sage: #c7d1c5 !default;
//
// Styleguide: Variables.Core.Colors.su-color-light-sage
//
$su-color-light-sage: #c7d1c5 !default;

//
// $su-color-light-sandstone
//
// Markup: $su-color-light-sandstone: #f9f6ef !default;
//
// Styleguide: Variables.Core.Colors.su-color-light-sandstone
//
$su-color-light-sandstone: #f9f6ef !default;

//
// $su-color-mint
//
// Markup: $su-color-mint: #009b76 !default;
//
// Styleguide: Variables.Core.Colors.su-color-mint
//
$su-color-mint: #009b76 !default;

//
// $su-color-poppy
//
// Markup: $su-color-poppy: #e98300 !default;
//
// Styleguide: Variables.Core.Colors.su-color-poppy
//
$su-color-poppy: #e98300 !default;

//
// $su-color-palo-alto
//
// Markup: $su-color-palo-alto: #175e54 !default;
//
// Styleguide: Variables.Core.Colors.su-color-palo-alto
//
$su-color-palo-alto: #175e54 !default;

//
// $su-color-purple
//
// Markup: $su-color-purple: #53284f !default;
//
// Styleguide: Variables.Core.Colors.su-color-purple
//
$su-color-purple: #53284f !default;

//
// $su-color-redwood
//
// Markup: $su-color-redwood: #8d3c1e !default;
//
// Styleguide: Variables.Core.Colors.su-color-redwood
//
$su-color-redwood: #8d3c1e !default;

//
// $su-color-sandhill
//
// Markup: $su-color-sandhill: #b3995d !default;
//
// Styleguide: Variables.Core.Colors.su-color-sandhill
//
$su-color-sandhill: #b3995d !default;

//
// $su-color-sandstone
//
// Markup: $su-color-sandstone: #d2c295 !default;
//
// Styleguide: Variables.Core.Colors.su-color-sandstone
//
$su-color-sandstone: #d2c295 !default;

//
// $su-color-sky
//
// Markup: $su-color-sky: #0098db !default;
//
// Styleguide: Variables.Core.Colors.su-color-sky
//
$su-color-sky: #0098db !default;

//
// $su-color-stone
//
// Markup: $su-color-stone: #544948 !default;
//
// Styleguide: Variables.Core.Colors.su-color-stone
//
$su-color-stone: #544948 !default;

//
// $su-color-sun
//
// Markup: $su-color-sun: #eaab00 !default;
//
// Styleguide: Variables.Core.Colors.su-color-sun
//
$su-color-sun: #eaab00 !default;

//
// $su-color-teal
//
// Markup: $su-color-teal: #00505c !default;
//
// Styleguide: Variables.Core.Colors.su-color-teal
//
$su-color-teal: #00505c !default;

//
// $su-color-vivid-red
//
// Markup: $su-color-vivid-red: #ec0513 !default;
//
// Styleguide: Variables.Core.Colors.su-color-vivid-red
//
$su-color-vivid-red: #ec0513 !default;

//
// $su-color-warm-grey
//
// Markup: $su-color-warm-grey: #3f3c30 !default;
//
// Styleguide: Variables.Core.Colors.su-color-warm-grey
//
$su-color-warm-grey: #3f3c30 !default;
