@charset "UTF-8";

////
/// Colors
///
/// Default Stanford University color palette. Primary colors include Cardinal Red, White, Cool Grey,
/// and Black. Also include accent colors and colors for digital use only.
/// See complete color palette at
/// https://identity.stanford.edu/design-elements/color/
///
/// @group variable
////

///
/// @name su-color-cardinal-red
///
/// @group variable
///
/// @type Color
$su-color-cardinal-red: #8c1515 !default;

///
/// @name su-color-cardinal-red-light
///
/// @group variable
///
/// @type Color
$su-color-cardinal-red-light: #b83a4b !default;

///
/// @name su-color-cardinal-red-dark
///
/// @group variable
///
/// @type Color
$su-color-cardinal-red-dark: #820000 !default;

//
/// @name su-color-white
///
/// @group variable
///
/// @type Color
$su-color-white: #ffffff !default;

///
/// @name su-color-black
///
/// @group variable
///
/// @type Color
$su-color-black: #2e2d29 !default;

///
/// @name su-color-black-true
///
/// @group variable
///
/// @type Color
$su-color-black-true: #000 !default;

///
/// @name su-color-black-90
///
/// @group variable
///
/// @type Color
$su-color-black-90: #43423e !default;

///
/// @name su-color-black-80
///
/// @group variable
///
/// @type Color
$su-color-black-80: #585754 !default;

///
/// @name su-color-black-70
///
/// @group variable
///
/// @type Color
$su-color-black-70: #6d6c69 !default;

///
/// @name su-color-black-60
///
/// @group variable
///
/// @type Color
$su-color-black-60: #767674 !default;

///
/// @name su-color-black-50
///
/// @group variable
///
/// @type Color
$su-color-black-50: #979694 !default;

///
/// @name su-color-black-40
///
/// @group variable
///
/// @type Color
$su-color-black-40: #ababa9 !default;

///
/// @name su-color-black-30
///
/// @group variable
///
/// @type Color
$su-color-black-30: #c0c0bf !default;

///
/// @name su-color-black-20
///
/// @group variable
///
/// @type Color
$su-color-black-20: #d5d5d4 !default;

///
/// @name su-color-black-10
///
/// @group variable
///
/// @type Color
$su-color-black-10: #eaeaea !default;

///
/// @name su-color-digital-red
///
/// @group variable
///
/// @type Color
$su-color-digital-red: #b1040e !default;

///
/// @name su-color-digital-red-light
///
/// @group variable
///
/// @type Color
$su-color-digital-red-light: #e50808 !default;

///
/// @name su-color-digital-red-dark
///
/// @group variable
///
/// @type Color
///
/// @alias su-color-cardinal-red-dark
$su-color-digital-red-dark: $su-color-cardinal-red-dark !default;

///
/// @name su-color-digital-blue
///
/// @group variable
///
/// @type Color
$su-color-digital-blue: #006cb8 !default;

///
/// @name su-color-digital-blue-light
///
/// @group variable
///
/// @type Color
$su-color-digital-blue-light: #6fc3ff !default;

///
/// @name su-color-digital-blue-dark
///
/// @group variable
///
/// @type Color
$su-color-digital-blue-dark: #00548f !default;

///
/// @name su-color-digital-green
///
/// @group variable
///
/// @type Color
$su-color-digital-green: #008566 !default;

///
/// @name su-color-digital-green-light
///
/// @group variable
///
/// @type Color
$su-color-digital-green-light: #1aecba !default;

///
/// @name su-color-digital-green-dark
///
/// @group variable
///
/// @type Color
$su-color-digital-green-dark: #006f54 !default;

///
/// @name su-color-cool-grey
///
/// @group variable
///
/// @type Color
$su-color-cool-grey: #53565a !default;

///
/// @name su-color-palo-alto
///
/// @group variable
///
/// @type Color
$su-color-palo-alto: #175e54 !default;

///
/// @name su-color-palo-alto-light
///
/// @group variable
///
/// @type Color
$su-color-palo-alto-light: #2d716f !default;

///
/// @name su-color-palo-alto-dark
///
/// @group variable
///
/// @type Color
$su-color-palo-alto-dark: #014240 !default;

///
/// @name su-color-palo-verde
///
/// @group variable
///
/// @type Color
$su-color-palo-verde: #279989 !default;

///
/// @name su-color-palo-verde-light
///
/// @group variable
///
/// @type Color
$su-color-palo-verde-light: #59b3a9 !default;

///
/// @name su-color-palo-verde-dark
///
/// @group variable
///
/// @type Color
$su-color-palo-verde-dark: #017e7c !default;

///
/// @name su-color-olive
///
/// @group variable
///
/// @type Color
$su-color-olive: #8f993e !default;

///
/// @name su-color-olive-light
///
/// @group variable
///
/// @type Color
$su-color-olive-light: #a6b168 !default;

///
/// @name su-color-olive-dark
///
/// @group variable
///
/// @type Color
$su-color-olive-dark: #7a863b !default;

///
/// @name su-color-bay
///
/// @group variable
///
/// @type Color
$su-color-bay: #6fa287 !default;

///
/// @name su-color-bay-light
///
/// @group variable
///
/// @type Color
$su-color-bay-light: #8ab8a7 !default;

///
/// @name su-color-bay-dark
///
/// @group variable
///
/// @type Color
$su-color-bay-dark: #417865 !default;

///
/// @name su-color-sky
///
/// @group variable
///
/// @type Color
$su-color-sky: #4298b5 !default;

///
/// @name su-color-sky-light
///
/// @group variable
///
/// @type Color
$su-color-sky-light: #67afd2 !default;

///
/// @name su-color-sky-dark
///
/// @group variable
///
/// @type Color
$su-color-sky-dark: #016895 !default;

///
/// @name su-color-lagunita
///
/// @group variable
///
/// @type Color
$su-color-lagunita: #007c92 !default;

///
/// @name su-color-lagunita-light
///
/// @group variable
///
/// @type Color
$su-color-lagunita-light: #009ab4 !default;

///
/// @name su-color-lagunita-dark
///
/// @group variable
///
/// @type Color
$su-color-lagunita-dark: #006b81 !default;

///
/// @name su-color-poppy
///
/// @group variable
///
/// @type Color
$su-color-poppy: #e98300 !default;

///
/// @name su-color-poppy-light
///
/// @group variable
///
/// @type Color
$su-color-poppy-light: #f9a44a !default;

///
/// @name su-color-poppy-dark
///
/// @group variable
///
/// @type Color
$su-color-poppy-dark: #d1660f !default;

///
/// @name su-color-spirited
///
/// @group variable
///
/// @type Color
$su-color-spirited: #e04f39 !default;

///
/// @name su-color-spirited-light
///
/// @group variable
///
/// @type Color
$su-color-spirited-light: #f4795b !default;

///
/// @name su-color-spirited-dark
///
/// @group variable
///
/// @type Color
$su-color-spirited-dark: #c74632 !default;

///
/// @name su-color-illuminating
///
/// @group variable
///
/// @type Color
$su-color-illuminating: #fedd5c !default;

///
/// @name su-color-illuminating-light
///
/// @group variable
///
/// @type Color
$su-color-illuminating-light: #ffe781 !default;

///
/// @name su-color-illuminating-dark
///
/// @group variable
///
/// @type Color
$su-color-illuminating-dark: #fec51d !default;

///
/// @name su-color-plum
///
/// @group variable
///
/// @type Color
$su-color-plum: #620059 !default;

///
/// @name su-color-plum-light
///
/// @group variable
///
/// @type Color
$su-color-plum-light: #734675 !default;

///
/// @name su-color-plum-dark
///
/// @group variable
///
/// @type Color
$su-color-plum-dark: #350d36 !default;

///
/// @name su-color-brick
///
/// @group variable
///
/// @type Color
$su-color-brick: #651c32 !default;

///
/// @name su-color-brick-light
///
/// @group variable
///
/// @type Color
$su-color-brick-light: #7f2d48 !default;

///
/// @name su-color-brick-dark
///
/// @group variable
///
/// @type Color
$su-color-brick-dark: #42081b !default;

///
/// @name su-color-archway
///
/// @group variable
///
/// @type Color
$su-color-archway: #5d4b3c !default;

///
/// @name su-color-archway-light
///
/// @group variable
///
/// @type Color
$su-color-archway-light: #766253 !default;

///
/// @name su-color-archway-dark
///
/// @group variable
///
/// @type Color
$su-color-archway-dark: #2f2424 !default;

///
/// @name su-color-stone
///
/// @group variable
///
/// @type Color
$su-color-stone: #7f7776 !default;

///
/// @name su-color-stone-light
///
/// @group variable
///
/// @type Color
$su-color-stone-light: #d4d1d1 !default;

///
/// @name su-color-stone-dark
///
/// @group variable
///
/// @type Color
$su-color-stone-dark: #544948 !default;

///
/// @name su-color-foggy
///
/// @group variable
///
/// @type Color
$su-color-foggy: #dad7cb !default;

///
/// @name su-color-foggy-light
///
/// @group variable
///
/// @type Color
$su-color-foggy-light: #f4f4f4 !default;

///
/// @name su-color-foggy-dark
///
/// @group variable
///
/// @type Color
$su-color-foggy-dark: #b6b1a9 !default;

///
/// @name su-color-blue
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-digital-blue-dark replaces $su-color-blue as the new variable
$su-color-blue: $su-color-digital-blue-dark !default;

///
/// @name su-color-bright-blue
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-digital-blue replaces $su-color-bright-blue as the new variable
$su-color-bright-blue: $su-color-digital-blue !default;

///
/// @name su-color-bright-red
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-digital-red replaces $su-color-bright-red as the new variable
$su-color-bright-red: $su-color-digital-red !default;

///
/// @name su-color-chocolate
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-archway-dark replaces $su-color-chocolate as the new variable
$su-color-chocolate: $su-color-archway-dark !default;

///
/// @name su-color-cloud
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-foggy replaces $su-color-cloud as the new variable
$su-color-cloud: $su-color-foggy !default;

///
/// @name su-color-dark-red
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-cardinal-red-dark replaces $su-color-dark-red as the new variable
$su-color-dark-red: $su-color-cardinal-red-dark !default;

///
/// @name su-color-vivid-red
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-digital-red-light replaces $su-color-vivid-red as the new variable
$su-color-vivid-red: $su-color-digital-red-light !default;

///
/// @name su-color-driftwood
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-foggy-dark replaces $su-color-driftwood as the new variable
$su-color-driftwood: $su-color-foggy-dark !default;

///
/// @name su-color-fog
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-foggy-light replaces $su-color-fog as the new variable
$su-color-fog: $su-color-foggy-light !default;

///
/// @name su-color-brown
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-brown will be removed in Decanter v7
$su-color-brown: #5e3032 !default;

///
/// @name su-color-clay
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-clay will be removed in Decanter v7
$su-color-clay: #5f574f !default;

///
/// @name su-color-gold
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-gold will be removed in Decanter v7
$su-color-gold: #b26f16 !default;

///
/// @name su-color-light-sage
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-light-sage will be removed in Decanter v7
$su-color-light-sage: #c7d1c5 !default;

///
/// @name su-color-mint
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-mint will be removed in Decanter v7
$su-color-mint: #009b76 !default;

///
/// @name su-color-purple
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-purple will be removed in Decanter v7
$su-color-purple: #53284f !default;

///
/// @name su-color-redwood
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-redwood will be removed in Decanter v7
$su-color-redwood: #8d3c1e !default;

///
/// @name su-color-sandhill
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-sandhill will be removed in Decanter v7
$su-color-sandhill: #b3995d !default;

///
/// @name su-color-sandstone
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-sandstone will be removed in Decanter v7
$su-color-sandstone: #d2c295 !default;

///
/// @name su-color-light-sandstone
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-light-sandstone will be removed in Decanter v7
$su-color-light-sandstone: #f9f6ef !default;

///
/// @name su-color-sun
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-sun will be removed in Decanter v7
$su-color-sun: #eaab00 !default;

///
/// @name su-color-teal
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-teal will be removed in Decanter v7
$su-color-teal: #00505c !default;

///
/// @name su-color-warm-grey
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-warm-grey will be removed in Decanter v7
$su-color-warm-grey: #3f3c30 !default;

///
/// @name su-color-cool-grey-75
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-cool-grey-75 will be removed in Decanter v7
$su-color-cool-grey-75: #7a7b7e !default;

///
/// @name su-color-cool-grey-50
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-cool-grey-50 will be removed in Decanter v7
$su-color-cool-grey-50: #a6a7a9 !default;

///
/// @name su-color-cool-grey-25
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-cool-grey-25 will be removed in Decanter v7
$su-color-cool-grey-25: #d2d3d4 !default;

///
/// @name su-color-cool-grey-15
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-cool-grey-15 will be removed in Decanter v7
$su-color-cool-grey-15: #e5e5e5 !default;

//
/// @name su-color-beige
///
/// @group variable
///
/// @type Color
///
/// @deprecated $su-color-beige will be removed in Decanter v7
$su-color-beige: #9d9573 !default;
