@charset "UTF-8";

//
// $core-colors
//
// SASS map for the core Decanter colors.
// Color maps for individual components are in their own respective directories within utilities/variables/components
//
// Markup: $core-colors: (
//    brand:                        $color-cardinal-red,
//    brand--bright:                $color-bright-red,
//    brand--dark:                  $color-dark-red,
//    bg:                           $color-white,
//    bg--reverse:                  $color-black,
//    text:                         $color-black,
//    text--high-contrast:          #000,
//    text--reverse:                $color-white,
//    link:                         $color-bright-blue,
//    link--hover:                  $color-black,
//    link--alt:                    $color-bright-red,
//    link--alt-hover:              $color-black,
//    link--reverse:                $color-white,
//    link--reverse-hover:          $color-vivid-red,
//) !default;
//
// Style guide: Variables.Core.colors-map
//
$core-colors: (
  brand:                        $color-cardinal-red,
  brand--bright:                $color-bright-red,
  brand--dark:                  $color-dark-red,

  bg:                           $color-white,
  bg--reverse:                  $color-black,

  text:                         $color-black,
  text--high-contrast:          #000,
  text--reverse:                $color-white,

  link:                         $color-bright-blue,
  link--hover:                  $color-black,
  link--alt:                    $color-bright-red,
  link--alt-hover:              $color-black,
  link--reverse:                $color-white,
  link--reverse-hover:          $color-vivid-red,
) !default;
