@charset "UTF-8";

//
// $su-core-colors
//
// SASS map for the core Decanter colors.
// Color maps for individual components are in their own respective directories within utilities/variables/components
//
// Markup: $su-core-colors: (
//    brand:                        $su-color-cardinal-red,
//    brand--bright:                $su-color-bright-red,
//    brand--dark:                  $su-color-dark-red,
//    bg:                           $su-color-white,
//    bg--reverse:                  $su-color-black,
//    text:                         $su-color-black,
//    text--high-contrast:          #000,
//    text--reverse:                $su-color-white,
//    link:                         $su-color-bright-blue,
//    link--hover:                  $su-color-black,
//    link--alt:                    $su-color-bright-red,
//    link--alt-hover:              $su-color-black,
//    link--reverse:                $su-color-white,
//    link--reverse-hover:          $su-color-vivid-red,
//) !default;
//
// Style guide: Variables.Core.colors-map
//
$su-core-colors: (
  brand:                        $su-color-cardinal-red,
  brand--bright:                $su-color-bright-red,
  brand--dark:                  $su-color-dark-red,

  bg:                           $su-color-white,
  bg--reverse:                  $su-color-black,

  text:                         $su-color-black,
  text--high-contrast:          #000,
  text--reverse:                $su-color-white,

  link:                         $su-color-bright-blue,
  link--hover:                  $su-color-black,
  link--alt:                    $su-color-bright-red,
  link--alt-hover:              $su-color-black,
  link--reverse:                $su-color-white,
  link--reverse-hover:          $su-color-vivid-red,
) !default;

//
// Social media brand colors
//
// Color map for common social media brands
//
// Markup: $su-social-brands: (
//   'Facebook':   #3b579d,
//   'Twitter':    #1da1f2,
//   'Instagram':  #d73676,
//   'LinkedIn':   #0077b5,
//   'YouTube':    #cd201f,
//   'iTunes U':   #a3aaae,
//   'Reddit':     #ff5700,
//) !default;
//
// Style guide: Variables.Core.su-social-brands
//
$su-social-brands: (
  'Facebook':   #3b579d,
  'Twitter':    #1da1f2,
  'Instagram':  #d73676,
  'LinkedIn':   #0077b5,
  'YouTube':    #cd201f,
  'iTunes U':   #a3aaae,
  'Reddit':     #ff5700,
) !default;
