@charset "UTF-8";

///
/// SASS map for the core Decanter colors.
/// Color maps for individual components are in their own respective directories within utilities/variables/components
///
/// @name $su-core-colors
///
/// @group variable
$su-core-colors: (
  brand:                        $su-color-cardinal-red,
  brand--bright:                $su-color-digital-red,
  brand--dark:                  $su-color-digital-red-dark,

  bg:                           $su-color-white,
  bg--reverse:                  $su-color-black,

  text:                         $su-color-black,
  text--high-contrast:          $su-color-black-true,
  text--reverse:                $su-color-white,

  link:                         $su-color-digital-blue,
  link--hover:                  $su-color-black,
  link--alt:                    $su-color-digital-red,
  link--alt-hover:              $su-color-black,
  link--reverse:                $su-color-white,
  link--reverse-hover:          $su-color-digital-red-light,

  card-border:                  #e3e3e3,
) !default;

///
/// Social media brand colors
/// Color map for common social media brands
///
/// @name $su-social-brands
///
/// @group variable
$su-social-brands: (
  'Facebook':   #3b579d,
  'Twitter':    #1da1f2,
  'Instagram':  #d73676,
  'LinkedIn':   #0077b5,
  'YouTube':    #cd201f,
  'iTunes U':   #a3aaae,
  'Reddit':     #ff5700,
) !default;
