
///
/// The number of columns used by default for the flex grid.
///
/// @name $su-grid-columns
///
/// @group variable
$su-grid-columns: 12 !default;

///
/// A sass map of screen sized keyed with the breakpoint shortcode.
///
/// @name $su-grid-screens
///
/// @group variable
$su-grid-screens: (
  'xs': $su-screen-xs,
  'sm': $su-screen-sm,
  'md': $su-screen-md,
  'lg': $su-screen-lg,
  'xl': $su-screen-xl,
  '2xl': $su-screen-2xl
) !default;

///
/// A sass map of breakpoints sized keyed with the breakpoint shortcode.
///
/// @name $su-grid-media
///
/// @group variable
$su-grid-media: (
  'xs': $su-breakpoint-xs,
  'sm': $su-breakpoint-sm,
  'md': $su-breakpoint-md,
  'lg': $su-breakpoint-lg,
  'xl': $su-breakpoint-xl,
  '2xl': $su-breakpoint-2xl
) !default;

///
/// A sass map of device sized keyed with the breakpoint shortcode.
///
/// @name $su-grid-device
///
/// @group variable
$su-grid-device: (
  'mobile': $su-breakpoint-xs,
  'tablet': $su-breakpoint-md,
  'desktop': $su-breakpoint-2xl
) !default;

///
/// A sass map of single breakpoint spans keyed with the breakpoint shortcode.
///
/// @name $su-grid-media-only
///
/// @group variable
$su-grid-media-only: (
  'xs': $su-breakpoint-xs-only,
  'sm': $su-breakpoint-sm-only,
  'md': $su-breakpoint-md-only,
  'lg': $su-breakpoint-lg-only,
  'xl': $su-breakpoint-xl-only,
  '2xl': $su-breakpoint-2xl
) !default;

///
/// A sass map of css grid columns keyed with breakpoint media queries. 2 column.
///
/// @name $su-responsive-columns-default
///
/// @group variable
$su-responsive-columns-default: (
  $su-breakpoint-xs: 1fr,
  $su-breakpoint-sm: 1fr 1fr,
  $su-breakpoint-md: 1fr 1fr,
  $su-breakpoint-lg: 1fr 1fr,
  $su-breakpoint-xl: 1fr 1fr,
  $su-breakpoint-2xl: 1fr 1fr
) !default;

///
/// A sass map of css grid columns keyed with breakpoint media queries. 2 column.
///
/// @name $su-responsive-columns-two
///
/// @group variable
$su-responsive-columns-two: $su-responsive-columns-default !default;

///
/// A sass map of css grid columns keyed with breakpoint media queries. 3 column.
///
/// @name $su-responsive-columns-three
///
/// @group variable
$su-responsive-columns-three: (
  $su-breakpoint-xs: 1fr,
  $su-breakpoint-sm: 1fr 1fr,
  $su-breakpoint-md: 1fr 1fr,
  $su-breakpoint-lg: 1fr 1fr 1fr,
  $su-breakpoint-xl: 1fr 1fr 1fr,
  $su-breakpoint-2xl: 1fr 1fr 1fr
) !default;

///
/// A sass map of css grid columns keyed with breakpoint media queries. 4 column.
///
/// @name $su-responsive-columns-four
///
/// @group variable
$su-responsive-columns-four: (
  $su-breakpoint-xs: 1fr,
  $su-breakpoint-sm: 1fr 1fr,
  $su-breakpoint-md: 1fr 1fr,
  $su-breakpoint-lg: 1fr 1fr 1fr 1fr,
  $su-breakpoint-xl: 1fr 1fr 1fr 1fr,
  $su-breakpoint-2xl: 1fr 1fr 1fr 1fr
) !default;

///
/// A sass map of css grid columns keyed with breakpoint media queries. 6 column.
///
/// @name $su-responsive-columns-six
///
/// @group variable
$su-responsive-columns-six: (
  $su-breakpoint-xs: 1fr,
  $su-breakpoint-sm: 1fr 1fr 1fr,
  $su-breakpoint-md: 1fr 1fr 1fr,
  $su-breakpoint-lg: 1fr 1fr 1fr 1fr 1fr,
  $su-breakpoint-xl: 1fr 1fr 1fr 1fr 1fr 1fr,
  $su-breakpoint-2xl: 1fr 1fr 1fr 1fr 1fr 1fr
) !default;
