//
// Gutters
//
// Style guide: Variables.Core.Gutters
//

//
// $su-gutter-xs
//
// Markup: $su-gutter-xs: 20px !default;
//
// Styleguide: Variables.Core.Gutters.su-gutter-xs
//
$su-gutter-xs: 20px !default;

//
// $su-gutter-sm
//
// Markup: $su-gutter-sm: 20px !default;
//
// Styleguide: Variables.Core.Gutters.su-gutter-sm
//
$su-gutter-sm: 20px !default;

//
// $su-gutter-md
//
// Markup: $su-gutter-md: 20px !default;
//
// Styleguide: Variables.Core.Gutters.su-gutter-md
//
$su-gutter-md: 20px !default;

//
// $su-gutter-lg
//
// Markup: $su-gutter-lg: 36px !default;
//
// Styleguide: Variables.Core.Gutters.su-gutter-lg
//
$su-gutter-lg: 36px !default;

//
// $su-gutter-xl
//
// Markup: $su-gutter-xl: 40px !default;
//
// Styleguide: Variables.Core.Gutters.su-gutter-xl
//
$su-gutter-xl: 40px !default;

//
// $su-gutter-2xl
//
// Markup: $su-gutter-2xl: 48px !default;
//
// Styleguide: Variables.Core.Gutters.su-gutter-2xl
//
$su-gutter-2xl: 48px !default;

// $su-grid-gutters
//
// A sass map of css gutter width values keyed by breakpoint short codes.
//
// Style guide: Variables.Core.Gutters.su-grid-gutters
//
$su-grid-gutters: (
  'xs': $su-gutter-xs,
  'sm': $su-gutter-sm,
  'md': $su-gutter-md,
  'lg': $su-gutter-lg,
  'xl': $su-gutter-xl,
  '2xl': $su-gutter-2xl
) !default;

// $su-responsive-gutters-default
//
// A sass map of css grid gap width keyed with breakpoint media queries.
//
// Style guide: Variables.Core.Gutters.su-responsive-gutters-default
//
$su-responsive-gutters-default: (
  $su-breakpoint-xs: $su-gutter-xs,
  $su-breakpoint-sm: $su-gutter-sm,
  $su-breakpoint-md: $su-gutter-md,
  $su-breakpoint-lg: $su-gutter-lg,
  $su-breakpoint-xl: $su-gutter-xl,
  $su-breakpoint-2xl: $su-gutter-2xl
) !default;
