//
// Gutters
//
// Style guide: Variables.Core.Gutters
//

//
// $su-gutter-xs
//
// Markup: $su-gutter-xs: 20px !default;
//
// Styleguide: Variables.Core.Gutters.su-gutter-xs
//
$su-gutter-xs: 20px !default;

//
// <del>$gutter-xs</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-gutter-xs</code> instead.
//
// Styleguide: Variables.Core.Gutters.gutter-xs
//
$gutter-xs: $su-gutter-xs !default;


//
// $su-gutter-sm
//
// Markup: $su-gutter-sm: 20px !default;
//
// Styleguide: Variables.Core.Gutters.su-gutter-sm
//
$su-gutter-sm: 20px !default;

//
// <del>$gutter-sm</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-gutter-sm</code> instead.
//
// Styleguide: Variables.Core.Gutters.gutter-sm
//
$gutter-sm: $su-gutter-sm !default;


//
// $su-gutter-md
//
// Markup: $su-gutter-md: 20px !default;
//
// Styleguide: Variables.Core.Gutters.su-gutter-md
//
$su-gutter-md: 20px !default;

//
// <del>$gutter-md</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-gutter-md</code> instead.
//
// Styleguide: Variables.Core.Gutters.gutter-md
//
$gutter-md: $su-gutter-md !default;


//
// $su-gutter-lg
//
// Markup: $su-gutter-lg: 36px !default;
//
// Styleguide: Variables.Core.Gutters.su-gutter-lg
//
$su-gutter-lg: 36px !default;

//
// <del>$gutter-lg</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-gutter-lg</code> instead.
//
// Styleguide: Variables.Core.Gutters.gutter-lg
//
$gutter-lg: $su-gutter-lg !default;


//
// $su-gutter-xl
//
// Markup: $su-gutter-xl: 40px !default;
//
// Styleguide: Variables.Core.Gutters.su-gutter-xl
//
$su-gutter-xl: 40px !default;

//
// <del>$gutter-xl</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-gutter-xl</code> instead.
//
// Styleguide: Variables.Core.Gutters.gutter-xl
//
$gutter-xl: $su-gutter-xl !default;


//
// $su-gutter-2xl
//
// Markup: $su-gutter-2xl: 48px !default;
//
// Styleguide: Variables.Core.Gutters.su-gutter-2xl
//
$su-gutter-2xl: 48px !default;

//
// <del>$gutter-2xl</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-gutter-2xl</code> instead.
//
// Styleguide: Variables.Core.Gutters.gutter-2xl
//
$gutter-2xl: $su-gutter-2xl !default;


// $su-grid-gutters
//
// A sass map of css gutter width values keyed by breakpoint short codes.
//
// Style guide: Variables.Core.Gutters.su-grid-gutters
//
$su-grid-gutters: (
  'xs': $su-gutter-xs,
  'sm': $su-gutter-sm,
  'md': $su-gutter-md,
  'lg': $su-gutter-lg,
  'xl': $su-gutter-xl,
  '2xl': $su-gutter-2xl
) !default;

//
// <del>$grid-gutters</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-grid-gutters</code> instead.
//
// Styleguide: Variables.Core.Gutters.grid-gutters
//
$grid-gutters: $su-grid-gutters !default;


// $su-responsive-gutters-default
//
// A sass map of css grid gap width keyed with breakpoint media queries.
//
// Style guide: Variables.Core.Gutters.su-responsive-gutters-default
//
$su-responsive-gutters-default: (
  $su-breakpoint-xs: $su-gutter-xs,
  $su-breakpoint-sm: $su-gutter-sm,
  $su-breakpoint-md: $su-gutter-md,
  $su-breakpoint-lg: $su-gutter-lg,
  $su-breakpoint-xl: $su-gutter-xl,
  $su-breakpoint-2xl: $su-gutter-2xl
) !default;

//
// <del>$responsive-gutters-default</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-responsive-gutters-default</code> instead.
//
// Styleguide: Variables.Core.Gutters.responsive-gutters-default
//
$responsive-gutters-default: $su-responsive-gutters-default !default;
