//
// Gutters
//
// Style guide: Variables.Core.Gutters
//

//
// $gutter-xs
//
// Markup: $gutter-xs: 20px !default;
//
// Styleguide: Variables.Core.Gutters.gutter-xs
//
$gutter-xs: 20px !default;

//
// $gutter-sm
//
// Markup: $gutter-sm: 20px !default;
//
// Styleguide: Variables.Core.Gutters.gutter-sm
//
$gutter-sm: 20px !default;

//
// $gutter-md
//
// Markup: $gutter-md: 20px !default;
//
// Styleguide: Variables.Core.Gutters.gutter-md
//
$gutter-md: 20px !default;

//
// $gutter-lg
//
// Markup: $gutter-lg: 36px !default;
//
// Styleguide: Variables.Core.Gutters.gutter-lg
//
$gutter-lg: 36px !default;

//
// $gutter-xl
//
// Markup: $gutter-xl: 40px !default;
//
// Styleguide: Variables.Core.Gutters.gutter-xl
//
$gutter-xl: 40px !default;

//
// $gutter-2xl
//
// Markup: $gutter-2xl: 48px !default;
//
// Styleguide: Variables.Core.Gutters.gutter-2xl
//
$gutter-2xl: 48px !default;

// $grid-gutters
//
// A sass map of css gutter width values keyed by breakpoint short codes.
//
// Style guide: Variables.Core.grid-gutters
//
$grid-gutters: (
  'xs': $gutter-xs,
  'sm': $gutter-sm,
  'md': $gutter-md,
  'lg': $gutter-lg,
  'xl': $gutter-xl,
  '2xl': $gutter-2xl
) !default;

// $responsive-gutters-default
//
// A sass map of css grid gap width keyed with breakpoint media queries.
//
// Style guide: Variables.Core.responsive-gutters-default
//
$responsive-gutters-default: (
  $breakpoint-xs: $gutter-xs,
  $breakpoint-sm: $gutter-sm,
  $breakpoint-md: $gutter-md,
  $breakpoint-lg: $gutter-lg,
  $breakpoint-xl: $gutter-xl,
  $breakpoint-2xl: $gutter-2xl
) !default;
