@charset "UTF-8";

//
// Magic Numbers
//
// Unique and resuable values with multiple occurrences.
//
// Style guide: Variables.Core.Magic
//

//
// $lead-max-width
//
// For setting the max-width for the lead font style.
//
// Markup: $lead-max-width: 85rem !default;
//
// Styleguide: Variables.Core.Magic.lead-max-width
//
$intro-max-width: 85rem !default;

//
// $site-max-width
//
// For setting the max-width of the project's grid system.
//
// Markup: $site-max-width: 1500px !default;
//
// Styleguide: Variables.Core.Magic.site-max-width
//
$site-max-width: 1500px !default;

//
// $input-max-width
//
// For setting the max-width of input fields.
//
// Markup: $input-max-width: 46rem !default;
//
// Styleguide: Variables.Core.Magic.input-max-width
//
$input-max-width: 46rem !default;

//
// $border-radius
//
// For setting the default border-radius.
//
// Markup: $border-radius: 3px !default;
//
// Styleguide: Variables.Core.Magic.border-radius
//
$border-radius: 3px !default;

//
// $focus-shadow
//
// For settings the default focus to be applied to items in their focus state.
//
// Markup: $focus-shadow: 0 0 3px $color-cool-grey, 0 0 7px $color-cool-grey !default;
//
// Styleguide: Variables.Core.Magic.focus-shadow
//
$focus-shadow: 0 0 3px $color-cool-grey, 0 0 7px $color-cool-grey !default;
