
///
/// Magic Numbers
///
/// Unique and resuable values with multiple occurrences.
///

///
/// For setting the max-width for the lead font style.
///
/// @name $su-lead-max-width
///
/// @group variable
$su-intro-max-width: 85rem !default;

///
/// For setting the max-width of the project's grid system.
///
/// @name $su-site-max-width
///
/// @group variable
$su-site-max-width: 1500px !default;

///
/// For setting the max-width of input fields.
///
/// @name $su-input-max-width
///
/// @group variable
$su-input-max-width: 46rem !default;

///
/// For setting the default border-radius.
///
/// @name $su-border-radius
///
/// @group variable
$su-border-radius: 3px !default;

///
/// For settings the default focus to be applied to items in their focus state.
///
/// @name $su-focus-shadow
///
/// @group variable
$su-focus-shadow: 0 0 3px $su-color-cool-grey, 0 0 7px $su-color-cool-grey !default;
