@charset "UTF-8";

//
// Magic Numbers
//
// Unique and resuable values with multiple occurrences.
//
// Style guide: Variables.Core.Magic
//

//
// $su-lead-max-width
//
// For setting the max-width for the lead font style.
//
// Markup: $su-lead-max-width: 85rem !default;
//
// Styleguide: Variables.Core.Magic.su-lead-max-width
//
$su-intro-max-width: 85rem !default;

//
// $su-site-max-width
//
// For setting the max-width of the project's grid system.
//
// Markup: $su-site-max-width: 1500px !default;
//
// Styleguide: Variables.Core.Magic.su-site-max-width
//
$su-site-max-width: 1500px !default;

//
// $su-input-max-width
//
// For setting the max-width of input fields.
//
// Markup: $su-input-max-width: 46rem !default;
//
// Styleguide: Variables.Core.Magic.su-input-max-width
//
$su-input-max-width: 46rem !default;

//
// $su-border-radius
//
// For setting the default border-radius.
//
// Markup: $su-border-radius: 3px !default;
//
// Styleguide: Variables.Core.Magic.su-border-radius
//
$su-border-radius: 3px !default;

//
// $su-focus-shadow
//
// For settings the default focus to be applied to items in their focus state.
//
// Markup: $su-focus-shadow: 0 0 3px $su-color-cool-grey, 0 0 7px $su-color-cool-grey !default;
//
// Styleguide: Variables.Core.Magic.su-focus-shadow
//
$su-focus-shadow: 0 0 3px $su-color-cool-grey, 0 0 7px $su-color-cool-grey !default;
