@charset "UTF-8";

///
/// Modular Spacing
///
/// A unitless system for adding spacing (padding or margin) between or within elements.
///
/// Note: This modular spacing system does not follow the modular-scale system in Bourbon.
/// At each breakpoint, the final modular spacing value is calculated using $su-modular-spacing-base * $su-modular-spacing-multiplier

///
/// The base spacing values for each break point, which correspond to the step 0 value.
///
/// @name $su-modular-spacing-base
///
/// @group variable
$su-modular-spacing-base: (
  'xs': 1.6rem,
  'sm': 1.6rem,
  'md': 1.8rem,
  'lg': 1.8rem,
  'xl': 1.8rem,
  '2xl': 1.9rem
) !default;

///
/// The multiplier between each modular spacing steps. These numbers are fine-tuned manually and do not follow a modular scale ratio.
/// Step 0 correspond to a multiplier of 1. There are currently 14 integer steps from -4 to 9.
///
/// @name $su-modular-spacing-multiplier
///
/// @group variable
$su-modular-spacing-multiplier: (
  -4: 0.16666667,
  -3: 0.33333333,
  -2: 0.5,
  -1: 0.66666667,
  0: 1,
  1: 1.44444444,
  2: 2,
  3: 2.5,
  4: 3.2,
  5: 4,
  6: 5,
  7: 6,
  8: 7,
  9: 9
) !default;

$su-modular-spacing-map: (
  -4:   (mobile: 0.3rem,  tablet: 0.3rem,   desktop: 0.3rem), // Consider removing
  -3:   (mobile: 0.5rem,  tablet: 0.6rem,   desktop: 0.6rem), // Consider removing
  -2:   (mobile: 0.8rem,  tablet: 0.9rem,   desktop: 1rem), // Consider removing
  -1:   (mobile: 1.1rem,  tablet: 1.2rem,   desktop: 1.3rem), // Consider removing
   0:   (mobile: 1.5rem,  tablet: 1.8rem,   desktop: 1.9rem),
   1:   (mobile: 2rem,  tablet: 2.6rem,   desktop: 2.7rem),
   2:   (mobile: 3rem,  tablet: 3.6rem,   desktop: 3.8rem),
   3:   (mobile: 3.2rem,    tablet: 4.5rem,   desktop: 4.8rem),
   4:   (mobile: 3.4rem,  tablet: 5.8rem,   desktop: 6.1rem),
   5:   (mobile: 3.8rem,  tablet: 7.2rem,   desktop: 7.6rem),
   6:   (mobile: 4.5rem,    tablet: 9rem,     desktop: 9.5rem),
   7:   (mobile: 5rem,  tablet: 10.8rem,  desktop: 11.4rem),
   8:   (mobile: 6rem, tablet: 12.6rem,  desktop: 13.3rem),
   9:   (mobile: 7rem, tablet: 16.2rem,  desktop: 17.1rem),
  10:   (mobile: 8rem, tablet: 21.6rem,  desktop: 22.8rem)
) !default;
