@charset "UTF-8";

///
/// The responsive spacing values from step -2 to 10 at 3 device width ranges.
///
/// @name su-responsive-spacing-map
///
/// @group variable
$su-responsive-spacing-map: (
  -2: (mobile: 0.8rem, tablet: 0.9rem, desktop: 1rem),
  -1: (mobile: 1.1rem, tablet: 1.2rem, desktop: 1.3rem),
  0: (mobile: 1.5rem, tablet: 1.8rem, desktop: 1.9rem),
  1: (mobile: 2rem, tablet: 2.6rem, desktop: 2.7rem),
  2: (mobile: 3rem, tablet: 3.6rem, desktop: 3.8rem),
  3: (mobile: 3.2rem, tablet: 4.5rem, desktop: 4.8rem),
  4: (mobile: 3.4rem, tablet: 5.8rem, desktop: 6.1rem),
  5: (mobile: 3.8rem, tablet: 7.2rem, desktop: 7.6rem),
  6: (mobile: 4.5rem, tablet: 9rem, desktop: 9.5rem),
  7: (mobile: 5rem, tablet: 10.8rem, desktop: 11.4rem),
  8: (mobile: 6rem, tablet: 12.6rem, desktop: 13.3rem),
  9: (mobile: 7rem, tablet: 16.2rem, desktop: 17.1rem),
  10: (mobile: 8rem, tablet: 21.6rem, desktop: 22.8rem)
) !default;
