@charset "UTF-8";

//
/// Typography
//
/// Style guide: Variables.Core.Typography
//

///
/// HTML root font size (10px assuming browser default is 16px)
///
/// @name $su-root-font-size
///
/// @group Typography
$su-root-font-size: 62.5%;

///
/// Font size.
///
/// @name $su-base-font-size
///
/// @group Typography
$su-base-font-size: 2rem !default;

///
/// A multiplier to scale down some of the larger display font sizes at XS and SM break points.
///
/// @name $su-displays-mobile-factor
///
/// @group Typography
$su-displays-mobile-factor: 0.85 !default;

///
/// Default line height.
///
/// @name $su-base-line-height
///
/// @group Typography
$su-base-line-height: 1.4 !default;

///
/// Default line height.
///
/// @name $su-displays-line-height
///
/// @group Typography
$su-displays-line-height: 1.2 !default;

///
/// Default line height.
///
/// @name $su-intro-line-height
///
/// @group Typography
$su-intro-line-height: 1.5 !default;

///
/// font-sans font family.
///
/// @name $su-font-sans
///
/// @group Typography
$su-font-sans: 'Source Sans Pro', $font-stack-helvetica !default;

///
/// font-serif font family.
///
/// @name $su-font-serif
///
/// @group Typography
$su-font-serif: 'Source Serif Pro', $font-stack-georgia !default;

///
/// font-slab font family.
///
/// @name $su-font-slab
///
/// @group Typography
$su-font-slab: 'Roboto Slab', $font-stack-georgia !default;

///
/// font-script font family.
///
/// @name $su-font-handwriting
///
/// @group Typography
$su-font-handwriting: 'Kalam', $font-stack-helvetica !default;

///
/// font-sanskrit font family.
///
/// @name $su-font-sanskrit
///
/// @group Typography
$su-font-sanskrit: 'Noto Sans', $font-stack-helvetica !default;

///
/// font-x-light font weight.
///
/// @name $su-font-x-light
///
/// @group Typography
$su-font-x-light: 100 !default;

///
/// font-light font weight.
///
/// @name $su-font-light
///
/// @group Typography
$su-font-light: 200 !default;

///
/// font-regular font weight.
///
/// @name $su-font-regular
///
/// @group Typography
$su-font-regular: 400 !default;

///
/// font-semi-bold font weight.
///
/// @name $su-font-semi-bold
///
/// @group Typography
$su-font-semi-bold: 600 !default;

///
/// font-bold font weight.
///
/// @name $su-font-bold
///
/// @group Typography
$su-font-bold: 700 !default;

///
/// font-black font weight.
///
/// @name $su-font-black
///
/// @group Typography
$su-font-black: 900 !default;
