@charset "UTF-8";

//
// Global Footer
//
// Global footer element as specified by the Identity Guidelines.
//
// .su-global-footer--bright - Global Footer with bright red background color.
// .su-global-footer--dark - Global Footer with soft black background color.
//
// Markup: templates/components/global-footer/global-footer.twig
//
// Style guide: Identity.Global Footer
//

// Global styles for the global footer.
.su-global-footer {
  @include font-smoothing;
  @include responsive-spacing('padding', 1 null);
  background-color: color(brand);
  color: color(link--reverse);

  a {
    color: color(link--reverse);
    text-decoration: none;

    &:hover,
    &:focus {
      color: color(link--reverse);
      text-decoration: underline;
    }
  }

  // Grid settings for footer nav region; passing 0 for no outer gutters.
  nav {
    @include margin(null null 1rem);
    display: flex;
    flex: 0 0 auto;
    justify-content: center;

    @include grid-media('sm') {
      display: block;

      @include margin(null null 1.3rem);
    }
  }
}

// Grid settings for footer container.
.su-global-footer__container {
  @include centered-column;

  @include grid-media('lg') {
    display: flex;
  }
}

// The Logo.
.su-global-footer__brand {
  @include padding(0.5rem null null);
  @include responsive-spacing('margin', null null -2);
  text-align: center;

  a {
    @include logo;
    color: color(link--reverse);
    font-size: 3.4rem;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    @include grid-media-only('xs') {
      font-size: 3.2rem;
    }
  }
}

.su-global-footer__content {
  @include grid-media-between('sm', 'md') {
    text-align: center;
  }

  @include grid-media('lg') {
    padding-left: 4.5rem;
  }

  @include grid-media('xl') {
    padding-left: 5.2rem;
  }

  flex-grow: 1;
}

.su-global-footer__link-a11y {
  @include hide-visually;
}

.su-global-footer__menu {
  @include margin(0 0 1rem);
  @include padding(0);
  font-size: 1.5rem;
  list-style-type: none;

  li {
    @include margin(0);
    @include padding(0.25em 0);
    display: block;

    @include grid-media-only('sm') {
      @include margin(null 1rem null null);
    }

    @include grid-media('sm') {
      display: inline-block;
      line-height: 1.1;
    }

    @include grid-media('md') {
      @include margin(null 2rem null null);
    }

    @include grid-media('lg') {
      @include margin(null 2.8rem null null);
      @include padding(0);
      text-align: left;
    }

    &:last-child {
      @include margin(null 0 null null);
    }
  }
}

.su-global-footer__menu--global {
  @include grid-media-only('xs') {
    @include padding(null 1.9rem null null);
  }

  @include grid-media-between('md', 'xl') {
    font-size: 1.7rem;
  }

  @include grid-media('2xl') {
    font-size: 1.8rem;
  }
}

.su-global-footer__menu--policy {
  @include grid-media-only('xs') {
    @include padding(null null null 1.9rem);
  }

  @include grid-media-only('sm') {
    font-size: 1.4rem;
  }

  @include grid-media('sm') {
    a {
      font-weight: $su-font-regular;
    }
  }

  @include grid-media-between('md', 'lg') {
    font-size: 1.5rem;
  }

  @include grid-media('xl') {
    font-size: 1.6rem;
  }
}

.su-global-footer__copyright {
  font-size: 1.4rem;
  text-align: center;

  @include grid-media-only('xs') {
    font-size: 1.34rem;
  }

  span {
    white-space: nowrap;
  }

  @include grid-media('lg') {
    text-align: left;
  }
}
