{
  "plugins": [
    "prettier"
  ],
  "extends": [
    "airbnb",
    "prettier"
  ],
  "rules": {
    "camelcase": [
      "error",
      {
        "allow": ["^unstable_"]
      }
    ],
    "no-unused-vars": [
      2,
      {
        "args": "all",
        "argsIgnorePattern": "^_"
      }
    ],
    "no-warning-comments": 0,
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "lf",
        "semi": true,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "es5"
      }
    ],
    "space-before-function-paren": 0,
    "func-names": 0,
    "semi": [1, "always"] // 1 is for warning
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "999.999.999"
    }
  }
}
