{
  "env": {
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "camelcase": ["error", { "allow": ["^unstable_"] }],
    "no-unused-vars": [2, { "args": "all", "argsIgnorePattern": "^_" }],
    "no-warning-comments": 0
  }
}
