@charset "UTF-8";

//
// @display-icon($icon, $direction, $size, $margin, $hover)
//
// @TODO Needs to be documented. Should this be reworked for asset
// management purposes?
//
//  Usage: `@include display-icon($icon, $direction, $size, $margin, $hover);`
//
//  $icon       - todo
//  $direction  - todo
//  $size       - todo
//  $margin     - todo
//  $hover      - todo
//
// Style guide: Mixins.Display.display-icon
//
@mixin display-icon($icon, $direction, $size, $margin, $hover) {
  &::#{$direction} {
    background-image: url(#{$image-path}/#{$icon}.png);
    background-image: url(#{$image-path}/#{$icon}.svg);
    background-size: 100%;
    content: '';
    display: inline-block;
    height: $size;
    width: $size;

    @if $direction == "after" {
      @include margin(null null null $margin);
    }
    @else {
      @include margin(null $margin null null);
    }
  }

  @if $hover == "hover" {
    &:hover::#{$direction} {
      background-image: url(#{$image-path}/#{$icon}-hover.png);
      background-image: url(#{$image-path}/#{$icon}-hover.svg);
    }
  }
}
