@charset "UTF-8";

@function retrieve-color($color, $palette) {
  $_default-color-palette: map-merge((
    // Unbranded, default color palette
      brand:                        #004fdc,
      action:                       #004991,
      action-active:                #005ddc,
      background:                   #fff,
      background-secondary:         #ddd,
      border:                       #999,
      text:                         #112,
      text-active:                  #808080,
      reverse-text:                 #fff,
      reverse-text-active:          #dceefe,

    // Generic Color Palette
    // see http://clrs.cc
    // ---------------------------------------------------------------------------
      navy:                         #001f3f,
      blue:                         #0074d9,
      aqua:                         #7fdbff,
      teal:                         #39cccc,
      olive:                        #3d9970,
      green:                        #2ecc40,
      lime:                         #01ff70,
      yellow:                       #ffdc00,
      orange:                       #ff851b,
      red:                          #ff4136,
      fuchsia:                      #f012be,
      purple:                       #b10dc9,
      maroon:                       #85144b,
      white:                        #fff,
      silver:                       #ddd,
      grey:                         #aaa,
      dark-grey:                    #333,
      medium-grey:                  #999,
      light-grey:                   #ddd,
      black:                        #111,
    // Decanter variants
      light-red:                    #ffcdcd,
      light-yellow:                 #fafa55,
      light-green:                  #90FF90,
  ), $colors);
  $_color-palette: map-merge($_default-color-palette, $palette);
  @return map-get($_color-palette, $color);
}

/// Return a color from the color map.
///
/// @group core functions
///
/// @name color
///
/// @argument {map} $color-palette
///
/// @argument {string} $color
///
/// @return {string} color hex value
///
/// @example scss
///   background-color: color(white);
///
/// @example css
///   background-color: #fff;
@function color($color: null, $palette: $colors) {
  @return retrieve-color($color, $palette);
}
