@charset "UTF-8";

/// Root font size in pixels. Used for converting rem to pixels.
///
/// @type length
///
/// @group settings
$root-font-size: 10px !default;


/// Base font size in pixels. Used for converting between em and absolute lengths.
/// @type length
///
/// @group settings
$base-font-size: 18px !default;


/// @name Bourbon Settings
///
/// @type map
///
/// @property {color} contrast-switch-dark-color [#000]
///   Global dark color for the `contrast-switch` function.
///
/// @property {color} contrast-switch-light-color [#fff]
///   Global light color for the `contrast-switch` function.
///
/// @property {list} global-font-file-formats [("ttf", "woff2", "woff")]
///   Global font file formats for the `font-face` mixin.
///
/// @property {number (with unit)} modular-scale-base [1em]
///   Global base value for the `modular-scale` function.
///
/// @property {number (unitless)} modular-scale-ratio [$major-third (1.25)]
///   Global base ratio for the `modular-scale` function.
///
/// @property {boolean} rails-asset-pipeline [false]
///   Set this to `true` when using the Rails Asset Pipeline and Bourbon will
///   write asset paths using
///   [sass-rails’ asset helpers](https://github.com/rails/sass-rails#asset-helpers).
///
/// @example scss
///   $bourbon: (
///     "contrast-switch-dark-color": #000,
///     "contrast-switch-light-color": #fff,
///     "global-font-file-formats": ("ttf", "woff2", "woff"),
///     "modular-scale-base": 1em,
///     "modular-scale-ratio": $major-third,
///     "rails-asset-pipeline": false,
///   );
///
/// @group settings
$bourbon: (
    "modular-scale-ratio": 1.25,
) !default;


/// Max-container width, including horizontal gutters. This is also used to generate our XL breakpoint.
/// @type length (with unit)
///
/// @group settings
$max-width: 1200px !default;


/// Gutter
///
/// @type length (with unit)
///
/// The space on the left and right of grid elements
///
/// @group settings
$gutter: 20px !default;


/// Grid Columns
///
/// @type number (unitless)
///
/// How many columns in a grid
///
/// @group settings
$grid-columns: 12 !default;


/// This variable is a sass map that overrides Neat's default grid settings.
/// Use this to define your project's grid properties incluting gutters and
/// total column count.
///
/// @type map
///
/// @name Neat grid
///
/// @property {number (unitless)} columns [12]
///   Default number of the total grid columns.
///
/// @property {number (with unit)} gutter [20px]
///   Default grid gutter width between columns.
///
/// @property {string | number (with unit)} media [null]
///   Grid media query.
///
/// @property {color} color [rgba(#00d4ff, 0.25)]
///   Default visual grid color.
///
/// @example scss
///   $neat-grid: (
///     columns: 12,
///     gutter: 20px,
///   );
///
/// @group settings
$neat-grid: (
    columns: $grid-columns,
    gutter:  $gutter,
    media: null,
    color: rgba(#00d4ff, 0.25),
    direction: ltr,
) !default;

/// Max Content Width
///
/// @type length
///
/// Removes gutters from the max-width constant to give us a computed content-width.
///
/// @group settings
$max-content-width: $max-width - ($gutter * 2) !default;
