@charset "UTF-8";

////
/// This file contains all application-wide Sass variables.
/// No CSS is generated here. Only variables and maps.
/// Load order imported and modified from Bitters v.1.5.0
///
///  1.  Breakpoints
///  2.  Colors
///  3.  Typography
///  4.  Vertical Rhythm
///  5.  Borders
///  6.  Forms
///  7.  Animation
///  8.  Site & Layout
///  9.  Components
///
/// @group settings
////


// -----------------------------------------------------------------------------
// 1. Breakpoints
// -----------------------------------------------------------------------------

/// Breakpoint Boundaries
/// @type length

// Lower boundaries
// ----------------

/// Screen XS Min
$screen-xs-min:               0px !default;

/// Screen SM Min
$screen-sm-min:               576px !default;

/// Screen MD Min
$screen-md-min:               768px !default;

/// Screen LG Min
$screen-lg-min:               992px !default;

/// Screen XL Min
$screen-xl-min:               $max-width !default;

// Upper boundaries
// ----------------

/// Screen XS Max
$screen-xs-max:               $screen-sm-min - 1px !default;

/// Screen SM Max
$screen-sm-max:               $screen-md-min - 1px !default;

/// Screen MD Max
$screen-md-max:               $screen-lg-min - 1px !default;

/// Screen LG Max
$screen-lg-max:               $screen-xl-min - 1px !default;

/// Custom neat grids:

/// Media XS
$media-xs: (
    columns: 6,
    media: 'only screen and (max-width: #{$screen-xs-max})',
);

/// Media SM
$media-sm: (
    columns: 12,
    media: 'only screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})',
);

/// Media MD
$media-md: (
    columns: 12,
    media: 'only screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})',
);

/// Media LG
$media-lg: (
    columns: 12,
    gutter: 30px,
    media: 'only screen and (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max})',
);

/// Media XL
$media-xl: (
    columns: 12,
    gutter: 40px,
    media: $screen-xl-min,
);

// -----------------------------------------------------------------------------
// 2. Colors
// -----------------------------------------------------------------------------

/// This variable is a sass map that overrides our generic color map.
/// Use this to define your project's color palette.
///
/// @type map
///
/// @group settings
///
/// @name Colors
///
/// @property {color} color [null]
///   The color value retrieved by the color function
///
/// @example scss
///   $colors: (
///     brand: #8c1515,
///     text: #333,
///     link: #ff4136,
///     link-hover: 82121B,
///     red: #ff4136,
///   );
$colors: (
  // Decanter Colors
    brand:                        #004fdc,
    action:                       #004991,
    action-active:                #005ddc,
    background:                   #fff,
    background-secondary:         #ddd,
    border:                       #999,
    text:                         #112,
    text-active:                  #808080,
    reverse-text:                 #fff,
    reverse-text-active:          #dceefe,
) !default;

/// Custom Colors Map
/// If you would like to have multiple color palettes in a single project, you can do
/// this by defining a new map stored within a variable of your choosing. This
/// variable can then be passed directly to the color() function, such as
/// `color(red, $my-custom-colors)`.
///
/// @type map
///
/// @group settings
///
/// @name Custom color palettes
///
/// @property {color} color [null]
///   The color value retrieved by the color function
///
/// @example scss
///   $my-custom-palette: (
///     brand: #ff4136,
///     text: #333,
///     action: #ff4136,
///     action-hover: 82121B,
///     red: #ff4136,
///   );
$custom-colors: () !default;

// -----------------------------------------------------------------------------
// 3. Typography
// -----------------------------------------------------------------------------

// Individual Font family definitions
// ----------------------------------

/// Font Stack Monospace.
$font-stack-monospace: 'Source Code Pro', $font-stack-monaco !default;

/// Monospace Source.
$monospace-source: 'https://fonts.googleapis.com/css?family=Source+Code+Pro';

/// Font stack sans serif.
$font-stack-sans-serif: 'Noto Sans', $font-stack-helvetica !default;

/// Sans serif source.
$sans-serif-source: 'https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i';

/// Font stack serif.
$font-stack-serif: 'Noto Serif', $font-stack-georgia !default;

/// Serif Source.
$serif-source: 'https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i';


// Generic definitions
// -------------------

/// Font Family Serif.
$font-family-serif: $font-stack-serif !default;

/// Font Family Sans Serif.
$font-family-sans-serif: $font-stack-sans-serif !default;

/// Font Family Monospace.
$font-family-monospace: $font-stack-monospace !default;

// Semantic definitions
// --------------------

/// Base Font Family Setting.
$base-font-family: $font-family-sans-serif !default;

/// Heading Font Family.
$heading-font-family: $font-family-serif !default;

/// Code Font Family.
$code-font-family: $font-family-monospace !default;

/// Base Line Height.
$base-line-height: 1.5 !default;

/// Heading Line Height.
$heading-line-height: 1.2 !default;

// -----------------------------------------------------------------------------
// 4. Vertical Rhythm
// -----------------------------------------------------------------------------

/// Base vertical spacing.
$base-spacing:                modular-scale(0) !default;

/// Small vertical spacing.
$small-spacing:               modular-scale(-1) !default;


// -----------------------------------------------------------------------------
// 5. Borders
// -----------------------------------------------------------------------------

/// Base border radius.
$base-border-radius: 3px !default;

/// Base Border.
$base-border: 1px solid color(border) !default;


// -----------------------------------------------------------------------------
// 6. Forms
// -----------------------------------------------------------------------------

/// Form box shadow default.
/// @requires {function} rbga
/// @requires {function} color
$form-box-shadow: inset 0 1px 3px rgba(color(black), 0.06) !default;

/// Form box shadow focus default.
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color(color(blue), $lightness: -5%, $alpha: -0.3) !default;


// -----------------------------------------------------------------------------
// 7. Animations
// -----------------------------------------------------------------------------

/// Base property animation default.
$base-property: all !default;

/// Base delay animation default.
$base-delay: null !default;

/// Base duration animation default.
$base-duration: 250ms !default;

/// Base timing animation default.
$base-timing: ease-in-out !default;

/// Base transition animation default.
$base-transition: $base-property $base-duration $base-timing !default;

// -------------------------------------------------------
// 8. Site & Layout
// -------------------------------------------------------

// Not for this repository.

// -----------------------------------------------------------------------------
// 9. Components
// -----------------------------------------------------------------------------

$breakpoint-helper: true;
