$breakpoint-helper: true;

@import "decanter";

body > header {
  @include centered-container;
  background-color: color(aqua);
  text-align: center;
}

.grid-visual {
  @include grid-media($media-lg-max) {
    @include grid-visual;
  }
}

.grid-container {
  @include grid-container;
}

.grid-collapse {
  @include grid-collapse;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.example-wrapper {
  position: relative;
}

.column--full {
  @include grid-column(1 of 1);
}

.centered-container-10 {

  @include centered-container(10);
  background-color: color(light-grey);

  .example-wrapper {
    @include grid-container;
    background-color: shade(color(light-grey), 10%);
    border-color: color(purple);
    border-width: 1px;
    border-style: dashed;
  }
}

#example-1 {
  @include centered-container(10);
  background-color: color(orange);

  .example-wrapper {
    @include grid-container;
    background-color: transparent;
    border-color: color(white);
    border-width: 1px;
    border-style: dashed;
  }
}

#example-2 {
  @include centered-container(12, 0);
  background-color: color(green);

  .example-wrapper {
    @include grid-container;
    background-color: transparent;
    border-color: color(white);
    border-width: 1px;
    border-style: dashed;
  }
}

#example-3 {
  @include centered-container(12, $max-width: true);
  background-color: color(yellow);

  .example-wrapper {
    @include grid-container;
    background-color: transparent;
    border-color: color(red);
    border-width: 1px;
    border-style: dashed;
  }
}

#example-4 {
  @include centered-container(12, $max-width: 800px);
  background-color: color(olive);

  .example-wrapper {
    @include grid-container;
    background-color: transparent;
    border-color: color(white);
    border-width: 1px;
    border-style: dashed;
  }

  .column--half {
    @include grid-column(1 of 2);
    background-color: rgba(color(white), .5);
    padding: 1em;
  }
}
#example-5 {
  @include centered-container(12, $max-width: 800px, $grid-collapse: true);
  background-color: shade(color(olive), 10%);

  .example-wrapper {
    @include grid-container;
    background-color: transparent;
    border-color: color(white);
    border-width: 1px;
    border-style: dashed;
  }

  .column--half {
    @include grid-column(1 of 2);
    background-color: rgba(color(white), .5);
    padding: 1em;
  }
}

#example-6 {
  $_vspace: 1em;
  $_container: (
      xs:     ( columns: 8,  grid-media: $media-xs-only, v-space: $_vspace, max-width: false, grid-collapse: false ),
      sm:     ( columns: 8,  grid-media: $media-sm-only, v-space: $_vspace, max-width: false, grid-collapse: false ),
      md:     ( columns: 6,  grid-media: $media-md-only, v-space: $_vspace, max-width: false, grid-collapse: false ),
      lg:     ( columns: 12,   grid-media: $media-lg-only, v-space: $_vspace, max-width: false, grid-collapse: false ),
      xl:     ( columns: 12,   grid-media: $media-xl,      v-space: $_vspace, max-width: true,  grid-collapse: false ),
      print:  ( columns: 8,   grid-media: $media-print,   v-space: $_vspace, max-width: true,  grid-collapse: false ),
  );
  @include responsive-container($_container);
  span {
    transition: all .3s ease;
  }

  @include grid-media($media-xs-only) {
    .grid-visual {
      @include grid-visual($grid: (columns: 8));
      background-color: rgba(color(blue), .6);
    }
    $_gutter: _retrieve-neat-setting($neat-grid, gutter);
    background-color: rgba(color(blue), .3);
    .xs {
      background-color: color(blue);
      padding: 1em;
      display: block;
      margin: -1em (-$_gutter * 1.5);
      transition: all .3s ease .25s;
      box-shadow: material-shadow(medium);
      color: color(reverse-text);
    }
  }
  @include grid-media($media-sm-only) {
    .grid-visual {
      @include grid-visual($grid: (columns: 8));
      background-color: rgba(color(olive), .6);
    }
    $_gutter: _retrieve-neat-setting($neat-grid, gutter);
    background-color: rgba(color(olive), .3);
    .sm {
      background-color: color(olive);
      padding: $_gutter;
      display: block;
      margin: -1em (-$_gutter * 1.5);
      transition: all .3s ease .25s;
      box-shadow: material-shadow(medium);
      color: color(reverse-text);
    }
  }
  @include grid-media($media-md-only) {
    .grid-visual {
      @include grid-visual($grid: (columns: 6));
      background-color: rgba(color(orange), .6);
    }
    $_gutter: _retrieve-neat-setting($neat-grid, gutter);
    background-color: rgba(color(orange), .3);
    .md {
      background-color: color(orange);
      padding: $_gutter;
      display: block;
      margin: -1em (-$_gutter * 1.5);
      transition: all .3s ease .25s;
      box-shadow: material-shadow(medium);
    }
  }
  @include grid-media($media-lg-only) {
    .grid-visual {
      @include grid-visual($grid: (columns: 12));
      background-color: rgba(color(red), .6);
    }
    $_gutter: _retrieve-neat-setting($neat-grid, gutter);
    background-color: rgba(color(red), .3);
    .lg {
      background-color: color(red);
      padding: $_gutter;
      display: block;
      margin: -1em (-$_gutter * 1.5);
      transition: all .3s ease .25s;
      box-shadow: material-shadow(medium);
    }
  }
  @include grid-media($media-xl) {
    .grid-visual {
      @include grid-visual($grid: (columns: 12));
      background-color: rgba(color(purple), .6);
    }
    $_gutter: _retrieve-neat-setting($neat-grid, gutter);
    background-color: rgba(color(purple), .3);
    .xl {
      background-color: color(purple);
      padding: $_gutter;
      display: block;
      margin: -1em (-$_gutter * 1.5);
      transition: all .3s ease .25s;
      box-shadow: material-shadow(medium);
      color: color(reverse-text);
    }
  }
  @include grid-media($media-print) {
    .grid-visual {
      @include grid-visual($grid: (columns: 9));
    }
    $_gutter: _retrieve-neat-setting($neat-grid, gutter);
    background-color: color(light-grey);
    .print {
      background-color: shade(color(light-grey), 15%);
      padding: $_gutter;
      display: block;
      transition: null;
      margin: -1em (-$_gutter * 1.5);
      box-shadow: material-shadow(shallow);
    }
  }
}