{#
/**
 * @file
 * Aspect Ratio Mixin
 *
 * Variables
 * body - Body Text
 *
#}
<div class="aspect-ratio">
  <img src="https://images.unsplash.com/photo-1507146426996-ef05306b995a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" atl="Golden Retrever puppy with red collar" />
  <div>
    {{ body }}
  </div>
</div>
