@charset "UTF-8";

//
// @displays
//
// Default displays shared styling.
//
// Style guide: Mixins.Typography.displays
//
@mixin displays {
  clear: both;
  font-weight: $font-bold;
  line-height: $displays-line-height;

  @include margin(0 null 0.5em);

  a {
    text-decoration: none;
  }
}
