@charset "UTF-8";

//
// @type-style
//
// Emit the following type styles for the specified text type:
// - font-family
// - font-weight
// - font-style
// - font-size
// - color
// - line-height
// - text-transfrom
//
// $text-type - specify type of text, e.g. 'display-a', 'subheading', 'caption', ...
// $map - map containing the type styles. **Default:** `$sans`
//
// Style guide: Mixins.Typography.type-style
//
@mixin type-style($text-type, $map: $sans) {
  @if type_of($map) != 'map' {
    @error "type-style(#{$text-type}, #{$map}): $map must be a map";
  }
  @if not map_has_key($map, $text-type) {
    @error "type-style(#{$text-type}): $map does not have key #{$text-type}";
  }
  $styles: map_get($map, $text-type); // TODO: replace with su_deep_map_get when we implement skins
  font: {
    @if map_has_key($styles, 'family') {
      family: map_get($styles, 'family');
    }
    @if map_has_key($styles, 'weight') {
      weight: map_get($styles, 'weight');
    }
    @if map_has_key($styles, 'style') {
      style: map_get($styles, 'style');
    }
  }
  @if map_has_key($styles, 'size-modscale-steps') {
    @include modular-typography(map_get($styles, 'size-modscale-steps'));
  }
  @if map_has_key($styles, 'color') {
    color: map_get($styles, 'color');
  }
  @if map_has_key($styles, 'line-height') {
    line-height: map_get($styles, 'line-height');
  }
  @if map_has_key($styles, 'text-transform') {
    text-transform: map_get($styles, 'text-transform');
  }

  &:first-child {
    @include margin(0 null null);
  }
}
