@charset 'UTF-8';

/**
 * Animation options.
 */
@keyframes dropout {
  0% {
    background-position: 50% 50%;
  }

  5% {
    background-position: 50% 40%;
  }

  25% {
    background-position: 50% 200%;
  }

  50% {
    background-position: 50% -50px;
    background-image: none;
  }

  95% {
    background-position: 50% 60%;
  }

  100% {
    background-position: 50% 50%;
  }
}
