@charset 'UTF-8';

.su-secondary-nav__toggle {
  @include margin(0);
  @include padding(15px);
  vertical-align: middle;
  text-align: center;
  font-size: 0;
  width: 53px;
  max-width: 53px;
  height: 53px;
  line-height: 53px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 10;
  background: color(brand--dark) url("#{$image-path}/caret-down-white.svg") no-repeat 50% 50%;
  background-size: 30%;
  border-radius: 29px;

  &:hover {
    font-weight: $font-bold;
    animation: dropout 0.4s ease-out;
    background-color: color(brand--dark);
    background-size: 40%;
  }

  @keyframes dropout {
    0% {
      background-position: 50% 50%;
    }

    5% {
      background-position: 50% 40%;
    }

    25% {
      background-position: 50% 200%;
    }

    50% {
      background-position: 50% -50px;
      background-image: none;
    }

    95% {
      background-position: 50% 60%;
    }

    100% {
      background-position: 50% 50%;
    }
  }

  &:focus,
  &:active {
    animation: dropout 0.4s ease-out;
    background-size: 40%;
    background-color: color(brand--bright);
  }

  &[aria-expanded="true"] {
    transform: rotate(180deg);
  }
}
