@charset "UTF-8";

// Accordion States (JS) ///////////////////////////////////////////////////////

.su-secondary-nav--toggles {
  .su-secondary-nav__item--parent {
    position: relative;
    > a {
      @include padding(null 60px null null);
    }
  }
}

.su-secondary-nav__toggle {
  @include margin(0);
  @include padding(0);
  vertical-align: middle;
  text-align: center;
  font-size: 1.5em;
  width: 53px;
  max-width: 53px;
  height: 53px;
  line-height: 53px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10;

  &:hover {
    color: color(text);
    background: transparent;
    font-weight: bold;
  }

  &:focus,
  &:active {
    background: transparent;
    color: color(text);
    box-shadow: none;
  }

}
