@charset "UTF-8";
//
// Secondary Navigation Light Theme
//

.su-secondary-nav--light {
  background-color: color(bg, $su-nav-light-colors);

  ul {
    background-color: color(bg, $su-nav-light-colors);
  }

  a {
    color: color(link, $su-nav-light-colors);
    border-bottom: color(divider, $su-nav-light-colors) solid 1px;

    &:focus,
    &:hover {
      color: color(link--hover, $su-nav-light-colors);

      &::before {
        background-color: color(border--hover, $su-nav-light-colors);
      }
    }

    &:active {
      color: color(link--active, $su-nav-light-colors);

      &::before {
        background-color: color(border--active, $su-nav-light-colors);
      }
    }
  }

  // States.
  // ---------------------------------------------------------------------------
  .su-secondary-nav__item--parent {
    > a {
      &::after {
        background: url("#{$su-image-path}/plus-black.svg") no-repeat 0 0;
      }
    }

    &.su-secondary-nav__item--expanded {
      > a {
        &::after {
          background: url("#{$su-image-path}/minus-black.svg") no-repeat 0 0;
        }
      }
    }
  }

  .su-secondary-nav__item--current {
    > a {
      color: color(link--active, $su-nav-light-colors);

      &::before {
        background-color: color(border--active-hover, $su-nav-light-colors);
      }

      &:focus,
      &:hover {
        color: color(link--active-hover, $su-nav-light-colors);

        &::before {
          background-color: color(border--active-hover, $su-nav-light-colors);
        }
      }

      &:active {
        color: color(link--active, $su-nav-light-colors);
      }
    }
  }
}
