//
// Secondary Navigation
//
// The secondary site navigation that is...
//
// .su-secondary-nav--light   - Light theme with white background. This variant is often used as the default style.
//
// Markup: ../templates/components/secondary-nav/secondary-nav.twig
//
// Style guide: Components.Secondary Navigation
//

// Default styles for secondary nav core elements.
.su-secondary-nav {
  @include font-smoothing;

  // Basic Structure.
  // ---------------------------------------------------------------------------
  ul {
    @extend %nav-menu;

    li {
      @extend %nav-item;

      a {
        @extend %nav-item-link;
      }
    }

    > li > ul {
      @include padding(null null null 2rem);
    }
  }

  > ul {
    > li:last-of-type:not(.su-secondary-nav__item--expanded) {
      > a {
        border-bottom: 0;
      }
    }
  }

  // States.
  // ---------------------------------------------------------------------------
  .su-secondary-nav__item--expanded {
    @extend %nav-item-link--expanded;
  }

  .su-secondary-nav__item--current {
    > a {
      @extend %nav-item-link--current;
    }

  }

  .su-secondary-nav__item--parent {
    @extend %nav-item-link--parent;

    &.su-secondary-nav__item--expanded {
      @extend %nav-item-link--parent-expanded;
    }
  }

  // Level 1 Items
  // ---------------------------------------------------------------------------
  .su-secondary-nav__menu-lv1 {
    > li {
      > a {
        font-weight: $font-semi-bold;
      }
    }

    > .su-secondary-nav__item--current {
      > a {
        font-weight: $font-bold;
      }
    }
  }
}
