@charset "UTF-8";

// Specific to me styles.
.su-secondary-nav--buttons {

  .su-secondary-nav__item--parent {
    position: relative;

    > a {
      @include padding(null 60px null null);

      &::after {
        background: transparent;
      }
    }
  }

  .su-secondary-nav__item--expanded {
    > a {
      &::after {
        background: transparent;
      }
    }
  }
}
