@charset "UTF-8";

@keyframes dropout {
  0% {
    background-position: 50% 50%;
  }

  5% {
    background-position: 50% 40%;
  }

  25% {
    background-position: 50% 200%;
  }

  50% {
    background-position: 50% -50px;
    background-image: none;
  }

  95% {
    background-position: 50% 60%;
  }

  100% {
    background-position: 50% 50%;
  }
}

// Specific to me styles.
.su-secondary-nav--buttons {

  .su-secondary-nav__item--parent {
    position: relative;

    > .su-secondary-nav__link {
      @include padding(null 60px null null);

      &::after {
        background: transparent;
      }
    }
  }

  .su-secondary-nav__item--expanded {
    > .su-secondary-nav__link {
      &::after {
        background: transparent;
      }
    }
  }

  .nav-toggle {
    &:hover {
      animation: dropout 0.4s ease-out;
    }
  }

}
