@charset "UTF-8";
//
// Secondary Navigation Dark Theme
//
.su-secondary-nav--dark {
  background: color(bg--alt, $secondary-nav-colors);

  // Ensure everything is 100% width as we like large click areas.
  li,
  a {
    color: color(link--alt, $secondary-nav-colors);
  }

  a:hover,
  a:focus {
    box-shadow: inset 5px 0 0 color(border--alt-hover, $secondary-nav-colors);
    color: color(link--alt-hover, $secondary-nav-colors);
  }

  .su-secondary-nav__item--current > a {
    box-shadow: inset 5px 0 0 color(border--alt-active, $secondary-nav-colors);
    color: color(link--alt-hover, $secondary-nav-colors);

    &:hover {
      color: color(link--alt-hover, $secondary-nav-colors);
    }
  }

  .su-secondary-nav__toggle {
    color: color(link--alt, $secondary-nav-colors);

    &:hover {
      color: color(link--alt, $secondary-nav-colors);
    }

    &:focus,
    &:active {
      color: color(link--alt, $secondary-nav-colors);
    }
  }
}
