@charset "UTF-8";
//
// Secondary Navigation Light Theme
//

.su-secondary-nav--light {
  @extend %nav--light;

  $_su-nav-color-map: $nav-light-colors;

  .su-secondary-nav__item--parent {
    > a::after {
      background: url("#{$image-path}/plus-black.svg") no-repeat 0 0;
      background-size: 100%;
    }

    &.su-secondary-nav__item--expanded > a {
      &::after {
        background: url("#{$image-path}/minus-black.svg") no-repeat 0 0;
        background-size: 100%;
      }

      &:focus::before {
        background-color: color(border--expanded, $_su-nav-color-map);
      }

      &[aria-expanded="true"] {
        &:hover::before {
          background-color: color(border--hover, $_su-nav-color-map);
        }

        &:active::before {
          background-color: color(border--active, $_su-nav-color-map);
        }
      }
    }
  }

  .su-secondary-nav__item--current {
    &.su-secondary-nav__item--expanded {
      > a {
        color: color(link--expanded, $_su-nav-color-map);

        &::before,
        &:focus::before {
          background-color: color(border--active-expanded, $_su-nav-color-map);
        }

        &[aria-expanded="true"]:active {
          color: color(link--active, $_su-nav-color-map);
        }
      }
    }
  }
}
