<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Decanter Preview Environment</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script src="js/index.js"></script>
  </head>
  <body>
    {% set masthead_lockup_line1 = "Decanter Preview Environment" %}
    {% set masthead_lockup_modifier_class = "su-lockup--option-n" %}
    {%- include "@decanter/components/masthead/masthead.twig" -%}
    <main>
    {%- set modifier_class = "su-alert--info su-alert--text-light" -%}
    {%- include "@decanter/components/alert/alert.twig" -%}
    {%- set modifier_class = "" -%}
    {% set header %}
      <p>&nbsp;</p>
      <h1>Your content Here</h1>
    {% endset %}
    {% set first %}
      <p>Import, set, and do all the things you can in PHP twig here.</p>
      <p>Test out your twig components and syntax using this handy development area. So much fun!</p>
    {% endset %}
    {% set second %}
      {%- include "@decanter/components/card/card.twig" -%}
    {% endset %}
    {%- include "@decanter/layout/flex/two-column/donies/donies.twig" -%}
    </main>
    {%- include "@decanter/components/global-footer/global-footer.twig" -%}
  </body>
</html>
