<h2>Checkboxes</h2>
<fieldset class="su-fieldset-inputs">
  <legend class="su-sr-only-element">Stanford Presidents</legend>
  <ul class="su-list-unstyled">
    <li>
      <input id="casper" type="checkbox" name="stanford-presidents-1" value="casper" checked>
      <label for="casper">Gerhard Casper</label>
    </li>
    <li>
      <input id="hennessy" type="checkbox" name="stanford-presidents-2" value="hennessy">
      <label for="hennessy">John Hennessy</label>
    </li>
    <li>
      <input id="tessier-lavigne" type="checkbox" name="stanford-presidents-3" value="tessier-lavigne">
      <label for="tessier-lavigne">Marc Tessier-Lavigne</label>
    </li>
    <li>
      <input id="disabled-choice" type="checkbox" name="stanford-presidents-4" disabled>
      <label for="disabled-choice">Disabled choice</label>
    </li>
  </ul>
</fieldset>
<!-- Radio Buttons ------------------------------>
<h2>Radio Buttons</h2>
<fieldset class="su-fieldset-inputs">
  <legend class="su-sr-only-element">Stanford Provosts</legend>
  <ul class="su-list-unstyled">
    <li>
      <input id="lieberman" type="radio" checked name="stanford-provosts-1" value="lieberman">
      <label for="lieberman">Gerald Lieberman</label>
    </li>
    <li>
      <input id="etchemendy" type="radio" name="stanford-provosts-2" value="etchemendy">
      <label for="etchemendy">John W. Etchemendy</label>
    </li>
    <li>
      <input id="drell" type="radio" name="stanford-provosts-3" value="drell">
      <label for="drell">Persis Drell</label>
    </li>
  </ul>
</fieldset>
