@charset 'UTF-8';

////
/// Typography
////

// Requires bourbon's font variables.
@import "bourbon/core/bourbon/library/font-stacks";

// Individual Font family definitions
// ----------------------------------


// Google Fonts
// -------------------------------------------------------
// Font weights and variants:
// Extra-Light: 200; Light: 300; Regular: 400; Semi-Bold: 600; Bold: 700; Extra Bold: 800; Black: 900
// Italic variants: 200i, 300i, etc.
//
// Full font families:
// https://fonts.googleapis.com/css?family=Source+Code+Pro
// https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700
// https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i
// https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i
// https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i
// -------------------------------------------------------
$font-stack-monospace:        'Source Code Pro', $font-stack-monaco;
$monospace-source:            'https://fonts.googleapis.com/css?family=Source+Code+Pro';

$font-stack-sans-serif:       'Source Sans Pro', $font-stack-helvetica;
$sans-serif-source:           'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i';

$font-stack-serif:            'Source Serif Pro', $font-stack-georgia;
$serif-source:                'https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700';

// Generic definitions
$font-family-serif:           $font-stack-serif;

$font-family-sans-serif:      $font-stack-sans-serif;
$font-family-monospace:       $font-stack-monospace;

// Semantic definitions
$base-font-family:            $font-family-sans-serif;
$heading-font-family:         $font-family-sans-serif;
$code-font-family:            $font-family-monospace;

// Line heights
$base-line-height:            1.425;
$heading-line-height:         modular-scale(1);
