@charset "UTF-8";

//
// Quote
//
// Default styling for a quote element.
//
// Markup: templates/components/quote/quote.twig
//
// Style guide: Simple.Quote
//
.su-quote {
  @include padding(1em);
  overflow: hidden;

  .su-quote__img {
    border-radius: 150px;
    border: 7px solid;
    float: left;
    height: 300px;
    width: 300px;

    @include margin(null 2em null null);
  }

  .su-quote__body {
    .su-quote__heading {
      clear: right;
      font-size: 2em;
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: 0.5em;
      margin-top: 0;
    }

    .su-quote__bio {
      @include margin(0);
    }

    .su-quote__quote {
      font-size: 1.5em;
      font-weight: 600;
    }
  }
}
