@charset "UTF-8";

//
// @accordion-button-unopened
//
// Adds the closed icon (plus) to the accordion.
//
// Style guide: Mixins.Accordions.accordion-button-unopened
//
@mixin accordion-button-unopened {
  background-image: url("#{$image-path}/plus.png");
  background-image: url("#{$image-path}/plus.svg");
  background-repeat: no-repeat;
  background-size: 1.3rem;
}
