@charset "UTF-8";

//
// @accordion-bordered
//
// TODO: Joe to document.
//
// Styleguide: Mixins.Accordions.accordion-bordered
//
@mixin accordion-bordered {
  .decanter-accordion__content {
    border-bottom: $accordion-border;
    border-left: $accordion-border;
    border-right: $accordion-border;
  }
}
