@charset "UTF-8";

//
// @accordion-bordered
//
// Adds a border to the accordion.
//
// Style guide: Mixins.Accordions.accordion-bordered
//
@mixin accordion-bordered {
  .decanter-accordion__content {
    border-bottom: $accordion-border;
    border-left: $accordion-border;
    border-right: $accordion-border;
  }
}
