@charset "UTF-8";

///
/// ACCORDION BUTTON
///

@mixin accordion-button {
  @include button-unstyled;

  background-color: $color-bright-red;
  background-image: url("#{$image-path}/minus.png");
  background-image: url("#{$image-path}/minus.svg");
  background-position: right 3rem center;
  background-repeat: no-repeat;
  background-size: 13px;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-family: $font-sans;
  font-weight: $font-bold;
  margin: 0;
  padding: 1.5rem 5.5rem 1.5rem 3rem;
  width: 100%;

  &:focus {
    background-color: $color-black;
    box-shadow: $focus-shadow;
  }

  &:hover {
    background-color: $color-black;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
