@charset "UTF-8";

///
/// ACCORDION BORDERED
///

@mixin accordion-bordered {
  .decanter-accordion__content {
    border-bottom: $accordion-border;
    border-left: $accordion-border;
    border-right: $accordion-border;
  }
}
