@charset "UTF-8";

///
/// ACCORDION LIST ITEM
///

@mixin accordion-list-item {
  background-color: $color-cool-grey;
  font-family: $font-sans;
  list-style: none;
  width: 100%;

  @include margin(null null 6px);
}
