@charset "UTF-8";

//
// @accordion-list-item
//
// TODO: Joe to document.
//
// Styleguide: Mixins.Accordions.accordion-list-item
//
@mixin accordion-list-item {
  background-color: $color-cool-grey;
  font-family: $font-sans;
  list-style: none;
  width: 100%;

  @include margin(null null 6px);
}
