@charset "UTF-8";

///
/// ACCORDION BUTTON UNOPENED
///

@mixin accordion-button-unopened {
  background-image: url("#{$image-path}/plus.png");
  background-image: url("#{$image-path}/plus.svg");
  background-repeat: no-repeat;
  background-size: 1.3rem;
}
