{#
/**
 * @file
 * Template for a complex column panel layout.
 *
 * This template provides a complex column panel display layout, with
 * each column roughly equal in width.
 *
 * Variables:
 * - $id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - $content['left']: Content in the left column.
 *   - $content['right']: Content in the right column.
 */
#}
<div class="layout--ibeam">
  <section class="full-width hero">
    {{ content.hero }}
  </section>

  <section class="ibeam-centered">
    {{ content.first }}
  </section>

  <section class="full-width anti-hero">
    {{ content.full }}
  </section>

  <section class="ibeam-centered">
    {{ content.second }}
  </section>
</div>
