@charset "UTF-8";

//
// Alerts
//
// Style guide: Variables.Components.Alerts
//

//
// $decanter-custom-alerts
//
// Color map for custom alert components.
//
// Markup: $decanter-custom-alerts: () !default;
//
// Styleguide: Variables.Components.Alerts.decanter-custom-alerts
//
$decanter-custom-alerts: () !default;

//
// $decanter-alerts
//
// Color map for alert components.
//
// Markup: $decanter-alerts: (
//   success: rgba(23, 94, 84, 0.6), // $color-palo-alto at 60% opacity
//   warning: rgba(234, 171, 0, 0.6), // $color-sun at 60% opacity
//   error:   rgba(177, 4, 14, 0.5), // $color-bright-red at 50% opacity
//   info:    rgba(0, 152, 219, 0.6), // $color-sky at 60% opacity
// );
//
// Styleguide: Variables.Components.Alerts.decanter-alerts
//
$decanter-alerts: (
  success: rgba(23, 94, 84, 0.6), // $color-palo-alto at 60% opacity
  warning: rgba(234, 171, 0, 0.6), // $color-sun at 60% opacity
  error:   rgba(177, 4, 14, 0.5), // $color-bright-red at 50% opacity
  info:    rgba(0, 152, 219, 0.6), // $color-sky at 60% opacity
);

//
// $alerts
//
// Merges $decanter-alerts and $decanter-custom-alerts maps into a new, single
// map.
// Keys in $decanter-custom-alerts will take precedence over keys in
// $decanter-alerts. This is the best way to add new values to a map.
//
// Markup: $alerts: map-merge($decanter-alerts, $decanter-custom-alerts);
//
// Styleguide: Variables.Components.Alerts.alerts
//
$alerts: map-merge($decanter-alerts, $decanter-custom-alerts);
