@charset "UTF-8";

///
/// ALERTS VARIABLES
///

// Every variable is declared as !default so that it can be
// overridden by a previous import.
//
// If you want to override a variable, set that variable in one of your
// own partials, then @import '{path/to/}core/variables'.

$decanter-custom-alerts: () !default;

$decanter-alerts: (
  success: rgba(23, 94, 84, 0.6),   // $color-palo-alto at 60% opacity
  warning: rgba(234, 171, 0, 0.6),  // $color-sun at 60% opacity
  error:   rgba(177, 4, 14, 0.5),   // $color-bright-red at 50% opacity
  info:    rgba(0, 152, 219, 0.6),  // $color-sky at 60% opacity
);

$alerts: map-merge($decanter-alerts, $decanter-custom-alerts);
