@charset "UTF-8";

//
// Navigation
//
// Style guide: Variables.Components.Navigation
//

//
// $z-index-nav
//
// Default z-index for navigation items.
//
// Markup: $z-index-nav: 9000 !default;
//
// Styleguide: Variables.Components.Navigation.z-index-nav
//
$z-index-nav: 9000 !default;

//
// $sliding-panel-width
//
// Width of panel that slides open upon the mobile menu being expanded.
//
// Markup: $z-index-nav: 9000 !default;
//
// Styleguide: Variables.Components.Navigation.sliding-panel-width
//
$sliding-panel-width: 26rem !default;

//
// $z-index-main-menu
//
// z-index of the main menu.
//
// Markup: $z-index-main-menu: 7000 !default;
//
// Styleguide: Variables.Components.Navigation.z-index-main-menu
//
$z-index-main-menu: 7000 !default;

//
// $z-index-overlay
//
// z-index of the main menu overlay in mobile.
//
// Markup: $z-index-overlay: 8000 !default;
//
// Styleguide: Variables.Components.Navigation.z-index-overlay
//
$z-index-overlay: 8000 !default;
