@charset "UTF-8";

///
/// NAVIGATION VARIABLES
///

// Every variable is declared as !default so that it can be
// overridden by a previous import.
//
// If you want to override a variable, set that variable in one of your
// own partials, then @import '{path/to/}core/variables'.

// Base navigation.
$z-index-nav: 9000 !default;
$sliding-panel-width: 26rem !default;

// Main Menu.
$z-index-main-menu: 7000 !default;
$z-index-overlay: 8000 !default;
