// Gutter
// @type length
// Gutter defaults to base font size. It cascades to spacing variables as well.
$gutter : (rem($root-font-size) * 1.5) !default;

// Grid Columns
// @type number
// How many columns in a grid
$grid-columns: 12 !default;

// Default Neat Grid:
$neat-grid: (
    columns: $grid-columns,
    gutter:  $gutter
) !default;

// Max Container Width
// @type lenght
// Adds gutters to the max-width constant to give us a computed maximum width
$max-container-width: $max-width + px($gutter * 2) !default;