@charset "UTF-8";

// Gutter defaults to base font size. It cascades to spacing variables as well.
$gutter : (rem($base-font-size) * 1.5) !default;
$grid-columns: 12 !default;

// Default Neat Grid:
$neat-grid: (
 columns: $grid-columns,
 gutter:  $gutter
);

// Content container definitions:

// We set the max width of the page using the px to em function in Bourbon.
// the first value is the pixel value of the width and the second is the base font size of your theme.
// In this instance we want the max width to be 1200px and on Line 11 below we have reset the base
// font size to 16px so the first value would be 1200 and the second 16
// ex. em(1200, 16)
$font-size: 16px;
$max-width-px: 1200px;
$max-width: em($max-width-px, $font-size);
$max-container-width: $max-width + (strip-unit($gutter * 2) * $REM-BASE) !default; // bootstrap default

// ------------------------------------------------------------
// Match Neat breakpoints to Bootstrap for better
// compatibility with existing themes.
// ------------------------------------------------------------

// Bootstrap 4 Responsive Breakpoints
// ----------------------------------------
$screen-xs:               0px !default;
$screen-sm:               544px !default;
$screen-md:               768px !default;
$screen-lg:               992px !default;
$screen-xl:               strip-unit($max-container-width) !default;

// Utility Breakpoints:
$screen-xs-max:           $screen-sm - 1px;
$screen-sm-max:           $screen-md - 1px;
$screen-md-max:           $screen-lg - 1px;
$screen-lg-max:           $screen-xl - 1px;

// Media Query Map
// Refer to base/maps to extend or modify media query maps.
// Availabe breapoints, used with `@include media(breakpoint) {}`
// Breakpoints:
// xs | xs-only
// sm | sm-up | sm-only | sm-to-md | sm-to-lg
// md | md-up | md-only | md-to-lg
// lg | lg-up | lg-only | lg-max
// xl | xl-up | xl-only
// screen | print

// -------------------------------------------------------
// Spacing
// -------------------------------------------------------
$base-spacing: rem($base-font-size) !default;

$spacing-xxl:               $base-spacing * 2.5 !default; // 45 px
$spacing-xl:                $base-spacing * 2 !default; // 36 px
$spacing-lg:                $base-spacing * 1.44444444 !default; // 26 px
$spacing-md:                $base-spacing !default; // 18 px
$spacing-sm:                $base-spacing * .5 !default; // 9 px
$spacing-xs:                $base-spacing * .33333333 !default; // 6px
$spacing-xxs:               $base-spacing * .1666666667 !default; // 3px
