@charset 'UTF-8';

// ===================================================
// Breakponts map
// used with abstracts/functions/media
//
// @media(md-only) {
//    %content
// };
//
$breakpoints: (
  xs: 'only screen and (max-width: #{$screen-xs-max})',
  xs-only: 'only screen and (max-width: #{$screen-xs-max})',
  
  sm: 'only screen and (min-width: #{$screen-sm})',
  sm-up: 'only screen and (min-width: #{$screen-sm})',
  sm-only: 'only screen and (min-width: #{$screen-sm}) and (max-width: #{$screen-sm-max})',
  sm-to-md: 'only screen and (min-width: #{$screen-sm}) and (max-width: #{$screen-md-max})',
  sm-to-lg: 'only screen and (min-width: #{$screen-sm}) and (max-width: #{$screen-lg-max})',
  
  md: 'only screen and (min-width: #{$screen-md})',
  md-up: 'only screen and (min-width: #{$screen-md})',
  md-only: 'only screen and (min-width: #{$screen-md}) and (max-width: #{$screen-md-max})',
  md-to-lg: 'only screen and (min-width: #{$screen-md}) and (max-width: #{$screen-lg-max})',
  
  lg: 'only screen and (min-width: #{$screen-lg})',
  lg-up: 'only screen and (min-width: #{$screen-lg})',
  lg-only: 'only screen and (min-width: #{$screen-lg}) and (max-width: #{$screen-lg-max})',
  lg-max: 'only screen and (max-width: #{$screen-lg-max})',
  
  xl: 'only screen and (min-width: #{$screen-xl})',
  xl-up: 'only screen and (min-width: #{$screen-xl})',
  xl-only: 'only screen and (min-width: #{$screen-xl})',
  
  screen: 'only screen',
  print: 'only print',
);

// ===================================================
// Section map.
// Used by components/centered-section
$sections: (
  mobile: (
    xs-only: ( columns: 9.5, max-width: false ),
  ),
  narrow: (
      xs-only: ( columns: 9.5, max-width: false ),
      sm-only: ( columns: 6.5, max-width: false ),
      md-only: ( columns: 6.5, max-width: false ),
      lg-only: ( columns: 6, max-width: false ),
      xl: ( columns: 6, max-width: true ),
  ),
  medium: (
      xs-only: ( columns: 12, max-width: false ),
      sm-only: ( columns: 8, max-width: false ),
      md-only: ( columns: 7.5, max-width: false ),
      lg-only: ( columns: 7, max-width: false ),
      xl: ( columns: 7, max-width: true ),
  ),
  wide: (
      xs-only: ( columns: 12, max-width: false ),
      sm-only: ( columns: 10, max-width: false ),
      md-only: ( columns: 9.5, max-width: false ),
      lg-only: ( columns: 9, max-width: false ),
      xl: ( columns: 9, max-width: true ),
  ),
  jumbo: (
      xs-only: ( columns: 12, max-width: false ),
      sm-only: ( columns: 12, max-width: false ),
      md-only: ( columns: 12, max-width: false ),
      lg-max: ( columns: 12, max-width: false ),
      xl: ( columns: 12, max-width: true ),
  ),
) !default;

// ===================================================
// Adjustments map.
// Used by components/adjust-width
$adjustments: (
  narrow-to-medium: (
      xs-only:        ( columns: 2.5,   max-width: false ),
      sm-only:        ( columns: 1.5,   max-width: false ),
      md-to-lg:       ( columns: 1,     max-width: false ),
      xl:             ( columns: 1,     max-width: true ),
                    ),
  narrow-to-wide:   (
      xs-only:        ( columns: 2.5,   max-width: false ),
      sm-only:        ( columns: 3.5,   max-width: false ),
      md-to-lg:       ( columns: 3,     max-width: false ),
      xl:             ( columns: 3,     max-width: true ),
                    ),
  narrow-to-jumbo:  (
      xs-only:        ( columns: 2.5,   max-width: false ),
      sm-to-md:       ( columns: 5.5,   max-width: false ),
      lg-only:        ( columns: 6,     max-width: false ),
      xl:             ( columns: 6,     max-width: true ),
                    ),
  medium-to-narrow: (
      xs-only:        ( columns: -2.5,  max-width: false ),
      sm-only:        ( columns: -1.5,  max-width: false ),
      md-to-lg:       ( columns: -1,    max-width: false),  
      xl:             ( columns: -1,    max-width: true ),
                    ),
  medium-to-wide:   (
      sm-to-lg:       ( columns: 2,     max-width: false ),
      xl:             ( columns: 2,     max-width: true ),
                    ),
  medium-to-jumbo:  (
      sm-only:        ( columns: 4,     max-width: false ),
      md-only:        ( columns: 4.5,   max-width: false ),
      lg-only:        ( columns: 5,     max-width: false ),
      xl:             ( columns: 5,     max-width: true ),
                    ),
  wide-to-narrow:   (
      xs-only:        ( columns: -2.5,  max-width: false ),
      sm-only:        ( columns: -3.5,  max-width: false ),
      md-to-lg:       ( columns: -3,    max-width: false ),
      xl:             ( columns: -3,    max-width: true ),
                    ),
  wide-to-medium:   (
      sm-to-lg:       ( columns: -2,    max-width: false ),
      xl:             ( columns: -2,    max-width: true ),
                    ),
  wide-to-jumbo:    (
      sm-only:        ( columns: 2,     max-width: false ),
      md-only:        ( columns: 2.5,   max-width: false ),
      lg-only:        ( columns: 3,     max-width: false ),
      xl:             ( columns: 3,     max-width: true ),
                    ),
  jumbo-to-medium:  (
      sm-only:        ( columns: -4,    max-width: false ),
      md-only:        ( columns: -4.5,  max-width: false ),
      lg-only:        ( columns: -5,    max-width: false ),
      xl:             ( columns: -5,    max-width: true ),
                    ),
  jumbo-to-wide:    (
      sm-only:        ( columns: -2,    max-width: false ),
      md-only:        ( columns: -2.5,  max-width: false ),
      lg-only:        ( columns: -3,    max-width: false ),
      xl:             ( columns: -3,    max-width: true ),
                    ),
  jumbo-to-narrow:  (
      xs-only:        ( columns: -2.5,  max-width: false ),
      sm-only:        ( columns: -5.5,  max-width: false ),
      md-only:        ( columns: -5.5,  max-width: false ),
      lg-only:        ( columns: -6,    max-width: false ),
      xl:             ( columns: -6,    max-width: true ),
                    ),
  mobile:           (
      xs-only:        ( columns: -2.5,  max-width: false ),
                    ),
) !default;