@charset "UTF-8";

//
// @icon-block
//
// A postcard block with an icon (or images) and text.
//
// Style guide: Mixins.IconBlock.icon-block
//
@mixin icon-block {
  @include padding(1em);
  @include overflow;

  display: block;

  .decanter-icon-block__img {
    @include media-block-img;

    margin-right: modular-scale(2);
  }

  .decanter-icon-block__body {
    .decanter-icon-block__heading {
      font-size: 1.25em;
      font-weight: 600;

      @include margin(0);
    }

    .decanter-icon-block__detail {
      @include margin(0.3em null);
    }

    .decanter-icon-block__link {
      @include margin(0.25em null);
    }
  }
}
