@charset "UTF-8";

///
/// FONTS
///

// Source Sans Pro.
@include font-face(
  'Source Sans Pro',
  '#{$font-path}/sourcesanspro-light-webfont',
  300,
  normal,
  $file-formats: eot woff2 woff ttf
);

@include font-face(
  'Source Sans Pro',
  '#{$font-path}/sourcesanspro-regular-webfont',
  400,
  normal,
  $file-formats: eot woff2 woff ttf
);

@include font-face(
  'Source Sans Pro',
  '#{$font-path}/sourcesanspro-italic-webfont',
  400,
  italic,
  $file-formats: eot woff2 woff ttf
);

@include font-face(
  'Source Sans Pro',
  '#{$font-path}/sourcesanspro-bold-webfont',
  700,
  normal,
  $file-formats: eot woff2 woff ttf
);

// Crimson Text.
@include font-face(
  'Crimson Text',
  '#{$font-path}/crimsontext-roman-webfont',
  400,
  normal,
  $file-formats: woff ttf
);

@include font-face(
  'Crimson Text',
  '#{$font-path}/crimsontext-italic-webfont',
  400,
  italic,
  $file-formats: woff ttf
);

@include font-face(
  'Crimson Text',
  '#{$font-path}/crimsontext-semibold-webfont',
  600,
  normal,
  $file-formats: woff ttf
);

@include font-face(
  'Crimson Text',
  '#{$font-path}/crimsontext-semibolditalic-webfont',
  600,
  italic,
  $file-formats: woff ttf
);

@include font-face(
  'Crimson Text',
  '#{$font-path}/crimsontext-bold-webfont',
  700,
  normal,
  $file-formats: woff ttf
);

@include font-face(
  'Crimson Text',
  '#{$font-path}/crimsontext-bolditalic-webfont',
  700,
  italic,
  $file-formats: woff ttf
);

// Roboto Slab.
@include font-face(
  'Roboto Slab',
  '#{$font-path}/robotoslab-thin-webfont',
  100,
  normal,
  $file-formats: woff ttf
);

@include font-face(
  'Roboto Slab',
  '#{$font-path}/robotoslab-light-webfont',
  300,
  normal,
  $file-formats: woff ttf
);

@include font-face(
  'Roboto Slab',
  '#{$font-path}/robotoslab-regular-webfont',
  400,
  normal,
  $file-formats: woff ttf
);

@include font-face(
  'Roboto Slab',
  '#{$font-path}/robotoslab-bold-webfont',
  700,
  normal,
  $file-formats: woff ttf
);
