@charset "UTF-8";

//
// Fonts
//

// Source Sans Pro.
@include font-face(
  'Source Sans Pro',
  '#{$font-path}/sourcesanspro-light-webfont',
  ('eot', 'woff2', 'woff', 'ttf')
) {
  font-style: normal;
  font-weight: 300;
};

@include font-face(
  'Source Sans Pro',
  '#{$font-path}/sourcesanspro-regular-webfont',
  ('eot', 'woff2', 'woff', 'ttf')
) {
  font-style: normal;
  font-weight: 400;
};

@include font-face(
  'Source Sans Pro',
  '#{$font-path}/sourcesanspro-italic-webfont',
  ('eot', 'woff2', 'woff', 'ttf')
) {
  font-style: italic;
  font-weight: 400;
};

@include font-face(
  'Source Sans Pro',
  '#{$font-path}/sourcesanspro-bold-webfont',
  ('eot', 'woff2', 'woff', 'ttf')
) {
  font-style: normal;
  font-weight: 700;
};

// Crimson Text.
@include font-face(
  'Crimson Text',
  '#{$font-path}/crimsontext-roman-webfont',
  ('woff', 'ttf')
) {
  font-style: normal;
  font-weight: 400;
};

@include font-face(
  'Crimson Text',
  '#{$font-path}/crimsontext-italic-webfont',
  ('woff', 'ttf')
) {
  font-style: italic;
  font-weight: 400;
};

@include font-face(
  'Crimson Text',
  '#{$font-path}/crimsontext-semibold-webfont',
  ('woff', 'ttf')
) {
  font-style: normal;
  font-weight: 600;
};

@include font-face(
  'Crimson Text',
  '#{$font-path}/crimsontext-semibolditalic-webfont',
  ('woff', 'ttf')
) {
  font-style: italic;
  font-weight: 600;
};

@include font-face(
  'Crimson Text',
  '#{$font-path}/crimsontext-bold-webfont',
  ('woff', 'ttf')
) {
  font-style: normal;
  font-weight: 700;
};

@include font-face(
  'Crimson Text',
  '#{$font-path}/crimsontext-bolditalic-webfont',
  ('woff', 'ttf')
) {
  font-style: italic;
  font-weight: 700;
};

// Roboto Slab.
@include font-face(
  'Roboto Slab',
  '#{$font-path}/robotoslab-thin-webfont',
  ('woff', 'ttf')
) {
  font-style: normal;
  font-weight: 100;
};

@include font-face(
  'Roboto Slab',
  '#{$font-path}/robotoslab-light-webfont',
  ('woff', 'ttf')
) {
  font-style: normal;
  font-weight: 300;
};

@include font-face(
  'Roboto Slab',
  '#{$font-path}/robotoslab-regular-webfont',
  ('woff', 'ttf')
) {
  font-style: normal;
  font-weight: 400;
};

@include font-face(
  'Roboto Slab',
  '#{$font-path}/robotoslab-bold-webfont',
  ('woff', 'ttf')
) {
  font-style: normal;
  font-weight: 700;
};
