@charset 'utf-8';

///
/// FONTS
///

// Source Sans Pro
@include font-face(
  'Source Sans Pro',
  '#{$font-path}/sourcesanspro-light-webfont',
  ("eot", "woff2", "woff", "ttf")
){
    font-style: normal;
    font-weight: 300;
};

@include font-face(
  'Source Sans Pro',
  '#{$font-path}/sourcesanspro-regular-webfont',
  ("eot", "woff2", "woff", "ttf")
){
    font-style: normal;
    font-weight: 400;
};

@include font-face(
  'Source Sans Pro',
  '#{$font-path}/sourcesanspro-italic-webfont',
  ("eot", "woff2", "woff", "ttf")
){
    font-style: italic;
    font-weight: 400;
};

@include font-face(
  'Source Sans Pro',
  '#{$font-path}/sourcesanspro-bold-webfont',
  ("eot", "woff2", "woff", "ttf")
){
  font-weight: 700;
  font-style: normal;
};

// Crimson Text
@include font-face(
  'Crimson Text',
  '#{$font-path}/crimsontext-roman-webfont',
  ("eot", "woff2", "woff", "ttf")
){
  font-weight: 400;
  font-style: normal;
};

@include font-face(
  'Crimson Text',
  '#{$font-path}/crimsontext-italic-webfont',
  ("eot", "woff2", "woff", "ttf")
){
  font-weight: 400;
  font-style: italic;
};

@include font-face(
  'Crimson Text',
  '#{$font-path}/crimsontext-semibold-webfont',
  ("eot", "woff2", "woff", "ttf")
){
  font-weight: 600;
  font-style: normal;
};

@include font-face(
  'Crimson Text',
  '#{$font-path}/crimsontext-semibolditalic-webfont',
  ("eot", "woff2", "woff", "ttf")
){
  font-weight: 600;
  font-style: italic;
};

@include font-face(
  'Crimson Text',
  '#{$font-path}/crimsontext-bold-webfont',
  ("eot", "woff2", "woff", "ttf")
){
  font-weight: 700;
  font-style: normal;
};

@include font-face(
  'Crimson Text',
  '#{$font-path}/crimsontext-bolditalic-webfont',
  ("eot", "woff2", "woff", "ttf")
){
  font-weight: 700;
  font-style: italic;
};

// Roboto Slab
@include font-face(
  'Roboto Slab',
  '#{$font-path}/robotoslab-thin-webfont',
  ("eot", "woff2", "woff", "ttf")
){
  font-weight: 100;
  font-style: normal;
};

@include font-face(
  'Roboto Slab',
  '#{$font-path}/robotoslab-light-webfont',
  ("eot", "woff2", "woff", "ttf")
){
  font-weight: 300;
  font-style: normal;
};

@include font-face(
  'Roboto Slab',
  '#{$font-path}/robotoslab-regular-webfont',
  ("eot", "woff2", "woff", "ttf")
){
  font-weight: 400;
  font-style: normal;
};

@include font-face(
  'Roboto Slab',
  '#{$font-path}/robotoslab-bold-webfont',
  ("eot", "woff2", "woff", "ttf")
){
  font-weight: 700;
  font-style: normal;
};
