<h4>Under Development</h4>
<p>
  This is meant to be a sample page, including header, content, and footer.  However, I have not sorted out how to
  achieve this using Twig and Json.
</p>
<p>
  In the meantime, please visit
  <a href="/section-templates.html#kssref-templates-site-layout">/section-templates.html#kssref-templates-site-layout</a>,
  which is the basic site layout.
</p>