@charset 'UTF-8';
//
// Navigation Toggle
//
// A clickable drop button as an alternate to an accordian style menu.
//
// .su-nav-toggle--light - A lighter option.
//
// Markup: ../templates/components/nav-toggle/nav-toggle.twig
//
// Style guide: Components.Nav Toggle
//

$_toggle_width: 49px;
$_toggle_height: 56px;
$_circle_diameter: 36px;

.su-nav-toggle {
  @include margin(0);
  vertical-align: middle;
  text-align: center;
  font-size: 0;
  text-indent: -9999px;
  overflow: hidden;
  width: $_toggle_width;
  max-width: $_toggle_width;
  height: $_toggle_height;
  line-height: $_toggle_height;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  background: transparent;
  outline: none;
  box-shadow: none;

  &::before {
    content: "";
    background: color(border--expanded, $su-secondary-nav-colors) url("#{$su-image-path}/caret-down-white.svg") no-repeat center / 50%;
    background-size: 15px;
    border-radius: 19px;
    height: $_circle_diameter;
    width: $_circle_diameter;
    display: block;
    position: absolute;
    top: percentage(((1 - ($_circle_diameter/$_toggle_height)) / 2));
    right: percentage(((1 - ($_circle_diameter/$_toggle_width)) / 2));
  }

  &:focus,
  &:hover {
    background: transparent;

    &::before {
      background: $su-color-fog url("#{$su-image-path}/caret-down-black.svg") no-repeat center / 50%;
      background-size: 15px;
    }
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
    font-weight: $su-font-bold;
    background: transparent;
  }

  &[aria-expanded="true"] {
    transform: rotate(180deg);
    transition: transform 0.3s ease-out;
  }

  &[aria-expanded="false"] {
    transform: rotate(0deg);
    transition: transform 0.3s ease-out;
  }
}
