@charset 'UTF-8';
//
// Navigation Toggle
//
// A clickable drop button as an alternate to an accordian style menu.
//
// .su-nav-toggle--light - A lighter option.
//
// Markup: templates/components/nav-toggle/nav-toggle.twig
//
// Style guide: Simple.Nav Toggle
//

.su-nav-toggle {
  @include margin(0);
  @include padding(15px 28px);
  vertical-align: middle;
  text-align: center;
  font-size: 0;
  text-indent: -9999px;
  overflow: hidden;
  width: 49px;
  max-width: 49px;
  height: 61px;
  line-height: 61px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  background: transparent;
  outline: none;
  box-shadow: none;

  &::before {
    content: "";
    background: color(border--expanded, $su-secondary-nav-colors) url("#{$su-image-path}/caret-down-white.svg") no-repeat center / 50%;
    background-size: 15px;
    border-radius: 19px;
    height: 38px;
    width: 38px;
    display: block;
    position: absolute;
    top: calc(50% - 19px);
    right: calc(50% - 19px);
  }

  &:focus,
  &:hover {
    background: transparent;
    &::before {
      background: $su-color-fog url("#{$su-image-path}/caret-down-black.svg") no-repeat center / 50%;
      background-size: 15px;
    }
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
    font-weight: $su-font-bold;
    background: transparent;
  }

  &[aria-expanded="true"] {
    transform: rotate(180deg);
  }
}
