@charset 'UTF-8';
//
// Navigation Toggle
//
// A clickable drop button as an alternate to an accordian style menu.
//
// .su-nav-toggle--light - A lighter option.
//
// Markup: ../templates/components/nav-toggle/nav-toggle.twig
//
// Style guide: Components.Nav Toggle
//
@keyframes dropout {
  0% {
    background-position: 50% 50%;
  }

  5% {
    background-position: 50% 40%;
  }

  25% {
    background-position: 50% 200%;
  }

  50% {
    background-position: 50% -50px;
    background-image: none;
  }

  95% {
    background-position: 50% 60%;
  }

  100% {
    background-position: 50% 50%;
  }
}

.su-nav-toggle {
  @include margin(0);
  @include padding(15px 28px);
  vertical-align: middle;
  text-align: center;
  font-size: 0;
  text-indent: -9999px;
  overflow: hidden;
  width: 49px;
  max-width: 49px;
  height: 58px;
  line-height: 58px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  background: transparent;
  outline: none;
  box-shadow: none;

  &::before {
    content: "";
    background: color(border--expanded, $nav-colors) url("#{$image-path}/caret-down-white.svg") no-repeat center / 50%;
    background-size: 15px;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    display: block;
    position: absolute;
    top: calc(50% - 20px);
    right: calc(50% - 20px);
  }

  &:hover,
  &:focus {
    font-weight: $font-bold;
    background: transparent;
    outline: none;

    &::before {
      animation: dropout 0.4s ease-out;
      background: $color-fog url("#{$image-path}/caret-down-black.svg") no-repeat center / 50%;
      background-size: 15px;
    }
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;

    &::before {
      animation: dropout 0.4s ease-out;
    }
  }

  &[aria-expanded="true"] {
    transform: rotate(180deg);
  }
}
