{#
/**
 * @filter
 * Link Component
 *
 * A default link component.
 *
 * Available variants:
 * - .su-link--more: More link
 * - .su-link--external: External site link
 * - .su-link--button: A button style link
 * - .su-link--action: A prompt to action
 *
 * Available variables:
 * - attributes: html properties
 * - modifier_class: Modifier css classes
 * - link_href: link uri
 * - link_content: The contents of the link
 *
 */
#}
<a {{ attributes }} href="{{ link_href }}" class="su-link {{ modifier_class }}">{{ link_content }}</a>
