@charset "UTF-8";

///
/// Default image styling to help with layout and responsiveness.
///
/// @name image-defaults
///
/// @group mixin
@mixin image-defaults {
  @include margin(0);
  @include padding(0);

  display: block;
  height: auto;
  max-width: 100%;
}
