@charset "UTF-8";

///
/// Color map for alert components.
///
/// @name $su-alert-colors
///
/// @group variable
$su-alert-colors: (
  default:      $su-color-foggy-light,
  error:        $su-color-digital-red,
  info:         $su-color-digital-blue-dark,
  success:      $su-color-digital-green,
  warning:      $su-color-illuminating-dark,
  warning-link: $su-color-cardinal-red,
  dark-text:    $su-color-black,
  light-text:   $su-color-white,
  light-hover:  $su-color-foggy
) !default;
