@charset "UTF-8";

//
// $alert-colors
//
// Color map for alert components.
//
// Markup: $alert-colors: (
//   default: $color-fog,
//   success: $color-palo-alto,
//   warning: $color-sun,
//   error:   $color-bright-red,
//   info:    $color-sky,
//) !default;
//
// Styleguide: Variables.Components.alert-colors
//
$alert-colors: (
  default:     $color-fog,
  success:     $color-palo-alto,
  warning:     $color-sun,
  error:       $color-bright-red,
  info:        $color-blue,
  dark-text:   $color-black,
  light-text:  $color-white,
  light-hover: $color-cloud
) !default;
