@charset "UTF-8";

//
// $su-alert-colors
//
// Color map for alert components.
//
// Markup: $su-alert-colors: (
//   default:      $su-color-fog,
//   error:        $su-color-bright-red,
//   info:         $su-color-blue,
//   success:      $su-color-palo-alto,
//   warning:      $su-color-sun,
//   warning-link: $su-color-cardinal-red,
//   dark-text:    $su-color-black,
//   light-text:   $su-color-white,
//   light-hover:  $su-color-cloud
// ) !default;
//
// Styleguide: Variables.Components.su-alert-colors
//
$su-alert-colors: (
  default:      $su-color-fog,
  error:        $su-color-bright-red,
  info:         $su-color-blue,
  success:      $su-color-palo-alto,
  warning:      $su-color-sun,
  warning-link: $su-color-cardinal-red,
  dark-text:    $su-color-black,
  light-text:   $su-color-white,
  light-hover:  $su-color-cloud
) !default;
