@charset "UTF-8";

//
// $main-nav-colors
//
// Color map for the Main Nav component. Active color is also used to indicate "current" page. The mobile colors apply also to desktop drop down menus.
//
// Markup: $alert-colors: (
//   success: $color-palo-alto,
//   warning: $color-sun,
//   error:   $color-bright-red,
//   info:    $color-sky,
//) !default;
//
// Styleguide: Variables.Components.main-nav-colors
//

$main-nav-colors: (

    // Default Main Nav colors
    link:                           $color-black,

    link--hover:                    $color-cardinal-red,
    link-border--hover:             $color-cardinal-red,

    // Active color is also used to indicate "current" page
    link--active:                   $color-black,
    link-border--active:            $color-black,

    link--active-hover:             $color-cardinal-red,
    link-border--active-hover:      $color-cardinal-red,

    // Mobile and dropdown menu colors
    bg--mobile:                     $color-black,
    divider:                        $color-cool-grey,
    link--mobile:                   $color-white,

    link--mobile-hover:             $color-white,
    link-border--mobile-hover:      $color-white,

    link--mobile-active:            $color-white,
    link-border--mobile-active:     $color-vivid-red,

    light: (
        link:                           $color-black,

        link--hover:                    $color-cardinal-red,
        link-border--hover:             $color-cardinal-red,

        link--active:                   $color-black,
        link-border--active:            $color-driftwood,

        link--active-hover:             $color-cardinal-red,
        link-border--active-hover:      $color-cardinal-red,

        bg--mobile:                     $color-white,
        divider:                        #dcdcdc,
        link--mobile:                   $color-black,

        link--mobile-hover:             $color-black,
        link-border--mobile-hover:      $color-black,

        link--mobile-active:            $color-cardinal-red,
        link-border--mobile-active:     $color-cardinal-red,

    ),

    dark: (
        link:                           $color-white,

        link--hover:                    $color-white,
        link-border--hover:             $color-vivid-red,

        link--active:                   $color-white,
        link-border--active:            $color-vivid-red,

        link--active-hover:             $color-white,
        link-border--active-hover:      $color-white,

        bg--mobile:                     $color-black,
        divider:                        $color-cool-grey,
        link--mobile:                   $color-white,

        link--mobile-hover:             $color-white,
        link-border--mobile-hover:      $color-white,

        link--mobile-active:            $color-white,
        link-border--mobile-active:     $color-vivid-red,
    )
) !default;
