@charset "UTF-8";

//
// Main Nav Color Maps
//
// Color maps for the Main Nav component. Active color is also used to
// indicate "current" page. The mobile colors apply also to desktop drop
// down menus.
//
// Styleguide: Variables.Components.main-nav-colors
//

//
// $nav-colors
//
// Color map for the default Main Nav component .su-main-nav.
//
// Markup: $nav-colors: (
//) !default;
//
// Styleguide: Variables.Components.nav-colors.default
//

$nav-colors: (
  bg:                             $color-black,
  divider:                        $color-cool-grey,

  link:                           $color-white,
  link--active-hover:             $color-bright-red,
  link--hover:                    $color-white,
  link--active:                   $color-white,
  link--expanded:                 $color-white,

  border:                         $color-black,
  border--active-hover:           $color-bright-red,
  border--hover:                  $color-white,
  border--active:                 $color-vivid-red,
  border--expanded:               $color-dark-red,
  border--active-expanded:        $color-white,

  h--link:                        $color-black,
  h--link-hover:                  $color-dark-red,
  h--border:                      $color-black,
  h--border-hover:                $color-dark-red,
  h--border-expanded:             $color-driftwood,
) !default;

//
// $nav-dark-colors
//
// Color map for the Main Nav component dark variant .su-main-nav--dark.
//
// Markup: $nav-dark-colors: (
//) !default;
//
// Styleguide: Variables.Components.main-nav-colors.variant-dark
//
$nav-dark-colors: map-merge($nav-colors, (
    link--active-hover:                 $color-white,

    border--active-hover:               $color-white,
    border--expanded:                   $color-white,

    h--link:                            $color-white,
    h--link-hover:                      $color-white,
    h--border:                          $color-white,
    h--border-hover:                    $color-white,
  )
) !default;

//
// $nav-light-colors
//
// Color map for the Main Nav component light variant .su-main-nav--light.
//
// Markup: $nav-light-colors: (
//) !default;
//
// Styleguide: Variables.Components.main-nav-colors.variant-light
//

$nav-light-colors: map-merge($nav-colors, (
    bg:                                 $color-white,
    divider:                            #d9d9d9,

    link:                               $color-black,
    link--hover:                        $color-black,
    link--active:                       $color-dark-red,
    link--active-hover:                 $color-dark-red,
    link--expanded:                     $color-black,

    border--hover:                      $color-black,
    border--active:                     $color-dark-red,
    border--expanded:                   $color-black,
    border--active-expanded:            $color-black,

    h--border:                          $color-driftwood,
  )
) !default;
