@charset "UTF-8";

//
// Nav Color Maps
//
// Color maps for the Main Nav and Secondary Nav Components.
// "h-" prefix in the color names indicate horizontal orientation, which currently only applies to the top level items
// of the desktop version of Main Nav component. Colors without the "h-" applies to the Secondary Nav (all items),
// mobile version of the Main Nav, and the drop down menus of the desktop version of Main Nav.
// Active color is also used to indicate "current" page.
//
// Styleguide: Variables.Components.nav-colors
//

//
// $nav-colors
//
// Color maps for the default Main Nav and Secondary Nav Components.
//
// Markup: $nav-colors: (
//    bg:                             $color-black,
//    divider:                        $color-cool-grey,
//    link:                           $color-white,
//    link--hover:                    $color-white,
//    link--active:                   $color-white,
//    link--expanded:                 $color-white,
//    border--hover:                  $color-white,
//    border--active:                 $color-vivid-red,
//    border--expanded:               transparent,
//    border--active-expanded:        $color-white,
//    h-link:                         $color-black,
//    h-link--hover:                  $color-bright-red,
//    h-link--active:                 $color-black,
//    h-link--active-hover:           $color-bright-red,
//    h-link--expanded:               $color-black,
//    h-border--hover:                $color-bright-red,
//    h-border--active:               $color-black,
//    h-border--active-hover:         $color-bright-red,
//    h-border--expanded:             $color-black,
//) !default;
//
// Styleguide: Variables.Components.nav-colors.default
//

$nav-colors: (
  bg:                             $color-black,
  divider:                        $color-cool-grey,

  link:                           $color-white,
  link--hover:                    $color-white,
  link--active:                   $color-white,
  link--expanded:                 $color-white,

  border--hover:                  $color-white,
  border--active:                 $color-vivid-red,
  border--expanded:               transparent,
  border--active-expanded:        $color-white,

  // Horizontal menu colors (desktop Main Nav 1st level)
  h-link:                         $color-black,
  h-link--hover:                  $color-bright-red,
  h-link--active:                 $color-black,
  h-link--active-hover:           $color-bright-red,
  h-link--expanded:               $color-black,

  h-border--hover:                $color-bright-red,
  h-border--active:               $color-black,
  h-border--active-hover:         $color-bright-red,
  h-border--expanded:             $color-black,
) !default;

//
// $nav-colors--dark
//
// Color map for the desktop version of the Main Nav dark variant 1st level items.
//
// Markup: $nav-colors--dark: (
//    h-link:                               $color-white,
//    h-link--hover:                        $color-white,
//    h-link--active:                       $color-white,
//    h-link--active-hover:                 $color-white,
//    h-link--expanded:                     $color-white,
//    h-link--expanded-hover:               $color-white,
//    h-border--hover:                      $color-white,
//    h-border--active:                     $color-vivid-red,
//    h-border--active-hover:               $color-white,
//    h-border--expanded:                   $color-white,
//    h-border--expanded-hover:             $color-vivid-red,
//    h-border--expanded-active:            $color-white,
//) !default;
//
// Styleguide: Variables.Components.nav-colors.variant-dark
//

$nav-colors--dark: (
  h-link:                               $color-white,
  h-link--hover:                        $color-white,
  h-link--active:                       $color-white,
  h-link--active-hover:                 $color-white,
  h-link--expanded:                     $color-white,
  h-link--expanded-hover:               $color-white,

  h-border--hover:                      $color-white,
  h-border--active:                     $color-vivid-red,
  h-border--active-hover:               $color-white,
  h-border--expanded:                   $color-white,
  h-border--expanded-hover:             $color-vivid-red,
  h-border--expanded-active:            $color-white,
) !default;

//
// $nav-colors--light
//
// Color map for the Main Nav and Secondary Nav light variants.
//
// Markup: $nav-colors--light: (
//    bg:                          $color-white,
//    divider:                     #d9d9d9,
//    link:                        $color-black,
//    link--hover:                 $color-black,
//    link--active:                $color-bright-red,
//    link--expanded:              $color-black,
//    border--hover:               $color-black,
//    border--active:              $color-bright-red,
//    border--expanded:            transparent,
//    border--active-expanded:     $color-black,
//    h-link:                      $color-black,
//    h-link--hover:               $color-bright-red,
//    h-link--active:              $color-black,
//    h-link--active-hover:        $color-bright-red,
//    h-link--expanded:            $color-black,
//    h-border--hover:             $color-bright-red,
//    h-border--active:            $color-black,
//    h-border--current:           $color-driftwood,
//    h-border--active-hover:      $color-bright-red,
//    h-border--expanded:          $color-driftwood,
//) !default;
//
// Styleguide: Variables.Components.nav-colors.variant-light
//

$nav-colors--light: (
  bg:                          $color-white,
  divider:                     #d9d9d9,

  link:                        $color-black,
  link--hover:                 $color-black,
  link--active:                $color-bright-red,
  link--expanded:              $color-black,

  border--hover:               $color-black,
  border--active:              $color-bright-red,
  border--expanded:            transparent,
  border--active-expanded:     $color-black,

  h-link:                      $color-black,
  h-link--hover:               $color-bright-red,
  h-link--active:              $color-black,
  h-link--active-hover:        $color-bright-red,
  h-link--expanded:            $color-black,

  h-border--hover:             $color-bright-red,
  h-border--active:            $color-black,
  // In this variant current and active state have different border colors
  h-border--current:           $color-driftwood,
  h-border--active-hover:      $color-bright-red,
  h-border--expanded:          $color-driftwood,
) !default;
