@charset "UTF-8";

//
// Main Nav Color Maps
//
// Color maps for the Secondary Nav component. Active color is also used to
// indicate "current" page.
//
// Styleguide: Variables.Components.secondary-nav-colors
//

//
// $secondary-nav-colors
//
// Color map for the default Secondary Nav component .su-secondary-nav.
//
// Markup: $secondary-nav-colors: (
//  link:                                   $color-black,
//  link--hover:                            $color-bright-red,
//  border--hover:                          $color-bright-red,
//  link--active:                           $color-black,
//  border--active:                         $color-black,
//  link--active-hover:                     $color-bright-red,
//  border--active-hover:                   $color-bright-red,
//  link--expanded:                         $color-black,
//  border--expanded:                       $color-black,
//  bg--mobile:                             $color-black,
//  divider:                                $color-cool-grey,
//  link--mobile:                           $color-white,
//  link--mobile-hover:                     $color-white,
//  border--mobile-hover:                   $color-white,
//  link--mobile-active:                    $color-white,
//  border--mobile-active:                  $color-vivid-red,
//  link--mobile-expanded:                  $color-white,
//  border--mobile-expanded:                transparent,
//  border--mobile-active-expanded:         $color-white,
//) !default;
//
// Styleguide: Variables.Components.secondary-nav-colors.default
//

$secondary-nav-colors: (
  bg:                             $color-white,
  bg--alt:                        $color-black,
  divider:                        $color-cloud,

  link:                           $color-black,

  link--hover:                    $color-black,
  link--active:                   $color-bright-red,
  link--active-hover:             $color-bright-red,
  link--expanded:                 $color-black,

  border--hover:                  $color-black,
  border--expanded:               $color-black,
  border--active:                 $color-bright-red,
  border--active-hover:           $color-bright-red,
) !default;
