@charset "UTF-8";
// Local Variables
// Unbranded defaults. Style these in base/_variables.scss
$code-color: #333 !default;
$base-border: 1px solid #ddd !default;
$meta-color: #999 !default;
$base-border-radius: 6px !default;
$font-family-monospace: monospace !default;

// Utility Extends
%code {
  background-color: $code-color;
  border: $base-border;
  border-radius: $base-border-radius;
  display: inline-block;
  font-family: $font-family-monospace;
  margin: 0 .125em 0;
  padding: 0 .5em .0625em;
  white-space: pre-wrap;
}

%hidden-print {
  @media print {
    display: none !important;
  }
}

%meta {
  font-family: $font-family-sans-serif;
  color: $meta-color;
  margin-bottom: 0;
  text-transform: uppercase;
}

%center-element {
  margin-left: auto;
  margin-right: auto;
}

%center-text {
  text-align: center;
}

%icon-list {
  padding-left: 0;
  margin-left: - $spacing-sm;

  li {
    display: block;
    margin-left: $spacing-md;
    padding-left: $spacing-lg;
  }

  li::before {
    margin-left: -#{$spacing-lg};
    margin-right: .75rem;
  }
}


// Utility Classes
.meta, time {
  @extend %meta;
}

.centered-text {
  @extend %center-text;
}

.centered-element {
  @extend %center-element;
}

code {
  @extend %code;

  &.block {
    margin: $base-spacing 0;
    padding: 1em;
  }

  &.centered-block {
    margin: $base-spacing auto;
    padding: 1em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
