@charset 'UTF-8';

//
// @sticky-footer
//
// Slam the footer to the bottom of the window below all content no matter
// the size of the browser or content.
//
// Apply this mixin to the body tag only.
//
@mixin sticky-footer {
  display: grid;
  height: 100vh; // Avoid the IE 10-11 `min-height` bug.
  @include padding(0);
  @include margin(0);

  .global-footer {
    align-self: flex-end;
  }
}
