@charset "UTF-8";

//
// Layout
//
// Mixins for Layout
//
// Style guide: Mixins.Layout
//

@import
  'centered-grid-container',
  'ms-grid',
  'page-layout--global',
  'page-layout--single-column',
  'page-layout--left-sidebar',
  'page-layout--right-sidebar',
  'page-layout--three-column';
