<div class="decanter-main-menu">
  <div class="decanter-nav__container">
    <button class="decanter-main-menu__btn">Menu</button>
    <nav role="navigation" class="decanter-nav">
      <button class="decanter-nav__close">
        <img src="../../../img/close.svg" alt="close">
      </button>
      <ul class="decanter-nav-primary decanter-accordion">
        <li><button class="decanter-accordion__button decanter-nav__link" aria-expanded="false" aria-controls="basic-nav-section-one">
      Parent link
    </button>
          <ul id="basic-nav-section-one" class="decanter-nav-submenu">
            <li>
              <a href="#">Child link</a>
            </li>
            <li>
              <a href="#">Child link</a>
            </li>
            <li>
              <a href="#">Child link</a>
            </li>
          </ul>
        </li>
        <li><button class="decanter-accordion__button decanter-nav__link" aria-expanded="false" aria-controls="basic-nav-section-two">
      Parent link
    </button>
          <ul id="basic-nav-section-two" class="decanter-nav-submenu">
            <li>
              <a href="#">Child link</a>
            </li>
            <li>
              <a href="#">Child link</a>
            </li>
            <li>
              <a href="#">Child link</a>
            </li>
          </ul>
        </li>
        <li><a class="decanter-nav__link" href="#">
      Parent link
    </a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="decanter-nav__overlay"></div>
