<div class="su-stuff">
  <h2>Things and stuff.</h2>
  <p>More things and stuff.</p>
  {% set button_vars = {
    "button_label": "Button Label",
    "button_value": "decanter",
    "button_name": "button-13",
    "button_type": "button"
  } %}
  {% include "@decanter/components/button/button.twig" with button_vars only %}
</div>
