@theme {
  /**
    Stanford Identity primary colors
    https://identity.stanford.edu/design-elements/color/primary-colors/
  */
  --color-cardinal-red: #8C1515; /* Stanford brand color */
  --color-cardinal-red-light: #B83A4B;
  --color-cardinal-red-dark: #820000;
  --color-cardinal-red-xdark: #7A0000; /* Passed contrast test with digital-red-xlight as text */
  --color-cardinal-red-xxdark: #541107;

  /* Grayscale */
  --color-black: #2E2D29;
  --color-black-90: #43423E;
  --color-black-80: #585754;
  --color-black-70: #6D6C69;
  --color-black-60: #767674;
  --color-black-50: #979694;
  --color-black-40: #ABABA9;
  --color-black-30: #C0C0BF;
  --color-black-20: #D5D5D4;
  --color-black-10: #EAEAEA;
  --color-black-true: #000000;
  --color-cool-grey: #53565A;

  /**
    Web interactive colors
    https://identity.stanford.edu/design-elements/color/web/
  */
  --color-digital-red: #B1040E;
  --color-digital-red-light: #E50808;
  --color-digital-red-xlight: #F83535; /* Passed contrast test as regular text on black background */
  --color-digital-red-dark: var(--color-cardinal-red-dark);

  --color-digital-blue: #006CB8;
  --color-digital-blue-light: #85CCFF;
  --color-digital-blue-dark: #00548F;
  --color-digital-blue-vivid: #0597FF;

  --color-digital-green: #008566;
  --color-digital-green-light: #1AECBA;
  --color-digital-green-dark: #006F54;
  --color-digital-green-bright: #009B76;

  /**
    Accent colors
    https://identity.stanford.edu/design-elements/color/accent-colors/
  */
  --color-palo-alto: #175E54;
  --color-palo-alto-light: #2D716F;
  --color-palo-alto-dark: #014240;
  --color-palo-verde: #279989;
  --color-palo-verde-light: #59B3A9;
  --color-palo-verde-dark: #017E7C;
  --color-olive: #8F993E;
  --color-olive-light: #A6B168;
  --color-olive-dark: #7A863B;
  --color-bay: #6FA287;
  --color-bay-light: #8AB8A7;
  --color-bay-dark: #417865;
  --color-sky: #4298B5;
  --color-sky-light: #67AFD2;
  --color-sky-dark: #016895;
  --color-lagunita: #007C92;
  --color-lagunita-light: #009AB4;
  --color-lagunita-dark: #006B81;
  /* Lagunita 20 and 40 are used for form elements */
  --color-lagunita-20: #CCEBF0;
  --color-lagunita-40: #8DD8E4;
  --color-poppy: #E98300;
  --color-poppy-light: #F9A44A;
  --color-poppy-dark: #D1660F;
  --color-spirited: #E04F39;
  --color-spirited-light: #F4795B;
  --color-spirited-dark: #C74632;
  --color-illuminating: #FEDD5C;
  --color-illuminating-light: #FFE781;
  --color-illuminating-dark: #FEC51D;
  --color-plum: #620059;
  --color-plum-light: #734675;
  --color-plum-dark: #350D36;
  --color-brick: #651C32;
  --color-brick-light: #7F2D48;
  --color-brick-dark: #42081B;
  --color-archway: #5D4B3C;
  --color-archway-light: #766253;
  --color-archway-dark: #2F2424;
  --color-stone: #7F7776;
  --color-stone-light: #D4D1D1;
  --color-stone-dark: #544948;
  --color-fog: #DAD7CB;
  --color-fog-light: #F4F4F4;
  --color-fog-dark: #B6B1A9;

  /* Social media colors */
  --color-facebook: #4267B2;
  --color-twitter: #1DA1F2;
  --color-instagram: #E1306C;
  --color-linkedin: #0077B5;
  --color-youtube: #FF0000;
}
