@theme {
  --font-sans: "Source Sans 3", "Helvetica Neue", helvetica, arial, sans-serif;
  --font-serif: "Source Serif 4", georgia, times, "Times New Roman", serif;
  --font-stanford: stanford, var(--font-serif);
  --font-mono: "Roboto Mono", menlo, "Courier New", monospace;
  --font-slab: "Roboto Slab", georgia, times, "Times New Roman", serif;
  --default-font-family: var(--font-sans);
}
