@theme {
  --font-sans: "Source Sans 3", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: "Source Serif 4", georgia, times, "Times New Roman", serif;
  --font-stanford: Stanford, "Source Serif 4", Georgia, Times, "Times New Roman", serif;
  --font-mono: "Roboto Mono", Menlo, "Courier New", monospace;
  --font-slab: "Roboto Slab", Georgia, Times, "Times New Roman", serif;
}

@theme inline {
  --default-font-family: var(--font-sans);
}
