@theme {
  /* Grid gap */
  --gap-xs: 1.25rem; /* 2rem @10px -> 1.25rem @16px */
  --gap-lg: 2.25rem; /* 3.6rem -> 2.25rem */
  --gap-xl: 2.5rem; /* 4rem -> 2.5rem */
  --gap-2xl: 3rem; /* 4.8rem -> 3rem */
}
