@theme {
  /* Grid gap */
  --gap-xs: calc(var(--decanter-px) * 20);
  --gap-sm: var(--gap-xs);
  --gap-md: var(--gap-xs);
  --gap-lg: calc(var(--decanter-px) * 36);
  --gap-xl: calc(var(--decanter-px) * 40);
  --gap-2xl: calc(var(--decanter-px) * 48);
}
