@theme {
  --responsive-spacing-xs-0: calc(var(--decanter-px) * 15);
  --responsive-spacing-md-0: calc(var(--decanter-px) * 18);
  --responsive-spacing-2xl-0: calc(var(--decanter-px) * 19);
  --responsive-spacing-xs-1: calc(var(--decanter-px) * 20);
  --responsive-spacing-md-1: calc(var(--decanter-px) * 26);
  --responsive-spacing-2xl-1: calc(var(--decanter-px) * 27);
  --responsive-spacing-xs-2: calc(var(--decanter-px) * 30);
  --responsive-spacing-md-2: calc(var(--decanter-px) * 36);
  --responsive-spacing-2xl-2: calc(var(--decanter-px) * 38);
  --responsive-spacing-xs-3: calc(var(--decanter-px) * 32);
  --responsive-spacing-md-3: calc(var(--decanter-px) * 45);
  --responsive-spacing-2xl-3: calc(var(--decanter-px) * 48);
  --responsive-spacing-xs-4: calc(var(--decanter-px) * 34);
  --responsive-spacing-md-4: calc(var(--decanter-px) * 58);
  --responsive-spacing-2xl-4: calc(var(--decanter-px) * 61);
  --responsive-spacing-xs-5: calc(var(--decanter-px) * 38);
  --responsive-spacing-md-5: calc(var(--decanter-px) * 72);
  --responsive-spacing-2xl-5: calc(var(--decanter-px) * 76);
  --responsive-spacing-xs-6: calc(var(--decanter-px) * 45);
  --responsive-spacing-md-6: calc(var(--decanter-px) * 90);
  --responsive-spacing-2xl-6: calc(var(--decanter-px) * 95);
  --responsive-spacing-xs-7: calc(var(--decanter-px) * 50);
  --responsive-spacing-md-7: calc(var(--decanter-px) * 108);
  --responsive-spacing-2xl-7: calc(var(--decanter-px) * 114);
  --responsive-spacing-xs-8: calc(var(--decanter-px) * 60);
  --responsive-spacing-md-8: calc(var(--decanter-px) * 126);
  --responsive-spacing-2xl-8: calc(var(--decanter-px) * 133);
  --responsive-spacing-xs-9: calc(var(--decanter-px) * 70);
  --responsive-spacing-md-9: calc(var(--decanter-px) * 162);
  --responsive-spacing-2xl-9: calc(var(--decanter-px) * 171);
  --responsive-spacing-xs-10: calc(var(--decanter-px) * 80);
  --responsive-spacing-md-10: calc(var(--decanter-px) * 216);
  --responsive-spacing-2xl-10: calc(var(--decanter-px) * 228);
}
