@theme {
  --responsive-spacing-xs-0: 0.9375rem;
  --responsive-spacing-md-0: 1.125rem;
  --responsive-spacing-2xl-0: 1.1875rem;
  --responsive-spacing-xs-1: 1.25rem;
  --responsive-spacing-md-1: 1.625rem;
  --responsive-spacing-2xl-1: 1.6875rem;
  --responsive-spacing-xs-2: 1.875rem;
  --responsive-spacing-md-2: 2.25rem;
  --responsive-spacing-2xl-2: 2.375rem;
  --responsive-spacing-xs-3: 2rem;
  --responsive-spacing-md-3: 2.8125rem;
  --responsive-spacing-2xl-3: 3rem;
  --responsive-spacing-xs-4: 2.125rem;
  --responsive-spacing-md-4: 3.625rem;
  --responsive-spacing-2xl-4: 3.8125rem;
  --responsive-spacing-xs-5: 2.375rem;
  --responsive-spacing-md-5: 4.5rem;
  --responsive-spacing-2xl-5: 4.75rem;
  --responsive-spacing-xs-6: 2.8125rem;
  --responsive-spacing-md-6: 5.625rem;
  --responsive-spacing-2xl-6: 5.9375rem;
  --responsive-spacing-xs-7: 3.125rem;
  --responsive-spacing-md-7: 6.75rem;
  --responsive-spacing-2xl-7: 7.125rem;
  --responsive-spacing-xs-8: 3.75rem;
  --responsive-spacing-md-8: 7.875rem;
  --responsive-spacing-2xl-8: 8.3125rem;
  --responsive-spacing-xs-9: 4.375rem;
  --responsive-spacing-md-9: 10.125rem;
  --responsive-spacing-2xl-9: 10.6875rem;
  --responsive-spacing-xs-10: 5rem;
  --responsive-spacing-md-10: 13.5rem;
  --responsive-spacing-2xl-10: 14.25rem;
}
