@theme {
  --responsive-spacing-xs-neg2: 0.8rem;
  --responsive-spacing-md-neg2: 0.9rem;
  --responsive-spacing-2xl-neg2: 1rem;
  --responsive-spacing-xs-neg1: 1.1rem;
  --responsive-spacing-md-neg1: 1.2rem;
  --responsive-spacing-2xl-neg1: 1.3rem;
  --responsive-spacing-xs-0: 1.5rem;
  --responsive-spacing-md-0: 1.8rem;
  --responsive-spacing-2xl-0: 1.9rem;
  --responsive-spacing-xs-1: 2rem;
  --responsive-spacing-md-1: 2.6rem;
  --responsive-spacing-2xl-1: 2.7rem;
  --responsive-spacing-xs-2: 3rem;
  --responsive-spacing-md-2: 3.6rem;
  --responsive-spacing-2xl-2: 3.8rem;
  --responsive-spacing-xs-3: 3.2rem;
  --responsive-spacing-md-3: 4.5rem;
  --responsive-spacing-2xl-3: 4.8rem;
  --responsive-spacing-xs-4: 3.4rem;
  --responsive-spacing-md-4: 5.8rem;
  --responsive-spacing-2xl-4: 6.1rem;
  --responsive-spacing-xs-5: 3.8rem;
  --responsive-spacing-md-5: 7.2rem;
  --responsive-spacing-2xl-5: 7.6rem;
  --responsive-spacing-xs-6: 4.5rem;
  --responsive-spacing-md-6: 9rem;
  --responsive-spacing-2xl-6: 9.5rem;
  --responsive-spacing-xs-7: 5rem;
  --responsive-spacing-md-7: 10.8rem;
  --responsive-spacing-2xl-7: 11.4rem;
  --responsive-spacing-xs-8: 6rem;
  --responsive-spacing-md-8: 12.6rem;
  --responsive-spacing-2xl-8: 13.3rem;
  --responsive-spacing-xs-9: 7rem;
  --responsive-spacing-md-9: 16.2rem;
  --responsive-spacing-2xl-9: 17.1rem;
  --responsive-spacing-xs-10: 8rem;
  --responsive-spacing-md-10: 21.6rem;
  --responsive-spacing-2xl-10: 22.8rem;
}
