@media only screen and (max-width: 575px) {
  .layout--plakes--left {
    padding: 1em calc(((50% /12) * 0) + 20px);
  }
  .layout--plakes--left::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .layout--plakes--left {
    padding: 1em calc(((50% /12) * 0) + 20px);
  }
  .layout--plakes--left::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .layout--plakes--left {
    padding: 1em calc(((50% /12) * 0) + 40px);
  }
  .layout--plakes--left::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1499px) {
  .layout--plakes--left {
    padding: 1em calc(((50% /12) * 0) + 40px);
  }
  .layout--plakes--left::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 1500px) {
  .layout--plakes--left {
    padding: 1em calc(50% - (750px - 60px));
  }
  .layout--plakes--left::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only print {
  .layout--plakes--left {
    padding: 1em calc(((50% /12) * 0) + 0.25in);
  }
  .layout--plakes--left::after {
    clear: both;
    content: "";
    display: block;
  }
}

.layout--plakes--left section {
  display: flex;
  flex-flow: row wrap;
  justify-content: "flex-start";
  align-items: flex-start;
  align-content: center;
  box-sizing: border-box;
}

.layout--plakes--left section > * {
  flex: 0 0 auto;
  box-sizing: inherit;
}

@media only screen and (max-width: 575px) {
  .layout--plakes--left .grid-collapse {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .layout--plakes--left .grid-collapse {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .layout--plakes--left .grid-collapse {
    margin-left: -40px;
    margin-right: -40px;
    width: calc(100% + 80px);
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1499px) {
  .layout--plakes--left .grid-collapse {
    margin-left: -40px;
    margin-right: -40px;
    width: calc(100% + 80px);
  }
}

@media only screen and (min-width: 1500px) {
  .layout--plakes--left .grid-collapse {
    margin-left: -60px;
    margin-right: -60px;
    width: calc(100% + 120px);
  }
}

@media only print {
  .layout--plakes--left .grid-collapse {
    margin-left: -0.25in;
    margin-right: -0.25in;
    width: calc(100% + 0.5in);
  }
}

.layout--plakes--left .grid-collapse::after {
  clear: both;
  content: "";
  display: block;
}

.layout--plakes--left .column--first {
  order: 10;
}

@media only screen and (max-width: 575px) {
  .layout--plakes--left .column--first {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .layout--plakes--left .column--first {
    width: calc(33.33333% - 26.66667px);
    float: left;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .layout--plakes--left .column--first {
    width: calc(33.33333% - 53.33333px);
    float: left;
    margin-left: 40px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1499px) {
  .layout--plakes--left .column--first {
    width: calc(33.33333% - 53.33333px);
    float: left;
    margin-left: 40px;
  }
}

@media only screen and (min-width: 1500px) {
  .layout--plakes--left .column--first {
    width: calc(33.33333% - 80px);
    float: left;
    margin-left: 60px;
  }
}

@media only print {
  .layout--plakes--left .column--first {
    width: calc(33.33333% - 0.33333in);
    float: left;
    margin-left: 0.25in;
  }
}

@media only screen and (min-width: 576px) {
  .layout--plakes--left .column--first {
    order: 1;
  }
}

.layout--plakes--left .column--second {
  order: 1;
}

@media only screen and (max-width: 575px) {
  .layout--plakes--left .column--second {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .layout--plakes--left .column--second {
    width: calc(66.66667% - 33.33333px);
    float: left;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .layout--plakes--left .column--second {
    width: calc(66.66667% - 66.66667px);
    float: left;
    margin-left: 40px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1499px) {
  .layout--plakes--left .column--second {
    width: calc(66.66667% - 66.66667px);
    float: left;
    margin-left: 40px;
  }
}

@media only screen and (min-width: 1500px) {
  .layout--plakes--left .column--second {
    width: calc(66.66667% - 100px);
    float: left;
    margin-left: 60px;
  }
}

@media only print {
  .layout--plakes--left .column--second {
    width: calc(66.66667% - 0.41667in);
    float: left;
    margin-left: 0.25in;
  }
}

@media only screen and (min-width: 576px) {
  .layout--plakes--left .column--second {
    order: 10;
  }
}

/*# sourceMappingURL=plakes-left.css.map */