@charset "UTF-8";

//
// Core
//
// Weight: -100
//
// Style guide: Core

// Fonts
//
// Primary and secondary fonts from Stanford branding guidelines.
//
// Markup: ../../templates/core/fonts/fonts.twig
//
// Style guide: Core.Fonts

// Grid
//
// Markup: ../../templates/core/grid/grid.twig
//
// Style guide: Core.Grid

// Helpers
//
// Helper partials.
//
// Style guide: Core.Helpers
//

@import
  'colors/index',
  'fonts/index',
  'grid/index',
  'helpers/index',
  'base';
