@charset "UTF-8";

//
// Date Stacked
//
// Abbreviated month stacked on top of numerical day of the month.
//
// .su-date-stacked--no-background - Black type on transparent background
//
// Markup: ../templates/components/date-stacked/date-stacked.twig
//
// Style guide: Components.Date Stacked
//
.su-date-stacked {
  @include modular-spacing('padding', 0);
  background: $color-black;
  color: $color-white;
  text-align: center;

  .su-date-month {
    @include big-paragraph;
  }

  .su-date-day {
    @include types;
    @include type-b;
  }
}
