@charset "UTF-8";

//
// Date Stacked
//
// Abbreviated month stacked on top of numerical day of the month.
//
// .su-date-stacked--no-background - Black type on transparent background
//
// Markup: templates/components/date-stacked/date-stacked.twig
//
// Style guide: Simple.Date Stacked
//
.su-date-stacked {
  @include responsive-spacing('padding', 0);
  background: color(bg--reverse);
  color: color(text--reverse);
  max-width: 87px;
  text-align: center;

  @include grid-media-only('md') {
    max-width: 101px;
  }

  @include grid-media-only('2xl') {
    max-width: 105px;
  }

  &__month {
    display: block;

    @include grid-media('md') {
      font-size: 2.1rem;
    }
  }

  &__day {
    @include types;
    @include type-b;
    display: block;
  }
}
