<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Decanter Core | Grid</title>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../css/decanter.css">
  <!-- Example Grid Styles -->
  <style>
    .grid-example {
      margin-bottom: 2em;
    }

    .grid-example [class*=decanter-grid] {
      text-align: center;
    }

    .grid-example [class*="decanter-grid"]>* {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      color: #ffffff;
      padding: 1em;
      background: #4d4f53;
    }
  </style>
</head>

<body>
  <div class="decanter-grid">
    <h1>Grid System</h1>
    <h2 class="decanter-heading">The Grid</h2>
  </div>
  <!-- The Grid ------------------------------>
  <div class="grid-example">
    <div class="decanter-grid-full">
      <div class="decanter-width-one-whole">1/1</div>
    </div>
    <div class="decanter-grid">
      <div class="decanter-width-one-whole">1/1</div>
    </div>
    <div class="decanter-grid">
      <div class="decanter-width-one-half">1/2</div>
      <div class="decanter-width-one-half">1/2</div>
    </div>
    <div class="decanter-grid">
      <div class="decanter-width-one-third">1/3</div>
      <div class="decanter-width-one-third">1/3</div>
      <div class="decanter-width-one-third">1/3</div>
    </div>
    <div class="decanter-grid">
      <div class="decanter-width-one-fourth">1/4</div>
      <div class="decanter-width-one-fourth">1/4</div>
      <div class="decanter-width-one-fourth">1/4</div>
      <div class="decanter-width-one-fourth">1/4</div>
    </div>
    <div class="decanter-grid">
      <div class="decanter-width-one-sixth">1/6</div>
      <div class="decanter-width-one-sixth">1/6</div>
      <div class="decanter-width-one-sixth">1/6</div>
      <div class="decanter-width-one-sixth">1/6</div>
      <div class="decanter-width-one-sixth">1/6</div>
      <div class="decanter-width-one-sixth">1/6</div>
    </div>
    <div class="decanter-grid">
      <div class="decanter-width-one-twelfth">1/12</div>
      <div class="decanter-width-one-twelfth">1/12</div>
      <div class="decanter-width-one-twelfth">1/12</div>
      <div class="decanter-width-one-twelfth">1/12</div>
      <div class="decanter-width-one-twelfth">1/12</div>
      <div class="decanter-width-one-twelfth">1/12</div>
      <div class="decanter-width-one-twelfth">1/12</div>
      <div class="decanter-width-one-twelfth">1/12</div>
      <div class="decanter-width-one-twelfth">1/12</div>
      <div class="decanter-width-one-twelfth">1/12</div>
      <div class="decanter-width-one-twelfth">1/12</div>
      <div class="decanter-width-one-twelfth">1/12</div>
    </div>
  </div>
  <!-- Grid Example ------------------------------>
  <div class="decanter-grid">
    <h2 class="decanter-heading">Grid Example</h2>
  </div>
  <div class="grid-example">
    <div class="decanter-grid-full">
      <div class="decanter-width-one-whole">
        <h3>.decanter-width-one-whole (with .decanter-grid-full wrapper)</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="decanter-grid">
      <div class="decanter-width-one-whole">
        <h3>.decanter-width-one-whole (with .decanter-grid wrapper)</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="decanter-grid">
      <div class="decanter-width-one-half">
        <h3>.decanter-width-one-half</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="decanter-width-one-half">
        <h3>.decanter-width-one-half</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
      </div>
    </div>
    <div class="decanter-grid">
      <div class="decanter-width-one-third">
        <h3>.decanter-width-one-third</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit.</p>
      </div>
      <div class="decanter-width-one-third">
        <h3>.decanter-width-one-third</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="decanter-width-one-third">
        <h3>.decanter-width-one-third</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
    <div class="decanter-grid">
      <div class="decanter-width-one-fourth">
        <h3>.decanter-width-one-fourth</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="decanter-width-one-fourth">
        <h3>.decanter-width-one-fourth</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit.</p>
      </div>
      <div class="decanter-width-one-fourth">
        <h3>.decanter-width-one-fourth</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="decanter-width-one-fourth">
        <h3>.decanter-width-one-fourth</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
    <div class="decanter-grid">
      <div class="decanter-width-two-thirds">
        <h3>.decanter-width-two-thirds</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="decanter-width-one-third">
        <h3>.decanter-width-one-third</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit.</p>
      </div>
    </div>
    <div class="decanter-grid">
      <div class="decanter-width-one-half">
        <h3>.decanter-width-one-half</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="decanter-width-one-fourth">
        <h3>.decanter-width-one-fourth</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="decanter-width-one-fourth">
        <h3>.decanter-width-one-fourth</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
  </div>
  <!-- Script -->
  <script src="../../js/decanter.min.js"></script>
</body>

</html>
