@charset 'UTF-8';

// My grids
@import "config/grid-system";

// Decant.
@import "decanter/core/utilities/decanter-utilities";

// Responsive grid patterns for the column.
$column: (
  'xs': 1 of 1,
  'sm': 1 of 2,
  'md': 1 of 2,
  'lg': 1 of 2,
  'xl': 1 of 2,
  'print': 1 of 2
);

.full-width {
  @include clearfix;
  clear: both;
}

.layout--bricks {
  @include responsive-container($default-container);
  @include clearfix;
  clear: both;

  .grid-collapse {
    @include responsive-grid-collapse($default-container);
    @include clearfix;
  }

  .column {
    @include responsive-grid-column($column, $default-container);
  }

}
