@charset "UTF-8";

//
// CTA
//
// A call-to-action block.
//
// .su-cta--button-bottom-icon      - Icon centered on image link with button underneath
// .su-cta--button-center           - Button centered on image link
//
// Markup: ../templates/components/cta/cta.twig
//
// Style guide: Components.CTA
//
.su-cta--button-bottom,
.su-cta {
  @include cta-button;
}

.su-cta__img {
  min-height: 1px; //IE fix
}

.su-cta--button-bottom-icon {

  position: relative;

  .su-cta__icon {
    display: block;
    max-width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    $_shifty: -($lead-font-size + 3rem) / 2; //Extra vertical shift of icon to compensate for button height
    transform: translateX(-50%) translateY(-50%) translateY($_shifty);
  }
}

.su-cta--button-center {

  position: relative;

  .su-cta__button {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include grid-media('xs') {
      width: auto;
    }
  }

}
