@charset "UTF-8";

//
// CTA
//
// A call-to-action block
//
// .su-cta--button-bottom           - Button under image link
// .su-cta--button-bottom-icon      - Icon centered on image link with button underneath
// .su-cta--button-center           - Button centered on image link
//
// Markup: ../templates/components/molecules/cta/cta.twig
//
// Style guide: Components.CTA
//

.su-cta--button-bottom,
.su-cta {
  @include cta--button;
}

.su-cta--button-bottom-icon {

  position: relative;

  .su-cta__icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    $_btn-height: $lead-font-size + 3rem; //height of the button
    $_shift: calc(#{-50%} - #{$_btn-height / 2}); //calculate the extra shift up for the icon to compensate for the button height
    transform: translate(-50%, $_shift);
    color: #fff;
    font-size: 4em;
    text-shadow: 0 0 10px rgba(0, 0, 0, .4);
  }

}

.su-cta--button-center {

  position: relative;

  .su-cta__button {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media #{$breakpoint-xs} {
      width: auto;
    }
  }

}
