<div class="decanter-alert decanter-alert-success">
  <div class="decanter-alert__body">
    <h3 class="decanter-alert__heading">Success Alert</h3>
    <p class="decanter-alert__text">This is a success alert.</p>
  </div>
</div>

<div class="decanter-alert decanter-alert-warning">
  <div class="decanter-alert__body">
    <h3 class="decanter-alert__heading">Warning Alert</h3>
    <p class="decanter-alert__text">This is a warning alert.</p>
  </div>
</div>

<div class="decanter-alert decanter-alert-error" role="alert">
  <div class="decanter-alert__body">
    <h3 class="decanter-alert__heading">Error Alert</h3>
    <p class="decanter-alert__text">This is a error alert.</p>
  </div>
</div>

<div class="decanter-alert decanter-alert-info">
  <div class="decanter-alert__body">
    <h3 class="decanter-alert__heading">Information Alert</h3>
    <p class="decanter-alert__text">This is an information alert.</p>
  </div>
</div>
