<div class="decanter-alert {{ modifier_class }}">
  <div class="decanter-alert__body">
    <h3 class="decanter-alert__heading">{{ header }}</h3>
    <p class="decanter-alert__text">{{ text }}</p>
  </div>
</div>
