@charset "UTF-8";

///
/// Mixin to apply to the wrapper of all class-based layouts.
///
/// @name flex-container
///
/// @group mixin
@mixin flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
