@charset "UTF-8";

//
// @aspect-ratio($width: 16, $height: 9, $selector: null)
//
// A container and element fill mixin.
//
// $width - The width of the aspect-ratio
// $height - The hight of the aspect-ratio
// $selector - The css selector for the element fill the container target.
//
// Style guide: Mixins.Display.Aspect Ratio
//
@mixin aspect-ratio($width: 16, $height: 9, $selector: null) {
  position: relative;

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  // If a selector was passed in try to use it to set the contents.
  @if ($selector) {
    > * {
      position: relative;
      z-index: 5;
    }

    #{$selector} {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
    }
  }

}
