@charset "UTF-8";

//
// Embed
//
// Style guide: Variables.Elements.Embed
//

//
// $su-aspect-height
//
// Default aspect height setting.
//
// Markup: $su-aspect-height: 9;
//
// Styleguide: Variables.Elements.Embed.Aspect-Height
//
$su-aspect-height: 9 !default;

//
// <del>$su-aspect-height</del>
//
// <strong>Deprecated. Will be removed in 6.0.0.</strong><br/>
// Use <code>$su-aspect-height</code> instead.
//
// Styleguide: Variables.Elements.Embed.Aspect-Height
//
$su-aspect-height: 9 !default;

//
// $aspect-width
//
// Default aspect width setting.
//
// Markup: $aspect-width: 16;
//
// Styleguide: Variables.Elements.Embed.Aspect-Width
//
$aspect-width: 16 !default;
