@charset "UTF-8";

///
/// Input
///
/// Style guide: Variables.Elements.Input
///

///
/// Default input line height.
///
/// @name $su-input-line-height
///
/// @group variable
$su-input-line-height: 1.3 !default;

///
/// Default input border width.
///
/// @name $su-input-border-width
///
/// @group variable
$su-input-border-width: 0.1rem !default;

///
/// Default input border width.
/// Using rem instead of px so function uses same units.
///
/// @name $su-input-padding-vertical
///
/// @group variable
$su-input-padding-vertical: 1rem !default;

///
/// Input heights will vary by browser and type
/// if height not explicitly set.
///
/// @name $su-input-height-exact
///
/// @group variable
$su-input-height-exact: $su-base-font-size * $su-input-line-height + $su-input-padding-vertical * 2 + $su-input-border-width * 2 !default;

///
/// Truncated to 1 decimal place
/// (i.e., 1.21rem -> 1.2rem).
///
/// @name $su-input-height
///
/// @group variable
$su-input-height: floor($su-input-height-exact * 10) / 10 !default;
