@charset 'UTF-8';

///
/// Base button styling.
///
/// @name %button-base
///

%button-base {
  @include font-smoothing;
  @include sans;
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-size: $su-base-font-size;
  font-weight: $su-font-regular;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  width: auto;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

  a {
    font-weight: $su-font-regular;
    text-decoration: none;
  }

  &:active,
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}
