@charset "UTF-8";

//
// %card-base
//
// Card base styling.
//
// Style guide: Placeholders.Components.Card
//

%card-base {
  @include box-shadow($depth: 'shallow');

  > img {
    // Hide the image on the smallest screen sizes.
    @include grid-media-only('xs') {
      display: none;
    }
  }

  .su-card__contents {
    @include modular-spacing('padding', 2);
    @include sans;

    // Ensure no top padding or margin on first item.
    > *:first-child {
      @include padding(0 null null);
      @include margin(-0.2em null null);
    }

    // Ensure no bottom padding or margin on last item.
    > *:last-child {
      @include padding(null null 0);
      @include margin(null null 0);
    }

    > h3,
    > h4 {
      @include margin(null null 0);
      @include sans;
    }

    // Super Headline.
    > h4 {
      @include modular-spacing('padding', null null -2);
      @include type-f;
    }

    // Headline.
    > h3 {
      @include modular-spacing('padding', null null -1);
      @include type-c;
    }

    // Card body - open field, any p or div (that are not part of the button)
    > div:not(.su-card__button) {
      line-height: $base-line-height;
    }

    > div:not(.su-card__button),
    > p:last-of-type {
      @include modular-spacing('padding', null null -1);
      @include margin(null null 0);
    }

    .su-link--action,
    > a {
      @include modular-spacing('padding', null null 0);
      display: inline-block;
    }
  }

  // Button to click on.
  .su-card__button {
    @include modular-spacing('margin', -2 null null);
    text-align: center;

    @include grid-media-only('xs') {
      .su-button {
        // Overriding default button 100% width in xs.
        width: auto;
      }
    }
  }
}
