// Margins to aid in demonstration of markup.
.decanter-grid {
  margin-bottom: 20px;
}

// Colors to distinguish odd vs. even cells.
.decanter-grid--item {
  padding: 10px;
  overflow: hidden;
  background-color: rgba(black, .125);

  &:nth-child(even) {
    background-color: rgba(black, .25);
  }
}
