.colors-demo {
  line-height: 1.2;

  &--item {
    margin-bottom: 1em;

    .inner {
      padding: .5em;
    }
  }

  &--colorname {
    font-size: .8em;
    margin-bottom: .16em;
  }

  &--colorhex {
    font-family: monospace;
  }
}