@charset "UTF-8";

//
// Style guide only grid colors
//

.page-layout {
  @include visible-grid;

  .region {
    padding: 15px;
    font-size: .9em;

    p {
      padding: 0;
      margin: 5px 0 0;
    }

    &--header {
      background-color: rgba(black, .15);
    }

    &--content {
      background-color: rgba(orange, .25);
    }

    &--sidebar {
      background-color: rgba(blue, .2);

      &-first {
        background-color: rgba(maroon, .2);
      }

      &-second {
        background-color: rgba(green, .2);
      }
    }

    &--footer {
      background-color: rgba(black, .15);
    }
  }
}
