<div{{ attributes }} class="decanter-icon-grid {{ classes }}">
  {% if rows is not empty %}
    {{ rows }}
  {% endif %}

  {% if items is not empty %}
  {% set classes = "" %}
    {% for item in items %}
      {% include "@decanter/components/molecules/media-block-row/media-block-row.twig" with item %}
    {% endfor %}
  {% endif %}
</div>
