<nav {{ attributes }} class="su-main-nav {{ modifier_class }}">
  <ul class="su-main-nav__menu-lv1">
    <li class="su-main-nav__item-lv1">
      <a href="#">Home</a>
    </li>
    <li aria-expanded="false" class="su-main-nav__item-lv1 su-main-nav__item-lv1--parent su-main-nav__item-lv1--current">
      <a href="#">Admissions &amp; Aid</a>
      <ul class="su-main-nav__menu-lv2" role="menu" aria-label="submenu">
        <li class="su-main-nav__item-lv2">
          <a href="#">Overview</a>
        </li>
        <li class="su-main-nav__item-lv2">
          <a href="#">Name &amp; Emblems</a>
        </li>
        <li class="su-main-nav__item-lv2 su-main-nav__item-lv2--current">
          <a href="#">Department Branding</a>
        </li>
        <li class="su-main-nav__item-lv2">
          <a href="#">Color</a>
        </li>
      </ul>
    </li>
    <li class="su-main-nav__item-lv1">
      <a href="#">Students &amp; Academics</a>
    </li>
    <li aria-expanded="false" class="su-main-nav__item-lv1 su-main-nav__item-lv1--parent">
      <a href="#">Research</a>
      <ul class="su-main-nav__menu-lv2" role="menu" aria-label="submenu">
        <li class="su-main-nav__item-lv2">
          <a href="#">Overview</a>
        </li>
        <li class="su-main-nav__item-lv2">
          <a href="#">Arts</a>
        </li>
        <li class="su-main-nav__item-lv2 su-main-nav__item-lv2--current">
          <a href="#">Humanities</a>
        </li>
        <li aria-expanded="false" class="su-main-nav__item-lv2 su-main-nav__item-lv2--parent">
          <a href="https://stanford.edu">Science</a>
          <ul class="su-main-nav__menu-lv3" role="menu" aria-label="submenu">
            <li class="su-main-nav__item-lv3">
              <a href="#">Astronomy</a>
            </li>
            <li class="su-main-nav__item-lv3">
              <a href="#">Biology</a>
            </li>
            <li class="su-main-nav__item-lv3 su-main-nav__item-lv3--current">
              <a href="#">Physics</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="su-main-nav__item-lv1">
      <a href="#">Get Involved</a>
    </li>
    <li class="su-main-nav__item-lv1">
      <a href="#">About</a>
    </li>
  </ul>
</nav>
<script>
  NodeList.prototype.forEach = NodeList.prototype.forEach || Array.prototype.forEach;
  var parents = document.querySelectorAll(".su-main-nav__item-lv1--parent");
  var parentLinks = document.querySelectorAll(".su-main-nav__item-lv1--parent > a");

  for(let j=0; j<parents.length; j++){
    parents[j].addEventListener('click', function(){
      if( parents[j].getAttribute('aria-expanded') === 'false') {
        // Close all opened drop down menus
        parents.forEach( (function(x){ x.setAttribute('aria-expanded', 'false');}) );

        // Expand drop down menu that was clicked
        parents[j].setAttribute('aria-expanded', 'true');
      } else {
        parents[j].setAttribute('aria-expanded', 'false');
      }
    }, false);

    // Make parent links inactive and act as drop down toggles
    parentLinks[j].addEventListener('click', function(event){
      event.preventDefault();
    });
  }

  // Close opened drop down menus when click elsewhere
  document.addEventListener('click', function(ev) {
    var ev = ev ? ev : window.event;
    var event_element = ev.target ? ev.target : ev.srcElement;
    if ( !event_element.closest('.su-main-nav__item-lv1--parent') ) {
      for(let i=0; i<parents.length; i++) {
        parents[i].setAttribute('aria-expanded', 'false');
      }
    }
  }, false);
</script>
