<nav {{ attributes }} id="su-main-nav" class="su-main-nav {{ modifier_class }}" aria-label="Main Menu">
  <button id="su-main-nav__toggle" class="su-main-nav__toggle" aria-expanded="false" aria-haspopup="menu">Menu</button>
  <ul class="su-main-nav__menu-lv1">
    <li class="su-main-nav__item-lv1">
      <a href="#">Home</a>
    </li>
    <li aria-haspopup="true" aria-expanded="false" class="su-main-nav__item-lv1 su-main-nav__item-lv1--parent su-main-nav__item-lv1--current">
      <a href="#">Admissions &amp; Aid</a>
      <ul class="su-main-nav__menu-lv2" role="menu" aria-label="submenu">
        <li class="su-main-nav__item-lv2">
          <a href="#">Overview</a>
        </li>
        <li class="su-main-nav__item-lv2">
          <a href="#">Name &amp; Emblems</a>
        </li>
        <li class="su-main-nav__item-lv2 su-main-nav__item-lv2--current">
          <a href="#">Current Page</a>
        </li>
        <li class="su-main-nav__item-lv2">
          <a href="#">Color</a>
        </li>
      </ul>
    </li>
    <li class="su-main-nav__item-lv1">
      <a href="#">Students &amp; Academics</a>
    </li>
    <li aria-haspopup="true" aria-expanded="false" class="su-main-nav__item-lv1 su-main-nav__item-lv1--parent">
      <a href="#">Research</a>
      <ul class="su-main-nav__menu-lv2" role="menu" aria-label="submenu">
        <li class="su-main-nav__item-lv2">
          <a href="#">Overview</a>
        </li>
        <li class="su-main-nav__item-lv2">
          <a href="#">Arts</a>
        </li>
        <li class="su-main-nav__item-lv2">
          <a href="#">Humanities</a>
        </li>
        <li class="su-main-nav__item-lv2">
          <a href="https://stanford.edu">Science</a>
        </li>
      </ul>
    </li>
    <li class="su-main-nav__item-lv1">
      <a href="#">Get Involved</a>
    </li>
    <li class="su-main-nav__item-lv1">
      <a href="#">About</a>
    </li>
  </ul>
</nav>
<script>
  NodeList.prototype.forEach = NodeList.prototype.forEach || Array.prototype.forEach; // Make nodelists behave like arrays
  const mainNav = document.getElementById('su-main-nav');
  const mainMenu = document.querySelector('.su-main-nav__menu-lv1');
  const mainNavToggle = document.getElementById('su-main-nav__toggle');
  const parents = mainMenu.querySelectorAll('.su-main-nav__item-lv1--parent');
  const parentLinks = mainMenu.querySelectorAll('.su-main-nav__item-lv1--parent > a');
  const firstLink = mainMenu.firstElementChild.querySelector('a');
  const lastLink = mainMenu.lastElementChild.querySelector('a');

  // Function to check if an element has aria-expanded set to true
  const isExpanded = x => x.getAttribute('aria-expanded') === 'true';

  // Function to check if we're using desktop version of main nav (non-hamburger)
  // If menu toggle button is not shown, then we're on desktop
  const isDesktop = () => getComputedStyle(mainNavToggle, null).display === 'none';

  const ariaSetTrue = x => x.setAttribute('aria-expanded', 'true');
  const ariaSetFalse = x => x.setAttribute('aria-expanded', 'false');

  for (let i=0; i < parents.length; i++) {
    parents[i].addEventListener('click', function(e) {
      if ( !(isExpanded( parents[i] )) ) {

        // First close all opened drop down menus
        parents.forEach( ariaSetFalse );

        // Toggle 2nd level menu
        ariaSetTrue( parents[i] );
      } else if ( isExpanded( parents[i] ) ) {
        ariaSetFalse( parents[i] );
      }
    }, false);

    // Make parent links inactive and act as drop down toggles
    parentLinks[i].addEventListener('click', function(e) {
      e.preventDefault();
    });
  }

  // Close opened drop down menus when click elsewhere
  document.addEventListener('click', function(e) {
    var e = e ? e : window.event;
    const event_element = e.target ? e.target : e.srcElement;
    if ( !event_element.closest('.su-main-nav__item-lv1--parent') ) {
      for(let i=0; i < parents.length; i++) {
        ariaSetFalse( parents[i] );
      }
    }
  }, false);

  // Toggle hamburger button and changes button text
  mainNavToggle.addEventListener('click', function(e) {
    if ( !(isExpanded( mainNavToggle )) ) {
      ariaSetTrue( mainNavToggle );
      ariaSetTrue( mainMenu );
      mainNavToggle.innerHTML = 'Close';
    } else if ( isExpanded( mainNavToggle ) ) {
      ariaSetFalse( mainNavToggle );
      ariaSetFalse( mainMenu );
      mainNavToggle.focus(); // Return focus to the toggle button
      mainNavToggle.innerHTML = 'Menu';
    }
  }, false);

  // Keyboard bindings listens to keydown events within the mainNav element
  mainNav.onkeydown = function(e) {
    // fallback to keyCode if key isn't supported by older browsers
    const press = e.key || e.keyCode;
    const currentFocus = document.activeElement;

    // Close all opened drop down menus when ESC key is pressed
    if (press === 'Escape' || press === 'Esc' || press === 27) {
      if ( isExpanded( mainNavToggle ) ) {
        ariaSetFalse( mainNavToggle );
      } else if ( !(isExpanded( mainNavToggle )) ) {
        for (let i = 0; i < parents.length; i++) {
          ariaSetFalse( parents[i] );
        }
      }
    }

    // if focus is on first or second level menu links, allows using HOME/END keys to jump to first/last first level link
    if ( currentFocus.parentNode.classList.contains('su-main-nav__item-lv1') || currentFocus.parentNode.classList.contains('su-main-nav__item-lv2') ) {
      // Focus on the first 1st level menu link when END button is pressed
      if (press === 'c' || press === 67) {
        firstLink.focus();
      }

      // Focus on the last 1st level menu link when HOME button is pressed
      if (press === 'd' || press === 68) {
        lastLink.focus();
      }
    }

    // if the focus is on first level menu links on desktop, allows using left/right arrow keys to navigate
    if ( currentFocus.parentNode.classList.contains('su-main-nav__item-lv1') && isDesktop ) {
      if (press === 'ArrowRight' || press === 'Right' || press === 39) {
        if (currentFocus !== lastLink) {
          currentFocus.parentNode.nextElementSibling.querySelector('a').focus();
        } else if (currentFocus === lastLink) {
          firstLink.focus();
        }
      }

      if (press === 'ArrowLeft' || press === 'Left' || press === 37) {
        if (currentFocus !== firstLink) {
          currentFocus.parentNode.previousElementSibling.querySelector('a').focus();
        } else if (currentFocus === firstLink) {
          lastLink.focus();
        }
      }
    }

    // if focus is on first level parent links on desktop, press down arrow or spacebar to open submenu and focus on first child link
    if ( currentFocus.parentNode.classList.contains('su-main-nav__item-lv1--parent') && isDesktop ) {
      if (press === 'ArrowDown' || press === 'Down' || press === 40 || press === ' ' || press === 'Spacebar' || press === 32) {
        ariaSetTrue( currentFocus.parentNode );
        e.preventDefault(); // prevent down scrolling
        currentFocus.parentNode.querySelector('.su-main-nav__menu-lv2 > li:first-child > a').focus();
      }
    }

    if ( currentFocus.parentNode.classList.contains('su-main-nav__item-lv2') ) {
      const firstSubnavLink = currentFocus.parentNode.parentNode.firstElementChild.querySelector('a');
      const lastSubnavLink = currentFocus.parentNode.parentNode.lastElementChild.querySelector('a');

      if ( press === 'ArrowDown' || press === 'Down' || press === 40 ) {
        e.preventDefault(); // prevent page scrolling
        if (currentFocus !== lastSubnavLink ) {
          currentFocus.parentNode.nextElementSibling.querySelector('a').focus();
        } else if (currentFocus === lastSubnavLink ) {
          currentFocus.parentNode.parentNode.firstElementChild.querySelector('a').focus();
        }
      } else if ( press === 'ArrowUp' || press === 'Up' || press === 38 ) {
        e.preventDefault();
        if (currentFocus !== firstSubnavLink ) {
          currentFocus.parentNode.previousElementSibling.querySelector('a').focus();
        } else if (currentFocus === firstSubnavLink ) {
          currentFocus.parentNode.parentNode.lastElementChild.querySelector('a').focus();
        }
      }

      if ( ( press === 'Tab' || press === 9 ) && currentFocus === lastSubnavLink ) { // hitting TAB while on last submenu link closes submenu
        ariaSetFalse( currentFocus.parentNode.parentNode.parentNode );
      }

      if ( press === 'ArrowRight' || press === 'Right' || press === 39 ) {
        ariaSetFalse(currentFocus.parentNode.parentNode.parentNode);
        currentFocus.parentNode.parentNode.parentNode.nextElementSibling.querySelector('a').focus();
      } else if ( press === 'ArrowLeft' || press === 'Left' || press === 37 ) {
        ariaSetFalse(currentFocus.parentNode.parentNode.parentNode);
        currentFocus.parentNode.parentNode.parentNode.previousElementSibling.querySelector('a').focus();
      }
    }
  }
</script>
