<nav class="su-main-nav {{ modifier_class }}">
  <ul class="su-main-nav__menu-level1">
    <li role="presentation" class="current">
      <a href="#">Home</a>
    </li>
    <li role="presentation" aria-haspopup="menu">
      <a href="#">Admissions &amp; Aid</a>
      <ul class="su-main-nav__menu-level2" role="menu">
        <li role="presentation" class="menu-item">
          <a href="#" role="menuitem">Overview</a>
        </li>
        <li role="presentation" class="menu-item">
          <a href="#" role="menuitem">Name &amp; Emblems</a>
        </li>
        <li role="presentation" class="menu-item">
          <a href="#" role="menuitem">Department Branding</a>
        </li>
        <li role="presentation" class="menu-item">
          <a href="#" role="menuitem">Color</a>
        </li>
      </ul>
    </li>
    <li role="presentation">
      <a href="#">Students &amp; Academics</a>
    </li>
    <li role="presentation">
      <a href="#">Faculty &amp; Research</a>
    </li>
    <li role="presentation">
      <a href="#">Get Involved</a>
    </li>
    <li role="presentation">
      <a href="#">About</a>
    </li>
  </ul>
</nav>