<nav {{ attributes }} class="su-main-nav {{ modifier_class }}">
  <ul class="su-main-nav__menu-lv1">
    <li class="su-main-nav__item-lv1">
      <a href="#">Home</a>
    </li>
    <li aria-expanded="true" class="su-main-nav__item-lv1 su-main-nav__item-lv1--parent su-main-nav__item-lv1--current">
      <a href="#">Admissions &amp; Aid</a>
      <ul class="su-main-nav__menu-lv2" role="menu" aria-label="submenu" aria-hidden="true">
        <li class="su-main-nav__item-lv2">
          <a href="#">Overview</a>
        </li>
        <li class="su-main-nav__item-lv2">
          <a href="#">Name &amp; Emblems</a>
        </li>
        <li class="su-main-nav__item-lv2 su-main-nav__item-lv2--current">
          <a href="#">Department Branding</a>
        </li>
        <li class="su-main-nav__item-lv2">
          <a href="#">Color</a>
        </li>
      </ul>
    </li>
    <li class="su-main-nav__item-lv1">
      <a href="#">Students &amp; Academics</a>
    </li>
    <li class="su-main-nav__item-lv1">
      <a href="#">Faculty &amp; Research</a>
    </li>
    <li class="su-main-nav__item-lv1">
      <a href="#">Get Involved</a>
    </li>
    <li class="su-main-nav__item-lv1">
      <a href="#">About</a>
    </li>
  </ul>
</nav>
