@charset "UTF-8";

// Map of z-indices

$z-levels: (
  "navigation":  100,
  "button":      100,
  "masthead":     20,
  "overlay":      10,
  "default":       1,
  "background":  -100
);

// A function to help us get the z-index from the level from the map
// Usage
// .su-hero__card {
//   z-index: zed(overlay);
// }

@function z($level) {
  @if map-has-key($z-levels, $level) {
    @return map-get($z-levels, $level);
 }
  @error "Invalid z-index level name: `#{$level}`.";
}

@function z-up() {
  $z-index: $z-index + 1;
  @return $z-index;
}

@function z-down() {
  $z-index: $z-index - 1;
  @return $z-index;
}
