@charset "UTF-8";

///
/// Modular Padding
/// Mixins for modular scaling, a unitless system for returning font sizes or spacing (padding or margin) values.
/// Our modular spacing system does not use the Bourbon modular-scale mixin. Instead we use a manual scale defined in variables/core/_modular-spacing.scss for finetuning.
/// A mixin for adding spacing (margin or padding) between elements or between an
/// element and the edge of its container. The amount of spacing is returned
/// using a unitless scaling system with a curated scale.
/// Please see core/scss/utilities/variables/core/_modular-spacing.scss for
/// variable maps.
///
/// @name modular-padding
///
/// @example scss
///   @include modular-spacing(3);
///   @include modular-spacing('padding', 2 null);
///   @include modular-spacing('margin', 0 -4 1 2);
///
/// @param {list} $steps - List (1 to 4 values): Either integer (from -4 to 9 including 0) or null. Follows the shorthand notation of padding/margin. Use null to skip a side. A value of 0 returns the modular spacing base value for that breakpoint.
///
/// @group mixin
@mixin modular-padding($step: 0) {
  @include grid-media-device('mobile') {
    padding: get-modular-spacing-value($step, 'mobile');
  }
  @include grid-media-device('tablet') {
    padding: get-modular-spacing-value($step, 'tablet');
  }
  @include grid-media-device('desktop') {
    padding: get-modular-spacing-value($step, 'desktop');
  }
}