/**
  Decanter minimal form styles
*/

@layer components {
  .input {
    display: block;
    border-color: var(--color-black-20);
    color: var(--color-black);
    font-size: 1.8rem;
    line-height: var(--leading-snug);
  }

  .radio,
  .checkbox {
    background-color: var(--color-white);
    border-width: 3px;
    border-color: var(--color-digital-blue);
    width: 2.4rem;
    height: 2.4rem;
  }

  .radio:checked,
  .checkbox:checked {
    background-color: var(--color-digital-blue);
  }

  .fieldset {
    border: 0;
  }

  .label {
    display: block;
    font-size: 1.8rem;
  }

  .legend {
    line-height: var(--leading-display);
  }

  .textarea {
    height: 16rem;
    display: block;
    border-color: var(--color-black-20);
    color: var(--color-black);
    font-size: 1.8rem;
    line-height: var(--leading-snug);
  }

  .select {
    display: block;
    border-color: var(--color-black-20);
    color: var(--color-black);
    font-size: 1.8rem;
    line-height: var(--leading-snug);
    background-color: white;
  }
}
