@layer components {
  .grid-gap {
    gap: var(--gap-xs);

    @media (min-width: 992px) {
      gap: var(--gap-lg);
    }

    @media (min-width: 1200px) {
      gap: var(--gap-xl);
    }

    @media (min-width: 1500px) {
      gap: var(--gap-2xl);
    }
  }
}
