@layer components {
  .logo {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: var(--font-stanford);
    font-weight: var(--font-weight-normal);
    line-height: var(--leading-trim);
    text-decoration: none;
    text-transform: none;
    color: var(--color-cardinal-red);
    transform: translateZ(0);
    font-style: normal;
    font-variant: normal;
    letter-spacing: var(--tracking-normal);
    font-feature-settings: "liga" 1;
    font-variant-ligatures: discretionary-ligatures;

    &:focus,
    &:hover {
      color: var(--color-cardinal-red);
    }
  }
}
