@layer components {
  .type-0 {
    font-size: 1em;
  }

  .type-1 {
    font-size: 1.15em;
    letter-spacing: -0.01em;
    @media (min-width: 768px) {
      font-size: 1.2em;
    }
    @media (min-width: 992px) {
      font-size: 1.25em;
    }
  }

  .type-2 {
    font-size: 1.32em;
    letter-spacing: -0.012em;
    @media (min-width: 768px) {
      font-size: 1.44em;
    }
    @media (min-width: 992px) {
      font-size: 1.56em;
    }
  }

  .type-3 {
    font-size: 1.52em;
    letter-spacing: -0.014em;
    @media (min-width: 768px) {
      font-size: 1.73em;
    }
    @media (min-width: 992px) {
      font-size: 1.95em;
    }
  }

  .type-4 {
    font-size: 1.75em;
    letter-spacing: -0.016em;
    @media (min-width: 768px) {
      font-size: 2.07em;
    }
    @media (min-width: 992px) {
      font-size: 2.44em;
    }
  }

  .type-5 {
    font-size: 2.01em;
    letter-spacing: -0.018em;
    @media (min-width: 768px) {
      font-size: 2.49em;
    }
    @media (min-width: 992px) {
      font-size: 3.05em;
    }
  }

  .type-6 {
    font-size: 2.31em;
    letter-spacing: -0.02em;
    @media (min-width: 768px) {
      font-size: 2.99em;
    }
    @media (min-width: 992px) {
      font-size: 3.81em;
    }
  }

  .type-7 {
    font-size: 2.66em;
    letter-spacing: -0.022em;
    @media (min-width: 768px) {
      font-size: 3.59em;
    }
    @media (min-width: 992px) {
      font-size: 4.77em;
    }
  }

  .type-8 {
    font-size: 3.06em;
    letter-spacing: -0.024em;
    @media (min-width: 768px) {
      font-size: 4.31em;
    }
    @media (min-width: 992px) {
      font-size: 5.96em;
    }
  }

  .type-9 {
    font-size: 3.52em;
    letter-spacing: -0.026em;
    @media (min-width: 768px) {
      font-size: 5.18em;
    }
    @media (min-width: 992px) {
      font-size: 7.45em;
    }
  }
}
