@layer components {
  .stretched-link {
    &::after {
      display: block;
      position: absolute;
      inset: 0;
      z-index: 1;
      pointer-events: auto;
      content: "";
      background-color: transparent;
    }
  }
}
