<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Decanter Preview Environment</title>
    <style>
      body {
        padding: 0;
        margin: 0;
        height: 100%;
        min-height: 100vh;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
      }
      body > .su-global-footer {
        margin-top: auto;
      }
    </style>
  </head>
  <body>
    {% set masthead_lockup_line1 = "Decanter Preview Environment" %}
    {%- include "@decanter/components/masthead/masthead.twig" -%}
    <main>
      {%- include "./test.twig" -%}
    </main>
    {%- include "@decanter/components/global-footer/global-footer.twig" -%}
  </body>
</html>
