<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Decanter Preview Environment</title>
  </head>
  <body>
    {% set masthead_lockup_line1 = "Decanter Preview Environment" %}
    {% set masthead_lockup_modifier_class = "su-lockup--option-n" %}
    {%- include "@decanter/components/masthead/masthead.twig" -%}
    <main>
      {%- include "./test.twig" -%}
    </main>
    {%- include "@decanter/components/global-footer/global-footer.twig" -%}
  </body>
</html>
