@import "@decanter-no-markup";

html {
  overflow-y: scroll;
}

body {
  @include sticky-footer(".su-global-footer");

  > .su-masthead {
    box-shadow: none;
    background-color: $su-color-fog;
    .su-main-nav,
    .su-site-search {
      display: none;
    }
  }
}

.custom-width {
  @include margin(6rem auto);
  max-width: 100%;
}

@import "test.scss";
