{#
/**
 * @file
 * Toucan
 *
 *
 */
#}
<div{{ attributes }} class="layout layout-toucan {{ modifier_class }}">
  <div>

    {# Required column #}
    <div>
      {{ first }}
    </div>

    {# Required column #}
    <div>
      {{ second }}
    </div>

  </div>
</div>
