ul,
ol {
  * {
    margin-bottom: $spacing-sm;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

ul {
  list-style-type: disc;
  text-align: left;
}

ol {
  list-style-type: decimal;
}

dl {
  margin-left: $spacing-lg;
  list-style-type: disc;
  margin-bottom: $spacing-sm;
}

dt {
  display: list-item;
  font-weight: 600;
}

dd {
  margin-left: 0;
  display: list-item;
  list-style-type: none;
  margin-bottom: $spacing-sm;
}
