/**
  * Fluid typography
  *
  * Typography with font size that increases smoothly and linearly between a min and max value
  * over the viewport width range 360px (XS) to 1500px (2XL)
  * See concept on https://www.aleksandrhovhannisyan.com/blog/fluid-type-scale-with-css-clamp/
  *
  * See google sheet for a plot of the font sizes over the viewport width range 360px (XS) to 1500px (2XL):
  * https://docs.google.com/spreadsheets/d/1AN9eV_ECXc9MzTZUc10hiLjOHeOCDTutC5tMHOCPqgo/edit?usp=sharing
  *
  * Good for use in hero banners and horizontal cards where UI looks better with a smooth transition of font size
  * Here we offer the sizes from fluid-type-0 to fluid-type-10. Their min and max values at the XS and 2XL breakpoints
  * are the same as the corresponding modular typography classes (type-0 to type-10) with base font sizes
  * XS: 18px, MD: 21px, 2XL: 23px at the browser's default font size
  * Letters spacing is also adjusted to match the modular typography classes
  */

@utility fluid-type-0 {
  font-size: clamp(
    calc(var(--decanter-px) * 18),
    calc(0.44vw + var(--decanter-px) * 16.4),
    calc(var(--decanter-px) * 23)
  );
}

@utility fluid-type-1 {
  font-size: clamp(
    calc(var(--decanter-px) * 21),
    calc(0.7vw + var(--decanter-px) * 18.5),
    calc(var(--decanter-px) * 29)
  );
  letter-spacing: -0.01em;
}

@utility fluid-type-2 {
  font-size: clamp(
    calc(var(--decanter-px) * 24),
    calc(1.05vw + var(--decanter-px) * 20.2),
    calc(var(--decanter-px) * 36)
  );
  letter-spacing: -0.012em;
}

@utility fluid-type-3 {
  font-size: clamp(
    calc(var(--decanter-px) * 27),
    calc(1.58vw + var(--decanter-px) * 21.3),
    calc(var(--decanter-px) * 45)
  );
  letter-spacing: -0.014em;
}

@utility fluid-type-4 {
  font-size: clamp(
    calc(var(--decanter-px) * 31),
    calc(2.19vw + var(--decanter-px) * 23.1),
    calc(var(--decanter-px) * 56)
  );
  letter-spacing: -0.016em;
}

@utility fluid-type-5 {
  font-size: clamp(
    calc(var(--decanter-px) * 36),
    calc(2.98vw + var(--decanter-px) * 25.3),
    calc(var(--decanter-px) * 70)
  );
  letter-spacing: -0.018em;
}

@utility fluid-type-6 {
  font-size: clamp(
    calc(var(--decanter-px) * 42),
    calc(4.04vw + var(--decanter-px) * 27.5),
    calc(var(--decanter-px) * 88)
  );
  letter-spacing: -0.02em;
}

@utility fluid-type-7 {
  font-size: clamp(
    calc(var(--decanter-px) * 48),
    calc(5.44vw + var(--decanter-px) * 28.4),
    calc(var(--decanter-px) * 110)
  );
  letter-spacing: -0.022em;
}

@utility fluid-type-8 {
  font-size: clamp(
    calc(var(--decanter-px) * 55),
    calc(7.19vw + var(--decanter-px) * 29.1),
    calc(var(--decanter-px) * 137)
  );
  letter-spacing: -0.024em;
}

@utility fluid-type-9 {
  font-size: clamp(
    calc(var(--decanter-px) * 63),
    calc(9.47vw + var(--decanter-px) * 28.9),
    calc(var(--decanter-px) * 171)
  );
  letter-spacing: -0.026em;
}

@utility fluid-type-10 {
  font-size: clamp(
    calc(var(--decanter-px) * 73),
    calc(12.37vw + var(--decanter-px) * 28.5),
    calc(var(--decanter-px) * 214)
  );
  letter-spacing: -0.028em;
}
