/**
  Modular spacing - padding
*/
@utility ms-p-* {
  padding: --value(--modular-spacing-xs-*);

  @media (min-width: 768px) {
    padding: --value(--modular-spacing-md-*);
  }

  @media (min-width: 1200px) {
    padding: --value(--modular-spacing-xl-*);
  }

  @media (min-width: 1500px) {
    padding: --value(--modular-spacing-2xl-*);
  }
}

@utility ms-px-* {
  padding-left: --value(--modular-spacing-xs-*);
  padding-right: --value(--modular-spacing-xs-*);

  @media (min-width: 768px) {
    padding-left: --value(--modular-spacing-md-*);
    padding-right: --value(--modular-spacing-md-*);
  }

  @media (min-width: 1200px) {
    padding-left: --value(--modular-spacing-xl-*);
    padding-right: --value(--modular-spacing-xl-*);
  }

  @media (min-width: 1500px) {
    padding-left: --value(--modular-spacing-2xl-*);
    padding-right: --value(--modular-spacing-2xl-*);
  }
}

@utility ms-py-* {
  padding-top: --value(--modular-spacing-xs-*);
  padding-bottom: --value(--modular-spacing-xs-*);

  @media (min-width: 768px) {
    padding-top: --value(--modular-spacing-md-*);
    padding-bottom: --value(--modular-spacing-md-*);
  }

  @media (min-width: 1200px) {
    padding-top: --value(--modular-spacing-xl-*);
    padding-bottom: --value(--modular-spacing-xl-*);
  }

  @media (min-width: 1500px) {
    padding-top: --value(--modular-spacing-2xl-*);
    padding-bottom: --value(--modular-spacing-2xl-*);
  }
}

@utility ms-pt-* {
  padding-top: --value(--modular-spacing-xs-*);

  @media (min-width: 768px) {
    padding-top: --value(--modular-spacing-md-*);
  }

  @media (min-width: 1200px) {
    padding-top: --value(--modular-spacing-xl-*);
  }

  @media (min-width: 1500px) {
    padding-top: --value(--modular-spacing-2xl-*);
  }
}

@utility ms-pr-* {
  padding-right: --value(--modular-spacing-xs-*);

  @media (min-width: 768px) {
    padding-right: --value(--modular-spacing-md-*);
  }

  @media (min-width: 1200px) {
    padding-right: --value(--modular-spacing-xl-*);
  }

  @media (min-width: 1500px) {
    padding-right: --value(--modular-spacing-2xl-*);
  }
}

@utility ms-pb-* {
  padding-bottom: --value(--modular-spacing-xs-*);

  @media (min-width: 768px) {
    padding-bottom: --value(--modular-spacing-md-*);
  }

  @media (min-width: 1200px) {
    padding-bottom: --value(--modular-spacing-xl-*);
  }

  @media (min-width: 1500px) {
    padding-bottom: --value(--modular-spacing-2xl-*);
  }
}

@utility ms-pl-* {
  padding-left: --value(--modular-spacing-xs-*);

  @media (min-width: 768px) {
    padding-left: --value(--modular-spacing-md-*);
  }

  @media (min-width: 1200px) {
    padding-left: --value(--modular-spacing-xl-*);
  }

  @media (min-width: 1500px) {
    padding-left: --value(--modular-spacing-2xl-*);
  }
}

/**
  Modular spacing - margin
*/
@utility ms-m-* {
  margin: --value(--modular-spacing-xs-*);

  @media (min-width: 768px) {
    margin: --value(--modular-spacing-md-*);
  }

  @media (min-width: 1200px) {
    margin: --value(--modular-spacing-xl-*);
  }

  @media (min-width: 1500px) {
    margin: --value(--modular-spacing-2xl-*);
  }
}

@utility ms-mx-* {
  margin-left: --value(--modular-spacing-xs-*);
  margin-right: --value(--modular-spacing-xs-*);

  @media (min-width: 768px) {
    margin-left: --value(--modular-spacing-md-*);
    margin-right: --value(--modular-spacing-md-*);
  }

  @media (min-width: 1200px) {
    margin-left: --value(--modular-spacing-xl-*);
    margin-right: --value(--modular-spacing-xl-*);
  }

  @media (min-width: 1500px) {
    margin-left: --value(--modular-spacing-2xl-*);
    margin-right: --value(--modular-spacing-2xl-*);
  }
}

@utility ms-my-* {
  margin-top: --value(--modular-spacing-xs-*);
  margin-bottom: --value(--modular-spacing-xs-*);

  @media (min-width: 768px) {
    margin-top: --value(--modular-spacing-md-*);
    margin-bottom: --value(--modular-spacing-md-*);
  }

  @media (min-width: 1200px) {
    margin-top: --value(--modular-spacing-xl-*);
    margin-bottom: --value(--modular-spacing-xl-*);
  }

  @media (min-width: 1500px) {
    margin-top: --value(--modular-spacing-2xl-*);
    margin-bottom: --value(--modular-spacing-2xl-*);
  }
}

@utility ms-mt-* {
  margin-top: --value(--modular-spacing-xs-*);

  @media (min-width: 768px) {
    margin-top: --value(--modular-spacing-md-*);
  }

  @media (min-width: 1200px) {
    margin-top: --value(--modular-spacing-xl-*);
  }

  @media (min-width: 1500px) {
    margin-top: --value(--modular-spacing-2xl-*);
  }
}

@utility ms-mr-* {
  margin-right: --value(--modular-spacing-xs-*);

  @media (min-width: 768px) {
    margin-right: --value(--modular-spacing-md-*);
  }

  @media (min-width: 1200px) {
    margin-right: --value(--modular-spacing-xl-*);
  }

  @media (min-width: 1500px) {
    margin-right: --value(--modular-spacing-2xl-*);
  }
}

@utility ms-mb-* {
  margin-bottom: --value(--modular-spacing-xs-*);

  @media (min-width: 768px) {
    margin-bottom: --value(--modular-spacing-md-*);
  }

  @media (min-width: 1200px) {
    margin-bottom: --value(--modular-spacing-xl-*);
  }

  @media (min-width: 1500px) {
    margin-bottom: --value(--modular-spacing-2xl-*);
  }
}

@utility ms-ml-* {
  margin-left: --value(--modular-spacing-xs-*);

  @media (min-width: 768px) {
    margin-left: --value(--modular-spacing-md-*);
  }

  @media (min-width: 1200px) {
    margin-left: --value(--modular-spacing-xl-*);
  }

  @media (min-width: 1500px) {
    margin-left: --value(--modular-spacing-2xl-*);
  }
}

/**
  Modular spacing - gap
*/
@utility ms-gap-* {
  gap: --value(--modular-spacing-xs-*);

  @media (min-width: 768px) {
    gap: --value(--modular-spacing-md-*);
  }

  @media (min-width: 1200px) {
    gap: --value(--modular-spacing-xl-*);
  }

  @media (min-width: 1500px) {
    gap: --value(--modular-spacing-2xl-*);
  }
}

@utility ms-gap-x-* {
  column-gap: --value(--modular-spacing-xs-*);

  @media (min-width: 768px) {
    column-gap: --value(--modular-spacing-md-*);
  }

  @media (min-width: 1200px) {
    column-gap: --value(--modular-spacing-xl-*);
  }

  @media (min-width: 1500px) {
    column-gap: --value(--modular-spacing-2xl-*);
  }
}

@utility ms-gap-y-* {
  row-gap: --value(--modular-spacing-xs-*);

  @media (min-width: 768px) {
    row-gap: --value(--modular-spacing-md-*);
  }

  @media (min-width: 1200px) {
    row-gap: --value(--modular-spacing-xl-*);
  }

  @media (min-width: 1500px) {
    row-gap: --value(--modular-spacing-2xl-*);
  }
}
