@utility type-0 {
  font-size: 1em;
}

@utility type-1 {
  font-size: 1.15em;
  letter-spacing: -0.01em;
  @media (min-width: 768px) {
    font-size: 1.2em;
  }
  @media (min-width: 992px) {
    font-size: 1.25em;
  }
}

@utility type-2 {
  font-size: 1.32em;
  letter-spacing: -0.012em;
  @media (min-width: 768px) {
    font-size: 1.44em;
  }
  @media (min-width: 992px) {
    font-size: 1.56em;
  }
}

@utility type-3 {
  font-size: 1.52em;
  letter-spacing: -0.014em;
  @media (min-width: 768px) {
    font-size: 1.73em;
  }
  @media (min-width: 992px) {
    font-size: 1.95em;
  }
}

@utility type-4 {
  font-size: 1.75em;
  letter-spacing: -0.016em;
  @media (min-width: 768px) {
    font-size: 2.07em;
  }
  @media (min-width: 992px) {
    font-size: 2.44em;
  }
}

@utility type-5 {
  font-size: 2.01em;
  letter-spacing: -0.018em;
  @media (min-width: 768px) {
    font-size: 2.49em;
  }
  @media (min-width: 992px) {
    font-size: 3.05em;
  }
}

@utility type-6 {
  font-size: 2.31em;
  letter-spacing: -0.02em;
  @media (min-width: 768px) {
    font-size: 2.99em;
  }
  @media (min-width: 992px) {
    font-size: 3.81em;
  }
}

@utility type-7 {
  font-size: 2.66em;
  letter-spacing: -0.022em;
  @media (min-width: 768px) {
    font-size: 3.58em;
  }
  @media (min-width: 992px) {
    font-size: 4.77em;
  }
}

@utility type-8 {
  font-size: 3.06em;
  letter-spacing: -0.024em;
  @media (min-width: 768px) {
    font-size: 4.3em;
  }
  @media (min-width: 992px) {
    font-size: 5.96em;
  }
}

@utility type-9 {
  font-size: 3.52em;
  letter-spacing: -0.026em;
  @media (min-width: 768px) {
    font-size: 5.16em;
  }
  @media (min-width: 992px) {
    font-size: 7.45em;
  }
}

@utility type-10 {
  font-size: 4.05em;
  letter-spacing: -0.028em;
  @media (min-width: 768px) {
    font-size: 6.19em;
  }
  @media (min-width: 992px) {
    font-size: 9.31em;
  }
}
