/**
  Link color utilities
*/
@utility link-* {
  a {
    color: --value(--color-*);
  }
}

@utility link-hocus-* {
  a:hover,
  a:focus {
    color: --value(--color-*);
  }
}

/**
  Link underline utilities
*/
@utility link-underline {
  a {
    text-decoration: underline;
  }
}

@utility link-no-underline {
  a {
    text-decoration: none;
  }
}

/**
  Link font weight utilities
*/
@utility link-normal {
  a {
    font-weight: var(--font-weight-normal);
  }
}

@utility link-semibold {
  a {
    font-weight: var(--font-weight-semibold);
  }
}

@utility link-bold {
  a {
    font-weight: var(--font-weight-bold);
  }
}
