@utility text-shadow-legacy {
  text-shadow: rgba(0, 0, 0, 40%) 0 0 6px, rgba(0, 0, 0, 60%) 0 0 2px;
}

@utility text-shadow-legacy-md {
  text-shadow: rgba(0, 0, 0, 40%) 0 0 8px, rgba(0, 0, 0, 60%) 0 0 3px;
}

@utility text-shadow-legacy-lg {
  text-shadow: rgba(0, 0, 0, 30%) 0 0 12px;
}
