/**
  Decanter typography styles
*/

@utility types {
  line-height: var(--leading-display);
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.6em;
  clear: both;

  a {
    text-decoration: none;
    font-weight: var(--font-weight-bold);
  }
}

@utility splash-text {
  font-size: 2.31em;
  letter-spacing: -0.02em;
  line-height: var(--leading-display);
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.6em;
  clear: both;

  @media (min-width: 768px) {
    font-size: 2.99em;
  }

  @media (min-width: 992px) {
    font-size: 3.81em;
  }

  a {
    text-decoration: none;
    font-weight: var(--font-weight-bold);
  }
}

@utility intro-text {
  font-size: 1.32em;
  letter-spacing: -0.012em;
  line-height: var(--leading-normal);
  max-width: var(--spacing-prose);

  @media (min-width: 768px) {
    font-size: 1.44em;
  }

  @media (min-width: 992px) {
    font-size: 1.56em;
  }
}

@utility quote-text {
  font-size: 1.25em;
  font-style: italic;
}

@utility caption {
  font-size: max(1.6rem, 0.9em);
  line-height: var(--leading-snug);
  margin-top: 0.4em;
}

@utility subheading {
  font-size: 1.15em;
  letter-spacing: -0.01em;

  @media (min-width: 768px) {
    font-size: 1.2em;
  }

  @media (min-width: 992px) {
    font-size: 1.25em;
  }
}

@utility big-paragraph {
  font-size: 1.15em;
  line-height: var(--leading-cozy);

  @media (min-width: 768px) {
    line-height: var(--leading-normal);
  }
}

@utility card-paragraph {
  font-size: max(1.6rem, 0.93em);
  line-height: var(--leading-snug);

  @media (min-width: 768px) {
    line-height: var(--leading-cozy);
  }
}

@utility basefont-19 {
  font-size: 1.6rem;

  @media (min-width: 768px) {
    font-size: 1.8rem;
  }

  @media (min-width: 1500px) {
    font-size: 1.9rem;
  }
}

@utility basefont-20 {
  font-size: 1.8rem;

  @media (min-width: 768px) {
    font-size: 1.9rem;
  }

  @media (min-width: 1500px) {
    font-size: 2rem;
  }
}

@utility basefont-21 {
  font-size: 1.8rem;

  @media (min-width: 768px) {
    font-size: 1.9rem;
  }

  @media (min-width: 1500px) {
    font-size: 2.1rem;
  }
}

@utility basefont-22 {
  font-size: 1.8rem;

  @media (min-width: 768px) {
    font-size: 2rem;
  }

  @media (min-width: 1500px) {
    font-size: 2.2rem;
  }
}

@utility basefont-23 {
  font-size: 1.8rem;

  @media (min-width: 768px) {
    font-size: 2.1rem;
  }

  @media (min-width: 1500px) {
    font-size: 2.3rem;
  }
}
