@media only screen and (max-width: 575px) {
  .layout--wedge--left {
    padding: 1em calc(((50% /12) * 0) + 20px);
  }
  .layout--wedge--left::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .layout--wedge--left {
    padding: 1em calc(((50% /12) * 0) + 20px);
  }
  .layout--wedge--left::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .layout--wedge--left {
    padding: 1em calc(((50% /12) * 0) + 40px);
  }
  .layout--wedge--left::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1499px) {
  .layout--wedge--left {
    padding: 1em calc(((50% /12) * 0) + 40px);
  }
  .layout--wedge--left::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 1500px) {
  .layout--wedge--left {
    padding: 1em calc(50% - (750px - 60px));
  }
  .layout--wedge--left::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only print {
  .layout--wedge--left {
    padding: 1em calc(((50% /12) * 0) + 0.25in);
  }
  .layout--wedge--left::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .layout--wedge--left {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    box-sizing: border-box;
  }
  .layout--wedge--left > * {
    flex: 0 0 auto;
    box-sizing: inherit;
  }
}

@media only screen and (max-width: 575px) {
  .layout--wedge--left .grid-collapse {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .layout--wedge--left .grid-collapse {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .layout--wedge--left .grid-collapse {
    margin-left: -40px;
    margin-right: -40px;
    width: calc(100% + 80px);
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1499px) {
  .layout--wedge--left .grid-collapse {
    margin-left: -40px;
    margin-right: -40px;
    width: calc(100% + 80px);
  }
}

@media only screen and (min-width: 1500px) {
  .layout--wedge--left .grid-collapse {
    margin-left: -60px;
    margin-right: -60px;
    width: calc(100% + 120px);
  }
}

@media only print {
  .layout--wedge--left .grid-collapse {
    margin-left: -0.25in;
    margin-right: -0.25in;
    width: calc(100% + 0.5in);
  }
}

.layout--wedge--left .grid-collapse::after {
  clear: both;
  content: "";
  display: block;
}

.layout--wedge--left .column--first {
  order: 10;
}

@media only screen and (max-width: 575px) {
  .layout--wedge--left .column--first {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .layout--wedge--left .column--first {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .layout--wedge--left .column--first {
    width: calc(75% - 70px);
    float: left;
    margin-left: 40px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1499px) {
  .layout--wedge--left .column--first {
    width: calc(75% - 70px);
    float: left;
    margin-left: 40px;
  }
}

@media only screen and (min-width: 1500px) {
  .layout--wedge--left .column--first {
    width: calc(75% - 105px);
    float: left;
    margin-left: 60px;
  }
}

@media only print {
  .layout--wedge--left .column--first {
    width: calc(75% - 0.4375in);
    float: left;
    margin-left: 0.25in;
  }
}

.layout--wedge--left .column--second {
  order: 1;
}

@media only screen and (max-width: 575px) {
  .layout--wedge--left .column--second {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .layout--wedge--left .column--second {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .layout--wedge--left .column--second {
    width: calc(25% - 50px);
    float: left;
    margin-left: 40px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1499px) {
  .layout--wedge--left .column--second {
    width: calc(25% - 50px);
    float: left;
    margin-left: 40px;
  }
}

@media only screen and (min-width: 1500px) {
  .layout--wedge--left .column--second {
    width: calc(25% - 75px);
    float: left;
    margin-left: 60px;
  }
}

@media only print {
  .layout--wedge--left .column--second {
    width: calc(25% - 0.3125in);
    float: left;
    margin-left: 0.25in;
  }
}

/*# sourceMappingURL=wedge-left.css.map */