@charset "UTF-8";

//
// @centered-column($grid: $grid-media, $screens: $grid-screens)
//
// Centers a single cellin a container based on max width in breakpoints.
//
// Style guide: Mixins.Grid.centered-column
//
@mixin centered-column($grid: $grid-media, $screens: $grid-screens, $gutters: $grid-gutters) {
  @include margin(0 auto);
  @each $code, $breakpoint in $grid {
    $gutter: map-get($gutters, $code);

    @media #{$breakpoint} {
      @if breakpoint-max($code, $grid) == null {
        $max-width: map-get($screens, $code);
        max-width: $max-width - $gutter;
        width: $max-width - $gutter;
      } @else {
        max-width: calc(100% - #{$gutter});
        width: calc(100% - #{$gutter});
      }
    }
  }
}
