@charset "UTF-8";

//
// @centered-column($grid: $grid-media, $modular-spacing: $modular-spacing)
//
// Centers a single cellin a container based on max width in breakpoints.
//
// Style guide: Mixins.Grid.centered-column
//
@mixin centered-column($grid: $grid-media, $screens: $grid-screens, $modular-spacing: $modular-spacing) {
  @include margin(0 auto);
  @each $code, $breakpoint in $grid {
    $spacing: map-get($modular-spacing, $code);

    @media #{$breakpoint} {
      @if breakpoint-max($code, $grid) == null {
        $max-width: map-get($screens, $code);
        max-width: $max-width;
        width: calc(100% - ($spacing * 2));
      } @else {
        max-width: calc(100% - #{$spacing * 2});
        width: calc(100% - #{$spacing * 2});
      }
    }
  }
}
