@charset "UTF-8";

//
// @grid-item-spans
//
// Mixin to render cssGrid column spans in all modern browsers, including IE11.
//
// Style guide: Mixins.Grid.grid-item-spans
//
@mixin grid-item-spans($col-start: null, $col-end: null, $row-start: null, $row-end: null) {

  @if ($col-start != null) {
    -ms-grid-column: $col-start;
  }

  @if ($col-end != null and $col-start != null) {
    -ms-grid-column-span: $col-end - $col-start;
    grid-column: #{$col-start} / #{$col-end};
  }

  @if ($row-start != null) {
    -ms-grid-row: $row-start;
  }

  @if ($row-end != null and $row-start != null) {
    -ms-grid-row-span: $row-end - $row-start;
    grid-row: #{$row-start} / #{$row-end};
  }

}
