@charset "UTF-8";

//
// Typography
//
// Default typography styling for base HTML typography elements, including
// paragraphs and headings. Also includes special type treatment classes such as
// splash font and lead font.
//
// .su-intro-text         - Intro Text
// .su-font-splash        - Splash Font
// .su-caption            - Caption Font
// .su-credits            - Credits Font
// .su-subheading         - Subheading Font
// .su-quote-text         - Quote Text
// .su-big-paragraph      - Big Paragraph Font
// .su-small-paragraph    - Small Paragraph Font
//
// Markup: ../../templates/elements/typography/typography.twig
//
// Style guide: Elements.Typography
//
html {
  @include sans;
  font-size: $root-font-size;
}

body {
  @include modular-typography-base;
  color: $color-black;
}

p {
  line-height: $base-line-height;

  @include margin(0 null 1em null);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include displays;
}

h1 {
  @include modular-typography(4);
}

h2 {
  @include modular-typography(3);
}

h3 {
  @include modular-typography(2);
}

h4 {
  @include modular-typography(1);
}

h5 {
  @include modular-typography(0);
}

h6 {
  @include modular-typography(-1);
}

// Remove user agent styles.
cite,
var,
address,
dfn {
  font-style: normal;
}

// Custom typography.
.su-sans {
  @include sans;
}

.su-serif {
  @include serif;
}

.su-slab {
  @include slab;
}

.su-handwriting {
  @include handwriting;
}

.su-sanskrit {
  @include sanskrit;
}

.su-intro-text {
  @include intro-text;
}

.su-font-splash {
  @include font-splash;
}

.su-caption {
  @include caption;
}

.su-credits {
  @include credits;
}

.su-subheading {
  @include subheading;
}

.su-quote-text {
  @include quote-text;
}

.su-big-paragraph {
  @include big-paragraph;
}

.su-small-paragraph {
  @include small-paragraph;
}
