@charset "UTF-8";

//
// Typography
//
// Default typography styling for base HTML typography elements, including
// paragraphs and headings. Also includes special type treatment classes such as
// splash font and lead font.
//
// .su-font-lead          - Lead Font
// .su-font-splash        - Splash Font
// .su-caption            - Caption Font
// .su-credits            - Credits Font
//
// Markup: ../../templates/elements/typography/typography.twig
//
// Style guide: Elements.Typography
//

html {
  font-family: $font-sans;
  font-size: $root-font-size;
}

body {
  color: $color-black;
  font-size: $base-font-size;
}

p {
  line-height: $base-line-height;

  @include margin(1em null);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include headings;
}

//
// h1
//
// Markup: <h1>Heading Level 1</h1>
//
// Style guide: Elements.Headings.h1
//
h1 {
  @include type-style('display-a');
}

//
// h2
//
// Markup: <h2>Heading Level 2</h2>
//
// Style guide: Elements.Headings.h2
//
h2 {
  @include type-style('display-b');
}

//
// h3
//
// Markup: <h3>Heading Level 3</h3>
//
// Style guide: Elements.Headings.h3
//
h3 {
  @include type-style('display-c');
}

//
// h4
//
// Markup: <h4>Heading Level 4</h4>
//
// Style guide: Elements.Headings.h4
//
h4 {
  @include type-style('display-d');
}

//
// h5
//
// Markup: <h5>Heading Level 5</h5>
//
// Style guide: Elements.Headings.h5
//
h5 {
  @include type-style('display-e');
}

//
// h6
//
// Markup: <h6>Heading Level 6</h6>
//
// Style guide: Elements.Headings.h6
//
h6 {
  @include type-style('display-f');
}

// Remove user agent styles.
cite,
var,
address,
dfn {
  font-style: normal;
}

// Custom typography.
.su-sans {
  @include sans;
}

.su-serif {
  @include serif;
}

.su-slab {
  @include slab;
}

.su-font-lead {
  @include font-lead;
}

.su-font-splash {
  @include font-splash;
}

.su-caption {
  @include caption;
}

.su-credits {
  @include credits;
}
