html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.container {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.container::after {
  clear: both;
  content: "";
  display: table;
}

.no-sidebars #content {
  width: 100%;
}

@media screen and (min-width: 45em) {
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 100%;
  }
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 60em) {
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 100%;
  }
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}

.one-sidebar.sidebar-second #content {
  width: 100%;
}

@media screen and (min-width: 45em) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
  }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 60em) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 65.95745%;
  }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}

.one-sidebar.sidebar-first #content {
  width: 100%;
}

@media screen and (min-width: 45em) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
    margin-left: 25.80645%;
  }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 60em) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 74.46809%;
    margin-left: 25.53191%;
  }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}

.two-sidebars #content {
  width: 100%;
}

@media screen and (min-width: 45em) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 48.3871%;
    margin-left: 25.80645%;
  }
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 60em) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 40.42553%;
    margin-left: 25.53191%;
  }
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}

#sidebar-first {
  width: 100%;
}

@media screen and (min-width: 45em) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: -77.41935%;
  }
  #sidebar-first:last-child {
    margin-right: 0;
  }
  .one-sidebar.sidebar-first #sidebar-first {
    margin-left: -103.22581%;
  }
}

@media screen and (min-width: 60em) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%;
    margin-left: -68.08511%;
  }
  #sidebar-first:last-child {
    margin-right: 0;
  }
  .one-sidebar.sidebar-first #sidebar-first {
    margin-left: -102.12766%;
  }
}

#sidebar-second {
  width: 100%;
}

@media screen and (min-width: 45em) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: 0%;
  }
  #sidebar-second:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 60em) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 31.91489%;
    margin-left: 0%;
  }
  #sidebar-second:last-child {
    margin-right: 0;
  }
}

#footer {
  float: none;
  clear: both;
}

#header, #footer,
#sidebar-first,
#sidebar-second,
#navigation {
  background: rgba(170, 170, 170, 0.2);
}

#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

/*# sourceMappingURL=layout.css.map */