@charset "UTF-8";

// Fieldset

// All old code needs clean up
fieldset {
  border: 0;
}

legend {
  @include type-b;
  font-weight: $su-font-bold;
}

.su-fieldset-inputs {
  label {
    margin-top: 0;
  }
}

// New ^ 6.2.1 Fieldset Container
.su-fieldset {

  legend {
    @include responsive-spacing('margin', 2 null 1 2);

    width: 75ch;
  }
}
