@charset "UTF-8";

// Info Button Styles
.su-button--info {
  background-color: $su-color-bright-blue;
  border-radius: 50%;
  width: 15px;
  height: 15px;

  &:focus,
  &:hover {
    background-color: $su-color-blue;
  }

  &:focus {
    outline: #6ec3ff auto 2px;
  }
}
