{#
/**
 * @file
 * Default theme implementation for the basic structure of the global stanford footer
 */
#}
<div id="global-footer">
  <a href="http://www.stanford.edu/" data-ga-action="bottom-logo" class="bottom-logo"><object id="su-sig-stack_linked" data="{{ base_path ~ directory }}/assets/svg/su_sig_stack_linked.svg" alt="Stanford University" width="105" height="49" tabindex="-1">Stanford University Logo</object></a>
  <ul class="footer-links">
    <li><a href="http://www.stanford.edu">SU Home</a></li>
    <li><a href="http://visit.stanford.edu/plan/maps.html" class="su-link" data-ua-action="visit.stanford.edu/plan/maps" data-ua-label="global-footer">Maps &amp; Directions</a></li>
    <li><a href="http://stanford.edu/search/">Search Stanford</a></li>
    <li><a href="http://www.stanford.edu/site/terms.html">Terms of Use</a></li>
    <li><a href="http://emergency.stanford.edu/" class="su-link" data-ua-label="global-footer">Emergency Info</a></li>
  </ul>
  <ul class="footer-notices">
    <li><span id="termsofuse"><a href="http://www.stanford.edu/group/security/dmca.html" class="su-link" data-ua-action="copyright-complaints" data-ua-label="global-footer">Copyright Complaints</a></span></li>
    <li><a href="https://adminguide.stanford.edu/chapter-1/subchapter-5/policy-1-5-4" class="su-link" data-ua-action="trademark-notice" data-ua-label="global-footer">Trademark Notice</a></span></li>
  </ul>
  <p class="copyright vcard">© <span class="fn org">Stanford University</span>.
    <br /><span class="adr"> <span class="locality">Stanford</span>, <span class="region">California</span> <span class="postal-code">94305</span></span>.
  </p>
</div>
