@charset "UTF-8";

//
// @fancy-hover($color, $active)
//
// Display a thick bottom border that expands out from the middle when an element is hovered over.
//
// $color - Hover/focus border color. Defaults to $color-dark-red.
// $active - Active border color. Defaults to $color-black.
//
// Style guide: Mixins.Animation.Fancy Hover
//
@mixin fancy-hover-setup {
  text-decoration: none;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transition: transform .25s ease-in;
    z-index: 1;
  }

  &:hover,
  &:focus,
  &:active,
  &[aria-expanded="true"] {
    text-decoration: none;

    &:before {
      visibility: visible;
      transition: transform .25s ease-out;
    }
  }
}

@mixin fancy-hover($color: $color-dark-red, $active: $color-black) {
  @include fancy-hover-setup;
  @include padding(null null .65em);

  &:before {
    width: 100%;
    height: 6px;
    transform: scaleX(0);
  }

  &:hover,
  &:focus,
  &:active,
  &[aria-expanded="true"] {
    &:before {
      transform: scaleX(1);
    }
  }

  &:hover,
  &:focus {
    &:before {
      background-color: $color;
    }
  }

  &:active,
  &[aria-expanded="true"] {
    &:before {
      background-color: $active;
    }
  }

  &[aria-expanded="true"] {
    &:hover,
    &:focus {
      &:before {
        background-color: $color;
      }
    }
  }
}
