@charset "UTF-8";

//
// @fancy-hover-vertical($color, $active)
//
// Display a thick left border that expands out from the middle when an element is hovered over.
//
// $color - Hover/focus border color. Defaults to $color-dark-red.
// $active - Active border color. Defaults to $color-black.
//
// Style guide: Mixins.Animation.Fancy Hover Vertical
//
@mixin fancy-hover-vertical($color: $color-dark-red, $active: $color-black) {
  @include fancy-hover-setup;

  &::before {
    height: 100%;
    width: 6px;
    transform: scaleY(0);
  }

  &:hover,
  &:focus {
    &::before {
      background-color: $color;
    }
  }

  &:active,
  &[aria-expanded="true"] {
    &::before {
      background-color: $active;
    }
  }

  &:hover,
  &:focus,
  &:active,
  &[aria-expanded="true"] {
    &::before {
      transform: scaleY(1);
    }
  }
}
