@charset "UTF-8";

//
// Blastila Right - Variant
//
.layout-blastila--right {

  > div {

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "head head sidebar"
    "A B sidebar";

    > aside {
      grid-area: sidebar;
    }

    > section {
      grid-area: head;
    }

    :nth-child(3) {
      grid-area: A;
    }

    :nth-child(4) {
      grid-area: B;
    }


  }

}
