@charset "UTF-8";

///
/// TABLE BORDERLESS
///

@mixin table-borderless {
  thead {
    tr {
      background-color: transparent;
    }

    th {
      border-top: 0;
    }
  }

  th,
  td {
    border-left: 0;
    border-right: 0;
  }
}
