<div class="grid--container colors-demo">
 {% include 'colors-demo-item.twig' with { 'colorhex':'#2e2d29', 'colorname' : 'Black',           'textcolor':'#ffffff' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#8c1515', 'colorname' : 'Cardinal Red',    'textcolor':'#ffffff' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#4d4f53', 'colorname' : 'Cool Grey',       'textcolor':'#ffffff' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#ffffff', 'colorname' : 'White',           'textcolor':'#000000' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#9d9573', 'colorname' : 'Beige',           'textcolor':'#000000' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#00548f', 'colorname' : 'Blue',            'textcolor':'#ffffff' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#006cb8', 'colorname' : 'Bright Blue',     'textcolor':'#ffffff' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#b1040e', 'colorname' : 'Bright Red',      'textcolor':'#ffffff' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#5e3032', 'colorname' : 'Brown',           'textcolor':'#ffffff' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#2f2424', 'colorname' : 'Chocolate',       'textcolor':'#ffffff' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#5f574f', 'colorname' : 'Clay',            'textcolor':'#ffffff' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#dad7cb', 'colorname' : 'Cloud',           'textcolor':'#000000' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#820000', 'colorname' : 'Dark Red',        'textcolor':'#ffffff' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#b6b1a9', 'colorname' : 'Driftwood',       'textcolor':'#000000' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#f4f4f4', 'colorname' : 'Fog',             'textcolor':'#000000' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#b26f16', 'colorname' : 'Gold',            'textcolor':'#000000' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#007c92', 'colorname' : 'Lagunita',        'textcolor':'#ffffff' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#c7d1c5', 'colorname' : 'Light Sage',      'textcolor':'#000000' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#f9f6ef', 'colorname' : 'Light Sandstone', 'textcolor':'#000000' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#009b76', 'colorname' : 'Mint',            'textcolor':'#ffffff' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#e98300', 'colorname' : 'Poppy',           'textcolor':'#000000' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#175e54', 'colorname' : 'Palo Alto',       'textcolor':'#ffffff' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#53284f', 'colorname' : 'Purple',          'textcolor':'#ffffff' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#8d3c1e', 'colorname' : 'Redwood',         'textcolor':'#ffffff' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#b3995d', 'colorname' : 'Sandhill',        'textcolor':'#000000' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#d2c295', 'colorname' : 'Sandstone',       'textcolor':'#000000' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#0098db', 'colorname' : 'Sky',             'textcolor':'#000000' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#544948', 'colorname' : 'Stone',           'textcolor':'#ffffff' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#eaab00', 'colorname' : 'Sun',             'textcolor':'#000000' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#00505c', 'colorname' : 'Teal',            'textcolor':'#ffffff' } %}
 {% include 'colors-demo-item.twig' with { 'colorhex':'#3f3c30', 'colorname' : 'Warm Grey',       'textcolor':'#ffffff' } %}
</div>
