<div class="decanter-width-one-sixth" style="background: #2e2d29; color: #ffffff;">
  <div>Black</div>
  <div>#2e2d29</div>
</div>
<div class="decanter-width-one-sixth" style="background: #8c1515; color: #ffffff;">
  <div>Cardinal Red</div>
  <div>#8c1515</div>
</div>
<div class="decanter-width-one-sixth" style="background: #4d4f53; color: #ffffff;">
  <div>Cool Grey</div>
  <div>#4d4f53</div>
</div>
<div class="decanter-width-one-sixth" style="background: #ffffff;">
  <div>White</div>
  <div>#ffffff</div>
</div>
<div class="decanter-width-one-sixth" style="background: #9d9573;">
  <div>Beige</div>
  <div>#9d9573</div>
</div>
<div class="decanter-width-one-sixth" style="background: #00548f;">
  <div>Blue</div>
  <div>#00548f</div>
</div>
<div class="decanter-width-one-sixth" style="background: #006cb8;">
  <div>Bright Blue</div>
  <div>#006cb8</div>
</div>
<div class="decanter-width-one-sixth" style="background: #b1040e; color: #ffffff;">
  <div>Bright Red</div>
  <div>#b1040e</div>
</div>
<div class="decanter-width-one-sixth" style="background: #5e3032; color: #ffffff;">
  <div>Brown</div>
  <div>#5e3032</div>
</div>
<div class="decanter-width-one-sixth" style="background: #2f2424; color: #ffffff;">
  <div>Chocolate</div>
  <div>#2f2424</div>
</div>
<div class="decanter-width-one-sixth" style="background: #5f574f; color: #ffffff;">
  <div>Clay</div>
  <div>#5f574f</div>
</div>
<div class="decanter-width-one-sixth" style="background: #dad7cb;">
  <div>Cloud</div>
  <div>#dad7cb</div>
</div>
<div class="decanter-width-one-sixth" style="background: #820000;">
  <div>Dark Red</div>
  <div>#820000</div>
</div>
<div class="decanter-width-one-sixth" style="background: #b6b1a9;">
  <div>Driftwood</div>
  <div>#b6b1a9</div>
</div>
<div class="decanter-width-one-sixth" style="background: #f4f4f4;">
  <div>Fog</div>
  <div>#f4f4f4</div>
</div>
<div class="decanter-width-one-sixth" style="background: #b26f16;">
  <div>Gold</div>
  <div>#b26f16</div>
</div>
<div class="decanter-width-one-sixth" style="background: #007c92; color: #ffffff;">
  <div>Lagunita</div>
  <div>#007c92</div>
</div>
<div class="decanter-width-one-sixth" style="background: #c7d1c5;">
  <div>Light Sage</div>
  <div>#c7d1c5</div>
</div>
<div class="decanter-width-one-sixth" style="background: #f9f6ef;">
  <div>Light Sandstone</div>
  <div>#f9f6ef</div>
</div>
<div class="decanter-width-one-sixth" style="background: #009b76;">
  <div>Mint</div>
  <div>#009b76</div>
</div>
<div class="decanter-width-one-sixth" style="background: #e98300;">
  <div>Poppy</div>
  <div>#e98300</div>
</div>
<div class="decanter-width-one-sixth" style="background: #175e54; color: #ffffff;">
  <div>Palo Alto</div>
  <div>#175e54</div>
</div>
<div class="decanter-width-one-sixth" style="background: #53284f; color: #ffffff;">
  <div>Purple</div>
  <div>#53284f</div>
</div>
<div class="decanter-width-one-sixth" style="background: #8d3c1e; color: #ffffff;">
  <div>Redwood</div>
  <div>#8d3c1e</div>
</div>
<div class="decanter-width-one-sixth" style="background: #b3995d;">
  <div>Sandhill</div>
  <div>#b3995d</div>
</div>
<div class="decanter-width-one-sixth" style="background: #d2c295;">
  <div>Sandstone</div>
  <div>#d2c295</div>
</div>
<div class="decanter-width-one-sixth" style="background: #0098db;">
  <div>Sky</div>
  <div>#0098db</div>
</div>
<div class="decanter-width-one-sixth" style="background: #544948; color: #ffffff;">
  <div>Stone</div>
  <div>#544948</div>
</div>
<div class="decanter-width-one-sixth" style="background: #eaab00;">
  <div>Sun</div>
  <div>#eaab00</div>
</div>
<div class="decanter-width-one-sixth" style="background: #00505c; color: #ffffff;">
  <div>Teal</div>
  <div>#00505c</div>
</div>
<div class="decanter-width-one-sixth" style="background: #3f3c30; color: #ffffff;">
  <div>Warm Grey</div>
  <div>#3f3c30</div>
</div>
