<div class="colors-demo--item decanter-width-one-fourth" style="background: {{ colorhex }}; color: {{ textcolor }};">
  <div class="inner">
    <div class="colors-demo--colorname">{{ colorname }}</div>
    <div class="colors-demo--colorhex">{{ colorhex }}</div>
  </div>
</div>