@charset 'UTF-8';

.su-lockup--option-c {

  .su-lockup__line3,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__line1 {
    font-size: modular-scale(1.3);
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }

  .su-lockup__line2 {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    font-size: modular-scale(2.7);
    line-height: modular-scale(2.4);
  }

  .su-lockup__line5 {
    text-transform: uppercase;
    font-size: modular-scale(2.5);
    font-weight: $font-bold;
  }
}
