@charset "UTF-8";

//
// Lockup
//
// A lockup with the Stanford wordmark logo and department/unit name. It is used in the header of a website and links to the homepage of the department/unit. When building a department lockup, besides the Stanford wordmark, the most obvious element should be the most granular relevant department.
//
// .su-lockup--option-a - Option A
// .su-lockup--option-b - Option B
// .su-lockup--option-c - Option C
// .su-lockup--option-d - Option D
// .su-lockup--option-e - Option E
// .su-lockup--option-f - Option F
// .su-lockup--option-g - Option G
// .su-lockup--option-h - Option H
// .su-lockup--option-i - Option I
// .su-lockup--option-j - Option J
// .su-lockup--option-k - Option K
// .su-lockup--option-l - Option L
// .su-lockup--option-m - Option M
// .su-lockup--option-n - Option N
// .su-lockup--option-o - Option O
// .su-lockup--option-p - Option P
// .su-lockup--option-q - Option Q
// .su-lockup--option-r - Option R
//
//
// Markup: ../templates/components/lockup/lockup.twig
//
// Style guide: Components.Lockup
//
.su-lockup {
  @include flex-container;
  justify-content: flex-start;
  vertical-align: bottom;
  align-items: stretch;
}

.su-lockup__cell1 {
  flex-shrink: 1;
  padding-right: 7px;
  max-width: 160px;
  align-self: flex-end;
  border-right: solid 1px $color-black;
  @include margin(null -1px null null);
}

.su-lockup__cell2 {
  border-left: solid 1px $color-black;
  @include padding(null null null 7px);
  flex-grow: 1;
  vertical-align: bottom;
  align-self: flex-end;
}

.su-lockup__wordmark {
  @include logo;
  color: $color-cardinal-red;
  font-size: 36px;
  line-height: 1;
  vertical-align: bottom;

  @include grid-media('md') {
    font-size: 46px;
    height: 33px;
    line-height: .96;
  }
}

.su-lockup__line1,
.su-lockup__line2,
.su-lockup__line3,
.su-lockup__line4,
.su-lockup__line5 {
  @include font-smoothing;
  color: $color-black;
  display: block;
}

.su-lockup__line1 {
  font-size: 2.6rem;
}

.su-lockup__line2 {
  font-size: 2.6rem;
}

.su-lockup__line3 {
  @include margin(0.5rem null null);
  font-size: 2.6rem;
  font-style: italic;
}

.su-lockup__line4 {
  @include margin(0.5rem null null);
  font-size: 2.5rem;
  font-weight: $font-bold;
  text-transform: uppercase;
}

.su-lockup__line5 {
  width: 100%;
  font-size: 2.7rem;
  line-height: 1em;
  @include margin(10px null null null);

  @include grid-media('md') {
    font-size: 3rem;
  }
}
