@charset 'UTF-8';

//
// Lockup option G: Multidisciplinary + Unit (2 lines, big/super small)
//
.su-lockup--option-g {
  .su-lockup__line3,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__cell1 {
    > a {
      @include grid-media-only('xs') {
        @include margin(null null 7px -2px);
        @include padding(5px null 5px null);
        border-bottom: solid 1px $color-black;
        display: inline-block;
        min-width: 120px;
      }
    }
  }

  .su-lockup__line1 {
    @include margin(-.4rem null null);
    @include padding(null null 2px null);
    font-size: 1.3rem;
  }

  .su-lockup__line2 {
    line-height: 0.7em;

    @include grid-media-only('xs') {
      font-size: 1.9rem;
    }
  }

  .su-lockup__line5 {
    font-size: 2.1rem;
    text-transform: uppercase;
    font-weight: $font-bold;

    @include grid-media-only('xs') {
      @include margin(4px null null null);
    }
  }

  @include grid-media('sm') {
    text-transform: uppercase;
    font-weight: $font-bold;
  }
}
