@charset 'UTF-8';

.su-lockup--option-j {

  .su-lockup__line3,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__line1 {
    @include margin(-.8rem null null null);
    @include grid-media-only('xs') {
      @include margin(4px null null null);
    }
  }

  .su-lockup__line2 {
    line-height: 0.7em;
  }

  .su-lockup__line5 {
    font-size: 2.1rem;
    text-transform: uppercase;
    font-weight: $font-bold;
    @include grid-media-only('xs') {
      @include margin(4px null null null);
    }
  }

  .su-lockup__line1,
  .su-lockup__line2,
  .su-lockup__line5 {
    @include grid-media-only('xs') {
      @include padding(2px null);
      font-size: 1.9rem;
      font-weight: normal;
      text-transform: none;
    }
  }

}
