@charset 'UTF-8';

.su-lockup--option-d {

  .su-lockup__line2,
  .su-lockup__line4,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line1 {
    @include margin(-.8rem null null);
    @include grid-media-only('xs') {
      @include padding(null null 5px null);
      @include margin(null null 7px -2px);
      border-bottom: solid 1px $color-black;
      display: inline-block;
      min-width: 120px;
    }
  }

  .su-lockup__line3 {
    font-size: 1.8rem;
    line-height: .7em;
    font-style: italic;
  }

}
