@charset 'UTF-8';

//
// Lockup option A: Multidisciplinary (or long school name)
//
.su-lockup--option-a {

  .su-lockup__line2,
  .su-lockup__line3,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__line1 {
    font-size: 2.6rem;
    line-height: 2.6rem;

    @include grid-media-only('xs') {
      @include margin(null null 7px -2px);
      @include padding(5px null);
      display: inline-block;
      border-bottom: solid 1px $color-black;
      min-width: 120px;
      font-weight: $font-bold;
    }

    @include grid-media("sm") {
      font-size: 3.5rem;
      line-height: 0.7em;
    }
  }

  .su-lockup__line5 {
    font-size: 2.7rem;

    @include grid-media-only('xs') {
      @include margin(null null null -1px);
      font-size: 2.1rem;
      line-height: 1.8rem;
    }

    @include grid-media('sm') {
      text-transform: uppercase;
      font-weight: $font-bold;
    }

  }

}
