@charset 'UTF-8';

.su-lockup--option-b {

  .su-lockup__line3,
  .su-lockup__line4,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line1 {
    font-size: modular-scale(1.3);
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }

  .su-lockup__line2 {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    font-size: modular-scale(2.7);
    line-height: modular-scale(2.4);
  }

}
