@charset 'UTF-8';

.su-lockup--option-q {
  .su-lockup__line2,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__line1 {
    font-size: modular-scale(4.5);
  }

  .su-lockup__line3 {
    font-size: modular-scale(4.5);
    font-style: italic;
  }

  .su-lockup__line5 {
    text-transform: uppercase;
    font-size: modular-scale(4);
    font-weight: $font-bold;
  }
}
