@charset 'UTF-8';

.su-lockup--option-k {

  .su-lockup__line2,
  .su-lockup__line3,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__line1 {
    font-weight: $font-bold;
    text-transform: uppercase;
  }

  .su-lockup__line5 {
    text-transform: capitalize;
  }

}
