@charset 'UTF-8';

.su-lockup--option-d {

  .su-lockup__line2,
  .su-lockup__line4,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line1 {
    padding-bottom: 4px;
  }

  .su-lockup__line3 {
    font-size: 1.8rem;
    line-height: .7em;
    font-style: italic;
  }

}
