@charset 'UTF-8';

.su-lockup--option-d {

  .su-lockup__line2,
  .su-lockup__line4,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line3 {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    font-style: italic;
  }

}
