@charset 'UTF-8';

.su-lockup--option-g {
  .su-lockup__line3,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__line1 {
    font-size: modular-scale(1);
  }

  .su-lockup__line2 {
    font-size: modular-scale(4);
  }

  .su-lockup__line5 {
    text-transform: uppercase;
    font-weight: $font-bold;
    font-size: modular-scale(2.5);
  }
}
