@charset 'UTF-8';

//
// Lockup option A: Multidisciplinary (or long school name)
//
.su-lockup--option-a {

  > a {
    @include grid-media-only("xs") {
      display: flex;
      flex-direction: column;
    }
  }

  .su-lockup__line2,
  .su-lockup__line3,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__cell2 {
    @include grid-media-only('xs') {
      order: 3;
    }
  }

  .su-lockup__line1 {
    font-size: 2.6rem;
    line-height: 2.6rem;

    @include grid-media-only('xs') {
      @include margin(null null .75rem -2px);
      font-weight: $font-bold;
    }

    @include grid-media("sm") {
      font-size: 3.2rem;
      line-height: 0.7em;
    }
  }

  .su-lockup__line5 {
    font-size: 1.9rem;
    font-weight: $font-bold;
    text-transform: uppercase;

    @include grid-media-only('xs') {
      @include margin(7px null null -2px);
      @include padding(5px null);
      border-bottom: solid 1px $color-black;
      order: 2;
    }

    @include grid-media('sm') {
      font-size: 2.1rem;
    }
  }
}


@include grid-media-only("xs") {
  display: test;
}
