@charset 'UTF-8';

.su-lockup--option-h {

  .su-lockup__line2,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line3 {
    text-transform: capitalize;
  }

  .su-lockup__line4 {
    text-transform: uppercase;
    font-weight: $font-bold;
    font-size: modular-scale(4);
  }

}
