@charset 'UTF-8';

.su-lockup--option-i {

  .su-lockup__line2,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line4 {
    line-height: 0.95em;
    @include margin(null null -3px null);
  }

  .su-lockup__line3 {
    text-transform: capitalize;
    font-size: 1.8rem;
    line-height: 1em;
    @include margin(null null -3px null);
  }

}
