@charset 'UTF-8';

.su-lockup--option-m {

  .su-lockup__line3,
  .su-lockup__line4,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line2 {
    line-height: 0.7em;
  }

  .su-lockup__line1 {
    @include margin(-.8rem null null);
    @include grid-media-only('xs') {
      @include margin(4px null null);
    }
  }

  .su-lockup__line1,
  .su-lockup__line2 {
    @include grid-media-only('xs') {
      @include margin(null null null -2px);
      font-size: 1.9rem;
      line-height: 1.9rem;
    }
  }

}
