@charset "UTF-8";

//
// Lockup
//
// A lockup with the Stanford wordmark logo and department/unit name. It is used in the header of a website and links to the homepage of the department/unit.
//
// .su-lockup - Lockup with one line to the right of the wordmark
// .su-lockup--two-lines - Lockup with two lines to the right of the wordmark
//
// Markup: ../templates/components/lockup/lockup.twig
//
// Style guide: Components.Lockup
//

.su-lockup {
  @include display-grid;
  @include grid-columns(auto auto 1fr);
  @include grid-rows(auto auto);
  grid-gap: 7px;
  align-items: end;
  text-decoration: none;
}

.su-lockup__wordmark {
  @include logo;
  grid-row: 1 / span 1;
  font-size: 46px;
  color: $color-cardinal-red;
  height: 33px;
  line-height: .96;
}

//Put the pipe in its own CSS grid cell so that its height auto adjusts to the tallest part of the lockup
.su-lockup__pipe {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: $color-black;
}

.su-lockup__unit-line1,
.su-lockup__unit-line2,
.su-lockup__unit-line5 {
  @include font-smoothing;
  color: $color-black;
  line-height: .8;
}

.su-lockup__unit-line1 {
  grid-column: 3 / span 1;
  font-size: 30px;
}

.su-lockup__unit-line2 {
  display: none;
}

.su-lockup__unit-line5 {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  font-size: 21px;
}

.su-lockup__unit-line1--uppercase,
.su-lockup__unit-line5--uppercase {
  text-transform: uppercase;
  font-weight: 700;
}
