@charset 'UTF-8';

//
// Lockup option T: School + Unit + Level (vertical)
//
.su-lockup--option-t {

  .su-lockup__line1 {
    @include margin(0.5rem null null);
  }

  .su-lockup__line1,
  .su-lockup__line2 {
    font-size: 2rem;
  }

    .su-lockup__line3 {
      font-size: 1.5rem;
    }

  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__cell1 {
    @include padding(0);
    border-bottom: solid 1px $color-black;
    border-right: 0;
  }

  .su-lockup__cell2 {
    @include padding(0);
    border: 0;
    width: 100%;
  }
}
