@charset 'UTF-8';

//
// Lockup option Q: Multidisciplinary + Unit + Level
//
.su-lockup--option-q {
  .su-lockup__line2,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__line1 {
    @include grid-media('sm') {
      @include margin(-.7rem null null);
    }

    @include grid-media-only('xs') {
      @include margin(4px null null null);
    }
  }

  .su-lockup__line3 {
    font-size: 1.8rem;
    line-height: .7em;
    font-style: italic;

    @include grid-media-only('xs') {
      font-size: 1.9rem;
    }
  }

  .su-lockup__line5 {
    font-size: 1.9rem;
    font-weight: $font-bold;
    text-transform: uppercase;

    @include grid-media-only('xs') {
      @include margin(7px null null null);
    }

    @include grid-media('sm') {
      font-size: 2.1rem;
    }
  }

  .su-lockup__line1,
  .su-lockup__line3 {
    @include grid-media-only('xs') {
      font-size: 1.9rem;
      text-transform: none;
      font-style: normal;
      font-weight: normal;
    }
  }
}
