@charset 'UTF-8';

//
// Lockup option G: Multidisciplinary + Unit (2 lines, big/super small)
//
.su-lockup--option-g {

  > a {
    @include grid-media-only("xs") {
      display: flex;
      flex-direction: column;
    }
  }

  .su-lockup__line3,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__cell2 {
    @include grid-media-only('xs') {
      order: 3;
    }
  }

  .su-lockup__line1 {
    @include margin(.5rem null null);

    @include grid-media('sm') {
      @include margin(-.4rem null null);
    }

    @include padding(null null 2px null);
    font-size: 1.3rem;
  }

  .su-lockup__line2 {
    line-height: 0.7em;

    @include grid-media-only('xs') {
      font-size: 1.9rem;
    }
  }

  .su-lockup__line5 {
    font-size: 1.9rem;
    font-weight: $font-bold;
    text-transform: uppercase;

    @include grid-media-only('xs') {
      @include padding(5px null null);
      @include margin(4px null null null);
      order: 2;

      &::after {
        @include margin(.75rem null null);
        border-bottom: 1px solid $color-black;
        content: '';
        display: block;
        width: 120px;
      }
    }

    @include grid-media('sm') {
      font-size: 2.1rem;
    }
  }
}
