@charset 'UTF-8';

//
// Lockup option B: Unit (2 lines, big/small)
//
.su-lockup--option-b {

  .su-lockup__line3,
  .su-lockup__line4,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line1 {
    @include padding(null null 0.2em);

    @include grid-media('sm') {
      @include margin(-.4rem null null);
      font-size: 1.9rem;
    }

    @include grid-media-only('xs') {
      @include margin(.5rem null null -2px);
    }
  }

  .su-lockup__line2 {
    line-height: 0.7em;

    @include grid-media-only('xs') {
      @include margin(null null null -2px);
    }
  }
}
