@charset 'UTF-8';

.su-lockup--option-a {

  .su-lockup__line2,
  .su-lockup__line3,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__line1 {
    font-size: 3.6rem;
    line-height: 0.7em;
  }

  .su-lockup__line5 {
    text-transform: uppercase;
    font-weight: $font-bold;
  }

}
