@charset 'UTF-8';

.su-lockup--option-c {

  .su-lockup__line3,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__line1 {
    font-size: 1.9rem;
    @include padding(null null 0.2em null);
  }

  .su-lockup__line2 {
    line-height: 0.7em;
  }

  .su-lockup__line5 {
    text-transform: uppercase;
    font-weight: $font-bold;
    font-size: 2.1rem;
  }
}
