@charset "UTF-8";

//
// Typography
//
// Default typography styling for base HTML typography elements, including
// paragraphs and headings. Also includes special type treatment classes such as
// splash font and lead font.
//
// .su-font-splash        - Splash Font
// .su-type-a             - Display Type A (used for H1 heading)
// .su-type-b             - Display Type B (used for H2 heading)
// .su-type-c             - Display Type C (used for H3 heading)
// .su-type-d             - Display Type D (used for H4 heading)
// .su-type-e             - Display Type E (used for H5 heading)
// .su-type-f             - Display Type F (used for H6 heading)
// .su-intro-text         - Intro Text
// .su-caption            - Caption Font
// .su-credits            - Credits Font
// .su-subheading         - Subheading Font
// .su-quote-text         - Quote Text
// .su-big-paragraph      - Big Paragraph Font
// .su-small-paragraph    - Small Paragraph Font
//
// Markup: ../../templates/elements/typography/typography.twig
//
// Style guide: Elements.Typography
//
html {
  @include sans;
  font-size: $su-root-font-size;
}

body {
  @include modular-typography-base;
  color: $su-color-black;
}

p {
  line-height: $su-base-line-height;

  @include margin(0 null 1em null);
}

h1,
h2,
h3,
h4,
h5,
h6,
*[class^="su-type"] {
  @include types;
}

h1,
.su-type-a {
  @include type-a;
}

h2,
.su-type-b {
  @include type-b;
}

h3,
.su-type-c {
  @include type-c;
}

h4,
.su-type-d {
  @include type-d;
}

h5,
.su-type-e {
  @include type-e;
}

h6,
.su-type-f {
  @include type-f;
}

// Remove user agent styles.
cite,
var,
address,
dfn {
  font-style: normal;
}

// Custom typography.
.su-sans {
  @include sans;
}

.su-serif {
  @include serif;
}

.su-slab {
  @include slab;
}

.su-handwriting {
  @include handwriting;
}

.su-sanskrit {
  @include sanskrit;
}

.su-intro-text {
  @include intro-text;
}

.su-font-splash {
  @include font-splash;
}

.su-caption {
  @include caption;
}

.su-credits {
  @include credits;
}

.su-subheading {
  @include subheading;
}

.su-quote-text {
  @include quote-text;
}

.su-big-paragraph {
  @include big-paragraph;
}

.su-small-paragraph {
  @include small-paragraph;
}

.su-fab {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
}

.su-far {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
}

.su-fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
