@charset 'UTF-8';

$modular-spacing: (
  'xs': 32px,
  'sm': 32px,
  'md': 36px,
  'lg': 36px,
  'xl': 38px
);

//
// @modular-margin;
//
// A modular margin mixin for default spacing around an element.
//
@mixin modular-margin {

  @media #{$breakpoint-xl} {
    margin: map-get($modular-spacing, 'xl');
  }

  @media #{$breakpoint-md} {
    margin: map-get($modular-spacing, 'md');
  }

  margin: map-get($modular-spacing, 'xs');
}

// Function to get value.
@function modular-margin-get-value($breakpoint) {
  @return map-get($modular-spacing, $breakpoint);
}
