@charset 'UTF-8';

//
// @modular-margin;
//
// A modular margin mixin for default spacing around an element.
//
@mixin modular-margin {

  @media #{$breakpoint-xl} {
    margin: 38px;
  }

  @media #{$breakpoint-md} {
    margin: 36px;
  }

  margin: 32px;
}
