<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Decanter Core Page Layout Example</title>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../../css/decanter.css">
  <link rel="stylesheet" href="../../../css/decanter-kss.css">
</head>

<body>

<header class="region region--header">
  <b>Site Header</b><p>This is the site header.</p>
</header>
<div class="page-layout page-layout--three-column">
  <div role="main" class="region region--content page-layout--three-column--content">
    <b>Main Content</b>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

<p>Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

<p>Cras mattis consectetur purus sit amet fermentum. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus porttitor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  </div>
  <aside class="region region--sidebar region--sidebar-first page-layout--three-column--sidebar-first">
    <b>First Sidebar</b><p>This is the first of two sidebars in a three column layout.</p>
  </aside>
  <aside class="region region--sidebar region--sidebar-second page-layout--three-column--sidebar-second">
    <b>Second Sidebar</b><p>This is the second of two sidebars in a three column layout.</p>
  </aside>
</div>
<footer class="region region--footer">
  <b>Site Footer</b><p>This is the site footer.</p>
</footer>
  
<!-- Script -->
<script src="../../js/decanter.min.js"></script>
</body>

</html>
