@charset "UTF-8";

//
// Breakpoints
//
// Style guide: Variables.Core.Breakpoints
//

//
// $screen-xs
//
// Markup: $screen-xs: 0px !default;
//
// Styleguide: Variables.Core.Breakpoints.screen-xs
//
$screen-xs: 0 !default;

//
// $screen-sm
//
// Markup: $screen-sm: 576px !default;
//
// Styleguide: Variables.Core.Breakpoints.screen-sm
//
$screen-sm: 576px !default;

//
// $screen-md
//
// Markup: $screen-md: 768px !default;
//
// Styleguide: Variables.Core.Breakpoints.screen-md
//
$screen-md: 768px !default;

//
// $screen-lg
//
// Markup: $screen-lg: 992px !default;
//
// Styleguide: Variables.Core.Breakpoints.screen-lg
//
$screen-lg: 1024px !default;

//
// $screen-xl
//
// Markup: $screen-xl: 1200px !default;
//
// Styleguide: Variables.Core.Breakpoints.screen-xl
//
$screen-xl: 1500px !default;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//
// $columns-xs
//
// Markup: $columns-xs: 6 !default;
//
// Styleguide: Variables.Core.Breakpoints.cols-xs
//
$columns-xs: 6 !default;

//
// $columns-sm
//
// Markup: $columns-sm: 12 !default;
//
// Styleguide: Variables.Core.Breakpoints.cols-sm
//
$columns-sm: 12 !default;

//
// $columns-md
//
// Markup: $columns-md: 12 !default;
//
// Styleguide: Variables.Core.Breakpoints.cols-md
//
$columns-md: 12 !default;

//
// $columns-lg
//
// Markup: $columns-lg: 12 !default;
//
// Styleguide: Variables.Core.Breakpoints.cols-lg
//
$columns-lg: 12 !default;

//
// $columns-xl
//
// Markup: $columns-xl: 12 !default;
//
// Styleguide: Variables.Core.Breakpoints.cols-xl
//
$columns-xl: 12 !default;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//
// Gutters
//
// Style guide: Variables.Core.Gutters
//

//
// $gutter-xs
//
// Markup: $gutter-xs: 0px !default;
//
// Styleguide: Variables.Core.Gutters.gutter-xs
//
$gutter-xs: 20px !default;

//
// $gutter-sm
//
// Markup: $gutter-sm: 576px !default;
//
// Styleguide: Variables.Core.Gutters.gutter-sm
//
$gutter-sm: 20px !default;

//
// $gutter-md
//
// Markup: $gutter-md: 768px !default;
//
// Styleguide: Variables.Core.Gutters.gutter-md
//
$gutter-md: 20px !default;

//
// $gutter-lg
//
// Markup: $gutter-lg: 992px !default;
//
// Styleguide: Variables.Core.Gutters.gutter-lg
//
$gutter-lg: 30px !default;

//
// $gutter-xl
//
// Markup: $gutter-xl: 1200px !default;
//
// Styleguide: Variables.Core.Gutters.gutter-xl
//
$gutter-xl: 30px !default;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//
// $breakpoint-xs
//
// Mixin for basic mobile-first media query for xs-and-up screen size.
//
// Markup: $breakpoint-xs: (media: 'only screen and (min-width: #{$screen-xs})') !default;
//
// Styleguide: Variables.Core.Breakpoints.breakpoint-xs
//
// $breakpoint-xs: (media: 'only screen and (min-width: #{$screen-xs})') !default;
$breakpoint-xs: 'only screen and (min-width: #{$screen-xs})' !default;

//
// $breakpoint-sm
//
// Mixin for basic mobile-first media query for sm-and-up screen size.
//
// Markup: $breakpoint-sm: (media: 'only screen and (min-width: #{$screen-sm})') !default;
//
// Styleguide: Variables.Core.Breakpoints.breakpoint-sm
//
// $breakpoint-sm: (media: 'only screen and (min-width: #{$screen-sm})') !default;
$breakpoint-sm: 'only screen and (min-width: #{$screen-sm})' !default;

//
// $breakpoint-md
//
// Mixin for basic mobile-first media query for md-and-up screen size.
//
// Markup: $breakpoint-md: (media: 'only screen and (min-width: #{$screen-md})') !default;
//
// Styleguide: Variables.Core.Breakpoints.breakpoint-md
//
// $breakpoint-md: (media: 'only screen and (min-width: #{$screen-md})') !default;
$breakpoint-md: 'only screen and (min-width: #{$screen-md})' !default;

//
// $breakpoint-lg
//
// Mixin for basic mobile-first media query for lg-and-up screen size.
//
// Markup: $breakpoint-lg: (media: 'only screen and (min-width: #{$screen-lg})') !default;
//
// Styleguide: Variables.Core.Breakpoints.breakpoint-lg
//
// $breakpoint-lg: (media: 'only screen and (min-width: #{$screen-lg})') !default;
$breakpoint-lg: 'only screen and (min-width: #{$screen-lg})' !default;

//
// $breakpoint-xl
//
// Mixin for basic mobile-first media query for xl-and-up screen size.
//
// Markup: $breakpoint-xl: (media: 'only screen and (min-width: #{$screen-xl})') !default;
//
// Styleguide: Variables.Core.Breakpoints.xl
//
// $breakpoint-xl: (media: 'only screen and (min-width: #{$screen-xl})') !default;
$breakpoint-xl: 'only screen and (min-width: #{$screen-xl})' !default;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//
// $grid-xs
//
// Mixin for basic mobile-first media query for xs (and up) screen size.
//
// Markup: $grid-xs: (columns: $columns-xs, gutter: $gutter-xs, media: $screen-xs);
//
// Styleguide: Variables.Core.Breakpoints.grid-xs
//
$grid-xs: (columns: $columns-xs, gutter: $gutter-xs, media: $screen-xs);

//
// $grid-xs
//
// Mixin for basic mobile-first media query for sm (and up) screen size.
//
// Markup: $grid-sm: (columns: $columns-sm, gutter: $gutter-sm, media: $screen-sm);
//
// Styleguide: Variables.Core.Breakpoints.grid-sm
//
$grid-sm: (columns: $columns-sm, gutter: $gutter-sm, media: $screen-sm);

//
// $grid-md
//
// Mixin for basic mobile-first media query for md (and up) screen size.
//
// Markup: $grid-md: (columns: $columns-md, gutter: $gutter-md, media: $screen-md);
//
// Styleguide: Variables.Core.Breakpoints.grid-md
//
$grid-md: (columns: $columns-md, gutter: $gutter-md, media: $screen-md);

//
// $grid-lg
//
// Mixin for basic mobile-first media query for lg (and up) screen size.
//
// Markup: $grid-lg: (columns: $columns-lg, gutter: $gutter-lg, media: $screen-lg);
//
// Styleguide: Variables.Core.Breakpoints.grid-lg
//
$grid-lg: (columns: $columns-lg, gutter: $gutter-lg, media: $screen-lg);

//
// $grid-xl
//
// Mixin for basic mobile-first media query for xl (and up) screen size.
//
// Markup: $grid-xl: (columns: $columns-xl, gutter: $gutter-xl, media: $screen-xl);
//
// Styleguide: Variables.Core.Breakpoints.grid-xl
//
$grid-xl: (columns: $columns-xl, gutter: $gutter-xl, media: $screen-xl);
