@charset "UTF-8";

//
// Breakpoints
//
// Style guide: Variables.Core.Breakpoints
//

//
// $screen-xs
//
// Markup: $screen-xs: 0px !default;
//
// Styleguide: Variables.Core.Breakpoints.screen-xs
//
$screen-xs: 0 !default;

//
// $screen-sm
//
// Markup: $screen-sm: 576px !default;
//
// Styleguide: Variables.Core.Breakpoints.screen-sm
//
$screen-sm: 576px !default;

//
// $screen-md
//
// Markup: $screen-md: 768px !default;
//
// Styleguide: Variables.Core.Breakpoints.screen-md
//
$screen-md: 768px !default;

//
// $screen-lg
//
// Markup: $screen-lg: 992px !default;
//
// Styleguide: Variables.Core.Breakpoints.screen-lg
//
$screen-lg: 1024px !default;

//
// $screen-xl
//
// Markup: $screen-xl: 1200px !default;
//
// Styleguide: Variables.Core.Breakpoints.screen-xl
//
$screen-xl: 1500px !default;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//
// $breakpoint-xs
//
// Mixin for basic mobile-first media query for xs-and-up screen size.
//
// Markup: $breakpoint-xs: (media: 'only screen and (min-width: #{$screen-xs})') !default;
//
// Styleguide: Variables.Core.Breakpoints.breakpoint-xs
//
$breakpoint-xs: (media: 'only screen and (min-width: #{$screen-xs})') !default;

//
// $breakpoint-sm
//
// Mixin for basic mobile-first media query for sm-and-up screen size.
//
// Markup: $breakpoint-sm: (media: 'only screen and (min-width: #{$screen-sm})') !default;
//
// Styleguide: Variables.Core.Breakpoints.breakpoint-sm
//
$breakpoint-sm: (media: 'only screen and (min-width: #{$screen-sm})') !default;

//
// $breakpoint-md
//
// Mixin for basic mobile-first media query for md-and-up screen size.
//
// Markup: $breakpoint-md: (media: 'only screen and (min-width: #{$screen-md})') !default;
//
// Styleguide: Variables.Core.Breakpoints.breakpoint-md
//
$breakpoint-md: (media: 'only screen and (min-width: #{$screen-md})') !default;

//
// $breakpoint-lg
//
// Mixin for basic mobile-first media query for lg-and-up screen size.
//
// Markup: $breakpoint-lg: (media: 'only screen and (min-width: #{$screen-lg})') !default;
//
// Styleguide: Variables.Core.Breakpoints.breakpoint-lg
//
$breakpoint-lg: (media: 'only screen and (min-width: #{$screen-lg})') !default;

//
// $breakpoint-xl
//
// Mixin for basic mobile-first media query for xl-and-up screen size.
//
// Markup: $breakpoint-xl: (media: 'only screen and (min-width: #{$screen-xl})') !default;
//
// Styleguide: Variables.Core.Breakpoints.xl
//
$breakpoint-xl: (media: 'only screen and (min-width: #{$screen-xl})') !default;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//
// $grid-xs
//
// Mixin for basic mobile-first media query for xs (and up) screen size.
//
// Markup: $grid-xs: (columns: $columns-sm, gutter: 0, media: $screen-xs);
//
// Styleguide: Variables.Core.Breakpoints.grid-xs
//
$grid-xs: (columns: 6, gutter: 20px, media: $screen-xs);

//
// $grid-md
//
// Mixin for basic mobile-first media query for md (and up) screen size.
//
// Markup: $grid-md: (columns: $columns-md, gutter: 0, media: $screen-md);
//
// Styleguide: Variables.Core.Breakpoints.grid-md
//
$grid-md: (columns: 12, gutter: 20px, media: $screen-md);

//
// $grid-lg
//
// Mixin for basic mobile-first media query for lg (and up) screen size.
//
// Markup: $grid-lg: (columns: $columns-lg, gutter: 0, media: $screen-lg);
//
// Styleguide: Variables.Core.Breakpoints.grid-lg
//
$grid-lg: (columns: 12, gutter: 30px, media: $screen-lg);
