@charset "UTF-8";

//
// Breakpoints
//
// Style guide: Variables.Core.Breakpoints
//

//
// $small-screen
//
// Markup: $small-screen:  481px !default;
//
// Styleguide: Variables.Core.Breakpoints.small-screen
//
$small-screen: 481px !default;

//
// $medium-screen
//
// Markup: $medium-screen: 600px !default;
//
// Styleguide: Variables.Core.Breakpoints.medium-screen
//
$medium-screen: 600px !default;

//
// $large-screen
//
// Markup: $large-screen: 1201px !default;
//
// Styleguide: Variables.Core.Breakpoints.large-screen
//
$large-screen: 1201px !default;

//
// $grid-columns-small
//
// Grid column count by screen size.
//
// Markup: $grid-columns-small:  1 !default;
//
// Styleguide: Variables.Core.Breakpoints.grid-columns-small
//
$grid-columns-small: 1 !default;

//
// $grid-columns-medium
//
// Grid column count by screen size.
//
// Markup: $grid-columns-medium:  6 !default;
//
// Styleguide: Variables.Core.Breakpoints.grid-columns-medium
//
$grid-columns-medium: 6 !default;

//
// $grid-columns-large
//
// Grid column count by screen size.
//
// Markup: $grid-columns-large:  12 !default;
//
// Styleguide: Variables.Core.Breakpoints.grid-columns-large
//
$grid-columns-large: 12 !default;

//
// $small
//
// @media mixin keyword helper
//
// Markup: $small: new-breakpoint(min-width $small-screen $grid-columns-small) !default;
//
// Styleguide: Variables.Core.Breakpoints.small
//
$small: new-breakpoint(min-width $small-screen $grid-columns-small) !default;

//
// $medium
//
// @media mixin keyword helper
//
// Markup: $medium: new-breakpoint(min-width $medium-screen $grid-columns-medium) !default;
//
// Styleguide: Variables.Core.Breakpoints.medium
//
$medium: new-breakpoint(min-width $medium-screen $grid-columns-medium) !default;

//
// $large
//
// @media mixin keyword helper
//
// Markup: $large: new-breakpoint(min-width $large-screen $grid-columns-large) !default;
//
// Styleguide: Variables.Core.Breakpoints.large
//
$large: new-breakpoint(min-width $large-screen $grid-columns-large) !default;
