@charset "UTF-8";

//
// Colors
//
// Default color palette. Primary colors include Cardinal Red, White, Cool Grey,
// and Black. All other colors are supporting colors.
// See complete color palette at
// http://identity.stanford.edu/color.html#digital-color.
//
// Style guide: Variables.Core.Colors
//

//
// $color-black
//
// Markup: $color-black: #2e2d29 !default;
//
// Styleguide: Variables.Core.Colors.black
//
$color-black: #2e2d29 !default;

//
// $color-cardinal-red
//
// Markup: $color-cardinal-red: #8c1515 !default;
//
// Styleguide: Variables.Core.Colors.color-cardinal-red
//
$color-cardinal-red: #8c1515 !default;

//
// $color-cool-grey
//
// Markup: $color-cool-grey: #4d4f53 !default;
//
// Styleguide: Variables.Core.Colors.color-cool-grey
//
$color-cool-grey: #4d4f53 !default;

//
// $color-white
//
// Markup: $color-white: #ffffff !default;
//
// Styleguide: Variables.Core.Colors.color-white
//
$color-white: #ffffff !default;

//
// $color-beige
//
// Markup: $color-beige: #9d9573 !default;
//
// Styleguide: Variables.Core.Colors.color-beige
//
$color-beige: #9d9573 !default;

//
// $color-blue
//
// Markup: $color-blue: #00548f !default;
//
// Styleguide: Variables.Core.Colors.color-blue
//
$color-blue: #00548f !default;

//
// $color-bright-blue
//
// Markup: $color-bright-blue: #006cb8 !default;
//
// Styleguide: Variables.Core.Colors.color-bright-blue
//
$color-bright-blue: #006cb8 !default;

//
// $color-bright-red
//
// Markup: $color-bright-red: #b1040e !default;
//
// Styleguide: Variables.Core.Colors.color-bright-red
//
$color-bright-red: #b1040e !default;

//
// $color-brown
//
// Markup: $color-brown: #5e3032 !default;
//
// Styleguide: Variables.Core.Colors.color-brown
//
$color-brown: #5e3032 !default;

//
// $color-chocolate
//
// Markup: $color-chocolate: #2f2424 !default;
//
// Styleguide: Variables.Core.Colors.color-chocolate
//
$color-chocolate: #2f2424 !default;

//
// $color-clay
//
// Markup: $color-clay: #5f574f !default;
//
// Styleguide: Variables.Core.Colors.color-clay
//
$color-clay: #5f574f !default;

//
// $color-cloud
//
// Markup: $color-cloud: #dad7cb !default;
//
// Styleguide: Variables.Core.Colors.color-cloud
//
$color-cloud: #dad7cb !default;

//
// $color-dark-red
//
// Markup: $color-dark-red: #820000 !default;
//
// Styleguide: Variables.Core.Colors.color-dark-red
//
$color-dark-red: #820000 !default;

//
// $color-driftwood
//
// Markup: $color-driftwood: #b6b1a9 !default;
//
// Styleguide: Variables.Core.Colors.color-driftwood
//
$color-driftwood: #b6b1a9 !default;

//
// $color-fog
//
// Markup: $color-fog: #f4f4f4 !default;
//
// Styleguide: Variables.Core.Colors.color-fog
//
$color-fog: #f4f4f4 !default;

//
// $color-gold
//
// Markup: $color-gold: #b26f16 !default;
//
// Styleguide: Variables.Core.Colors.color-gold
//
$color-gold: #b26f16 !default;

//
// $color-lagunita
//
// Markup: $color-lagunita: #007c92 !default;
//
// Styleguide: Variables.Core.Colors.color-lagunita
//
$color-lagunita: #007c92 !default;

//
// $color-light-sage
//
// Markup: $color-light-sage: #c7d1c5 !default;
//
// Styleguide: Variables.Core.Colors.color-light-sage
//
$color-light-sage: #c7d1c5 !default;

//
// $color-light-sandstone
//
// Markup: $color-light-sandstone: #f9f6ef !default;
//
// Styleguide: Variables.Core.Colors.color-light-sandstone
//
$color-light-sandstone: #f9f6ef !default;

//
// $color-mint
//
// Markup: $color-mint: #009b76 !default;
//
// Styleguide: Variables.Core.Colors.color-mint
//
$color-mint: #009b76 !default;

//
// $color-poppy
//
// Markup: $color-poppy: #e98300 !default;
//
// Styleguide: Variables.Core.Colors.color-poppy
//
$color-poppy: #e98300 !default;

//
// $color-palo-alto
//
// Markup: $color-palo-alto: #175e54 !default;
//
// Styleguide: Variables.Core.Colors.color-palo-alto
//
$color-palo-alto: #175e54 !default;

//
// $color-purple
//
// Markup: $color-purple: #53284f !default;
//
// Styleguide: Variables.Core.Colors.color-purple
//
$color-purple: #53284f !default;

//
// $color-redwood
//
// Markup: $color-redwood: #8d3c1e !default;
//
// Styleguide: Variables.Core.Colors.color-redwood
//
$color-redwood: #8d3c1e !default;

//
// $color-sandhill
//
// Markup: $color-sandhill: #b3995d !default;
//
// Styleguide: Variables.Core.Colors.color-sandhill
//
$color-sandhill: #b3995d !default;

//
// $color-sandstone
//
// Markup: $color-sandstone: #d2c295 !default;
//
// Styleguide: Variables.Core.Colors.color-sandstone
//
$color-sandstone: #d2c295 !default;

//
// $color-sky
//
// Markup: $color-sky: #0098db !default;
//
// Styleguide: Variables.Core.Colors.color-sky
//
$color-sky: #0098db !default;

//
// $color-stone
//
// Markup: $color-stone: #544948 !default;
//
// Styleguide: Variables.Core.Colors.color-stone
//
$color-stone: #544948 !default;

//
// $color-sun
//
// Markup: $color-sun: #eaab00 !default;
//
// Styleguide: Variables.Core.Colors.color-sun
//
$color-sun: #eaab00 !default;

//
// $color-teal
//
// Markup: $color-teal: #00505c !default;
//
// Styleguide: Variables.Core.Colors.color-teal
//
$color-teal: #00505c !default;

//
// $color-warm-grey
//
// Markup: $color-warm-grey: #3f3c30 !default;
//
// Styleguide: Variables.Core.Colors.color-warm-grey
//
$color-warm-grey: #3f3c30 !default;
