@charset "UTF-8";

//
// Magic Numbers
//
// Unique and resuable values with multiple occurrences.
//
// Style guide: Variables.Core.Magic
//

//
// $text-max-width
//
// For setting a max-width to a portion of text.
//
// Markup: $text-max-width: 70rem !default;
//
// Styleguide: Variables.Core.Magic.text-max-width
//
$text-max-width: 70rem !default;

//
// $lead-max-width
//
// For setting the max-width for the lead font style.
//
// Markup: $lead-max-width: 85rem !default;
//
// Styleguide: Variables.Core.Magic.lead-max-width
//
$lead-max-width: 85rem !default;

//
// $site-max-width
//
// For setting the max-width of the project's grid system.
//
// Markup: $site-max-width: 1220px !default;
//
// Styleguide: Variables.Core.Magic.site-max-width
//
$site-max-width: 1220px !default;

//
// $site-margins
//
// For setting the margins of the project's grid system.
//
// Markup: $site-margins: 3rem !default;
//
// Styleguide: Variables.Core.Magic.site-margins
//
$site-margins:        3rem !default;

//
// $site-margins-mobile
//
// For setting the margins of the project's grid system in mobile.
//
// Markup: $site-margins-mobile: 1.5rem !default;
//
// Styleguide: Variables.Core.Magic.site-margins-mobile
//
$site-margins-mobile: 1.5rem !default;

//
// $input-max-width
//
// For setting the max-width of input fields.
//
// Markup: $input-max-width: 46rem !default;
//
// Styleguide: Variables.Core.Magic.input-max-width
//
$input-max-width: 46rem !default;

//
// $border-radius
//
// For setting the default border-radius.
//
// Markup: $border-radius: 3px !default;
//
// Styleguide: Variables.Core.Magic.border-radius
//
$border-radius: 3px !default;

//
// $box-shadow
//
// For settings the default box-shadow.
//
// Markup: $box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2) !default;
//
// Styleguide: Variables.Core.Magic.box-shadow
//
$box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2) !default;

//
// $focus-shadow
//
// For settings the default focus to be applied to items in their focus state.
//
// Markup: $focus-shadow: 0 0 3px $color-cool-grey, 0 0 7px $color-cool-grey !default;
//
// Styleguide: Variables.Core.Magic.focus-shadow
//
$focus-shadow: 0 0 3px $color-cool-grey, 0 0 7px $color-cool-grey !default;

//
// $nav-width
//
// For setting the width of the navigation.
//
// Markup: $nav-width: 951px !default;
//
// Styleguide: Variables.Core.Magic.nav-width
//
$nav-width: 951px !default;

//
// $hit-area
//
// 44 x 44 pixels hit target following Apple iOS Human Interface Guidelines.
//
// Markup: $hit-area: 4.4rem !default;
//
// Styleguide: Variables.Core.Magic.hit-area
//
$hit-area: 4.4rem !default;
