@charset "UTF-8";

///
/// MAGIC NUMBERS VARIABLES
///

// Every variable is declared as !default so that it can be
// overridden by a previous import.
//
// If you want to override a variable, set that variable in one of your
// own partials, then @import '{path/to/}core/variables'.

$text-max-width:      70rem !default;
$lead-max-width:      85rem !default;
$site-max-width:      1040px !default;
$site-margins:        3rem !default;
$site-margins-mobile: 1.5rem !default;
$article-max-width:   600px !default;
$input-max-width:     46rem !default;
$border-radius:       3px !default;
$box-shadow:          0 2px 2px 0 rgba(0,0,0,0.2) !default;
$focus-shadow:        0 0 3px $color-cool-grey, 0 0 7px $color-cool-grey !default;
$nav-width:           951px !default;
// 44 x 44 pixels hit target following Apple iOS Human Interface
// Guidelines.
$hit-area: 4.4rem !default;
