@charset "UTF-8";

///
/// TYPOGRAPHY VARIABLES
///

// Every variable is declared as !default so that it can be
// overridden by a previous import.
//
// If you want to override a variable, set that variable in one of your
// own partials, then @import '{path/to/}core/variables'.

// Removing the !default from $em-base so we are not inheriting that
// value from Bourbon.

// Font size.
$em-base:             10px;
$base-font-size:      2rem !default;
$small-font-size:     1.7rem !default;
$lead-font-size:      2.3rem !default;
$title-font-size:     5.5rem !default;
$h1-font-size:        4.3rem !default;
$h2-font-size:        3.3rem !default;
$h3-font-size:        2.3rem !default;
$h4-font-size:        2rem !default;
$h5-font-size:        1.8rem !default;
$h6-font-size:        1.6rem !default;

// Line height.
$base-line-height:    1.4 !default;
$heading-line-height: 1.2 !default;
$lead-line-height:    1.5 !default;

// Font family.
$font-sans:           'Source Sans Pro', $helvetica !default;
$font-serif:          'Crimson Text', $georgia !default;
$font-slab:           'Roboto Slab', $georgia !default;

// Font weight.
$font-light:          100 !default;
$font-normal:         400 !default;
$font-bold:           700 !default;
