@charset "UTF-8";

//
// Typography
//
// Style guide: Variables.Core.Typography
//

//
// $em-base
//
// Font size.
// Removing the !default from $em-base so we are not inheriting that
// value from Bourbon.
//
// Markup: $em-base: 10px;
//
// Style guide: Variables.Core.Typography.em-base
//
$em-base: 10px;

//
// $base-font-size
//
// Font size.
//
// Markup: $base-font-size: 2rem !default;
//
// Style guide: Variables.Core.Typography.base-font-size
//
$base-font-size: 2rem !default;

//
// $small-font-size
//
// Font size.
//
// Markup: $small-font-size: 1.7rem !default;
//
// Style guide: Variables.Core.Typography.small-font-size
//
$small-font-size: 1.7rem !default;

//
// $lead-font-size
//
// Font size.
//
// Markup: $lead-font-size: 2.3rem !default;
//
// Style guide: Variables.Core.Typography.lead-font-size
//
$lead-font-size: 2.3rem !default;

//
// $splash-font-size
//
// Font size.
//
// Markup: $splash-font-size: 5.5rem !default;
//
// Style guide: Variables.Core.Typography.splash-font-size
//
$splash-font-size: 5.5rem !default;

//
// $h1-font-size
//
// Font size.
//
// Markup: $h1-font-size: 4.3rem !default;
//
// Style guide: Variables.Core.Typography.h1-font-size
//
$h1-font-size: 4.3rem !default;

//
// $h2-font-size
//
// Font size.
//
// Markup: $h2-font-size: 3.3rem !default;
//
// Style guide: Variables.Core.Typography.h2-font-size
//
$h2-font-size: 3.3rem !default;

//
// $h3-font-size
//
// Font size.
//
// Markup: $h3-font-size: 2.3rem !default;
//
// Style guide: Variables.Core.Typography.h3-font-size
//
$h3-font-size: 2.3rem !default;

//
// $h4-font-size
//
// Font size.
//
// Markup: $h4-font-size: 2rem !default;
//
// Style guide: Variables.Core.Typography.h4-font-size
//
$h4-font-size: 2rem !default;

//
// $h5-font-size
//
// Font size.
//
// Markup: $h5-font-size: 1.8rem !default;
//
// Style guide: Variables.Core.Typography.h5-font-size
//
$h5-font-size: 1.8rem !default;

//
// $h6-font-size
//
// Font size.
//
// Markup: $h6-font-size: 1.6rem !default;
//
// Style guide: Variables.Core.Typography.h6-font-size
//
$h6-font-size: 1.6rem !default;


//
// $base-line-height
//
// Default line height.
//
// Markup: $base-line-height: 1.4 !default;
//
// Style guide: Variables.Core.Typography.base-line-height
//
$base-line-height: 1.4 !default;

//
// $heading-line-height
//
// Default line height.
//
// Markup: $heading-line-height: 1.2 !default;
//
// Style guide: Variables.Core.Typography.heading-line-height
//
$heading-line-height: 1.2 !default;

//
// $lead-line-height
//
// Default line height.
//
// Markup: $lead-line-height: 1.5 !default;
//
// Style guide: Variables.Core.Typography.lead-line-height
//
$lead-line-height: 1.5 !default;


//
// $font-sans
//
// font-sans Font family.
//
// Markup: $font-sans: 'Source Sans Pro', $helvetica !default;
//
// Style guide: Variables.Core.Typography.font-sans
//
$font-sans: 'Source Sans Pro', $font-stack-helvetica !default;

//
// $font-serif
//
// font-serif Font family.
//
// Markup: $font-serif: 'Crimson Text', $georgia !default;
//
// Style guide: Variables.Core.Typography.font-serif
//
$font-serif: 'Crimson Text', $font-stack-georgia !default;

//
// $font-slab
//
// font-slab Font family.
//
// Markup: $font-slab: 'Roboto Slab', $georgia !default;
//
// Style guide: Variables.Core.Typography.font-slab
//
$font-slab: 'Roboto Slab', $font-stack-georgia !default;


//
// $font-x-light
//
// font-x-light Font weight.
//
// Markup: $font-x-light: 100 !default;
//
// Style guide: Variables.Core.Typography.font-x-light
//
$font-x-light: 100 !default;

//
// $font-light
//
// font-light Font weight.
//
// Markup: $font-light: 200 !default;
//
// Style guide: Variables.Core.Typography.font-light
//
$font-light: 200 !default;

//
// $font-normal
//
// font-normal Font weight.
//
// Markup: $font-normal: 400 !default;
//
// Style guide: Variables.Core.Typography.font-normal
//
$font-normal: 400 !default;

//
// $font-bold
//
// font-bold Font weight.
//
// Markup: $font-bold: 600 !default;
//
// Style guide: Variables.Core.Typography.font-bold
//
$font-bold: 600 !default;

//
// $font-x-bold
//
// font-x-bold Font weight.
//
// Markup: $font-x-bold: 700 !default;
//
// Style guide: Variables.Core.Typography.font-x-bold
//
$font-x-bold: 700 !default;
