$breakpoint-helper: true;

@import "decanter";

body > header {
  @include centered-container;
  background-color: color(aqua);
  text-align: center;
}

.grid-container {
  @include grid-container;
}

.grid-collapse {
  @include grid-collapse;
}

.column--full {
  @include grid-column(1 of 1);
}

.centered-container-10 {
  @include centered-container(10);
  &:nth-of-type(even) {
    background-color: tint(color(light-grey), 60%);
  }
}

.example-1 {
  background-color: color(blue);
  color: color(reverse-text);
  padding: 1em;
}
$custom-color-palette: (background: #003111, text: #F4BFF0);

.example-2 {
  padding: 1em;
  background-color: color(background, $custom-color-palette);
  color: color(text, $custom-color-palette);
}

@include color-theme($custom-color-palette, '.example-3') {
  padding: 1em;
  background-color: color(background);
  color: color(text);
}

$theme--blue: (background: #192f8c, text: #8cccf4);
$theme--green: (background: #003111, text: #b5f4c8);
$theme--orange: (background: #ad6200, text: #f4ce97);
$custom-theme-group: (
    default:  ( palette: $colors, selector: 'p' ),
    blue: ( palette: $theme--blue, selector: 'p.theme--blue' ),
    green: ( palette: $theme--green, selector: 'p.theme--green' ),
    orange: ( palette: $theme--orange, selector: 'p.theme--orange' ),
);

.example-4 {
  @include flex-items-per-row(4, $children: 'p');
  div {
    @include grid-column(1 of 1);
    margin-bottom: 1em;
  }
  @include color-themes($custom-theme-group) {
    color: color(text);
    background-color: color(background);
    padding: 1em;
  }
  p:nth-of-type(1) {
    box-shadow: material-shadow(flat);
  }
  p:nth-of-type(2) {
    box-shadow: material-shadow(shallow);
  }
  p:nth-of-type(3) {
    box-shadow: material-shadow(7);
  }
  p:nth-of-type(4) {
    box-shadow: material-shadow(deep);
  }
}
