<div class="colors-demo--item grid--3-of-12" style="background: {{ colorhex }}; color: {{ textcolor }};">
  <div class="inner">
    <div class="colors-demo--colorname">{{ colorname }}</div>
    <div class="colors-demo--colorhex">{{ colorhex }}</div>
  </div>
</div>