<section id="su-brand-bar" class="su-brand-bar {{ modifier_class }}">
  <div class="su-brand-bar__container"><a{{ attributes }} class="su-brand-bar__logo" href="https://stanford.edu">Stanford University</a></div>
</section>