{#
/**
 * @file
 * Masthead Component.
 *
 * Masthead includes the Stanford brand bar (or a top stroke), skiplink, logo lockup, site search and main navigation.
 *
 * .su-masthead--center - Center-aligned main nav
 * .su-masthead--right - Right-aligned main nav
 * .su-masthead--light - Masthead with the light variant of main nav
 * .su-masthead--stroke - Masthead with a top red stroke and no brand bar
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - modifier_class: Additional css classes to change look and behaviour.
 */
#}
<section class="su-masthead {{ modifier_class }}" {{ attributes }}>
  {% if "su-masthead--light" in modifier_class %}
    {% set masthead_nav_modifier_class = "su-main-nav--light su-main-nav--mobile-search" %}
  {% endif %}

  {% include "@decanter/components/skiplinks/link.twig" with
    {
      "modifier_class": masthead_skiplinks_modifier_class,
      "attributes": masthead_skiplinks_attributes,
      "target_id": masthead_skiplinks_target_id,
      "link_text": masthead_skiplinks_link_text
    }
  %}

  {% if "su-masthead--stroke" not in modifier_class %}
    {% include "@decanter/components/brand-bar/brand-bar.twig" with
      {
        "modifier_class": masthead_brandbar_modifier_class,
        "attributes": masthead_brandbar_attributes
      }
    %}
  {% endif %}

  <section>
  {% include "@decanter/components/lockup/lockup.twig" with
    {
      "modifier_class": masthead_lockup_modifier_class,
      "attributes": masthead_lockup_attributes,
      "link": masthead_lockup_link,
      "line1": masthead_lockup_line1,
      "line2": masthead_lockup_line2,
      "line3": masthead_lockup_line3,
      "line4": masthead_lockup_line4,
      "line5": masthead_lockup_line5
    }
  %}

  {% include "@decanter/components/site-search/site-search.twig" with
    {
      "modifier_class": masthead_search_modifier_class,
      "attributes": masthead_search_attributes,
      "action": masthead_search_action,
      "method": masthead_search_method,
      "search_label": masthead_search_label,
      "placeholder": masthead_search_placeholder,
      "search_input_name": masthead_search_input_name
    }
  %}

  {% include "@decanter/components/main-nav/main-nav.twig" with
    {
      "modifier_class": masthead_nav_modifier_class,
      "toggle_modifier_class": "su-main-nav__toggle--right",
      "toggle_text": masthead_nav_toggle_text,
      "list_items": masthead_nav_list_items
    }
  %}
  </section>
</section>
