@charset "UTF-8";

//
// Card
//
// One of the primary building block compontents. This card component comes with
// several variants to ensure flexibility.
//
// .su-card--horizontal - Postcard
//
// Markup: ../templates/components/card/card.twig
//
// Style guide: Components.Card
//
.su-card {
  @include box-shadow('shallow');

  > img {
    width: 100%;

    // Hide the image on the smallest screen sizes.
    @media #{$breakpoint-xs-only} {
      display: none;
    }
  }
}

// Card contents spacing.
.su-card__contents {
  @include modular-margin;

  *:last-child {
    margin-bottom: 0;
  }
}

// Call to action link.
.su-card__cta-link {
  display: block;
}

// Button to click on.
.su-card__button {
  text-align: center;
}
