@charset "UTF-8";

//
// Horizontal Card
//
.su-card--horizontal {
  // Set up the grid for this component.
  @include display-grid;

  // One column on smallest screen sizes.
  @include grid-media("xs") {
    @include grid-columns(100%);
    @include grid-gap('xs');
  }

  // 33/66 for small.
  @include grid-media("sm") {
    @include grid-columns(1fr 2fr);
    @include grid-gap('sm');
  }

  // 50/50 side by side on all screen sizes above small.
  @include grid-media("md") {
    @include grid-columns(1fr 1fr);
    @include grid-gap('md');
  }

  @include grid-media("lg") {
    @include grid-gap('lg');
  }

  @include grid-media("xl") {
    @include grid-gap('xl');
  }

  @include grid-media("2xl") {
    @include grid-gap('2xl');
  }

  // Modular padding.
  > img,
  .su-card__contents {
    @include modular-padding(2);
  }

  img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .su-card__contents {
    -ms-grid-row: 2;
    -ms-grid-column: 1;

    @include grid-media('sm') {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
    }

    > h2 {
      @include grid-media-max('sm') {
        margin-top: 0;
      }
    }
  }

}
