@charset "UTF-8";

//
// Lockup option G: Multidisciplinary + Unit (2 lines, big/super small)
// @deprecated  will be removed in Version 7
//
.su-lockup--option-g {

  > a {
    @include grid-media-max('sm') {
      display: flex;
      flex-direction: column;
    }
  }

  .su-lockup__line3,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__cell2 {
    @include grid-media-max('sm') {
      order: 3;
    }
  }

  .su-lockup__line1 {
    @include margin(0.5rem null 2px);

    @include grid-media('md') {
      @include margin(-0.4rem null 2px);
      font-size: 1.3rem;
    }

    @include grid-media-max('sm') {
      @include margin(0 null 0.2rem -2px);
    }
  }

  .su-lockup__line2 {
    @include margin(null null null -2px);
    line-height: 0.7em;

    @include grid-media-max('sm') {
      line-height: 2.6rem;
    }
  }

  .su-lockup__line5 {
    font-size: 2rem;
    font-weight: $su-font-semi-bold;
    text-transform: uppercase;

    @include grid-media-max('sm') {
      @include margin(0.75rem null null);
      order: 2;

      &::after {
        @include margin(1rem null 0.5rem);
        border-bottom: 1px solid $su-color-black;
        content: '';
        display: block;
        width: 120px;
      }
    }

    @include grid-media('md') {
      font-size: 2.1rem;
    }
  }
}
