@charset "UTF-8";

//
// Lockup option F: Unit (2 lines, big/super small)
//
.su-lockup--option-f {

  .su-lockup__line3,
  .su-lockup__line4,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line1 {
    @include margin(0.5rem null 2px);

    @include grid-media('md') {
      @include margin(-0.4rem null null);
      font-size: 1.3rem;
    }

    @include grid-media-max('sm') {
      @include margin(null null 0.2rem -2px);
    }
  }

  .su-lockup__line2 {
    @include margin(null null null -2px);
    line-height: 0.7em;

    @include grid-media-max('sm') {
      line-height: 2.6rem;
    }
  }
}
