@charset "UTF-8";

//
// Lockup option R: Unit (vertical)
//
.su-lockup--option-r {

  .su-lockup__cell2,
  .su-lockup__cell1 {
    border: 0;
  }

  .su-lockup__line1,
  .su-lockup__line2,
  .su-lockup__line3,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__line5 {
    font-size: 2.1rem;

    @include grid-media-max('sm') {
      @include margin(0.75rem null null -2px);
      font-size: 2.6rem;
    }
  }
}
