@charset "UTF-8";

//
// Lockup option M: Unit (2 lines)
//
.su-lockup--option-m {

  .su-lockup__line3,
  .su-lockup__line4,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line2 {
    @include margin(0.3rem null null);
    line-height: 0.7em;

    @include grid-media-max('sm') {
      @include margin(0 null null -2px);
      line-height: 2.6rem;
    }
  }

  .su-lockup__line1 {
    @include grid-media('md') {
      @include margin(-0.7rem null null);
    }

    @include grid-media-max('sm') {
      @include margin(4px null null -2px);
    }
  }
}
