@charset "UTF-8";

//
// Lockup option D: Unit + Level (1 line)
//
.su-lockup--option-d {

  .su-lockup__line2,
  .su-lockup__line4,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line1 {
    @include grid-media("sm") {
      @include margin(-0.7rem null null);
  }

    @include grid-media-max('sm') {
      @include margin(0.5rem null 0.2rem -2px);
    }
  }

  .su-lockup__line3 {

    @include grid-media('md') {
      font-size: 1.8rem;
      line-height: 0.7em;
    }
  }
}
