@charset "UTF-8";

//
// Lockup option H: School + Unit (2 lines)
//
.su-lockup--option-h {

  .su-lockup__line2,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__cell2,
  .su-lockup__line4 {
    @include grid-media-max('sm') {
      @include margin(null null null -2px);
    }
  }

  .su-lockup__wordmark {
    @include grid-media-max('sm') {
      display: block;
    }
  }

  .su-lockup__line4 {
    @include margin(null null -3px null);
    line-height: 0.95em;

    @include grid-media-max('sm') {
      @include margin(null null 4px null);

      &::after {
        @include margin(0.75rem null 0.5rem);
        border-bottom: 1px solid $su-color-black;
        content: '';
        display: block;
        width: 120px;
      }
    }
  }

  .su-lockup__line3 {
    @include margin(0 null -3px null);
    font-style: normal;
    line-height: 1em;
    text-transform: capitalize;

    @include grid-media-max('sm') {
      font-size: 2.6rem;
    }
  }
}
