@charset "UTF-8";

//
// Lockup option N: Unit (1 line)
//
.su-lockup--option-n {

  .su-lockup__line2,
  .su-lockup__line3,
  .su-lockup__line4,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line1 {
    line-height: 0.7em;

    @include grid-media('md') {
      font-size: 3.2rem;
    }

    @include grid-media-max('sm') {
      @include margin(0.5rem null null -2px);
      line-height: 2.6rem;
    }
  }
}
