@charset "UTF-8";

//
// Lockup option L: School
//
.su-lockup--option-l {

  .su-lockup__line2,
  .su-lockup__line3,
  .su-lockup__line4,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line1 {
    font-weight: $su-font-semi-bold;
    text-transform: uppercase;

    @include grid-media-max('sm') {
      @include margin(0.5rem null null -2px);
    }

    @include grid-media('md') {
      font-size: 3.3rem;
      line-height: 0.7em;
    }
  }
}
