@charset "UTF-8";

//
// Lockup option K: Alt School + Unit (1 line)
//
.su-lockup--option-k {

  .su-lockup__line2,
  .su-lockup__line3,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__line1 {
    font-size: 3.3rem;
    font-weight: $su-font-semi-bold;
    line-height: 0.7em;
    text-transform: uppercase;

    @include grid-media-max('sm') {
      @include margin(1.1rem null null -2px);
      font-size: 2.6rem;
      line-height: 2.6rem;

      &::after {
        @include margin(0.5rem null 0.5rem);
        border-bottom: 1px solid $su-color-black;
        content: '';
        display: block;
        width: 120px;
      }
    }
  }

  .su-lockup__line5 {
    @include grid-media-max('sm') {
      @include margin(null null null -2px);
      font-size: 2.6rem;
    }
  }
}
