@charset "UTF-8";

//
// Lockup option Q: Multidisciplinary + Unit + Level
// @deprecated .su-lockup--option-q will be removed in Version 7
//
.su-lockup--option-q {

  > a {
    @include grid-media-max('sm') {
      display: flex;
      flex-direction: column;
    }
  }

  .su-lockup__line2,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__cell2 {
    @include grid-media-max('sm') {
      order: 3;
    }
  }

  .su-lockup__line1 {
    @include grid-media('md') {
      @include margin(-0.7rem null null);
    }

    @include grid-media-max('sm') {
      @include margin(null null null -2px);
    }
  }

  .su-lockup__line3 {
    font-size: 1.8rem;
    line-height: 0.7em;

    @include grid-media-max('sm') {
      line-height: 1.15em;
      @include margin(null null null -2px);
    }
  }

  .su-lockup__line5 {
    font-size: 2rem;
    font-weight: $su-font-semi-bold;
    text-transform: uppercase;

    @include grid-media-max('sm') {
      @include margin(0.75rem null null -2px);
      order: 2;

      &::after {
        @include margin(0.75rem null 0.5rem);
        border-bottom: 1px solid $su-color-black;
        content: '';
        display: block;
        width: 120px;
      }
    }

    @include grid-media('md') {
      font-size: 2.1rem;
    }
  }
}
