@charset "UTF-8";

//
// Lockup option T: School + Unit + Level (vertical)
//
.su-lockup--option-t {

  .su-lockup__wordmark {
    display: block;
  }

  .su-lockup__line1,
  .su-lockup__line2 {
    font-size: 2.6rem;

    @include grid-media-max('sm') {
      @include margin(null null null -2px);
      line-height: 2.6rem;
    }
  }

  .su-lockup__line1 {
    @include grid-media-max('sm') {
      @include margin(null null 0.2rem null);
    }
  }

  .su-lockup__line3 {
    @include margin(0);
    font-size: 2rem;

    @include grid-media-max('sm') {
      @include margin(0.3rem null null -2px);
      font-size: 1.8rem;
    }
  }

  .su-lockup__line4 {

    &::after {
      @include margin(0.75rem null 0.5rem);
      border-bottom: 1px solid $su-color-black;
      content: '';
      display: block;
      width: 120px;
    }
  }

  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__cell1 {
    @include padding(0);
    border: 0;
  }

  .su-lockup__cell2 {
    @include padding(0);
    border: 0;
    width: 100%;
  }
}
