{#
/**
 * @file
 * Flex-doc — Flex-Grid Documentation.
 *
 * This template provides an example of span 2 of 12 columns in
 * addition to the flex push 5 in a four column panel display layout,
 * with each column equal in width and the fourth column pushed to the far right.
 *
 * Variables
 * pushFirst - First of four columns for push example
 * pushSecond - Second of four columns for push example
 * pushThird - Third of four columns for push example
 * pushFourth - Fourth of four columns for push example
 *
#}

<div>
    <section class="flex-container centered-container">
      <div class="flex-item flex-lg-2-of-12 flex-xl-2-of-12 flex-2xl-2-of-12">
        {{ pushFirst }}
      </div>

      <div class="flex-item flex-lg-2-of-12 flex-xl-2-of-12 flex-2xl-2-of-12">
        {{ pushSecond }}
      </div>

      <div class="flex-item flex-lg-2-of-12 flex-xl-2-of-12 flex-2xl-2-of-12">
        {{ pushThird }}
      </div>

      <div class="flex-item flex-lg-2-of-12 flex-xl-2-of-12 flex-push-xs-5">
        {{ pushFourth }}
      </div>
    </section>
</div>
<pre>
  <code>class="flex-item flex-lg-2-of-12 flex-xl-2-of-12 flex-push-xs-5"</code>
</pre>
