@charset "UTF-8";

////
/// Root html element styles for the body and main elements.
/// Style placement and basic settings for the top level html elements.
///
/// @group base|body
///
/// @type map
///
/// @see $group__element--default
/// @see $group__element
////

// ---------------------------------------------------------------------------------------------------------------------
/// - Default body element styling
///
/// @example scss - Used in `base/_body.scss` by the `body` element
///   body {
///     @include properties($body__body--default, $body__body);
///   }
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/body
$body__body--default: (
  min-height: 100vh,
  display: flex,
  flex-direction: column,
  overflow-x: hidden,
  margin: 0,
) !default;

$body__body: () !default;

body {
  /*!*/
  @include properties($body__body--default, $body__body);
}

// ---------------------------------------------------------------------------------------------------------------------
/// - Set up source order for mobile first approach
///
/// @example scss - Used in `base/_body.scss` by the `body > header` element
///   body > header {
///     @include properties($body__body-header--default, $body__body-header);
///   }
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/header
$body__body-header--default: (
  order: -50,
) !default;

$body__body-header: () !default;

body > header {
  /*!*/
  @include properties($body__body-header--default, $body__body-header);
}

// ---------------------------------------------------------------------------------------------------------------------
/// - Set up source order for mobile first approach
///
/// @example scss - Used in `base/_body.scss` by the `body > nav` element
///   body > nav {
///     @include properties($body__body-nav--default, $body__body-nav);
///   }
///
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav
$body__body-nav--default: (
  order: -40,
) !default;

$body__body-nav: () !default;

body > nav {
  /*!*/
  @include properties($body__body-nav--default, $body__body-nav);
}

// ---------------------------------------------------------------------------------------------------------------------
///  - Set up source order for mobile first approach
///  - Set up basic properties for the `main` element
///
/// @example scss - Used in `base/_body.scss` by the `body > main, body > #main` elements
///   body > main {
///     @include properties(body__body-main--default, body__body-main);
///   }
///
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/main
$body__body-main--default: (
  order: 1,
  overflow: hidden,
  background-color: color(background),
  flex: 1,

  '@media print': (
    background: transparent,
  ),
) !default;

$body__body-main: () !default;

body > main,
body > #main {
  /*!*/
 @include properties( $body__body-main--default, $body__body-main );
}

// ---------------------------------------------------------------------------------------------------------------------
/// - Set up source order for mobile first approach
///
/// @example scss - Used in `base/_body.scss` by the `body > footer` element
///   body > main {
///     @include properties(body__body-footer--default, body__body-footer);
///   }
///
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/footer
$body__body-footer--default: (
  order: 50,
) !default;

$body__body-footer: () !default;

body > footer {
  /*!*/
  @include properties($body__body-footer--default, $body__body-footer );
}
