@charset "UTF-8";
////
/// Form base styles.
/// @group base|forms
///
/// @type map
/// @see $group__element--default
/// @see $group__element
////

// ---------------------------------------------------------------------------------------------------------------------
/// - Base styles for the `fieldset` element
///
/// @example scss - Used in `base/_forms.scss` by the `fieldset` element
///   fieldset {
///     @include properties($forms__fieldset--default, $typography__fieldset);
///   }
///
/// @require --
///
/// @todo --
///
/// link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/fieldset
///
$forms__fieldset--default: (
background-color: transparent,
border: 0,
margin: 0,
padding: 0,
) !default;

$forms__fieldset: () !default;

fieldset {
  /*!*/
  @include properties($forms__fieldset--default, $forms__fieldset);
}

// ---------------------------------------------------------------------------------------------------------------------
/// - Base styles for the `legend` element
///
/// @example scss - Used in `base/_forms.scss` by the `legend` element
///   legend {
///     @include properties($forms__legend--default, $typography__legend);
///   }
///
/// @require $small-spacing
///
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/legend
///
$forms__legend--default: (
    font-weight: 600,
    margin-bottom: $small-spacing / 2,
    padding: 0,
) !default;

$forms__legend: () !default;

legend {
  /*!*/
  @include properties($forms__legend--default, $forms__legend);
}


// ---------------------------------------------------------------------------------------------------------------------
/// - Base documentation cut & paste template.
/// - Base styles for the `label` element
///
/// @example scss - Used in `base/_forms.scss` by the `label` element
///   label {
///     @include properties($forms__label--default, $typography__label);
///   }
///
///
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label
/// @require $small-spacing
///
$forms__label--default: (
    display: block,
    font-weight: 600,
    margin-bottom: $small-spacing / 2,
) !default;

$forms__label: () !default;

label {
  /*!*/
  @include properties($forms__label--default, $forms__label);
}

// ---------------------------------------------------------------------------------------------------------------------
/// - Base documentation cut & paste template.
/// - Base styles for the `input`, `select` and `textarea` elements
///
/// @example scss - Used in `base/_forms.scss` by the `input` element
///   input,
///   select,
///   textarea {
///     @include properties($forms__input--default, $typography__input);
///   }
///
/// @require $base-font-family
///
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea
///
$forms__input--default: (
    display: block,
    font-family: $base-font-family,
) !default;

$forms__input: () !default;

input,
select,
textarea {
  /*!*/
  @include properties($forms__input--default, $forms__input);
}

// ---------------------------------------------------------------------------------------------------------------------
/// - Base styles for the `#{}all-text-inputs}` element
///
/// @example scss - Used in `base/_forms.scss` by all text inputs element
///   #{$all-text-inputs} {
///     @include properties($forms__all-text-inputs--default, $typography__all-text-inputs);
///   }
///
/// @require bourbon
/// @require color
/// @require hokus on-event
/// @require $base-border
/// @require $base-border-radius
/// @require $form-box-shadow
/// @require $base-spacing
/// @require $base-duration
/// @require $base-timing
///
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input
///
$forms__all-text-inputs--default: (
    appearance: none,
    background-color: color(background),
    border: $base-border,
    border-radius: $base-border-radius,
    box-shadow: $form-box-shadow,
    box-sizing: border-box,
    margin-bottom: $base-spacing,
    padding: $base-spacing / 3,
    transition: border-color $base-duration $base-timing,
    width: 100%,

    #{$hocus}: (
        border-color: shade(color(border), 20%),
    ),
    '&:disabled': (
        background-color: shade(color(background), 5%),
        cursor: not-allowed,

        '&:hover': (
            border: $base-border,
        ),
    ),

    '&::placeholder': (
        color: tint(color(text), 40%),
    ),
) !default;

$forms__all-text-inputs: () !default;

#{$all-text-inputs} {
  /*!*/
  @include properties($forms__all-text-inputs--default, $forms__all-text-inputs);
}

// ---------------------------------------------------------------------------------------------------------------------
/// - Base styles for the `textarea` element
///
/// @example scss - Used in `base/_forms.scss` by the `textarea` element
///   textarea {
///     @include properties($forms__textarea--default, $typography__textarea);
///   }
///
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea
///

$forms__textarea--default: (
    resize: vertical,
) !default;

$forms__textarea: () !default;

textarea {
  /*!*/
  @include properties($forms__textarea--default, $forms__textarea);
}

// ---------------------------------------------------------------------------------------------------------------------
/// - Base styles for the `[type="checkbox"]` and `[type="radio"]` input elements
///
/// @example scss - Used in `base/_forms.scss` by the `[type="checkbox"]` and `[type="radio"]` elements
///   [type="checkbox"],
///   [type="radio"]  {
///
///     @include properties($forms__radiocheck--default, $typography__radiocheck);
///   }
///
/// @require $small-spacing
///
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input
///

$forms__radiocheck--default: (
    display: inline,
    margin-right: $small-spacing / 2,
) !default;

$forms__radiocheck: () !default;

[type="checkbox"],
[type="radio"] {
  /*!*/
  @include properties($forms__radiocheck--default, $forms__radiocheck);
}

// ---------------------------------------------------------------------------------------------------------------------
/// - Base styles for the `[type="file"]` input element
///
/// @example scss - Used in `base/_forms.scss` by the `[type="file"]` element
///   [type="file"] {
///     @include properties($forms__input-file--default, $typography__input-file);
///   }
///
/// @require $small-spacing
///
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input
///

$forms__input-file--default: (
    margin-bottom: $small-spacing,
    width: 100%,
) !default;

$forms__input-file: () !default;

[type="file"] {
  /*!*/
  @include properties($forms__input-file--default, $forms__input-file);
}

// ---------------------------------------------------------------------------------------------------------------------
/// - Base styles for the `select` element
///
/// @example scss - Used in `base/_forms.scss` by the `select` element
///   select {
///     @include properties($forms__select--default, $typography__select);
///   }
///
/// @require $small-spacing
///
///
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select
///
$forms__select--default: (
    margin-bottom: $small-spacing,
    width: 100%,
) !default;

$forms__select: () !default;

select {
  /*!*/
  @include properties($forms__select--default, $forms__select);
}
