@charset "UTF-8";

////
/// Meida base styles.
/// @group base|media-elements
///
/// @type map
/// @see $group__element--default
/// @see $group__element
////

// @import '../utilities/settings/settings';

// ---------------------------------------------------------------------------------------------------------------------
/// - Base styles for the `img`, `picture`, `figure` elements
///
/// @example scss - Used in `base/_media-elements.scss` by the `img`, `picture`, `figure` elements
///   img,
///   picture,
///   figure {
///     @include properties($media-elements__images--default, $typography__images);
///   }
///
/// @todo implement vertical rhythm
///
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/image
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/picture
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure
///

$media-elements__images--default: (
  width: auto,
  max-width: 100%,
  height: auto,
  margin: 0,
) !default;

$media-elements__images: () !default;

img,
picture,
figure {
  /*!*/
  @include properties($media-elements__images--default, $media-elements__images);
}
