@charset "UTF-8";

////
/// Meida base styles.
/// @group base|media
////

// @import '../utilities/settings/settings';

img,
picture,
figure {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0;
}
