@charset "UTF-8";
////
/// Media base styles.
/// @group base|tables
///
/// @type map
/// @see $group__element--default
/// @see $group__element
////

//@import '../utilities/settings/settings';

// ---------------------------------------------------------------------------------------------------------------------
/// - Base styles for the `table` element
///
/// @example scss - Used in `base/_tables.scss` by the `table` element
///   table {
///     @include properties($tables__table--default, $typography__table);
///   }
///
/// @require $small-spacing
///
/// @todo - Implement vertical rhytm
///
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table
///
$tables__table--default: (
    border-collapse: collapse,
    margin: $small-spacing 0,
    table-layout: fixed,
    width: 100%,
) !default;

$tables__table: () !default;

table {
  /*!*/
  @include properties($tables__table--default, $tables__table);
}

// ---------------------------------------------------------------------------------------------------------------------
/// - Base styles for the `th` element
///
/// @example scss - Used in `base/_tables.scss` by the `th` element
///   th {
///     @include properties($tables__th--default, $typography__th);
///   }
///
/// @require bourbon
/// @require color
/// @require $small-spacing
///
/// @link http://neat.bourbon.io Bourbon documentation
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/th
///
$tables__th--default: (
    border-bottom: 1px solid shade(color(border), 25%),
    font-weight: 600,
    padding: $small-spacing 0,
    text-align: left,
) !default;

$tables__th: () !default;

th {
  /*!*/
  @include properties($tables__th--default, $tables__th);
}

// ---------------------------------------------------------------------------------------------------------------------
/// - Base styles for the `td` element
///
/// @example scss - Used in `base/_tables.scss` by the `td` element
///   td {
///     @include properties($tables__td--default, $typography__td);
///   }
///
/// @require $base-border
/// @require $small-spacing
///
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/td
///
$tables__td--default: (
    border-bottom: $base-border,
    padding: $small-spacing 0,
) !default;

$tables__td: () !default;

td {
  /*!*/
  @include properties($tables__td--default, $tables__td);
}

// ---------------------------------------------------------------------------------------------------------------------
/// - Base styles shared by the `tr`, `td`, `th` elements
///
/// @example scss - Used in `base/_tables.scss` by the `tr`, `td`, `th` elements
///   tr,
///   td,
///   th {
///     @include properties($tables__tr-td-th--default, $typography__tr-td-th);
///   }
///
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tr
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/td
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/th
///
$tables__tr-td-th--default: (
    vertical-align: middle,
) !default;

$tables__tr-td-th: () !default;

tr,
td,
th {
  /*!*/
  @include properties($tables__tr-td-th--default, $tables__tr-td-th);
}
