@charset "UTF-8";
////
/// This file contains Site-wide typography base styles.
/// @group html
////

// @import '../utilities/settings/settings';

/// Body font styles.
/// @require {function} color
/// @require {function} font-size
/// @require {variable} $base-font-family
/// @require {variable} $base-line-height
body {
  color: color(text);
  font-family: $base-font-family;
  @include font-size($base-font-size, $root-font-size);
  line-height: $base-line-height;
}

/// Heading base styles.
/// @require {variable} $heading-font-family
/// @require {variable} $heading-line-height
/// @require {variable} $small-spacing
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: modular-scale(-1) 0 modular-scale(-3);
  font-weight: 700;
}

/// @require {function} font-size
/// @require {function} modular-scale
h2 {
  @include font-size(modular-scale(4));
}

/// @require {function} font-size
/// @require {function} modular-scale
h3 {
  @include font-size(modular-scale(3));
}

/// @require {function} font-size
/// @require {function} modular-scale
h4 {
  @include font-size(modular-scale(2));
}

/// @require {function} font-size
/// @require {function} modular-scale
h5 {
  @include font-size(modular-scale(1));
}

/// @require {function} font-size
/// @require {function} modular-scale
h6 {
  @include font-size(modular-scale(0));
}

/// @require {variable} $small-spacing
p {
  margin: 0 0 modular-scale(1);
}

dfn, cite, em, i {
  font-style: italic;
}

/// @require {variable} $base-spacing
blockquote, q {
  margin: 0 modular-scale(2);
  quotes: "" "";

  &:before,
  &:after {
    content: "";
  }
}

/// @require {variable} $base-spacing
address {
  margin: 0 0 modular-scale(2);
}

/// @require {function} shade
/// @require {function} color
/// @require {variable} $font-family-monospace
/// @require {variable} $base-line-height
pre {
  background: shade(color(border), 10%);
  font-family: $font-family-monospace;
  @include font-size(16px);
  line-height: $base-line-height;
  margin-bottom: modular-scale(2);
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

/// @require {variable} $font-family-monospace
/// @require {function} font-size
code, kbd, tt, var {
  font-family: $font-family-monospace;
  @include font-size(16px);
  padding: modular-scale(-10) modular-scale(-5);
  position: relative;
  background-color: rgba(color(light-grey), .6);
  border: 1px solid color(grey);
}

/// @require {function} color
abbr, acronym {
  border-bottom: 1px dotted color(border);
  cursor: help;
}

mark, ins, del {
  padding: 0 .25em .15em
}

/// @require {function} color
del {
  color: color(text);
  background: color(light-red);
  text-decoration: line-through;
  text-decoration-color: color(light-red);
}

/// @require {function} color
ins {
  color: color(text);
  background: color(light-green);
  text-decoration: none;
}

/// @require {function} color
mark {
  color: color(text);
  background: color(light-yellow);
  text-decoration: none;
}

/// @require {function} font-size
/// @require {function} modular-scale
/// @require {variable} $ratio
small,
.small-text {
  @include font-size(modular-scale(-1, $ratio: 1.125));
}

/// @require {function} font-size
/// @require {function} modular-scale
big,
.large-text {
  @include font-size(modular-scale(1));
}

/// @require {function} color
/// @require {mixin} on-event
a {
  color: color(action);
  text-decoration: none;

  @include on-event {
    color: color(action-active);
    text-decoration: underline;
  }
}

// @require {variable} $base-border
// @require {variable} $base-spacing
hr {
  border-top: 0;
  border-right: 0;
  border-bottom: $base-border;
  border-left: 0;
  margin: modular-scale(1) 0;
}
