@charset "UTF-8";

@import '../utilities/settings';
@import '../utilities/mixins/material-shadow';

#breakpoint-helper {
  @if $breakpoint-helper == true {
    @include material-shadow(flat);
    background-color: transparentize(color(dark-grey), .2);
    border-radius: $base-border-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: color(white);
    display: block;
    font-size: .5em;
    line-height: 1;
    padding: $small-spacing;
    position: fixed;
    right: -3.5em;
    top: 3rem;
    transition: all $base-timing $base-duration;
    width: 6.5em;
    white-space: nowrap;
    z-index: 10000;

    // When the wordpress admin bar is present...
    .admin-bar & {
      top: 7rem;
    }

    @include on-event {
      @include material-shadow(medium);
      right: 0;
      overflow: hidden;
      font-size: .75em;

      &:before {
        content: "$screen-";
      }
    }

    @include media(0, $screen-xs-max) {
      background-color: color(blue);

      &:after {
        content: "xs";
      }
    }
    @include media($screen-sm-min, $screen-sm-max) {
      background-color: color(olive);
      &:after {
        content: "sm";
      }
    }
    @include media($screen-md-min, $screen-md-max) {
      background-color: color(orange);
      &:after {
        content: "md";
      }
    }
    @include media($screen-lg-min, $screen-lg-max) {
      background-color: color(red);
      &:after {
        content: "lg";
      }
    }
    @include media($screen-xl-min) {
      background-color: color(purple);
      &:after {
        content: "xl";
      }
    }
  } @else {
    display: none;
  }
}
