<div class="page-layout page-layout--right-sidebar">
  <div class="column column--head">
    {{ head_content }}
  </div>
  <div class="column column--content">
    {{ main_content }}
  </div>
  <aside class="column column--sidebar">
    {{ sidebar_content }}
  </aside>
</div>
