<div class="page-layout-wrapper page-layout-wrapper--right-sidebar">
  <div class="page-layout page-layout--right-sidebar">
    <header class="region region--header">
      {{ header_content }}
    </header>
    <div role="main" class="region region--content">
      {{ main_content }}
    </div>
    <aside class="region region--sidebar region--sidebar--first">
      {{ first_sidebar_content }}
    </aside>
    <footer class="region region--footer">
      {{ footer_content }}
    </footer>
  </div>
</div>
