<div class="page-layout--wrapper">
  <div class="page-layout page-layout--right-sidebar">
    <div class="column column--head">
      {{ headContent }}
    </div>
    <div class="column column--content">
      {{ mainContent }}
    </div>
    <aside class="column column--sidebar">
      {{ sidebarContent }}
    </aside>
  </div>
</div>
