<div id="global-header">
  <div class="container">
      <div id="top-logo"><a href="http://www.stanford.edu"><img src="{{ base_path ~ directory }}/img/optimized/header-stanford-logo@2x.png" alt="Stanford University"></a></div>
  </div>
</div>
<!-- /#global-header -->
