@charset "UTF-8";
/**
 * Component — discrete, reusable UI elements.
 *
 * Components should not be responsible for their positioning or layout within
 * the site. Never apply widths or heights except to elements that natively have
 * these properties (e.g. images have these properties, so it's okay to use CSS
 * to modify their width and height). Within components, separate structural
 * rules from stylistic rules.
 *
 * Component Naming Convention
 * .component-name
 * .component-name--variant
 * .component-name__sub-object
 *
 **/
#breakpoint-helper {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  background-color: rgba(51, 51, 51, 0.8);
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #fff;
  display: block;
  font-size: .5em;
  line-height: 1;
  padding: 0.8em;
  position: fixed;
  right: -3.5em;
  top: 3rem;
  transition: all ease-in-out 250ms;
  width: 6.5em;
  white-space: nowrap;
  z-index: 10000;
}

.admin-bar #breakpoint-helper {
  top: 7rem;
}

#breakpoint-helper:hover, #breakpoint-helper:active, #breakpoint-helper:focus {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09), 0px 8px 12px 0px rgba(0, 0, 0, 0.15);
  right: 0;
  overflow: hidden;
  font-size: .75em;
}

#breakpoint-helper:hover:before, #breakpoint-helper:active:before, #breakpoint-helper:focus:before {
  content: "$screen-";
}

@media only screen and (max-width: 575px) {
  #breakpoint-helper {
    background-color: #0074d9;
  }
  #breakpoint-helper:after {
    content: "xs";
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  #breakpoint-helper {
    background-color: #3d9970;
  }
  #breakpoint-helper:after {
    content: "sm";
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #breakpoint-helper {
    background-color: #ff851b;
  }
  #breakpoint-helper:after {
    content: "md";
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #breakpoint-helper {
    background-color: #ff4136;
  }
  #breakpoint-helper:after {
    content: "lg";
  }
}

@media only screen and (min-width: 1200px) {
  #breakpoint-helper {
    background-color: #b10dc9;
  }
  #breakpoint-helper:after {
    content: "xl";
  }
}

.brand-bar {
  background: #8c1515;
  height: 30px;
  max-height: 30px;
  order: -100;
}

@media only screen and (min-width: 0px) {
  .brand-bar {
    padding: 1em calc(((50vw /12) * 0) + 20px);
  }
  .brand-bar::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .brand-bar {
    padding: 1em calc(((50vw /12) * 0) + 20px);
  }
  .brand-bar::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .brand-bar {
    padding: 1em calc(50vw - (600px - 20px));
  }
  .brand-bar::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only print {
  .brand-bar {
    padding: 1em calc(((50vw /12) * 0) + 0.25in);
  }
  .brand-bar::after {
    clear: both;
    content: "";
    display: block;
  }
}

.brand-bar img {
  position: relative;
  top: -10px;
  width: 153px;
}

.block-grid-collapse {
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px);
}

.block--lockup {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  box-sizing: border-box;
}

@media only screen and (min-width: 0px) {
  .block--lockup {
    padding: 1em calc(((50vw /12) * 0) + 20px);
  }
  .block--lockup::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .block--lockup {
    padding: 1em calc(((50vw /12) * 0) + 20px);
  }
  .block--lockup::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .block--lockup {
    padding: 1em calc(50vw - (600px - 20px));
  }
  .block--lockup::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only print {
  .block--lockup {
    padding: 1em calc(((50vw /12) * 0) + 0.25in);
  }
  .block--lockup::after {
    clear: both;
    content: "";
    display: block;
  }
}

.block--lockup > * {
  flex: 0 0 auto;
  box-sizing: inherit;
}

.block--lockup .site-logo {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
}

@media only screen and (min-width: 576px) {
  .block--lockup .site-logo {
    width: calc(41.66667% - 28.33333px);
    float: left;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .block--lockup .site-logo {
    width: calc(25% - 25px);
    float: left;
    margin-left: 20px;
  }
}

.block--lockup .site-name-and-slogan {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
}

@media only screen and (min-width: 576px) {
  .block--lockup .site-name-and-slogan {
    width: calc(58.33333% - 31.66667px);
    float: left;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .block--lockup .site-name-and-slogan {
    width: calc(75% - 35px);
    float: left;
    margin-left: 20px;
  }
}

.block--lockup .site-name {
  font-size: 1.72222em;
}

.block--lockup .site-name a, .block--lockup .site-name a:link, .block--lockup .site-name a:visited {
  color: #111;
}

.block--lockup .site-name a:hover {
  text-decoration: none;
}

.block--lockup .site-slogan {
  color: #111;
  font-size: 1.3em;
  font-style: italic;
  margin: 0px;
  padding: 0px;
}

#global-footer {
  background: #8c1515;
  color: #fff;
  text-align: center;
}

@media only screen and (min-width: 0px) {
  #global-footer {
    padding: 1em calc(((50vw /12) * 0) + 20px);
  }
  #global-footer::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #global-footer {
    padding: 1em calc(((50vw /12) * 0) + 20px);
  }
  #global-footer::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  #global-footer {
    padding: 1em calc(50vw - (600px - 20px));
  }
  #global-footer::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only print {
  #global-footer {
    padding: 1em calc(((50vw /12) * 0) + 0.25in);
  }
  #global-footer::after {
    clear: both;
    content: "";
    display: block;
  }
}

#global-footer a, #global-footer a:link, #global-footer a:visited {
  color: #fff;
}

#global-footer .footer-links,
#global-footer .footer-notices {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  #global-footer {
    text-align: left;
  }
  #global-footer .bottom-logo {
    width: calc(16.66667% - 23.33333px);
    float: left;
    margin-left: 20px;
  }
  #global-footer .footer-links {
    width: calc(16.66667% - 23.33333px);
    float: left;
    margin-left: 20px;
  }
  #global-footer .footer-notices {
    width: calc(25% - 25px);
    float: left;
    margin-left: 20px;
  }
  #global-footer .vcard {
    width: calc(41.66667% - 28.33333px);
    float: left;
    margin-left: 20px;
  }
}

/*# sourceMappingURL=components.css.map */