@charset "UTF-8";

//
// @action-link()
//
// Default action link styling, with ›.
//
// Style guide: Mixins.Link.action-link
//
@mixin action-link() {
  text-decoration: none;

  &::after {
    content: ' ›';
    font-size: 1.25em;
    left: 0;
    position: relative;
    transition: left .4s ease-in-out;
  }

  &:hover {
    &::after {
      left: 3px;
    }
  }
}
