@charset "UTF-8";

//
// @link($color, $hover)
//
// Default link styling.
//
// $color - Default up color
// $hover - Default hover color
//
// Style guide: Mixins.Link.link
//
@mixin link($color: $color-bright-red, $hover: $color-black) {
  color: $color;
  text-decoration: underline;

  &:hover,
  &:active {
    color: $hover;
  }
}
