<ul class="decanter-accordion {{ classes }} {{ modifier_class }}">
  <li>
    <button class="decanter-accordion__button" aria-expanded="true" aria-controls="b-a1">
      First Item
    </button>
    <div id="b-a1" class="decanter-accordion__content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </div>
  </li>
  <li>
    <button class="decanter-accordion__button" aria-expanded="false" aria-controls="b-a2">
      Second Item
    </button>
    <div id="b-a2" class="decanter-accordion__content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </div>
  </li>
  <li>
    <button class="decanter-accordion__button" aria-expanded="false" aria-controls="b-a3">
      Third Item
    </button>
    <div id="b-a3" class="decanter-accordion__content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </div>
  </li>
  <li>
    <button class="decanter-accordion__button" aria-expanded="false" aria-controls="b-a4">
      Fourth Item
    </button>
    <div id="b-a4" class="decanter-accordion__content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </div>
  </li>
  <li>
    <button class="decanter-accordion__button" aria-expanded="false" aria-controls="b-a5">
      Fifth Item
    </button>
    <div id="b-a5" class="decanter-accordion__content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </div>
  </li>
</ul>
