{#
/**
 * @file
 * Default theme implementation for global brand bar
 */
#}
<div class="brand-bar">
  <a href="https://www.stanford.edu/">
    <img src="{{ base_path ~ directory }}/img/optimized/header-stanford-logo@2x.png" alt="Stanford University" />
  </a>
</div>
<!-- /#global-header -->
