@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities.scss";
@import "decanter/core/components/decanter-components";

.menu--main {
  @include responsive-container($default-container);
  li {
    display: inline-block;
    margin-right: 10px;
  }

  a, a:link, a:visited {
    display: inline-block;
    color: color('brand', $palette-stanford_basic);
    font-weight: bold;
  }

  a:hover {
    color: color('active');
  }
}
