@charset "UTF-8";

///
/// EXTERNAL LINK
///

@mixin external-link($external-link, $external-link-hover) {
  &::after {
    background: url("#{$image-path}/#{$external-link}.png") no-repeat 0 0;
    background: url("#{$image-path}/#{$external-link}.svg") no-repeat 0 0;
    background-size: 100%;
    content: '';
    display: inline-block;
    height: 0.65em;
    width: 0.65em;

    @include margin(null null -1px 4px);
  }

  &:hover::after {
    background-image: url("#{$image-path}/#{$external-link-hover}.png");
    background-image: url("#{$image-path}/#{$external-link-hover}.svg");
  }
}
