@charset "UTF-8";

//
// Link
//
// Default link styling.
//
// Style guide: Mixins.Links.link
//
@mixin link {
  color: $color-bright-red;
  text-decoration: underline;

  &:hover,
  &:active {
    color: $color-black;
  }

  &:focus {
    outline: 0;
  }
}
