@charset "UTF-8";

//
// More Link
//
// Default more link styling, with raquo.
//
// Styleguide: Mixins.Links.more-link
//
@mixin more-link($more-link, $more-link-hover) {
  &::after {
    color: $color-bright-red;
    content: '\00BB';
    display: inline-block;
    margin-left: 4px;
  }

  &:hover::after {
    color: $color-black;
  }
}
