@charset 'UTF-8';

body > header {
  // Local Variables
  $background-color: $header-background-color;
  $foreground-color: $header-foreground-color;

  @include centered-section(jumbo, 0px);

  background-color: $background-color;
  color: $foreground-color;
  padding-top: 2px!important;
  z-index: 999;

  @media print {
    @include margin(0 0 1em 0);
    @include padding(0);
    background-color: transparent;
    border-bottom: 1px solid $su-red;
    color: $su-red;
  }

  #skiplinks {
    @extend %hidden-print;
    @include outer-container;
    @include padding(0);
    background-color: $background-color;
    color: $background-color;
    font-family: $source-sans;
    font-weight: 300;
    min-height: 10px;

    a,
    a:hover,
    a:visited {
      position: absolute;
      left: 0px;
      top: -500px;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }

    a:active, a:focus {
    position: static;
    width: auto;
    height: auto;
    color: $foreground-color;
    }
  }


  #header-content {
    @include outer-container;
    @include padding(12px 0 29px);
    // text-align: center;

    @media print {
      @include padding(0 0 1em 0);
    }
  }

  #lockup {
    @include clearfix();
    display: block;

    #header-link {
      border-right: 1px solid $foreground-color;
      display: inline-block;
      @include padding(0 14px 0 0);
      @include margin(null 8px null null);

      #su-header-logo {
        vertical-align:bottom;
        max-width: 156px;
        max-height: 33px;
        fill: $foreground-color;

        @media print {
          fill: $foreground-color;
        }
      }

      @media print {
        border-right: 1px solid $foreground-color;
      }
    }

    #site-name {
      bottom: -7px;
      color: $foreground-color;
      display: inline-block;
      font-family: $source-sans;
      font-size: em(27);
      font-weight: 300;
      height: auto;
      line-height: 1em;
      position: relative;

      @media print {
        color: $su-red;
      }

      a {
        color: inherit;
        font-weight: 300;
        text-decoration: none;
      }
    }
  }
}
