@charset "UTF-8";

#primary-nav {
  // Default Local Variables. Override these in base/_variables.scss
  $primary-nav_background-color:                $aqua !default;
  $primary-nav_background-hover-color:          $white !default;

  $primary-nav_foreground-color:                $dark-gray !default;
  $primary-nav_foreground-active-color:         $blue !default;
  $primary-nav_foreground-hover-color:          $black !default;

  $primary-nav_border-color:                    $medium-gray !default;
  $primary-nav_current-border-color:            $blue !default;

  $navbar-height:                               34px !default;

  @keyframes swing {
    0% {
      display: block;
      transform: rotateX(90deg);
    }

    60% {
      transform: rotateX(90deg);
    }

    100% {
      transform: rotateX(0deg);
    }
  }
  
  $_em-base: 20; // Sets local base font size for nav bar.  
  // Attributes
  @extend %hidden-print; // hide on print
  @include centered-section(jumbo, 0px);
  background-color: $primary-nav_background-color;
  color: $primary-nav_foreground-color;
  font-size: em($_em-base);
  margin-bottom: 0;
  line-height: 1.4;

  // TODO: Better font-size cascade inheriting from body instead of from P/UL/LI elements
  ul { // properly inherits font sizes from #nav instead of from global UL/LI declaration
    margin-bottom:0;
    font-size: inherit;
    line-height: inherit;
  }

  a {
    border-bottom: 2px solid transparent;
    color: inherit;
    font-family: $source-sans;
    font-weight: 300;
    text-decoration: none;

    &:hover,
    &.hover,
    &:focus,
    &.focus {
      border-bottom: 2px solid $primary-nav_border-color;
      color: $primary-nav_foreground-hover-color;
    }
  }

  // mega menu list
  .nav-menu {
    display: block;
    list-style: none;
    position: relative;
    z-index: 15;
    padding: 0;
  }

  // a top level navigation item in the mega menu
  .nav-item {
    display: inline-block;
    list-style: none;
    margin: 0;
    margin-left: em(32, $_em-base);
    padding: 0;
    width: auto;

    &:first-of-type {
      margin-left: 0;
    }

    &.current {
      > a {
        border-bottom: 2px solid $primary-nav_current-border-color;

        &:hover,
        &.hover,
        &:focus,
        &.focus {
          border-bottom-color: $primary-nav_current-border-color;
        }

        &:focus,
        &.open
        &.focus {
          border-bottom-color: $primary-nav_current-border-color;
        }
      }
    }

    // first descendant link within a top level navigation item
    > a {
      display: inline-block;
      padding: em(1, $_em-base) 0 em(4, $_em-base);
      position: relative;
      margin-bottom: 0;
      // border: 1px solid transparent;
      // border-bottom: none;

      &:nth-last-child(2) { // When the first descendant link within a top level navigation item  is the penultimate child, add a grayed-out caret-down
        &::after {
          @extend .fa;
          @extend .fa-caret-down:before;
          color: tint($primary-nav_foreground-color, 50%);
          font-size: $small-font-size;
          margin-left: .75em;
        }
      }

      &:hover,
      &.hover,
      &:focus,
      &.focus {
        background-color: $primary-nav_background-color;
        border-bottom: 2px solid $primary-nav_border-color;
        color: $primary-nav_foreground-hover-color;
      }

      // focus/open states of first descendant link within a top level navigation item
      &:focus,
      &.focus,
      &.open {
        border-bottom: 2px solid $primary-nav_border-color;
        // border: 1px solid $primary-nav_border-color;
        // border-bottom: none;
      }

      // open state of first descendant link within a top level navigation item
      &.open {
        background-color: $primary-nav_background-color;
        color: $primary-nav_foreground-active-color;
        z-index: 1;
        box-shadow: none;

        &::after {
          color: $primary-nav_foreground-color; // darken the caret down if it exists
        }
      }
    }
  }

  // sub-navigation panel
  .sub-nav {
    backface-visibility: hidden;
    background-color: tint($primary-nav_background-color, 50%);
    border-bottom-left-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
    box-shadow: inset 0 -4px 0 0 $primary-nav_border-color, inset -1px 0 0 0 $primary-nav_border-color, inset 1px 0 0 0 $primary-nav_border-color, inset 0 1px 10px 0 rgba($primary-nav_border-color, .3);
    display: none;
    margin-top: 0;
    min-width: em(250, $_em-base);
    padding: .5em 1em 1em;
    position: absolute;
    top: em($navbar-height, $_em-base);
    transform: rotateX(90deg);
    transform-origin: 50% 0%;
    z-index: 1;


    // sub-navigation panel open state
    &.open {
      animation: swing .4s ease-in;
      display: block;
      transform: rotateX(0deg);
    }

    // list of items within sub-navigation panel
    ul {
      display: inline-block;
      margin: 0 1em 0 0;
      padding: 0;
      vertical-align: top;
    }

    li {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0;

      a {
        display: inline-block;
        margin-bottom: em(4, $_em-base);
        padding-bottom: em(1, $_em-base);
      }

      &.current {
        a {
          border-bottom: 2px solid $primary-nav_current-border-color;

          &:hover,
          &.hover,
          &:focus,
          &.focus  {
            border-bottom-color: $primary-nav_current-border-color;
          }
        }
      }

      & + * {
        margin-top: 5px;
      }
    }
  }
}
