@charset "UTF-8";

///
/// GRID OFFSETS
///

// Offsets specify the number of columns to shift a given column.

// Specifies the end of a row.
// Required if grid-box contains multiple rows.
// Required if browser does not support :last-child.
.decanter-end-row {
  @include omega;
}

// Grid Offsets.
.decanter-offset-one-twelfth {
  @include shift(1 of 12);
}

.decanter-offset-one-sixth {
  @include shift(2 of 12);
}

.decanter-offset-one-fourth {
  @include shift(3 of 12);
}

.decanter-offset-one-third {
  @include shift(4 of 12);
}

.decanter-offset-five-twelfths {
  @include shift(5 of 12);
}

.decanter-offset-one-half {
  @include shift(6 of 12);
}

.decanter-offset-seven-twelfths {
  @include shift(7 of 12);
}

.decanter-offset-two-thirds {
  @include shift(8 of 12);
}

.decanter-offset-three-fourths {
  @include shift(9 of 12);
}

.decanter-offset-five-sixths {
  @include shift(10 of 12);
}

.decanter-offset-eleven-twelfths {
  @include shift(11 of 12);
}
