@charset "UTF-8";

//
// Page Layout: Three column
//
// A basic, responsive three-column page layout.
//
// Markup: ../../templates/components/templates/page-layout--three-column/page-layout--three-column.twig
//
// Weight: 4
//
// Style guide: Templates.Page Layout: three-column
//

.page-layout--three-column {
  @include page-layout--three-column;
}

.page-layout--three-column--header {
  @include page-layout--three-column--header;
}

.page-layout--three-column--content {
  @include page-layout--three-column--content;
}

.page-layout--three-column--sidebar-first {
  @include page-layout--three-column--sidebar-first;
}

.page-layout--three-column--sidebar-second {
  @include page-layout--three-column--sidebar-second;
}

.page-layout--three-column--footer {
  @include page-layout--three-column--footer;
}
