@charset "UTF-8";

//
// Page Layout: Left sidebar
//
// A basic, responsive 2-column (with left sidebar) page layout.
//
// Markup: ../../templates/components/templates/page-layout--left-sidebar/page-layout--left-sidebar.twig
//
// Weight: 3
//
// Style guide: Templates.Page Layout: Left sidebar
//

.page-layout--left-sidebar {
  @include page-layout--left-sidebar;
}

.page-layout--left-sidebar--header {
  @include page-layout--left-sidebar--header;
}

.page-layout--left-sidebar--content {
  @include page-layout--left-sidebar--content;
}

.page-layout--left-sidebar--sidebar {
  @include page-layout--left-sidebar--sidebar;
}

.page-layout--left-sidebar--footer {
  @include page-layout--left-sidebar--footer;
}
