@charset "UTF-8";

//
// Site Layout
//
// This is the overall wrapping layout for the site.
//
// Markup: ../../templates/components/templates/site-layout/site-layout.twig
//
// Style guide: Templates.Site Layout
//

.site-wrapper {
  max-width: $site-max-width;
  margin: 0 auto;
  padding: 0;
}

.site {
  padding: 0;

  @media #{$breakpoint-xs} {
    padding-left: $gutter-xs;
    padding-right: $gutter-xs;
  }

  @media #{$breakpoint-sm} {
    padding-left: $gutter-sm;
    padding-right: $gutter-sm;
  }

  @media #{$breakpoint-md} {
    padding-left: $gutter-md;
    padding-right: $gutter-md;
  }

  @media #{$breakpoint-lg} {
    padding-left: $gutter-lg;
    padding-right: $gutter-lg;
  }

  @media #{$breakpoint-xl} {
    padding-left: $gutter-xl;
    padding-right: $gutter-xl;
  }
}
