<ul class="footer-menu footer-menu--global">
  <li><a href="https://www.stanford.edu">Stanford Home</a></li>
  <li><a href="https://visit.stanford.edu/plan/">Maps & Directions</a></li>
  <li><a href="https://www.stanford.edu/search/">Search Stanford</a></li>
  <li><a href="https://emergency.stanford.edu">Emergency Info</a></li>
</ul>