@charset "UTF-8";

//
// @cta--button-center
//
// Image CTA with a button in the center
//
// Style guide: Mixins.CTAs.cta--button-center
//
@mixin cta--button-center {

  display: flex;
  overflow: hidden;
  line-height: 0;
  position: relative;
  backface-visibility: hidden;
  perspective: 1000px;

  .decanter-cta__img {
    @include image-defaults;
    width: 100%;
    z-index: 0;
    transition: all .3s ease-in;
    will-change: transform;
    transform: translateZ(0);
  }

  &:hover {
    .decanter-cta__img {
      transform: scale(1.02, 1.02);
    }
  }

  .decanter-cta__button {
    @include button-big;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    @media #{$breakpoint-xs} {
      width: auto;
      z-index: 100;
    }

  }
}
