@charset "UTF-8";

// Info alert.
.su-alert--info {
  background-color: color(info, $su-alert-colors);

  a {
    &.su-button,
    &.su-button--secondary {
      @include button-secondary;

      background-color: color(info, $su-alert-colors);
      box-shadow: $su-button-stroke $su-color-white;
      color: color(light-text, $su-alert-colors);

      &:hover,
      &:focus {
        background-color: color(info, $su-alert-colors);
        box-shadow: $su-button-stroke $su-color-white;
        color: color(light-text, $su-alert-colors);
      }
    }

    &.su-button--big {
      @include button-big;

      background-color: color(info, $su-alert-colors);
      box-shadow: $su-button-stroke $su-color-white;
      color: color(light-text, $su-alert-colors);

      &:hover,
      &:focus {
        background-color: color(info, $su-alert-colors);
        box-shadow: $su-button-stroke $su-color-white;
        color: color(light-text, $su-alert-colors);
      }
    }
  }
}
