@charset "UTF-8";

// Success alert.
.su-alert--success {
  background-color: color(success, $alert-colors);
  background-image: url("#{$image-path}/alert-success.png");
  background-image: url("#{$image-path}/alert-success.svg");
  color: color(light-text, $alert-colors);

  a {
    color: color(light-text, $alert-colors);

    &:hover,
    &:focus {
      color: color(light-hover, $alert-colors);
    }
  }
}
