@charset "UTF-8";

// Warning alert.
.su-alert--warning {
  background-color: color(warning, $su-alert-colors);
  background-image: url("#{$su-image-path}/alert-warning.png");
  background-image: url("#{$su-image-path}/alert-warning.svg");

  a {
    color: color(warning-link, $su-alert-colors);
  }
}
