@charset "UTF-8";

// Success alert.
.su-alert--success {
  background-color: #009b76;

  a {
    &.su-button,
    &.su-button--secondary {
      @include button-secondary;

      background-color: #009b76;
      box-shadow: $su-button-stroke $su-color-white;
      color: $su-color-white;

      &:hover,
      &:focus {
        background-color: #009b76;
        box-shadow: $su-button-stroke $su-color-white;
        color: $su-color-white;
      }
    }

    &.su-button--big {
      @include button-big;

      background-color: #009b76;
      box-shadow: $su-button-stroke $su-color-white;
      color: $su-color-white;

      &:hover,
      &:focus {
        background-color: #009b76;
        box-shadow: $su-button-stroke $su-color-white;
        color: $su-color-white;
      }
    }
  }
}
