@charset "UTF-8";

//
// Alert
//
// For displaying a notification that keeps people informed
// of a status, or for displaying a validation message that
// alerts someone of an important piece of information.
//
// .su-alert--success  - Successful Transaction Message
// .su-alert--warning  - Warning Message
// .su-alert--error    - Error Message
// .su-alert--info     - Informative Message
//
// Markup: templates/components/alert/alert.twig
//
// Style guide: Simple.Alert
//
.su-alert {
  @include padding(2rem);
  background-color: color(default, $su-alert-colors);
  background-position: 1rem center;
  background-repeat: no-repeat;
  background-size: 4rem;
  color: color(dark-text, $su-alert-colors);

  @include grid-media('md') {
    background-size: 5.2rem;
  }

  .su-alert__body {
    display: table-cell;
    vertical-align: top;

    @include padding(null null null 3.5rem);

    @include grid-media('md') {
      @include padding(null null null 5rem);
    }

    p:last-child {
      @include margin(null null 0.8rem);
    }

    .su-alert__heading {
      @include margin(0 null 0.3rem);

      @include grid-media('md') {
        @include margin(0.3rem null null);
      }
    }

    .su-alert__text {
      @include margin(0 null);
    }
  }
}
