@charset "UTF-8";

// Success alert.
.su-alert--success {
  background-color: color(success, $su-alert-colors);
  background-image: url("#{$su-image-path}/alert-success.png");
  background-image: url("#{$su-image-path}/alert-success.svg");
  color: color(light-text, $su-alert-colors);

  a {
    color: color(light-text, $su-alert-colors);

    &:hover,
    &:focus {
      color: color(light-hover, $su-alert-colors);
    }
  }
}
