@charset "UTF-8";

// Info alert.
.su-alert--info {
  background-color: $su-color-bright-blue;

  a {
    &.su-button,
    &.su-button--secondary {
      @include button-secondary();

      background-color: $su-color-bright-blue;
      box-shadow: $su-button-stroke $su-color-white;
      color: $su-color-white;

      &:hover,
      &:focus {
        background-color: $su-color-bright-blue;
        box-shadow: $su-button-stroke $su-color-white;
        color: $su-color-white;
      }
    }

    &.su-button--big {
      @include button-big;

      background-color: $su-color-bright-blue;
      box-shadow: $su-button-stroke $su-color-white;
      color: $su-color-white;

      &:hover,
      &:focus {
        background-color: $su-color-bright-blue;
        box-shadow: $su-button-stroke $su-color-white;
        color: $su-color-white;
      }
    }
  }
}
