@charset "UTF-8";

//
// Alert
//
// For displaying a notification that keeps people informed
// of a status, or for displaying a validation message that
// alerts someone of an important piece of information.
//
// .su-alert--success  - Successful Transaction Message
// .su-alert--warning  - Warning Message
// .su-alert--error    - Error Message
// .su-alert--info     - Informative Message
//
// Markup: templates/components/alert/alert.twig
//
// Style guide: Simple.Alert
//
.su-alert {
  @include padding(calculate-font-size(20px));
  background-color: color(default, $su-alert-colors);
  background-position: calculate-font-size(10px) center;
  background-repeat: no-repeat;
  background-size: calculate-font-size(40px);
  color: color(dark-text, $su-alert-colors);

  @include grid-media('md') {
    background-size: calculate-font-size(52px);
  }

  .su-alert__body {
    display: table-cell;
    vertical-align: top;

    @include padding(null null null calculate-font-size(35px));

    @include grid-media('md') {
      @include padding(null null null calculate-font-size(50px));
    }

    p:last-child {
      @include margin(null null calculate-font-size(8px));
    }

    .su-alert__heading {
      @include margin(0 null calculate-font-size(3px));

      @include grid-media('md') {
        @include margin(calculate-font-size(3px) null null);
      }
    }

    .su-alert__text {
      @include margin(0 null);
    }
  }
}
