@charset "UTF-8";

// Error alert.
.su-alert--error {
  background-color: $su-color-bright-red;
  color: $su-color-white;

  a {
    color: $su-color-white;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
