@charset "UTF-8";

// Error alert.
.su-alert--text-light {
  color: color(light-text, $su-alert-colors);

  a {
    color: $su-color-white;

    &:hover,
    &:focus {
      color: $su-color-white;
      text-decoration: underline;
    }
  }

  .su-alert__footer {
    .su-link {
      &::after {
        background: $su-color-white;
      }
    }
  }

  .su-alert__dismiss-button {
    color: color(light-text, $su-alert-colors);
  }
}
