@charset "UTF-8";

// Info alert.
.su-alert--info {
  background-color: color(info, $alert-colors);
  background-image: url("#{$image-path}/alert-info.png");
  background-image: url("#{$image-path}/alert-info.svg");
  color: color(light-text, $alert-colors);

  a {
    color: color(light-text, $alert-colors);

    &:hover,
    &:focus {
      color: color(light-hover, $alert-colors);
    }
  }
}
