@charset "UTF-8";

// Error alert.
.su-alert--error {
  background-color: color(error, $su-alert-colors);
  color: color(light-text, $su-alert-colors);

  a {
    color: color(light-text, $su-alert-colors);

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &.su-button,
    &.su-button--secondary {
      @include button-secondary;

      background-color: color(error, $su-alert-colors);
      box-shadow: $su-button-stroke $su-color-white;
      color: color(light-text, $su-alert-colors);

      &:hover,
      &:focus {
        background-color: color(error, $su-alert-colors);
        box-shadow: $su-button-stroke $su-color-white;
        color: color(light-text, $su-alert-colors);
      }
    }

    &.su-button--big {
      @include button-big;

      background-color: color(error, $su-alert-colors);
      box-shadow: $su-button-stroke $su-color-white;
      color: color(light-text, $su-alert-colors);

      &:hover,
      &:focus {
        background-color: color(error, $su-alert-colors);
        box-shadow: $su-button-stroke $su-color-white;
        color: color(light-text, $su-alert-colors);
      }
    }
  }
}
