@charset "UTF-8";

// Warning alert.
.su-alert--warning {
  background-color: $su-color-sun;

  a {
    color: $su-color-black;

    &:hover,
    &:focus {
      color: $su-color-black;
      text-decoration: underline;
    }
  }
}
