@charset "UTF-8";

// Warning alert.
.su-alert--warning {
  background-color: color(warning, $alert-colors);
  background-image: url("#{$image-path}/alert-warning.png");
  background-image: url("#{$image-path}/alert-warning.svg");
}
