@charset "UTF-8";

// Error alert.
.su-alert--error {
  background-color: color(error, $alert-colors);
  background-image: url("#{$image-path}/alert-error.png");
  background-image: url("#{$image-path}/alert-error.svg");
  color: $color-white;

  a {
    color: $color-white;

    &:hover {
      color: $color-cloud;
    }
  }
}
