@charset 'UTF-8';

// My grids
@import "config/grid-system";

// Decant.
@import "decanter/core/utilities/decanter-utilities";

// Responsive grid patterns for the column.
$column-section: (
  'xs': 1 of 1,
  'sm': 1 of 1,
  'md': 2 of 3,
  'lg': 2 of 3,
  'xl': 2 of 3,
  'print': 2 of 3
);

$column-header: (
  'xs': 1 of 1,
  'sm': 1 of 1,
  'md': 1 of 1,
  'lg': 1 of 1,
  'xl': 1 of 1,
  'print': 1 of 1
);

$column-fs: (
  'xs': 1 of 1,
  'sm': 1 of 2,
  'md': 1 of 2,
  'lg': 1 of 2,
  'xl': 1 of 2,
  'print': 1 of 2
);

$column-aside: (
  'xs': 1 of 1,
  'sm': 1 of 1,
  'md': 1 of 3,
  'lg': 1 of 3,
  'xl': 1 of 3,
  'print': 1 of 3
);

.layout--sunset-delorean--right {
  @include responsive-container($default-container);

  > div {
    @include grid-media($media-md) {
      @include flex-container();
    }
  }

  .grid-collapse {
    @include responsive-grid-collapse($default-container);
    @include clearfix;
  }

  // Main Content.
  > div > section {
    order: 10;
    @include clearfix;
    @include responsive-grid-column($column-section, $default-container);

    // Gotta do better than this.
    .column--header {
      @include responsive-grid-column($column-header, $default-container);
    }

    // Two columns in right content region.
    .column--first,
    .column--second {
      @include responsive-grid-column($column-fs, $default-container);
    }

  }

  // Sidebar
  > div > aside {
    order: 1;
    @include responsive-grid-column($column-aside, $default-container);
  }

}
