.grid--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1500px;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }
  @media only screen and (min-width: 768px) {
    .grid--container {
      padding-right: 3rem;
      padding-left: 3rem; } }

.grid--1-of-12 {
  width: 100%; }
  @media only screen and (min-width: 0) {
    .grid--1-of-12 {
      width: calc(8.3333333333% - 18.3333333333px); } }
  @media only screen and (min-width: 576px) {
    .grid--1-of-12 {
      width: calc(8.3333333333% - 18.3333333333px); } }
  @media only screen and (min-width: 768px) {
    .grid--1-of-12 {
      width: calc(8.3333333333% - 18.3333333333px); } }
  @media only screen and (min-width: 992px) {
    .grid--1-of-12 {
      width: calc(8.3333333333% - 33px); } }
  @media only screen and (min-width: 1200px) {
    .grid--1-of-12 {
      width: calc(8.3333333333% - 36.6666666667px); } }
  @media only screen and (min-width: 1500px) {
    .grid--1-of-12 {
      width: calc(8.3333333333% - 44px); } }

.grid--2-of-12 {
  width: 100%; }
  @media only screen and (min-width: 0) {
    .grid--2-of-12 {
      width: calc(16.6666666667% - 16.6666666667px); } }
  @media only screen and (min-width: 576px) {
    .grid--2-of-12 {
      width: calc(16.6666666667% - 16.6666666667px); } }
  @media only screen and (min-width: 768px) {
    .grid--2-of-12 {
      width: calc(16.6666666667% - 16.6666666667px); } }
  @media only screen and (min-width: 992px) {
    .grid--2-of-12 {
      width: calc(16.6666666667% - 30px); } }
  @media only screen and (min-width: 1200px) {
    .grid--2-of-12 {
      width: calc(16.6666666667% - 33.3333333333px); } }
  @media only screen and (min-width: 1500px) {
    .grid--2-of-12 {
      width: calc(16.6666666667% - 40px); } }

.grid--3-of-12 {
  width: 100%; }
  @media only screen and (min-width: 0) {
    .grid--3-of-12 {
      width: calc(25% - 15px); } }
  @media only screen and (min-width: 576px) {
    .grid--3-of-12 {
      width: calc(25% - 15px); } }
  @media only screen and (min-width: 768px) {
    .grid--3-of-12 {
      width: calc(25% - 15px); } }
  @media only screen and (min-width: 992px) {
    .grid--3-of-12 {
      width: calc(25% - 27px); } }
  @media only screen and (min-width: 1200px) {
    .grid--3-of-12 {
      width: calc(25% - 30px); } }
  @media only screen and (min-width: 1500px) {
    .grid--3-of-12 {
      width: calc(25% - 36px); } }

.grid--4-of-12 {
  width: 100%; }
  @media only screen and (min-width: 0) {
    .grid--4-of-12 {
      width: calc(33.3333333333% - 13.3333333333px); } }
  @media only screen and (min-width: 576px) {
    .grid--4-of-12 {
      width: calc(33.3333333333% - 13.3333333333px); } }
  @media only screen and (min-width: 768px) {
    .grid--4-of-12 {
      width: calc(33.3333333333% - 13.3333333333px); } }
  @media only screen and (min-width: 992px) {
    .grid--4-of-12 {
      width: calc(33.3333333333% - 24px); } }
  @media only screen and (min-width: 1200px) {
    .grid--4-of-12 {
      width: calc(33.3333333333% - 26.6666666667px); } }
  @media only screen and (min-width: 1500px) {
    .grid--4-of-12 {
      width: calc(33.3333333333% - 32px); } }

.grid--5-of-12 {
  width: 100%; }
  @media only screen and (min-width: 0) {
    .grid--5-of-12 {
      width: calc(41.6666666667% - 11.6666666667px); } }
  @media only screen and (min-width: 576px) {
    .grid--5-of-12 {
      width: calc(41.6666666667% - 11.6666666667px); } }
  @media only screen and (min-width: 768px) {
    .grid--5-of-12 {
      width: calc(41.6666666667% - 11.6666666667px); } }
  @media only screen and (min-width: 992px) {
    .grid--5-of-12 {
      width: calc(41.6666666667% - 21px); } }
  @media only screen and (min-width: 1200px) {
    .grid--5-of-12 {
      width: calc(41.6666666667% - 23.3333333333px); } }
  @media only screen and (min-width: 1500px) {
    .grid--5-of-12 {
      width: calc(41.6666666667% - 28px); } }

.grid--6-of-12 {
  width: 100%; }
  @media only screen and (min-width: 0) {
    .grid--6-of-12 {
      width: calc(50% - 10px); } }
  @media only screen and (min-width: 576px) {
    .grid--6-of-12 {
      width: calc(50% - 10px); } }
  @media only screen and (min-width: 768px) {
    .grid--6-of-12 {
      width: calc(50% - 10px); } }
  @media only screen and (min-width: 992px) {
    .grid--6-of-12 {
      width: calc(50% - 18px); } }
  @media only screen and (min-width: 1200px) {
    .grid--6-of-12 {
      width: calc(50% - 20px); } }
  @media only screen and (min-width: 1500px) {
    .grid--6-of-12 {
      width: calc(50% - 24px); } }

.grid--7-of-12 {
  width: 100%; }
  @media only screen and (min-width: 0) {
    .grid--7-of-12 {
      width: calc(58.3333333333% - 8.3333333333px); } }
  @media only screen and (min-width: 576px) {
    .grid--7-of-12 {
      width: calc(58.3333333333% - 8.3333333333px); } }
  @media only screen and (min-width: 768px) {
    .grid--7-of-12 {
      width: calc(58.3333333333% - 8.3333333333px); } }
  @media only screen and (min-width: 992px) {
    .grid--7-of-12 {
      width: calc(58.3333333333% - 15px); } }
  @media only screen and (min-width: 1200px) {
    .grid--7-of-12 {
      width: calc(58.3333333333% - 16.6666666667px); } }
  @media only screen and (min-width: 1500px) {
    .grid--7-of-12 {
      width: calc(58.3333333333% - 20px); } }

.grid--8-of-12 {
  width: 100%; }
  @media only screen and (min-width: 0) {
    .grid--8-of-12 {
      width: calc(66.6666666667% - 6.6666666667px); } }
  @media only screen and (min-width: 576px) {
    .grid--8-of-12 {
      width: calc(66.6666666667% - 6.6666666667px); } }
  @media only screen and (min-width: 768px) {
    .grid--8-of-12 {
      width: calc(66.6666666667% - 6.6666666667px); } }
  @media only screen and (min-width: 992px) {
    .grid--8-of-12 {
      width: calc(66.6666666667% - 12px); } }
  @media only screen and (min-width: 1200px) {
    .grid--8-of-12 {
      width: calc(66.6666666667% - 13.3333333333px); } }
  @media only screen and (min-width: 1500px) {
    .grid--8-of-12 {
      width: calc(66.6666666667% - 16px); } }

.grid--9-of-12 {
  width: 100%; }
  @media only screen and (min-width: 0) {
    .grid--9-of-12 {
      width: calc(75% - 5px); } }
  @media only screen and (min-width: 576px) {
    .grid--9-of-12 {
      width: calc(75% - 5px); } }
  @media only screen and (min-width: 768px) {
    .grid--9-of-12 {
      width: calc(75% - 5px); } }
  @media only screen and (min-width: 992px) {
    .grid--9-of-12 {
      width: calc(75% - 9px); } }
  @media only screen and (min-width: 1200px) {
    .grid--9-of-12 {
      width: calc(75% - 10px); } }
  @media only screen and (min-width: 1500px) {
    .grid--9-of-12 {
      width: calc(75% - 12px); } }

.grid--10-of-12 {
  width: 100%; }
  @media only screen and (min-width: 0) {
    .grid--10-of-12 {
      width: calc(83.3333333333% - 3.3333333333px); } }
  @media only screen and (min-width: 576px) {
    .grid--10-of-12 {
      width: calc(83.3333333333% - 3.3333333333px); } }
  @media only screen and (min-width: 768px) {
    .grid--10-of-12 {
      width: calc(83.3333333333% - 3.3333333333px); } }
  @media only screen and (min-width: 992px) {
    .grid--10-of-12 {
      width: calc(83.3333333333% - 6px); } }
  @media only screen and (min-width: 1200px) {
    .grid--10-of-12 {
      width: calc(83.3333333333% - 6.6666666667px); } }
  @media only screen and (min-width: 1500px) {
    .grid--10-of-12 {
      width: calc(83.3333333333% - 8px); } }

.grid--11-of-12 {
  width: 100%; }
  @media only screen and (min-width: 0) {
    .grid--11-of-12 {
      width: calc(91.6666666667% - 1.6666666667px); } }
  @media only screen and (min-width: 576px) {
    .grid--11-of-12 {
      width: calc(91.6666666667% - 1.6666666667px); } }
  @media only screen and (min-width: 768px) {
    .grid--11-of-12 {
      width: calc(91.6666666667% - 1.6666666667px); } }
  @media only screen and (min-width: 992px) {
    .grid--11-of-12 {
      width: calc(91.6666666667% - 3px); } }
  @media only screen and (min-width: 1200px) {
    .grid--11-of-12 {
      width: calc(91.6666666667% - 3.3333333333px); } }
  @media only screen and (min-width: 1500px) {
    .grid--11-of-12 {
      width: calc(91.6666666667% - 4px); } }

.grid--12-of-12 {
  width: 100%; }
/*# sourceMappingURL=decanter-grid.css.map */