@charset 'UTF-8';

// My grids
@import "config/grid-system";

// Decant.
@import "decanter/core/utilities/decanter-utilities";

// Responsive grid patterns for the column.

$column-first: (
  'xs': 1 of 1,
  'sm': 1 of 1,
  'md': 3 of 4,
  'lg': 3 of 4,
  'xl': 3 of 4,
  'print': 3 of 4
);

$column-second: (
  'xs': 1 of 1,
  'sm': 1 of 1,
  'md': 1 of 4,
  'lg': 1 of 4,
  'xl': 1 of 4,
  'print': 1 of 4
);

$column-first-column: (
  'xs': 1 of 1,
  'sm': 1 of 2,
  'md': 1 of 2,
  'lg': 1 of 2,
  'xl': 1 of 2,
  'print': 1 of 2
);

.layout--cuttoner-left {
  @include responsive-container($default-container);

  .grid-collapse {
    @include responsive-grid-collapse;
    @include clearfix;
  }

  .column--second {
    @include responsive-grid-column($column-second, $default-container);
  }

  .column--first {

    @include responsive-grid-column($column-first, $default-container);
    @include grid-media($media-md) {
      order: 10;
    }

    .column {
      @include responsive-grid-column($column-first-column, $default-container);
    }

  }

}
