@charset "UTF-8";

///
/// Mixin to render cssGrid template columns in all modern browsers, including IE11.
///
/// @name su-grid-columns
///
/// @param {list} $columns -  A value for grid-template-columns.
/// @param {boolean} $ie-autocolumn - True or False for wether to include the autocolumn mixin for IE rows.
///
/// @group mixin
@mixin grid-columns($columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr, $ie-autocolumn: true) {
  -ms-grid-columns: $columns;
  grid-template-columns: $columns;

  /// Try to guess the first row for ie.
  @if ($ie-autocolumn) {
    $cells: length(to-list($columns));
    @include ie-autocolumn($cells);
  }

}
