@charset "UTF-8";

//
// @card($orientation, $stroke, $shadow, $headline, $content-valign)
//
// Card component styling
//
// **Examples:**
// - `@include card('1px solid #bbb', 'medium', $font-slab, 'center');`
// - `@include card(0, 'flat', $font-serif, 'top');`
//
// $stroke - String: Add value for CSS border around the whole card. Default is '1px solid #c6c6c6'. Use 0 for no border.
// $shadow - String: Creates box-shadow for the card. One of 'flat', 'shallow', 'medium', 'medium-deep', 'deep'. Default is 'shallow'. Use 'flat' for no shadow.
// $headline - String: Sets the font-family of the card headline. Default is $font-sans (sans-serif).
// $content-valign - String: For horizontal variant only. Sets vertical alignment of card content relative to the image. One of 'top', 'center' and 'bottom'. Default is 'top'.
//
// Style guide: Mixins.Card.Card
//

// Placeholder class for common card styles across all variants
%card-common {
  > img {
    // Hide the image on the smallest screen sizes.
    @include grid-media-only('xs') {
      display: none;
    }
  }

  .su-card__contents {
    @include modular-spacing('padding', 2);

    // Ensure no top padding or margin on first item.
    > *:first-child {
      @include padding(0 null null);
      @include margin(-.2em null null);
    }

    // Ensure no bottom padding or margin on last item.
    > *:last-child {
      @include padding(null null 0);
      @include margin(null null 0);
    }

    > h3,
    > h5 {
      @include margin(null null 0);
      font-weight: $font-x-bold;
      line-height: 1.1;
    }

    > h3 {
      @include modular-spacing('padding', null null -1);
      @include modular-typography(2);
    }

    > h5 {
      @include modular-spacing('padding', null null -2);
      @include modular-typography(-1);
      @include sans;
      text-transform: uppercase;
    }

    > p {
      @include modular-spacing('padding', null null -1);
      @include margin(null null 0);
    }

    .su-link--action,
    > a {
      @include modular-spacing('padding', null null 0);
      display: inline-block;
    }
  }

  // Button to click on.
  .su-card__button {
    @include modular-spacing('margin', -2 null null);
    text-align: center;

    @include grid-media-only('xs') {
      .su-button {
        width: auto; // Overriding default button component width in xs
      }
    }
  }
}

@mixin card($stroke: '1px solid #c6c6c6', $shadow: 'shallow', $headline: $font-sans, $content-valign: 'top') {
  @include box-shadow($shadow, $stroke);
  @extend %card-common;

  .su-card__contents {
    > h3 {
      font-family: $headline;
    }
  }

  // Options for content vertical alignment in horizontal cards
  &.su-card--horizontal > * {
    @if $content-valign == 'center' {
      align-self: center;
    } @else if $content-valign == 'bottom' {
      align-self: end;
    } @else {
      align-self: start;
    }
  }

}
