@charset "UTF-8";

///
/// COLORS VARIABLES
///

// Every variable is declared as !default so that it can be
// overridden by a previous import.
//
// If you want to override a variable, set that variable in one of your
// own partials, then @import '{path/to/}core/variables'.

// See complete color palette at
// http://identity.stanford.edu/color.html#digital-color.

// Primary palette.
$color-black:                #2e2d29 !default;
$color-cardinal-red:         #8c1515 !default;
$color-cool-grey:            #4d4f53 !default;
$color-white:                #ffffff !default;

// Supporting palette.
$color-beige:                #9d9573 !default;
$color-blue:                 #00548f !default;
$color-bright-blue:          #006cb8 !default;
$color-bright-red:           #b1040e !default;
$color-brown:                #5e3032 !default;
$color-chocolate:            #2f2424 !default;
$color-clay:                 #5f574f !default;
$color-cloud:                #dad7cb !default;
$color-dark-red:             #820000 !default;
$color-driftwood:            #b6b1a9 !default;
$color-fog:                  #f4f4f4 !default;
$color-gold:                 #b26f16 !default;
$color-lagunita:             #007c92 !default;
$color-light-sage:           #c7d1c5 !default;
$color-light-sandstone:      #f9f6ef !default;
$color-mint:                 #009b76 !default;
$color-poppy:                #e98300 !default;
$color-palo-alto:            #175e54 !default;
$color-purple:               #53284f !default;
$color-redwood:              #8d3c1e !default;
$color-sandhill:             #b3995d !default;
$color-sandstone:            #d2c295 !default;
$color-sky:                  #0098db !default;
$color-stone:                #544948 !default;
$color-sun:                  #eaab00 !default;
$color-teal:                 #00505c !default;
$color-warm-grey:            #3f3c30 !default;
