<div class="page-layout-wrapper page-layout-wrapper--left-sidebar">
  <div class="page-layout page-layout--left-sidebar">
    <div class="region region--content-header">
      {{ header_content }}
    </div>
    <div class="region region--content">
      {{ main_content }}
    </div>
    <aside class="region region--sidebar region--sidebar--first">
      {{ first_sidebar_content }}
    </aside>
    <div class="region region--content-footer">
      {{ footer_content }}
    </div>
  </div>
</div>
