<div class="page-layout page-layout--left-sidebar">
  <header class="region region--header page-layout--left-sidebar--header">
    {{ header_content }}
  </header>
  <div role="main" class="region region--content page-layout--left-sidebar--content">
    {{ main_content }}
  </div>
  <aside class="region region--sidebar region--sidebar--first page-layout--left-sidebar--sidebar">
    {{ first_sidebar_content }}
  </aside>
  <footer class="region region--footer page-layout--left-sidebar--footer">
    {{ footer_content }}
  </footer>
</div>
