<div class="page-layout page-layout--left-sidebar">
  <div class="column column--head">
    {{ headContent }}
  </div>
  <div class="column column--content">
    {{ mainContent }}
  </div>
  <aside class="column column--sidebar">
    {{ sidebarContent }}
  </aside>
</div>
