<ul class="footer-menu footer-menu--policy">
  <li><a href="https://www.stanford.edu/site/terms/">Terms of Use</a></li>
  <li><a href="https://www.stanford.edu/site/privacy/">Privacy</a></li>
  <li><a href="https://uit.stanford.edu/security/copyright-infringement">Copyright</a></li>
  <li><a href="https://adminguide.stanford.edu/chapter-1/subchapter-5/policy-1-5-4">Trademarks</a></li>
  <li><a href="http://exploredegrees.stanford.edu/nonacademicregulations/nondiscrimination/">Non-Discrimination</a></li>
  <li><a href="https://www.stanford.edu/site/accessibility">Accessibility</a></li>
</ul>
