@charset 'UTF-8';

///
/// A simple list of links with a heading.
///
@mixin link-list-with-title($color-palette: $colors) {

  // Usually a li or something similar
  > .list-item {
    display: block;
  }

  // Usuall an h2 or similar.
  .list-heading {
    @include font-size(modular-scale(1.1));
    margin-top: 0px;
  }

  // The links.
  a,
  a:link,
  a:visited {
    color: color('action', $color-palette);
  }

  a:hover {
    color: color('action-active', $color-palette);
  }

}
