@charset "UTF-8";

///
/// ACCORDION NESTED LIST
///

@mixin accordion-nested-list {
  > ul li ul {
    list-style: disc;

    > li > ul {
      list-style: circle;

      > li > ul {
        list-style: square;
      }
    }
  }
}
