@charset "UTF-8";

//
// @caption
//
// To be used for describing the content of an image.
//
// Style guide: Mixins.Typography.caption
//
@mixin caption {
  @include margin(0 null null);

  color: $su-color-cool-grey;
  font-size: 0.86em;
  font-style: italic;
}
