@charset "UTF-8";

///
/// @caption
///
/// To be used for describing the content of an image.
///
/// Style guide: Mixins.Typography.caption
///
@mixin caption {
  @include font-smoothing;
  color: $su-color-cool-grey;
  font-size: 1.4rem;
  line-height: 1.3;

  @include grid-media('md') {
    font-size: 1.6rem;
  }
}
