@charset "UTF-8";

//
// @credits
//
// To be used for crediting a source or photographer.
//
// Style guide: Mixins.Typography.credits
//
@mixin credits {
  @include font-smoothing;

  color: $su-color-cool-grey;
  font-size: 0.86em;
  line-height: 1.3;
}
