@charset "UTF-8";

///
/// To be used for light text on a dark background only.
///
/// @name font-smoothing
///
/// @group typography
@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
  }
}
