@charset "UTF-8";

///
/// For leading a page of text, summarizing a main point, and/or highlighting a
/// paragraph or quote.
///
/// @name intro-text
///
/// @group typography
@mixin intro-text {
  @include modular-typography(2);
  @include font-smoothing;

  font-weight: $su-font-regular;
  line-height: $su-intro-line-height;
  max-width: $su-intro-max-width;
  letter-spacing: -0.012em;
}
