@charset "UTF-8";

///
/// To be used in short snippets of descriptive text, like as summaries or deks in your cards.
/// The purpose of this style is to allow for shorter lengths of text to be easily readable inside contained spaces, with fore-shortened widths—this last part is critical to its use. Deliberately slightly smaller in font-size than the big paragraph style, and with a condensed line height (opposite to it’s sibling, with the same purpose, to increase readability, but because of it’s condensed line length, in this case, we want the line-height to be tighter, making it easier to track from one line to the next).
///
/// @name small-paragraph
///
/// @group typography
@mixin small-paragraph {
  font-size: 1.8rem;
  line-height: 1.3;

  @include grid-media-max('sm') {
    font-size: 1.6rem;
  }
}
