@charset "UTF-8";

///
/// Default shared styling for display (e.g., header) font styles.
///
/// @name types
///
/// @group typography
@mixin types {
  @include font-smoothing;
  @include margin(0 null null);

  clear: both;
  font-weight: $su-font-bold;
  line-height: $su-displays-line-height;

  a {
    text-decoration: none;
    font-weight: $su-font-bold;
  }
}
