@charset "UTF-8";

//
// @types
//
// Default types shared styling.
//
// Style guide: Mixins.Typography.types
//
@mixin types {
  @include font-smoothing;
  @include margin(0 null null);

  clear: both;
  font-weight: $font-bold;
  line-height: $displays-line-height;

  a {
    text-decoration: none;
  }
}
