// I like big fonts I cannot lie.
$root-font-size: 20px;
$base-font-size: 36px;

// Decant.
@import "decanter";

.nested-grid {
  @include grid-collapse;
}

.layout--sunset-delorean--right {

  @include responsive-container($default-container);
  @include grid-container;
  background: #FDF;

  @include grid-media($media-md) {
    @include flex-container;
    @include grid-collapse;
  }

  // Main Content.
  > main {
    order: 10;
    background-color: transparent;
    @include grid-media($media-md) {
      @include grid-column(8 of 12);
    }

    // The full width of region header.
    .column--first-header {
      @include grid-column(12 of 12);
    }

    // Two columns in right content region.
    .column--first-first,
    .column--first-second {
      @include grid-column(1 of 1);

      @include grid-media($media-sm) {
        @include grid-column(1 of 2);
      }

    }
  }

  // Sidebar
  > aside {
    order: 1;
    @include grid-media($media-md) {
      @include grid-column(4 of 12);
    }

    .column--second-first {
      @include grid-column(12 of 12);
    }

  }

}
