@charset "UTF-8";
// Adds or removes columns to the current centered section.

@mixin adjust-width
        (
          $_cols: 2,
          $_max-width: null
        )
{
  @if map-get($adjustments, $_cols) {
    $adjustment: map-get($adjustments, $_cols);

    @each $breakpoint, $_map in $adjustment {

      @include media(#{$breakpoint}) {

        $margin: set-container-margin(map-get($_map, columns), map-get($_map, max-width));

        margin-left: $margin;
        margin-right: $margin;
      }

    }

  } @else {
  margin-left: set-container-margin($_cols, $_max-width);
  margin-right: set-container-margin($_cols, $_max-width);
  }
}
