@charset "UTF-8";
// Creates centered section using padding
@mixin centered-section
        (
          $_cols: medium,
          $_v-space: $gutter * 2,
          $_h-space: $gutter,
          $_max-width: default
        )
{
  // By using clearfix, configure container to accept grid items
  @include clearfix;

  // First checks to see if the _cols argument is a known set
  @if map-get($sections, $_cols) {
    $section: map-get($sections, $_cols);

    @each $breakpoint, $_map in $section {

      @include media(#{$breakpoint}) {
        padding: set-container-padding(map-get($_map, columns), $_v-space, $_h-space, map-get($_map, max-width));
      }

    }
  } @else {
    // Otherwise, we pass the mixin settings over to the set-container-padding function
    padding: set-container-padding($_cols, $_v-space, $_h-space, $_max-width);
  }
}
