<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Decanter Elements | Embed</title>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../css/decanter.css">
  <!-- Example Element Styles -->
  <style>
    .grid-example {
      margin-bottom: 2em;
    }

    .grid-example [class*="decanter-grid"]>* {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  </style>
</head>

<body>
  <div class="grid-example">
    <div class="decanter-grid">
      <h1>Embed</h1>
      <div class="decanter-embed-container" aria-label="16:9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_Nq4Z5i7lcs" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <!-- Script -->
  <script src="../../js/decanter.min.js"></script>
</body>

</html>
