@charset "UTF-8";

//
// Fonts
//

// Sans font: Source Sans Pro.
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

// Serif font: Source Serif Pro.
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700');

@font-face {
  font-family: "Source Serif Pro";
  src: url("www-media.stanford.edu/assets/sourceserifpro-extralight-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Source Serif Pro";
  src: url("www-media.stanford.edu/assets/fonts/sourceserifpro-extralightitalic-webfont.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Source Serif Pro";
  src: url("www-media.stanford.edu/assets/fonts/sourceserifpro-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Source Serif Pro";
  src: url("www-media.stanford.edu/assets/fonts/sourceserifpro-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Source Serif Pro";
  src: url("www-media.stanford.edu/assets/fonts/sourceserifpro-regularitalic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Source Serif Pro";
  src: url("www-media.stanford.edu/assets/fonts/sourceserifpro-semibolditalic-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Source Serif Pro";
  src: url("www-media.stanford.edu/assets/fonts/sourceserifpro-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Source Serif Pro";
  src: url("www-media.stanford.edu/assets/fonts/sourceserifpro-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Source Serif Pro";
  src: url("www-media.stanford.edu/assets/fonts/sourceserifpro-blackitalic-webfont.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

// Slab font: Roboto Slab.
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

// Script font: Kalam.
@import url('https://fonts.googleapis.com/css?family=Kalam:300,400,700');

// Ligature font: Stanford.
@font-face {
  font-family: "Stanford";
  src: url("www-media.stanford.edu/assets/fonts/stanford.woff") format("woff"),
  url("www-media.stanford.edu/assets/fonts/stanford.ttf") format("ttf");
  font-weight: 300;
}
