<a class="footer-logo" href="https://www.stanford.edu">
  <img src="https://www-media.stanford.edu/su-identity/images/footer-stanford-logo@2x.png" alt="Stanford University" width="105" height="49"/>
</a>
