@charset 'UTF-8';

////
/// Stanford Global Brand Bar.
/// A thin red stripe with the stanford logo.
////

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities.scss";

// Separated out as a mixin for easy re-use and possible move to Decanter.
@mixin stanford-brand-bar {

  @include responsive-container($default-container);
  height: 30px;
  max-height: 30px;
  color: color(reverse-text);
  background: color(bright-red);

  img {
    width: 153px;
  }
}

// Separation of class from mixin.
.brand-bar {
  @include stanford-brand-bar;
  order: -100;
}
