@charset "UTF-8";

// Select dropdown

select {
  @extend %input-base;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: $su-color-white;
  background: url("#{$su-image-path}/arrow-down.png");
  background-image: url("#{$su-image-path}/arrow-down.svg");
  background-position: right 1.3rem center;
  background-repeat: no-repeat;
  background-size: 1.3rem;
}
