@charset 'UTF-8';

// I like big fonts I cannot lie.
$root-font-size: 20px;
$base-font-size: 36px;

// Decant.
@import "decanter";


.layout--wedge--left {
  background: #FDF;
  @include responsive-container($default-container);
  @include grid-container;

  @include grid-media($media-md) {
    @include flex-container;
  }

  .column--first,
  .column--second {
    border: dashed 3px #0F0;
  }

  .column--first {
    order: 10;
    @include grid-media($media-md) {
      @include grid-column(9 of 12);
    }
  }

  .column--second {
    order: 1;
    @include grid-media($media-md) {
      @include grid-column(3 of 12);
    }
  }

}
