@charset "UTF-8";

.kss-nav {
  a, a:link, a:visited, a:hover {
    text-decoration: none;
  }
}

pre, code, kbd, samp {
  font-family: $kss-font-code;
  color: mix($kss-colors-foreground, $kss-colors-heading, 50%);
  font-size: 1em;
}

pre {
  white-space: pre;
  overflow: scroll;
}

ins {
  color: $kss-colors-heading;
  background: #ff9;
  text-decoration: none;
}

mark {
  color: $kss-colors-heading;
  background: #ff0;
  font-weight: bold;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup { top: -0.5em;     }
sub { bottom: -0.25em; }
