@charset "UTF-8";

#kss-node {
  padding-top: 40px;
}

.brand-bar {
  background: $color-bright-red;
  color: $color-white;
  height: 40px;
  line-height: 50px;
  max-height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  @media screen and (max-width: 769px) {
    margin-left: -20px;
  }

  .su-grid {
    padding: 0px 20px;
    margin-left: 0px;
  }

  img {
    display: inline-block;
    width: 163px;
  }
}
