@charset "UTF-8";

// -----------------------------------------------------------------------------
// Main page scaffolding structure.
// -----------------------------------------------------------------------------

$grid-columns: (
  $su-breakpoint-xs: 1fr,
  $su-breakpoint-sm: 1fr,
  $su-breakpoint-md: 1fr 1fr 1fr 1fr,
  $su-breakpoint-lg: 1fr 1fr 1fr 1fr 1fr,
  $su-breakpoint-xl: 1fr 1fr 1fr 1fr 1fr,
  $su-breakpoint-2xl: 1fr 1fr 1fr 1fr 1fr,
);

.main-page-layout {
  @include responsive-grid-columns($grid-columns);
}

body:not(.kss-home) .main-page-layout {
 @include grid-media-only('xs') {
   @include margin(0 auto);
   max-width: calc(100% - #{map_get($su-screen-margins, 'xs') * 2});
   width: calc(100% - #{map_get($su-screen-margins, 'xs') * 2});
 }

 @include grid-media-only('sm') {
   @include margin(0 auto);
   max-width: calc(100% - #{map_get($su-screen-margins, 'sm') * 2});
   width: calc(100% - #{map_get($su-screen-margins, 'sm') * 2});
 }
}

body:not(.kss-home).kss-fullscreen-mode .main-page-layout {
  @include grid-media-max('sm') {
    width: 100%;
    max-width: 100%;
  }
}

.kss-sidebar {
  display: none;
  @include grid-item-spans(1, span 1, 1, 1);

  @include grid-media('md') {
    display: block;
  }
}

.kss-main {
  @include grid-media('md') {
    @include grid-item-spans(2, span 3);
  }

  @include grid-media('lg') {
    @include grid-item-spans(2, span 4);
  }
}

// -----------------------------------------------------------------------------
// Home Page Layout
// -----------------------------------------------------------------------------

.kss-home {
  .main-page-layout {
    display: block;
  }
}
