.kss-colors-container {
  margin: 0;
  padding-left: 0;

  @media only screen and (min-width: 35.5625em) { margin-left: -10px; }

  @include grid-media-only('xs') {
    &.kss-parameters{
      display: block;
    }
  }

}

#kss-node .kss-colors-container .kss-parameters__item {
  display: inline-block;
}

.kss-color {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 147px;
  margin: 0 auto;
  margin-top: 25px;
  border: 1px solid $su-color-cool-grey;
  border-radius: 2px;

  @media only screen and (min-width: 35.5625em) {
    display: inline-block;
    width: 250px;
    margin-left: 10px;
  }
}

.kss-color .kss-parameters__description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  background: $su-color-white;
}

.kss-color__name {
  display: block;
  min-height: 12px;
  font-weight: 700;
  font-size: em(14px);
  line-height: 1.6;
}

.kss-color__var,
.kss-color__code {
  display: block;
  font-size: em(12px);
  line-height: 1.4;
}

.kss-color .kss-parameters__name,
.kss-color code { display: none; }
