@charset "UTF-8";

#kssref-components-date-stacked {
  .su-date-stacked {
    max-width: 87px;

    @include grid-media-only('md') {
      max-width: 101px;
    }

    @include grid-media-only('2xl') {
      max-width: 105px;
    }
  }
}
