@charset "UTF-8";

.kss-modifier__wrapper {
  // Margins to aid in demonstration of markup.
  .flex-container {
    margin-bottom: 20px;
  }

  // Colors to aid in visuals of columns.
  .flex-item {
    background-color: #4d4f53;
    color: #ffffff;
  }
}
