@charset "UTF-8";


article.kss-main {
  $footer: '.global-footer';

  @include sticky-footer($footer);

  // To support the sticky footer we must put the sidebar behind the footer.
  .kss-sidebar {
    @include padding(null null 150px null);
    z-index: 0;
  }

  #{$footer} {
    position: relative;
    z-index: 10;
  }
}
