.kss-highlight {
    background-color: #eaeaea !important;
    border: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    padding: 1em;
}

.kss-code {
  background-color: #eaeaea!important;
}

// Element
.nt {
    color: #2f6f9f;
}

// Core attributes
.na {
    color: #4f9fcf;
}

// Value
.s {
    color: #d44950;
}

// Content
.c {
    color: #999;
}
