@charset 'UTF-8';

#kss-node.kss-home .kss-main {
  @include margin(30px 0 0 0);
  @include padding(0);
  width: 100%;
}

#kss-node.kss-home {
  background: $color-black;

  .kss-section {
    @include margin(null null 0);
  }

  p {
    @include modular-typography(0);
  }

  h2, h3, h4, h5, p, li {
    color: $color-black;
  }

  h2 {
    @include modular-typography(3);
    font-weight: $font-x-bold;
  }

  // --------------------------------
  // SECTIONS
  // --------------------------------

  .section {
    @include padding(20px);
    @include grid-media('md') {
      @include padding(60px);
    }
  }

  // Welcome Section.
  .section--welcome {
    @include centered-grid-container;

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      color: $color-white;

      @include grid-media('sm') {
        max-width: 65%;
      }
    }

    p {
      @include modular-typography(1);
      font-weight: 200;
    }

    h2 {
      @include margin(0);
    }
  }

  // UI Components Section.
  .section--ui-components {
    background: $color-white;

    .su-card {
      box-shadow: none;
      border: 0;
      > img {
        display: block;
      }
    }

    p {
      max-width: 55%;
    }

  }

  // Developer Resources Section
  .section--dev-resources {
    background: $color-light-sandstone;

    h2 {
      text-align: center;
    }

    .cards-container {
      @include responsive-grid-columns($responsive-columns-default);
    }

    .su-card {
      border: 0;
      box-shadow: none;

      img {
        max-width: 100px;
        margin: $gutter-md auto;
        display: block;
      }

      h3 {
        @include grid-media('sm') {
          text-align: center;
        }
      }
    }
  }

  // More Info Section
  .section--more-info {
    @include centered-grid-container;
    background: lighten($color-mint, 5%);

    h2 {
      text-align: center;
    }

    ul {
      @include responsive-grid-columns($responsive-columns-three);
    }

    li {
      list-style: none;
      list-style-type: none;
    }

    a {
      color: $color-black;
      text-decoration: underline;

      &:hover {
        color: $color-white;
      }

      &::after {
        text-decoration-color: $color-mint;
      }

    }
  }
}
