@charset "UTF-8";

// ------------------------------------------------------------------------------
//   Variables - Colors, Fonts, etc.
// ------------------------------------------------------------------------------
$kss-colors-background    : #EEE;

$kss-colors-foreground    : #3D3D3D;
$kss-colors-heading       : #2e2d29;
$kss-colors-quotes        : #666;

$kss-colors-link          : $su-color-bright-blue;
$kss-colors-link-visited  : $su-color-bright-blue;
$kss-colors-link-hover    : $su-color-blue;
$kss-colors-link-active   : $su-color-blue;

$kss-font-body            : $su-font-sans;
$kss-font-code            : Menlo, 'Ubuntu Mono', 'Lucida Console', 'Courier New', Courier, monospace;

$kss-font-size            : 20px;
$kss-vertical-rhythm      : $kss-font-size * 1.5;
