@charset "UTF-8";

//
// Adds background colors to the example layouts.
//

.layout {

  overflow: hidden;

  > * {
    @include visible-grid;
    border: dashed 1px $su-color-black;
  }

  header {
    background-color: rgba(darkblue, .15);
  }

  footer {
    background-color: rgba(darkolivegreen, .2);
  }

  > section,
  > div,
  > aside {
    background-color: rgba(orange, .25);
  }

  div > div,
  div > section,
  section > div,
  div > aside,
  section > aside {
    border: dashed 1px $su-color-black;
    background-color: rgba(maroon, .2);
  }

  header,
  footer,
  aside {
    border: dashed 1px $su-color-black;
  }

}
