@charset 'UTF-8';

// Main navigation.
.masthead {
  .su-main-nav {
    margin-top: 4px;

    > ul {
      @include grid-media('lg') {
        > li {
          > a {
            @include fancy-hover($color: $color-white, $active: '#ec0513');
            @include padding(null null 2rem);
            color: #fff;
          }
        }
      }
    }
  }
}

//Main Nav Component - fix z-index in styleguide when multiple navs are right on top of each other
#kssref-components-main-navigation {
  .kss-modifier__example {
    @for $i from 2 through 8 {
      &:nth-child(#{3 * $i}) {
        nav {
          z-index: 9999 - 100 * ($i - 1);
        }
      }
    }
  }

  > .kss-modifier__wrapper > div:nth-child(9) {
    background: $color-black;
  }
}
