@charset "UTF-8";

// Main navigation.
.masthead {
  .su-main-nav {
    margin-top: 12px;

    a {
      // Fix FOUC caused by text color defined in visible-grid.scss.
      color: #fff;
    }

    @include grid-media('lg') {
      margin-top: 4px;
    }

    > ul {
      @include grid-media-max('sm') {
        width: 100vw;
      }

      @include grid-media-only('xs') {
        transform: translateX(map-get($su-screen-margins, 'xs'));
      }

      @include grid-media-only('sm') {
        transform: translateX(map-get($su-screen-margins, 'sm'));
      }

      @include grid-media('lg') {
        > li > a {
          @include padding(null null 2rem);
        }
      }
    }
  }

  .su-main-nav__toggle {
    @include grid-media-max('md') {
      @include margin(.4rem null null null);
      @include padding(null null 1.6rem);
    }
  }
}

// Main Nav Component.
#kssref-components-main-navigation {
  > .kss-modifier__wrapper > div:nth-child(9) {
    background: $su-color-black;
  }
}
