@charset "UTF-8";

// The logo and the nav wrapper.
.masthead {
  @include box-shadow("shallow", "0");
  @include padding(0);
  background: $color-black;
  position: relative;
  z-index: 20;

  div {
    @include centered-column;
    @include display-grid;

    @include grid-media-max('sm') {
      @include grid-columns(auto 1fr);
    }

    @include grid-media('md') {
      @include grid-columns(1fr 11fr);
    }

    @include grid-media-only('lg') {
      @include grid-columns(1fr);
    }
  }

  .brand-logo {
    @include modular-typography(3);
    @include font-smoothing;
    @include margin(null null null -2px);
    color: $color-white;
    font-weight: $font-bold;
    display: block;
    vertical-align: middle;
    height: 100%;
    line-height: 69px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;

    a {
      color: $color-white;
      text-decoration: none;
      font-weight: $font-bold;
    }
  }

  .main-nav {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

}
