@charset "UTF-8";

.kss-sidebar {
  position: relative;
  overflow: hidden;
  background: $su-color-fog;
}

.scrollable {
  width: 100%;
  @include grid-media('md') {
    @include padding(null null 160px);
    height: 100vh;
    position: absolute;
    top: 0px;
    overflow-y: scroll;
  }
}

.kss-nav__menu {
  margin-top: ($kss-vertical-rhythm/2);
  margin-bottom: ($kss-vertical-rhythm/2);
  padding: 10px 30px 10px 31px;
  list-style-type: none;
}

.kss-nav__menu-item {
  display: inline-block;
  @include grid-media('md') {
    display: list-item;
  }
}

.kss-nav__menu-link {
  position: relative;
  display: inline-block;
  font-weight: bold;

  &:before {
    @include grid-media('md') {
      content: ' ';
      position: absolute;
      left: -31px;
      width: 0;
      height: 100%;
      background-color: rgba(#000, 0);
    }
  }

  &.is-in-viewport:before {
    background-color: #000;
    width: 5px;
    transition: background-color .4s, width .6s;
  }
}

.kss-nav__menu-child {
  display: none;

  .kss-nav__menu-item {
    margin-bottom: 6px;
  }

  .kss-nav__menu-link {
    font-weight: normal;
  }

  @include grid-media('md') {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;

    // @TODO: The ul is output even when there are no children. Fix this, so
    // we can put these :first-child and :last child styles back on the ul.
    li:first-child {
      margin-top: 20px;
      border-top: 2px solid #ccc;
      padding: 20px 0 0;
    }

    li:last-child {
      margin-bottom: 20px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
    }
  }
}

.kss-nav__ref {
  color: $su-color-black;
  font-weight: bold;

  &:after {
    content: ' ';
  }
}

.child-nav-level-2 {
  a {
    padding-left: 10px;
  }
}

.child-nav-level-3 {
  a {
    padding-left: 20px;
  }
}

.separator-child {
  margin-top: 10px;
}

.separator-parent {
  background: #F0F;
}

.kss-nav__ref-child {
  font-weight: normal;
}

.kss-nav__menu-child {
  .kss-nav__ref {
    font-weight: normal;
    color: lighten($su-color-black, 15%);
  }
}
