@charset "UTF-8";

//
// Visible grid.
//

@mixin visible-grid {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - (2 * var(--offset)));
    max-width: var(--max_width);
    content: '';
    background-image: var(--background-columns), var(--background-baseline);
    background-size: var(--background-width) 100%;
    background-position: 0 var(--baseline-shift);
    z-index: -100;
    pointer-events: none;
  }

  &::after {
    content: var(--media-query);
    position: absolute;
    top: 4px;
    right: 4px;
    font-family: -apple-system, sans-serif;
    color: var(--color-text);
    display: block;
    background-color: rgba(#eee, .75);
    text-shadow: 3px 3px 3px rgba(white, .75);
    padding: 4px 6px;
    border: 1px solid;
    border-radius: 6px;
    opacity: .8;
  }
}

// Helper variables
:root {
  --max_width: $su-site-max-width;
  --baseline: 3rem;
  --baseline-shift: 2rem;
  --repeating-width: calc(100% / var(--columns));
  --column-width: calc((100% / var(--columns)) - var(--gutter));
  --background-width: calc(100% + var(--gutter));
  --background-columns: repeating-linear-gradient(
    to right,
    var(--color),
    var(--color) var(--column-width),
    transparent var(--column-width),
    transparent var(--repeating-width)
  );

  // I am honestly not sure why we'd need this, so setting to 0px.
  --background-baseline: repeating-linear-gradient(
    to bottom,
    var(--color),
    var(--color) 0,
    transparent 0,
    transparent var(--baseline)
  );
}

@media (min-width: $su-screen-xs) {
  :root {
    --columns: #{$su-grid-columns};
    --gutter: #{$su-gutter-xs};
    --color: hsla(204, 80%, 72%, 0.2);
    --color-text: hsla(204, 80%, 72%, 1);
    --media-query: 'xs';
  }
}

@media (min-width: $su-screen-sm) {
  :root {
    --columns: #{$su-grid-columns};
    --gutter: #{$su-gutter-sm};
    --color: hsla(286, 51%, 44%, 0.125);
    --color-text: hsla(286, 51%, 44%, 1);
    --media-query: 'sm';
  }
}

@media (min-width: $su-screen-md) {
  :root {
    --columns: #{$su-grid-columns};
    --gutter: #{$su-gutter-md};
    --color: hsla(204, 80%, 72%, 0.2);
    --color-text: hsla(204, 80%, 72%, 1);
    --media-query: 'md';
  }
}

@media (min-width: $su-screen-lg) {
  :root {
    --columns: #{$su-grid-columns};
    --gutter: #{$su-gutter-lg};
    --color: hsla(286, 51%, 44%, 0.125);
    --color-text: hsla(286, 51%, 44%, 1);
    --media-query: 'lg';
  }
}

@media (min-width: $su-screen-xl) {
  :root {
    --columns: #{$su-grid-columns};
    --gutter: #{$su-gutter-xl};
    --color: hsla(204, 80%, 72%, 0.2);
    --color-text: hsla(204, 80%, 72%, 1);
    --media-query: 'xl';
  }
}

@media (min-width: $su-screen-2xl) {
  :root {
    --columns: #{$su-grid-columns};
    --gutter: #{$su-gutter-2xl};
    --color: hsla(104, 40%, 32%, 0.2);
    --color-text: hsla(104, 40%, 32%, 1);
    --media-query: '2xl';
  }
}
