@charset 'UTF-8';

@mixin accordion-button-unopened-styles {
  background-image: url("#{$image-path}/plus.png");
  background-image: url("#{$image-path}/plus.svg");
  background-repeat: no-repeat;
  background-size: 1.3rem;
}
