@charset "UTF-8";

// Flex Grid
//
// Markup: ../../templates/core/grid/grid.twig
//
// Style guide: Core.FlexGrid

// The grid.
.grid--container {
  @include flex-container;
}

// Got classes if you want them.
.grid--1-of-12 {
  @include grid--1-of-12;
}

.grid--2-of-12 {
  @include grid--2-of-12;
}

.grid--3-of-12 {
  @include grid--3-of-12;
}

.grid--4-of-12 {
  @include grid--4-of-12;
}

.grid--5-of-12 {
  @include grid--5-of-12;
}

.grid--6-of-12 {
  @include grid--6-of-12;
}

.grid--7-of-12 {
  @include grid--7-of-12;
}

.grid--8-of-12 {
  @include grid--8-of-12;
}

.grid--9-of-12 {
  @include grid--9-of-12;
}

.grid--10-of-12 {
  @include grid--10-of-12;
}

.grid--11-of-12 {
  @include grid--11-of-12;
}

.grid--12-of-12 {
  @include grid--12-of-12;
}
