@charset "UTF-8";

// todo: Properly document
/// centered-container mixin
/// Creates a wrapper-less centered container using padding
/// Depends on Neat. We use the global neat-grid variable for grid default, but you may pass it any value.
/// @require _set-container-padding
/// @require $neat-grid
///
/// @link http://neat.bourbon.io Neat
@mixin centered-container(
  $columns: null,
  $v-space: 1em,
  $max-width: false,
  $grid-collapse: false,
  $grid: $neat-grid
)
{
  $columns: _neat-column-default($grid, $columns); // Retrieves max columns from specified grid if empty, or the specified number of columns otherwise
  $_grid-columns: _retrieve-neat-setting($grid, columns); // Retrieves the number of max columns from the specified grid
  $_grid-gutter: _retrieve-neat-setting($grid, gutter); // Retrieves the gutter from the specified grid

  @include grid-container;
  @if $grid-collapse == true {
    @include grid-collapse($grid);
  }

  @if $v-space {
    padding: $v-space _set-container-padding($columns, $grid, $max-width);
  } @else {
    padding-left: _set-container-padding($columns, $grid, $max-width);
    padding-right: _set-container-padding($columns, $grid, $max-width);
  }
}
