@charset "UTF-8";
// Creates a grid of items, optionally configure flexbox arguments

@mixin flex-items-per-row
(
  $items: 1,
  $parent: '&',
  $children: '> *',
  $center-grid: true,
  $equal-heights: true,
  $grid-collapse: true,
  $grid: $neat-grid
) {
  $_gutter: _retrieve-neat-setting($grid, gutter);

  @if ($center-grid == true) and ($equal-heights == true) {
    @include flex-container((justify-content: center, align-items: stretch, parent: $parent, children: $children));
  } @else if ($center-grid == true) and ($equal-heights == false){
    @include flex-container((justify-content: center, align-items: flex-start, parent: $parent, children: $children));
  } @else if ($center-grid == false) and ($equal-heights == true) {
    @include flex-container((justify-content: flex-start, align-items: stretch, parent: $parent, children: $children));
  } @else {
    @include flex-container((justify-content: flex-start, align-items: flex-start, parent: $parent, children: $children));
  }

  @if $grid-collapse == true {
    @include grid-collapse;
  }

  #{$children} {
    @include grid-column(1 of $items);
    @if $center-grid == true {
      @include nth-omega(#{$items}n);
      @include omega('&:last-of-type');

      @supports (display: flex) {
        // resets omega if display: flex is supported. We don't need it.
        $_gutter: _retrieve-neat-setting($neat-grid, gutter);
        &:nth-of-type(#{$items}n),
        &:last-of-type,
        &:last-child,
        & {
          margin-left: $_gutter / 2;
          margin-right: $_gutter / 2;
        }
        &:nth-of-type(#{$items}n+1) {
          clear: initial;
        }
      }
    }
    margin-bottom: $_gutter;
  }
}
