@charset "UTF-8";
// Creates a grid of items, optionally configure flexbox arguments
// Depends on Decanter

@mixin flex-items-per-row
(
  $items: 1,
  $parent: '&',
  $children: '> *',
  $center-grid: true,
  $equal-heights: true,
  $grid: $neat-grid
) {
  $_gutter: _retrieve-neat-setting($grid, gutter);

  @if ($center-grid == true) and ($equal-heights == true) {
    @include flex-container((justify-content: center, align-items: stretch, parent: $parent, children: $children));
  } @else if ($center-grid == true) and ($equal-heights == false){
    @include flex-container((justify-content: center, align-items: flex-start, parent: $parent, children: $children));
  } @else if ($center-grid == false) and ($equal-heights == true) {
    @include flex-container((justify-content: flex-start, align-items: stretch, parent: $parent, children: $children));
  } @else {
    @include flex-container((justify-content: flex-start, align-items: flex-start, parent: $parent, children: $children));
  }

  #{$children} {
    @include grid-column(1 of $items);
    @if $center-grid == true {
      @include nth-omega(#{$items}n);
      @include omega('&:last-of-type');
    }
    margin-bottom: $_gutter;
  }
}
