@charset "UTF-8";

// Default set of parameters.
$default-flex-container: (
  'parent': '&',
  'children': '> *',
  'flex': flex,
  'flex-direction': row,
  'flex-wrap': wrap,
  'justify-content': center,
  'align-items': flex-start,
  'align-content': center,
  'flex-grow': 0,
  'flex-shrink': 0,
  'flex-basis': auto
) !default;

/// Creates a flexbox container with children
/// See: https://css-tricks.com/snippets/css/a-guide-to-flexbox for flexbox property explanations.
///
/// parent: '&',
/// children: '> *',
/// flex: flex, // flex | inline-flex
///
/// // Parent properties
/// flex-direction: row, // row | row-reverse | column | column-reverse
/// flex-wrap: wrap, // nowrap | wrap | wrap-reverse
///
/// // Change $_justify-content from 'center' to 'flex-start' to left align wrapped orphans
/// justify-content: center, // flex-start | flex-end | center | space-between | space-around
///
/// // Change $_align-items from `flex-start` to `stretch` for equal heights
/// align-items: flex-start, //  flex-start | flex-end | center | baseline | stretch
///
/// align-content: center, // flex-start | flex-end | center | space-between | space-around | stretch
/// // Children properties
/// flex-grow: 0,
/// flex-shrink: 0,
/// flex-basis: auto
/// //  $_order: <integer>  // Note that this should be set at the element level
/// // $_align-self: flex-start // Note that this should be set at the element level
@mixin flex-container($settings-map: $default-flex-container) {

  // Merge the provided map with the default aggregate from above. This means
  // that you can specify a container that only has the values that you want to differ
  // from the default, and everything else is inherited.
  $_flex-container: map-merge($default-flex-container, $settings-map);

  // Internal variable parsing
  $_parent: map-get($_flex-container, parent);
  $_children: map-get($_flex-container, children);
  $_flex: map-get($_flex-container, flex);
  $_flex-direction: map-get($_flex-container, flex-direction);
  $_flex-wrap: map-get($_flex-container, flex-wrap);
  $_justify-content: map-get($_flex-container, justify-content);
  $_align-items: map-get($_flex-container, align-items);
  $_align-content: map-get($_flex-container, align-content);
  $_flex-grow: map-get($_flex-container, flex-grow);
  $_flex-shrink: map-get($_flex-container, flex-shrink);
  $_flex-basis: map-get($_flex-container, flex-basis);

  #{$_parent} {
    // Inherited properties from mixin.
    display:          $_flex;
    flex-flow:        $_flex-direction $_flex-wrap; // default: row wrap;
    justify-content:  $_justify-content; // default: flex-start;
    align-items:      $_align-items; // default: flex-start;
    align-content:    $_align-content; // default: flex-start;

    // Opinionated properties
    box-sizing: border-box;

    // Applies the direct children
    #{$_children} {
      // Inherited properties from mixin
      flex: $_flex-grow $_flex-shrink $_flex-basis; // default: flex: 0 0 auto;

      //Opinionated properties
      box-sizing: inherit;
    }
  }
}
