@charset "UTF-8";
// Creates a grid of items, optionally configure flexbox arguments
// Depends on Decanter

@mixin items-per-row
(
  $items: 1,
  $children: '> *',
  $parent: '&',
  $clear: true,
  $grid: $neat-grid
) {
  $_gutter: _retrieve-neat-setting($grid, gutter);
  
  #{$parent} {
    > #{$children} {
      @include grid-column(1 of $items);
      @if $clear == true {
        @include nth-alpha('#{$items}n+1');
      }
      margin-bottom: $_gutter;
    }
  }
}
