{#
/**
 * @file
 * Template for a complex column panel layout.
 *
 * This template provides a complex column panel display layout, with
 * each column roughly equal in width.
 *
 *
 *
 *
 *
 *
 *
 */
#}
<div{{ attributes }} class="layout layout-wedge {{ modifier_class }}">
  <section>
    <div>
      {{ first }}
    </div>

    <div>
      {{ second }}
    </div>
  </section>
</div>
