// List styles.
ul,
ol {
  list-style-type: none
  margin: 0
  padding: 0
  * {
    margin-bottom: $spacing-sm;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

dl {
  margin-bottom: $small-spacing
}

dt {
  display: list-item;
  font-weight: 600
  margin-top: $small-spacing
}

dd {
  margin: 0
}
