<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Decanter Components | Accordions</title>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../css/decanter.min.css">
  <!-- Example Component Styles -->
  <style>
    .grid-example {
      margin-bottom: 2em;
    }

    .grid-example [class*="decanter-grid"]>* {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  </style>
</head>

<body>
  <div class="grid-example">
    <div class="decanter-grid">
      <h1>Accordions</h1>
      <!-- Bordered ------------------------------>
      <h2>Bordered</h2>
      <ul class="decanter-accordion-bordered">
        <li>
          <button class="decanter-accordion-button" aria-expanded="true" aria-controls="b-a1">
      First Item
    </button>
          <div id="b-a1" class="decanter-accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </div>
        </li>
        <li>
          <button class="decanter-accordion-button" aria-expanded="false" aria-controls="b-a2">
      Second Item
    </button>
          <div id="b-a2" class="decanter-accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </div>
        </li>
        <li>
          <button class="decanter-accordion-button" aria-expanded="false" aria-controls="b-a3">
      Third Item
    </button>
          <div id="b-a3" class="decanter-accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </div>
        </li>
        <li>
          <button class="decanter-accordion-button" aria-expanded="false" aria-controls="b-a4">
      Fourth Item
    </button>
          <div id="b-a4" class="decanter-accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </div>
        </li>
        <li>
          <button class="decanter-accordion-button" aria-expanded="false" aria-controls="b-a5">
      Fifth Item
    </button>
          <div id="b-a5" class="decanter-accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </div>
        </li>
      </ul>
      <!-- Borderless ------------------------------>
      <h2>Borderless</h2>
      <ul class="decanter-accordion">
        <li>
          <button class="decanter-accordion-button" aria-expanded="true" aria-controls="a1">
      First Item
    </button>
          <div id="a1" class="decanter-accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </div>
        </li>
        <li>
          <button class="decanter-accordion-button" aria-expanded="false" aria-controls="a2">
      Second Item
    </button>
          <div id="a2" class="decanter-accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </div>
        </li>
        <li>
          <button class="decanter-accordion-button" aria-expanded="false" aria-controls="a3">
      Third Item
    </button>
          <div id="a3" class="decanter-accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </div>
        </li>
        <li>
          <button class="decanter-accordion-button" aria-expanded="false" aria-controls="a4">
      Fourth Item
    </button>
          <div id="a4" class="decanter-accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </div>
        </li>
        <li>
          <button class="decanter-accordion-button" aria-expanded="false" aria-controls="a5">
      Fifth Item
    </button>
          <div id="a5" class="decanter-accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- Script -->
  <script src="../../js/decanter.min.js"></script>
</body>

</html>
