<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Decanter Components | Alerts</title>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../css/decanter.min.css">
  <!-- Example Component Styles -->
  <style>
    .grid-example {
      margin-bottom: 2em;
    }

    .grid-example [class*="decanter-grid"]>* {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  </style>
</head>

<body>
  <div class="grid-example">
    <div class="decanter-grid">
      <h1>Alerts</h1>
      <div class="decanter-alert decanter-alert-success">
        <div class="decanter-alert-body">
          <h3 class="decanter-alert-heading">Success Alert</h3>
          <p class="decanter-alert-text">This is a success alert.</p>
        </div>
      </div>
      <div class="decanter-alert decanter-alert-warning">
        <div class="decanter-alert-body">
          <h3 class="decanter-alert-heading">Warning Alert</h3>
          <p class="decanter-alert-text">This is a warning alert.</p>
        </div>
      </div>
      <div class="decanter-alert decanter-alert-error" role="alert">
        <div class="decanter-alert-body">
          <h3 class="decanter-alert-heading">Error Alert</h3>
          <p class="decanter-alert-text">This is a error alert.</p>
        </div>
      </div>
      <div class="decanter-alert decanter-alert-info">
        <div class="decanter-alert-body">
          <h3 class="decanter-alert-heading">Information Alert</h3>
          <p class="decanter-alert-text">This is an information alert.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Script -->
  <script src="../../js/decanter.min.js"></script>
</body>

</html>
