<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Decanter Components | Hero Banner</title>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../css/decanter.min.css">
  <!-- Example Component Styles -->
  <style>
    .grid-example {
      margin-bottom: 2em;
    }

    .grid-example [class*="decanter-grid"]>* {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  </style>
</head>

<body>
  <div class="grid-example">
    <div class="decanter-grid">
      <h1>Hero Banner</h1>
    </div>
    <div class="decanter-grid-full">
      <div class="decanter-hero-banner">
        <div class="decanter-grid">
          <div class="decanter-hero-banner-callout">
            <h2><span class="decanter-hero-banner-callout-alt">Hero callout:</span> Call attention to a current priority</h2>
            <a class="decanter-hero-banner-link" href="#">Link to more about that priority</a>
            <a class="decanter-button decanter-button-big decanter-button-secondary" href="#">Learn about what we do</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Script -->
  <script src="../../js/decanter.min.js"></script>
</body>

</html>
