<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Decanter Components | Hero Banner</title>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../css/decanter.min.css">
  <!-- Example Component Styles -->
  <style>
    .grid-example {
      margin-bottom: 2em;
    }

    .grid-example [class*="decanter-grid"]>* {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  </style>
</head>

<body>
  <div class="grid-example">
    <div class="decanter-grid">
      <h1>Hero Banner</h1>
      <h2>Full Width</h2>
    </div>
    <div class="decanter-grid-full">
      <div class="decanter-hero-banner">
        <div class="decanter-grid">
          <div class="decanter-hero-banner-callout">
            <h2>Header lorem ipsum dolor</h2>
            <a class="decanter-hero-banner-link" href="#">Link sed ut perspiciatis unde omnis iste</a>
            <p>Paragraph text lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            <a class="decanter-button" href="#">Button link vero eos et</a>
          </div>
        </div>
      </div>
    </div>
    <div class="decanter-grid">
      <h2>12 Column</h2>
      <div class="decanter-hero-banner">
        <div class="decanter-grid">
          <div class="decanter-hero-banner-callout">
            <h2>Header lorem ipsum dolor</h2>
            <a class="decanter-hero-banner-link" href="#">Link sed ut perspiciatis unde omnis iste</a>
            <p>Paragraph text lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            <a class="decanter-button" href="#">Button link vero eos et</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Script -->
  <script src="../../js/decanter.min.js"></script>
</body>

</html>
