<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Decanter Components | Search</title>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../css/decanter.min.css">
  <!-- Example Component Styles -->
  <style>
    .grid-example {
      margin-bottom: 2em;
    }

    .grid-example [class*="decanter-grid"]>* {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  </style>
</head>

<body>
  <div class="grid-example">
    <div class="decanter-grid">
      <h1>Search</h1>
      <!-- Big ------------------------------>
      <h2>Big</h2>
      <form class="decanter-search decanter-search-big">
        <div role="search">
          <label class="decanter-sr-only" for="search-field-big">Search big</label>
          <input id="search-field-big" type="search" name="search">
          <button type="submit">
              <span class="decanter-search-submit-text">Search</span>
            </button>
        </div>
      </form>
      <!-- Medium ------------------------------>
      <h2>Medium</h2>
      <form class="decanter-search">
        <div role="search">
          <label class="decanter-sr-only" for="search-field">Search medium</label>
          <input id="search-field" type="search" name="search">
          <button type="submit">
              <span class="decanter-search-submit-text">Search</span>
            </button>
        </div>
      </form>
      <!-- Small ------------------------------>
      <h2>Small</h2>
      <form class="decanter-search decanter-search-small">
        <div role="search">
          <label class="decanter-sr-only" for="search-field-small">Search small</label>
          <input id="search-field-small" type="search" name="search">
          <button type="submit">
              <span class="decanter-sr-only">Search</span>
            </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Script -->
  <script src="../js/decanter.min.js"></script>
</body>

</html>
