@charset "UTF-8";

@include media($medium) {
  .decanter-width-one-whole {
    @include span-columns(6);
  }

  .decanter-width-one-half {
    @include span-columns(3);
  }

  .decanter-width-one-third {
    @include span-columns(2);
  }

  .decanter-width-two-thirds {
    @include span-columns(4);
  }

  .decanter-width-one-fourth {
    @include span-columns(3);

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .decanter-width-three-fourths {
    @include span-columns(6);
  }

  .decanter-width-one-sixth {
    @include span-columns(2);

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .decanter-width-five-sixths {
    @include span-columns(4);
  }

  .decanter-width-one-twelfth {
    @include span-columns(2);

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .decanter-width-five-twelfths {
    @include span-columns(2);
  }

  .decanter-width-seven-twelfths {
    @include span-columns(4);
  }
}
