@charset "UTF-8";

///
/// GRID MEDIA MEDIUM
///

// Grid pattern for medium breakpoint (600px).

@include media($medium) {
  .decanter-width-one-whole {
    @include span-columns(6);
  }

  .decanter-width-one-half {
    @include span-columns(3);
  }

  .decanter-width-one-third {
    @include span-columns(2);
  }

  .decanter-width-two-thirds {
    @include span-columns(4);
  }

  .decanter-width-one-fourth {
    @include span-columns(3);

    &:nth-child(2n) {
      @include margin(null 0 null null);
    }
  }

  .decanter-width-three-fourths {
    @include span-columns(6);
  }

  .decanter-width-one-sixth {
    @include span-columns(2);

    &:nth-child(3n) {
      @include margin(null 0 null null);
    }
  }

  .decanter-width-five-sixths {
    @include span-columns(4);
  }

  .decanter-width-one-twelfth {
    @include span-columns(2);

    &:nth-child(3n) {
      @include margin(null 0 null null);
    }
  }

  .decanter-width-five-twelfths {
    @include span-columns(2);
  }

  .decanter-width-seven-twelfths {
    @include span-columns(4);
  }
}
