{#
/**
 * @file
 * Css-Grid — Responsive Grid Map Mixins
 *
 * This file documents provides a visual example of of the mixin @responsive-grid-map in action.
 *
 *
#}
<div class="layout-bars">
  <div class="css-responsive-grid-map">
    <section>
      <h2>C1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </section>
  </div>
</div>
