// Layout
// ------
// Using a negative margin technique, adapted from ZEN. The page is loaded by
// this order:

// 1. Header
// 2. Content
// 3. Navigation menus
// 4. Sidebar Left
// 5. Sideabr Right
//
// Layout rules.
// (Disclaimer: do not change if you're not sure you know what you're doing.)

.container {
  @include outer-container;

  margin-left: auto;
  margin-right: auto;
  width: auto;
}

#footer {
  float: none;
  clear: both;
}

// Region Colors. delete when starting a new theme.
#header, #footer,
#sidebar-first,
#sidebar-second,
#navigation {
  background: rgba(#aaa, 0.2);
}

// Layout Helpers
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}
