<h4 style="text-align: center;">Whole & Halves</h4>
  <div class="decanter-grid">
    <div class="decanter-grid--item decanter-width-one-whole">one-whole</div>
    <div class="decanter-grid--item decanter-width-one-half">one-half</div>
    <div class="decanter-grid--item decanter-width-one-half">one-half</div>
  </div>
</div>

<h4 style="text-align: center;">Thirds</h4>
<div class="decanter-grid">
  <div class="decanter-grid--item decanter-width-one-third">one-third</div>
  <div class="decanter-grid--item decanter-width-one-third">one-third</div>
  <div class="decanter-grid--item decanter-width-one-third">one-third</div>

  <div class="decanter-grid--item decanter-width-one-third">one-third</div>
  <div class="decanter-grid--item decanter-width-two-thirds">two-thirds</div>
</div>

<h4 style="text-align: center;">Fourths & Halves</h4>
<div class="decanter-grid">
  <div class="decanter-grid--item decanter-width-one-fourth">one-fourth</div>
  <div class="decanter-grid--item decanter-width-one-fourth">one-fourth</div>
  <div class="decanter-grid--item decanter-width-one-fourth">one-fourth</div>
  <div class="decanter-grid--item decanter-width-one-fourth">one-fourth</div>

  <div class="decanter-grid--item decanter-width-one-fourth">one-fourth</div>
  <div class="decanter-grid--item decanter-width-three-fourths">three-fourths</div>

  <div class="decanter-grid--item decanter-width-one-fourth">one-fourth</div>
  <div class="decanter-grid--item decanter-width-one-half">one-half</div>
  <div class="decanter-grid--item decanter-width-one-fourth">one-fourth</div>
</div>

<h4 style="text-align: center;">Fifths</h4>
<div class="decanter-grid">
  <div class="decanter-grid--item decanter-width-one-fifth">one-fifth</div>
  <div class="decanter-grid--item decanter-width-one-fifth">one-fifth</div>
  <div class="decanter-grid--item decanter-width-one-fifth">one-fifth</div>
  <div class="decanter-grid--item decanter-width-one-fifth">one-fifth</div>
  <div class="decanter-grid--item decanter-width-one-fifth">one-fifth</div>

  <div class="decanter-grid--item decanter-width-one-fifth">one-fifth</div>
  <div class="decanter-grid--item decanter-width-two-fifths">two-fifths</div>
  <div class="decanter-grid--item decanter-width-two-fifths">two-fifths</div>

  <div class="decanter-grid--item decanter-width-one-fifth">one-fifth</div>
  <div class="decanter-grid--item decanter-width-three-fifths">three-fifths</div>
  <div class="decanter-grid--item decanter-width-one-fifth">one-fifth</div>

  <div class="decanter-grid--item decanter-width-one-fifth">one-fifth</div>
  <div class="decanter-grid--item decanter-width-four-fifths">four-fifths</div>
</div>

<h4 style="text-align: center;">Sixths, Halves, and Thirds</h4>
<div class="decanter-grid">
  <div class="decanter-grid--item decanter-width-one-sixth">one-sixth</div>
  <div class="decanter-grid--item decanter-width-one-sixth">one-sixth</div>
  <div class="decanter-grid--item decanter-width-one-sixth">one-sixth</div>
  <div class="decanter-grid--item decanter-width-one-sixth">one-sixth</div>
  <div class="decanter-grid--item decanter-width-one-sixth">one-sixth</div>
  <div class="decanter-grid--item decanter-width-one-sixth">one-sixth</div>

  <div class="decanter-grid--item decanter-width-one-sixth">one-sixth</div>
  <div class="decanter-grid--item decanter-width-one-half">one-half</div>
  <div class="decanter-grid--item decanter-width-one-third">one-third</div>

  <div class="decanter-grid--item decanter-width-one-sixth">one-sixth</div>
  <div class="decanter-grid--item decanter-width-two-thirds">two-thirds</div>
  <div class="decanter-grid--item decanter-width-one-sixth">one-sixth</div>

  <div class="decanter-grid--item decanter-width-one-sixth">one-sixth</div>
  <div class="decanter-grid--item decanter-width-five-sixths">five-sixths</div>
</div>
