{% set items = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'] %}

<h3>{{ classes }}one-fourth</h3>
{% for row in items|batch(4, 'No item') %}
<div class="decanter-grid">
    {% for cell in row %}
        <div class="decanter-width-one-fourth">{{ cell }}</div>
    {% endfor %}
</div>
{% endfor %}
