@charset "UTF-8";

///
/// ACCORDIONS COMPONENT
///

// Accordion variables
$accordion-border: 1px solid $color-driftwood;

// Accordion Styles
@mixin accordion-list-styles {
  @include unstyled-list;

  color: $color-black;
  margin: 0;
  padding: 0;
  width: 100%;
}

@mixin accordion-list-item-styles {
  background-color: $color-cool-grey;
  font-family: $font-sans;
  list-style: none;
  margin-bottom: 6px;
  width: 100%;
}

@mixin accordion-button-styles {
  @include button-unstyled;

  background-color: $color-bright-red;
  background-image: url("#{$image-path}/minus.png");
  background-image: url("#{$image-path}/minus.svg");
  background-position: right 3rem center;
  background-repeat: no-repeat;
  background-size: 13px;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-family: $font-sans;
  font-weight: $font-bold;
  margin: 0;
  padding: 1.5rem 5.5rem 1.5rem 3rem;
  width: 100%;

  &:focus {
    background-color: $color-black;
    box-shadow: $focus-shadow;
  }

  &:hover {
    background-color: $color-black;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

@mixin accordion-button-unopened-styles {
  background-image: url("#{$image-path}/plus.png");
  background-image: url("#{$image-path}/plus.svg");
  background-repeat: no-repeat;
  background-size: 1.3rem;
}

@mixin accordion-nested-list {
  > ul li ul {
    list-style: disc;

    > li > ul {
      list-style: circle;

      > li > ul {
        list-style: square;
      }
    }
  }
}

.decanter-accordion,
.decanter-accordion-bordered {
  @include accordion-list-styles;
  @include accordion-nested-list;

  + .decanter-accordion,
  + .decanter-accordion-bordered {
    margin-top: 1rem;
  }

  > li {
    @include accordion-list-item-styles;
  }
}

.decanter-accordion-bordered {
  .decanter-accordion-content {
    border-bottom: $accordion-border;
    border-left: $accordion-border;
    border-right: $accordion-border;
  }
}

.decanter-accordion-content {
  background-color: $color-white;
  overflow: auto;
  padding: 3rem;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  &:not([aria-hidden]) {
    @include sr-only;
  }

  @include accessibly-hidden;
}

.decanter-accordion-button {
  @include accordion-button-styles;
}

.decanter-accordion-button[aria-expanded=false] {
  @include accordion-button-unopened-styles;
}
