@charset "UTF-8";

$decanter-form-width: 32rem;

form {
  a {
    border-bottom: 0;
  }

  [type=submit],
  [type=submit] {
    display: block;
    margin-bottom: 1.5em;
    margin-top: 2.5rem;

    @include media($medium-screen) {
      padding-left: 2.7em;
      padding-right: 2.7em;
      width: auto;
    }
  }

  [name=password],
  [name=confirmPassword] {
    margin-bottom: 1.1rem;
  }
}

.decanter-form {
  @include media($medium-screen) {
    max-width: $decanter-form-width;
  }
}

.decanter-form-note {
  float: right;
  font-family: $font-sans;
  font-size: $h5-font-size;
  margin: 0 0 1.5rem;

  + * {
    clear: both;
  }
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.decanter-form-large {
  @include media($medium-screen) {
    max-width: 46rem;
  }
}

input {
  &.decanter-input-tiny { /* stylelint-disable-line selector-no-qualifying-type */
    @include media($medium-screen) {
      max-width: 6rem;
    }
  }

  &.decanter-input-medium { /* stylelint-disable-line selector-no-qualifying-type */
    @include media($medium-screen) {
      max-width: 12rem;
    }
  }
}

.decanter-input-grid {
  @include media($medium-screen) {
    padding-right: 5%;
  }
}

.decanter-input-grid:last-of-type {
  @include media($medium-screen) {
    padding-right: 0;
  }
}

.decanter-input-grid-small {
  @include media($medium-screen) {
    float: left;
    width: 35%;
  }

  input {
    margin-bottom: 3rem;
  }

  select {
    margin-bottom: 3rem;
  }
}

.decanter-input-grid-medium {
  @include media($medium-screen) {
    float: left;
    width: 65%;
  }

  input {
    margin-bottom: 3rem;
  }

  select {
    margin-bottom: 3rem;
  }
}

.decanter-input-grid-large {
  @include media($medium-screen) {
    float: left;
    width: 100%;
  }

  input {
    margin-bottom: 3rem;
  }

  select {
    margin-bottom: 3rem;
  }
}

.decanter-additional_text {
  font-weight: normal;
}

// Reset password checklist

.decanter-checklist {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 3em;
    text-indent: -2em;

    &::before {
      content: ' ';
      display: inline-block;
      height: .8em;
      margin-right: .2em;
      width: 1.8em;
    }
  }
}

.decanter-checklist-checked {
  &::before {
    background-image: url('#{$image-path}/correct9.png');
    background-image: url('#{$image-path}/correct9.svg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
