@charset "UTF-8";

///
/// ICON GRID COMPONENT
///

.decanter-icon_grid {
  .decanter-icon_grid-row {
    .decanter-media_block {
      margin-bottom: $site-margins;

      @include media($medium-screen) {
        margin-bottom: $site-margins * 2;
      }
    }

    &:last-child {
      .decanter-media_block {
        @include media($medium-screen) {
          margin-bottom: 0;
        }


        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .decanter-media_block-img {
    margin-right: $site-margins;
  }

  .decanter-media_block-body {
    > :first-child {
      margin-top: 0;
    }
  }
}
