@charset "UTF-8";

///
/// MEDIA BLOCK COMPONENT
///

// Positioning of media items.

@mixin media-block-img($margin-right: 1rem) {
  float: left;
  margin-right: $margin-right;
}

.decanter-media_block-img {
  @include media-block-img;
}

.decanter-media_block-body {
  overflow: hidden;
}
