@charset "UTF-8";

///
/// NAVIGATION COMPONENT
///

// Navigation variables
$z-index-nav: 9000;

// Main menu navigation
@mixin nav-border {
  border-bottom: 0.2rem solid $color-black;
  padding-bottom: 1rem;
}

.decanter-navbar {
  border-bottom: 1px solid $color-cool-grey;
  height: 4rem;

  @include media($nav-width) {
    border-bottom: none;
    display: inline-block;
    height: 10.3rem;
  }
}

.decanter-nav-link {
  @include font-smoothing;

  &:hover {
    @include media($nav-width) {
      @include nav-border;
    }
  }
}

.decanter-nav-container {
  @include media($nav-width) {
    @include outer-container;
    @include padding(null $site-margins);

    max-width: $site-max-width;
  }
}

.decanter-nav {
  $sliding-panel-width: 26rem;

  @include position(fixed, 0 0 0 auto);

  background: transparent;
  border-left: 1px solid $color-cool-grey;
  border-right: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 2rem;
  transform: translateX($sliding-panel-width);
  width: $sliding-panel-width;
  z-index: $z-index-nav;

  @include media($nav-width) {
    @include padding(5rem 0 0 null);

    border-left: none;
    display: block;
    float: right;
    overflow-y: visible;
    position: relative;
    transform: translateX(0);
    width: auto;
  }


  &.is-visible {
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
  }

  nav {
    margin-top: 6rem;

    // XXX magic number
    min-height: 100%;

    @include media($nav-width) {
      margin-top: 0;
    }
  }

  .decanter-current {
    border-left: 4px solid $color-bright-red;
    color: $color-black;
    font-weight: $font-bold;
    padding-left: 1.4rem;
  }

  .decanter-button {
    width: 100%;
  }

  .decanter-search {
    @include media($nav-width) {
      margin-left: 1.5rem;

      // XXX magic number
    }
  }
}

// Primary navigation
.decanter-nav-primary {
  @include decanter-sidenav-list;

  order: 2;

  @include media($nav-width) {
    display: inline;
  }


  li {
    @include media($nav-width) {
      border-top: none;
    }
  }

  > li {
    width: auto;

    @include media($nav-width) {
      display: inline-block;

      // margin-left: -4px;
    }


    > a {
      @include media($nav-width) {
        @include padding(1.3rem 1.5rem 1.7rem 1.5rem);

        color: $color-bright-red;
        font-size: $h5-font-size;
        font-weight: $font-bold;
        line-height: 1.2;
      }


      &:hover {
        color: $color-black;
        text-decoration: none;

        @include media($nav-width) {
          background-color: transparent;
        }
      }
    }
  }

  button {
    @include button-unstyled;
    @include font-smoothing;

    font-weight: $font-normal;
    padding: 1.4rem 1.5rem 1rem 1.8rem;

    @include media($nav-width) {
      @include padding(null 3rem 1.9rem 1.5rem);

      color: $color-bright-red;
      font-size: $h5-font-size;
      font-weight: $font-bold;
      width: initial;
    }


    &:focus,
    &:active {
      background-color: transparent;
      box-shadow: $focus-shadow;
    }

    &:hover {
      color: $color-black;

      @include media($nav-width) {
        background-color: transparent;
      }
    }

    &[aria-expanded=false] {
      background-image: url("#{$image-path}/plus.png");
      background-image: url("#{$image-path}/plus.svg");
      background-repeat: no-repeat;
      background-position: right 0 center;
      background-size: 1rem;

      @include media($nav-width) {
        background-image: url("#{$image-path}/arrow-down.png");
        background-image: url("#{$image-path}/arrow-down.svg");
        background-position: right 1.5rem top 44%;

        &:hover {
          background-image: url("#{$image-path}/arrow-down-hover.png");
          background-image: url("#{$image-path}/arrow-down-hover.svg");
          background-position: right 1.5rem top 58%;
        }
      }
    }

    &[aria-expanded=true] {
      background-image: url("#{$image-path}/minus.png");
      background-image: url("#{$image-path}/minus.svg");
      background-repeat: no-repeat;
      background-position: right 0 center;
      background-size: 1rem;

      @include media($nav-width) {
        background-color: $color-bright-red;
        background-image: url("#{$image-path}/arrow-down-hover.png");
        background-image: url("#{$image-path}/arrow-down-hover.svg");
        background-position: right 1.5rem top 58%;
        color: $color-white;

        @include nav-border;

        &:hover {
          background-color: $color-bright-red;
          background-position: right 1.5rem top 58%;
        }
      }
    }
  }

  @include media($nav-width) {
    a.decanter-current {
      // undo the sidenav style
      border-left: 0;
      padding-left: 1.5rem;

      @include nav-border;
    }
  }
}

// Secondary navigation
.decanter-nav-secondary {
  @include media($nav-width) {
    position: absolute;
    right: $site-margins;
    top: -5.7rem;

    // XXX magic number
  }


  .decanter-search {
    @include margin(3rem null);

    @include media($nav-width) {
      @include margin((-0.2rem) null 0 0);

      float: left;
    }
  }
}

.decanter-nav-secondary-links {
  @include media($nav-width) {
    float: left;
  }


  li {
    @include media($nav-width) {
      display: inline;
      padding-left: 1rem;
    }


    &:not(:last-child)::after {
      @include media($nav-width) {
        content: '|';
        padding-left: 1rem;
      }
    }
  }

  a,
  .decanter-main-menu-search-button {
    color: $color-cool-grey;
    display: inline-block;
    font-size: $h5-font-size;
    text-decoration: none;

    &:hover {
      color: $color-bright-red;
    }
  }

  .decanter-main-menu-search-button {
    @include button-unstyled;

    display: none;

    @include media($nav-width) {
      background-image: url("#{$image-path}/search-alt.png");
      background-image: url("#{$image-path}/search-alt.svg");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 2.2rem;
      display: inline-block;
      padding-left: 2.3rem;
    }


    &.is-hidden {
      @include media($nav-width) {
        display: none;
      }
    }
  }

  @include media($nav-width) {
    a.decanter-current {
      // undo the sidenav style
      border-left: 0;
      padding-left: 0;
    }
  }
}

// Navigation submenu (dropdown and mega menu)
.decanter-nav-submenu {
  @include media($nav-width) {
    @include unstyled-list;
    @include padding(1.15rem null);

    background-color: $color-bright-red;
    min-width: 21.5rem;
    width: auto;
    position: absolute;
  }


  &[aria-hidden=true] {
    display: none;
  }

  a {
    @include media($nav-width) {
      color: $color-white;
      padding-left: 1.5rem;
    }


    &:hover {
      @include media($nav-width) {
        background-color: $color-bright-red;
        color: $color-white;
        text-decoration: underline;
      }
    }
  }

  li {
    font-size: $h5-font-size;
    margin-bottom: 0;
  }
}

// Navigation close button
.decanter-nav-close {
  @include button-unstyled;
  @include margin((-1.2rem) -1.5rem 2.4rem auto);

  float: right;
  height: $hit-area;
  text-align: center;
  width: $hit-area;

  @include media($nav-width) {
    display: none;
  }


  img {
    width: 1.3rem;
  }
}

.decanter-mobile_nav-active {
  overflow: hidden;
}

// Mega menu navigation
@mixin outer-megamenu {
  background-color: $color-bright-red;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 1000%;
}

.decanter-megamenu {
  @include media($nav-width) {
    @include padding(3.15rem null);

    // XXX magic number
    // XXX this is the difference between the 2rem padding-left
    // of .decanter-nav-inner and the $site-margins (3rem) padding-left
    // of .decanter-megamenu
    left: -1rem;
    width: 100%;
  }


  &::before {
    @include media($nav-width) {
      @include outer-megamenu;

      right: 100%;
    }
  }

  &::after {
    @include media($nav-width) {
      @include outer-megamenu;

      left: 100%;
    }
  }
}

.decanter-main-menu-basic-megamenu {
  .decanter-nav {
    @include media($nav-width) {
      padding-left: 0;
      padding-top: 0;
      width: 100%;
    }
  }

  .decanter-nav-inner {
    display: flex;
    flex-direction: column;

    @include media($nav-width) {
      display: block;
      float: right;
      margin-top: -4.8rem;
    }
  }

  .decanter-nav-submenu {
    .decanter-grid-full {
      @include media($nav-width) {
        margin-left: -1.8rem;

        // XXX magic number
      }
    }
  }
}

.decanter-megamenu-col {
  @include media($nav-width) {
    @include span-columns(3);

    &:nth-child(2n) {
      @include span-columns(3);
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }


  > ul {
    @include unstyled-list;
  }
}
