@charset "UTF-8";

///
/// SECTION COMPONENT
///

.decanter-section {
  @include padding($site-margins null);

  @include media($medium-screen) {
    @include padding(6rem null);
  }
}

.decanter-section-light {
  background-color: $color-cool-grey;
}

.decanter-section-dark {
  background-color: $color-black;
  color: $color-white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-white;
  }

  p {
    color: $color-white;
  }

  a {
    color: $color-bright-blue;

    &:hover {
      color: $color-blue;
    }
  }
}
