@charset "UTF-8";

///
/// STANFORD BRAND LOCKUP COMPONENT
///

// Decanter.
@import
  "decanter-no-markup";
// Stanford Basic
@import
  'config/config',
  'utilities/utilities';

.block--lockup {
  display: table;
}

.block--lockup__site-logo-wrapper {
  display: table-cell;
  vertical-align: bottom;
  border-right: 1px solid $color-black;
  padding-right: 10px;
  line-height: .8em;

  .block--lockup__site-logo {
    width: auto;

    img {
      width: 180px;
      max-width: 180px;
    }
  }
}

.block--lockup__site-name-and-slogan {
  display: table-cell;
  padding-left: 10px;
  vertical-align: bottom;

  a {
    font-size: 1.8em;
    display: block;
    margin-bottom: -11px;

    &:hover,
    &focus {
      text-decoration: none;
    }
  }
}

.block--lockup__site-name {
  font-size: 3.1rem;

  a:hover {
    text-decoration: none;
  }
}

.block--lockup__site-slogan {
  font-size: $small-font-size;
  font-style: italic;
  margin: 0;
  padding: 0;
  width: 100%;
  clear: both;
}
