@charset "UTF-8";

///
/// STANFORD GLOBAL BRAND BAR COMPONENT
///

// A thin red stripe with the Stanford logo.

// Decanter.
@import
  "decanter-no-markup";

// Stanford Basic
@import
  'config/config',
  'utilities/utilities';

// Mixin for easy re-use
@mixin stanford-brand-bar {
  background: $color-bright-red;
  color: $color-white;
  height: 40px;
  line-height: 50px;
  max-height: 40px;

  img {
    width: 153px;
  }
}

// Separation of class from mixin
.brand-bar {
  @include stanford-brand-bar;

  order: -100;
}
