@charset "UTF-8";

///
/// STANFORD BRAND LOCKUP COMPONENT
///

// Decanter
@import
  'decanter-no-markup';

// Stanford Basic
@import
  'config/config',
  'utilities/utilities';

.block--lockup {
  @include media($small-screen) {
    display: table;
  }
}

.block--lockup__site-logo-wrapper {
  vertical-align: bottom;
  line-height: .8em;

  @include media($small-screen) {
    border-right: 1px solid $color-black;
    display: table-cell;

    @include padding(null 10px null null);
  }
}

.block--lockup__site-logo {
  display: none;

  @include media($small-screen) {
    display: block;
    width: auto;

    img {
      width: 180px;
      max-width: 180px;
    }
  }
}

.block--lockup__site-name {
  font-size: $h2-font-size;
  line-height: 3.5rem;
  vertical-align: bottom;

  @include media($small-screen) {
    display: table-cell;

    @include padding(null null null 10px);
  }


  a {
    color: $color-black;
    display: block;
    text-decoration: none;

    @include margin(null null -5px);
  }
}

.block--lockup__site-slogan {
  font-size: $lead-font-size;
  width: 100%;
  clear: both;

  @include margin(5px null null);
  @include padding(0);
}
