@charset "UTF-8";

///
/// STANFORD GLOBAL FOOTER COMPONENT
///

// Decanter.
@import
  "decanter-no-markup";
// Stanford Basic
@import
  'config/config',
  'utilities/utilities';

#footer__global-footer {
  @include padding($site-margins null);

  background-color: $color-cardinal-red;
  color: $color-white;
  text-align: center;
  width: 100%;

  @include media($medium-screen) {
    text-align: left;
  }

  a {
    color: $color-white;
  }

  .su-brand {
    padding-top: 0.15em;
  }

  #global-footer__brand {
    display: block;

    @include media($small-screen) {
      max-height: 70px;
    }
  }

  #global-footer__nav {
    color: $color-white;
    display: block;
    font-weight: 300;

    #nav__global-links {
      font-size: $base-font-size;
      font-weight: $font-normal;
      margin-bottom: 1rem;

      a {
        margin-right: 1.7em;
      }
    }

    #nav__policy-links {
      font-size: $h5-font-size;
      margin-bottom: 1rem;

      a {
        margin-right: 1.5rem;
      }
    }

    a {
      display: inline-block;
    }
  }

  #global-footer__copyright {
    .vcard {
      font-size: $h5-font-size;
      font-weight: 300;
    }
  }
}
