@charset "UTF-8";

///
/// STANFORD GLOBAL FOOTER COMPONENT
///

// Stanford Basic

@import "config/config";
@import "utilities/utilities";

// Decanter

@import "decanter/scss/lib/bourbon";
@import "decanter/scss/lib/neat";
@import "decanter/scss/lib/normalize";
@import "decanter/scss/core/core";
@import "decanter/scss/elements/elements";

#footer__global-footer {
  @include padding($site-margins null);

  background-color: $color-cardinal-red;
  color: $color-white;
  width: 100%;

  a {
    color: $color-white;
  }

  .su-brand {
    padding-top: 0.15em;
    line-height: 0.75;
  }

  #global-footer__brand {
    display: block;
    float: left;

    @include media($small-screen) {
      width: 10rem;
      max-height: 70px;
    }
  }

  #global-footer__nav {
    color: $color-white;
    display: block;
    font-weight: 300;

    #nav__global-links {
      font-size: $base-font-size;
      font-weight: $font-normal;
      margin-bottom: 1rem;
    }

    #nav__policy-links {
      font-size: $h5-font-size;
      margin-bottom: 1rem;

      a {
        margin-right: 1.2em;
      }
    }

    a {
      display: inline-block;
    }
  }

  #global-footer__copyright {
    .vcard {
      font-size: $h5-font-size;
      font-weight: 300;
    }
  }

  .termsofuse {
    font-size: $h6-font-size;
    font-weight: 300;

    > * {
      white-space: nowrap;
    }
  }
}

// #footer__global-footer {
//   @media (max-width: 767px) {
//     #global-footer__brand {
//       float: none;
//       margin: 0 auto 1em;
//     }
//
//     #global-footer__nav {
//       display: inline-block;
//       overflow: hidden;
//       text-align: left;
//
//       #nav__global-links {
//         margin-right: 30px;
//       }
//
//       #nav__global-links,
//       #nav__policy-links {
//         float: left;
//         font-size: 1.6rem;
//         margin-bottom: .5em;
//
//         a {
//           display: block;
//           margin-bottom: .5em;
//         }
//       }
//     }
//   }
// }
