@charset "UTF-8";

// Stanford Basic
@import
  'config/config',
  'utilities/utilities';

// Decanter
@import
  'decanter/scss/lib/bourbon',
  'decanter/scss/lib/neat',
  'decanter/scss/lib/normalize',
  'decanter/scss/core/core',
  'decanter/scss/elements/elements';

#footer__global-footer {
  background-color: #B1040E;
  color: $color-white;
  width: 100%;

  a {
    color: $color-white;
  }

  .su-brand {
    padding-top: 0.15em;
    line-height: 0.75;
  }

  #global-footer__brand {
    display: block;
    float: left;

    @include media($small-screen) {
      width: 10rem;
      max-height: 70px;
    }
  }

  #global-footer__nav {
    color: $color-white;
    display: block;
    font-weight: 300;

    #nav__global-links {
      font-size: 1.6rem;
      margin-bottom: 0.25em;

      a {
        margin-right: 1.5em;
      }
    }

    #nav__policy-links {
      font-size: $h6-font-size;

      a {
        margin-right: 1.2em;
      }
    }

    a {
      display: inline-block;

      @include media($small-screen) {
        display: block;
        width: 15rem;
        margin: 0 auto;
      }
    }
  }

  #global-footer__info {
    .vcard {
      font-size: $h6-font-size;
      font-weight: 300;
    }
  }

  .termsofuse {
    font-size: $h6-font-size;
    font-weight: 300;

    > * {
      white-space: nowrap;
    }
  }
}

#footer__global-footer {
  @media (max-width: 767px) {
    #global-footer__brand {
      float: none;
      margin: 0 auto 1em;
    }

    #global-footer__nav {
      display: inline-block;
      overflow: hidden;
      text-align: left;

      #nav__global-links {
        margin-right: 30px;
      }

      #nav__global-links,
      #nav__policy-links {
        float: left;
        font-size: 1.6rem;
        margin-bottom: .5em;

        a {
          display: block;
          margin-bottom: .5em;
        }
      }
    }

    #global-footer__info {
      clear: both;
      text-align: center;
    }
  }
}
