@charset "UTF-8";

///
/// MAIN MENU COMPONENT
///
// Decanter.
@import
  "decanter-no-markup";
// Stanford Basic
@import
  'config/config',
  'utilities/utilities';
.menu--main {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);

  ul {
    margin: 0 0 -1em 0;
  }

  li {
    font-family: $font-sans;
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  a {
    display: inline-block;
    font-size: 1.8rem;
    padding-bottom: 20px;
    font-weight: 400;
  }

  a:hover,
  a.is-active,
  .menu-item--active-trail a {
    text-decoration: none;
    color: $color-black;
    border-bottom: solid 3px $color-black;
  }
}
