@charset "UTF-8";

//
//
//
$grid-screens: (
  'xs': 100%,
  'sm': $screen-sm,
  'md': $screen-md,
  'lg': $screen-lg,
  'xl': $screen-xl,
  '2xl': $screen-2xl
);

//
//
//
$grid-media: (
  'xs': $breakpoint-xs,
  'sm': $breakpoint-sm,
  'md': $breakpoint-md,
  'lg': $breakpoint-lg,
  'xl': $breakpoint-xl,
  '2xl': $breakpoint-2xl
);

//
//
//
$grid-media-only: (
  'xs': $breakpoint-xs-only,
  'sm': $breakpoint-sm-only,
  'md': $breakpoint-md-only,
  'lg': $breakpoint-lg-only,
  'xl': $breakpoint-xl-only,
  '2xl': $breakpoint-2xl
);

//
//
//
$responsive-columns-default: (
  $breakpoint-xs: 1fr,
  $breakpoint-sm: 1fr 1fr,
  $breakpoint-md: 1fr 1fr,
  $breakpoint-lg: 1fr 1fr,
  $breakpoint-xl: 1fr 1fr,
  $breakpoint-2xl: 1fr 1fr
);

// Helper for those like me that forget.
$responsive-columns-two: $responsive-columns-default;

//
//
//
$responsive-columns-three: (
  $breakpoint-xs: 1fr,
  $breakpoint-sm: 1fr 1fr,
  $breakpoint-md: 1fr 1fr,
  $breakpoint-lg: 1fr 1fr 1fr,
  $breakpoint-xl: 1fr 1fr 1fr,
  $breakpoint-2xl: 1fr 1fr 1fr
);

//
//
//
$responsive-columns-four: (
  $breakpoint-xs: 1fr,
  $breakpoint-sm: 1fr 1fr,
  $breakpoint-md: 1fr 1fr,
  $breakpoint-lg: 1fr 1fr 1fr 1fr,
  $breakpoint-xl: 1fr 1fr 1fr 1fr,
  $breakpoint-2xl: 1fr 1fr 1fr 1fr
);

//
//
//
$responsive-columns-six: (
  $breakpoint-xs: 1fr,
  $breakpoint-sm: 1fr 1fr 1fr,
  $breakpoint-md: 1fr 1fr 1fr,
  $breakpoint-lg: 1fr 1fr 1fr 1fr 1fr,
  $breakpoint-xl: 1fr 1fr 1fr 1fr 1fr 1fr,
  $breakpoint-2xl: 1fr 1fr 1fr 1fr 1fr 1fr
);

//
//
//
$grid-gutters: (
  'xs': $gutter-xs,
  'sm': $gutter-sm,
  'md': $gutter-md,
  'lg': $gutter-lg,
  'xl': $gutter-xl,
  '2xl': $gutter-2xl
);

//
//
//
$responsive-gutters-default:(
  $breakpoint-xs: $gutter-xs,
  $breakpoint-sm: $gutter-sm,
  $breakpoint-md: $gutter-md,
  $breakpoint-lg: $gutter-lg,
  $breakpoint-xl: $gutter-xl,
  $breakpoint-2xl: $gutter-2xl
);
