@charset "UTF-8";

//
//
//
$grid-screens: (
  'xs': 100%,
  'sm': $screen-sm,
  'md': $screen-md,
  'lg': $screen-lg,
  'xl': $screen-xl
);

//
//
//
$grid-media: (
  'xs': $breakpoint-xs,
  'sm': $breakpoint-sm,
  'md': $breakpoint-md,
  'lg': $breakpoint-lg,
  'xl': $breakpoint-xl
);

//
//
//
$grid-media-only: (
  'xs': $breakpoint-xs-only,
  'sm': $breakpoint-sm-only,
  'md': $breakpoint-md-only,
  'lg': $breakpoint-lg-only,
  'xl': $breakpoint-xl
);

//
//
//
$responsive-columns-default: (
  $breakpoint-xs: 1fr,
  $breakpoint-sm: 1fr 1fr,
  $breakpoint-md: 1fr 1fr,
  $breakpoint-lg: 1fr 1fr,
  $breakpoint-xl: 1fr 1fr
);

//
//
//
$responsive-columns-three: (
  $breakpoint-xs: 1fr,
  $breakpoint-sm: 1fr 1fr,
  $breakpoint-md: 1fr 1fr,
  $breakpoint-lg: 1fr 1fr 1fr,
  $breakpoint-xl: 1fr 1fr 1fr
);

//
//
//
$responsive-columns-four: (
  $breakpoint-xs: 1fr,
  $breakpoint-sm: 1fr 1fr,
  $breakpoint-md: 1fr 1fr,
  $breakpoint-lg: 1fr 1fr 1fr 1fr,
  $breakpoint-xl: 1fr 1fr 1fr 1fr
);

//
//
//
$responsive-gutters-default:(
  $breakpoint-xs: $gutter-xs,
  $breakpoint-sm: $gutter-sm,
  $breakpoint-md: $gutter-md,
  $breakpoint-lg: $gutter-lg,
  $breakpoint-xl: $gutter-xl
);
