@charset "UTF-8";

//
// $modular-spacing
//
// The amount of spacing around elements at certain breakpoints.
//
// Markup: $modular-spacing: (
//   'xs': 32px,
//   'sm': 32px,
//   'md': 36px,
//   'lg': 36px,
//   'xl': 36px,
//   '2xl': 38px
// ) !default;
//
// Styleguide: Variables.Core.modular-spacing
//
$modular-spacing: (
  'xs': 32px,
  'sm': 32px,
  'md': 36px,
  'lg': 36px,
  'xl': 36px,
  '2xl': 38px
) !default;
