@charset "UTF-8";

//
// Typography
//
// Style guide: Variables.Core.Typography
//

//
// $root-font-size
//
// Font size.
//
// Markup: $root-font-size: 10px;
//
// Style guide: Variables.Core.Typography.root-font-size
//
$root-font-size: 10px;

//
// $base-font-size
//
// Font size.
//
// Markup: $base-font-size: 2rem !default;
//
// Style guide: Variables.Core.Typography.base-font-size
//
$base-font-size: 2rem !default;

//
// $small-font-size
//
// Font size.
//
// Markup: $small-font-size: 1.7rem !default;
//
// Style guide: Variables.Core.Typography.small-font-size
//
$small-font-size: 1.7rem !default;

//
// $lead-font-size
//
// Font size.
//
// Markup: $lead-font-size: 2.3rem !default;
//
// Style guide: Variables.Core.Typography.lead-font-size
//
$lead-font-size: 2.3rem !default;

//
// $splash-font-size
//
// Font size.
//
// Markup: $splash-font-size: 5.5rem !default;
//
// Style guide: Variables.Core.Typography.splash-font-size
//
$splash-font-size: 5.5rem !default;

//
// $h1-font-size
//
// Font size.
//
// Markup: $h1-font-size: 4.3rem !default;
//
// Style guide: Variables.Core.Typography.h1-font-size
//
$h1-font-size: 4.3rem !default;

//
// $h2-font-size
//
// Font size.
//
// Markup: $h2-font-size: 3.3rem !default;
//
// Style guide: Variables.Core.Typography.h2-font-size
//
$h2-font-size: 3.3rem !default;

//
// $h3-font-size
//
// Font size.
//
// Markup: $h3-font-size: 2.3rem !default;
//
// Style guide: Variables.Core.Typography.h3-font-size
//
$h3-font-size: 2.3rem !default;

//
// $h4-font-size
//
// Font size.
//
// Markup: $h4-font-size: 2rem !default;
//
// Style guide: Variables.Core.Typography.h4-font-size
//
$h4-font-size: 2rem !default;

//
// $h5-font-size
//
// Font size.
//
// Markup: $h5-font-size: 1.8rem !default;
//
// Style guide: Variables.Core.Typography.h5-font-size
//
$h5-font-size: 1.8rem !default;

//
// $h6-font-size
//
// Font size.
//
// Markup: $h6-font-size: 1.6rem !default;
//
// Style guide: Variables.Core.Typography.h6-font-size
//
$h6-font-size: 1.6rem !default;


//
// $base-line-height
//
// Default line height.
//
// Markup: $base-line-height: 1.4 !default;
//
// Style guide: Variables.Core.Typography.base-line-height
//
$base-line-height: 1.4 !default;

//
// $heading-line-height
//
// Default line height.
//
// Markup: $heading-line-height: 1.2 !default;
//
// Style guide: Variables.Core.Typography.heading-line-height
//
$heading-line-height: 1.2 !default;

//
// $lead-line-height
//
// Default line height.
//
// Markup: $lead-line-height: 1.5 !default;
//
// Style guide: Variables.Core.Typography.lead-line-height
//
$lead-line-height: 1.5 !default;


//
// $font-sans
//
// font-sans Font family.
//
// Markup: $font-sans: 'Source Sans Pro', $font-stack-helvetica !default;
//
// Style guide: Variables.Core.Typography.font-sans
//
$font-sans: 'Source Sans Pro', $font-stack-helvetica !default;

//
// $font-serif
//
// font-serif Font family.
//
// Markup: $font-serif: 'Source Serif Pro', $font-stack-georgia !default;
//
// Style guide: Variables.Core.Typography.font-serif
//
$font-serif: 'Source Serif Pro', $font-stack-georgia !default;

//
// $font-slab
//
// font-slab Font family.
//
// Markup: $font-slab: 'Roboto Slab', $font-stack-georgia !default;
//
// Style guide: Variables.Core.Typography.font-slab
//
$font-slab: 'Roboto Slab', $font-stack-georgia !default;

//
// $font-handwriting
//
// font-script Font family.
//
// Markup: $font-handwriting: 'Kalam', $font-stack-helvetica !default;
//
// Style guide: Variables.Core.Typography.font-script
//
$font-handwriting: 'Kalam', $font-stack-helvetica !default;

//
// $font-x-light
//
// font-x-light Font weight.
//
// Markup: $font-x-light: 100 !default;
//
// Style guide: Variables.Core.Typography.font-x-light
//
$font-x-light: 100 !default;

//
// $font-light
//
// font-light Font weight.
//
// Markup: $font-light: 200 !default;
//
// Style guide: Variables.Core.Typography.font-light
//
$font-light: 200 !default;

//
// $font-normal
//
// font-normal Font weight.
//
// Markup: $font-normal: 400 !default;
//
// Style guide: Variables.Core.Typography.font-normal
//
$font-normal: 400 !default;

//
// $font-bold
//
// font-bold Font weight.
//
// Markup: $font-bold: 600 !default;
//
// Style guide: Variables.Core.Typography.font-bold
//
$font-bold: 600 !default;

//
// $font-x-bold
//
// font-x-bold Font weight.
//
// Markup: $font-x-bold: 700 !default;
//
// Style guide: Variables.Core.Typography.font-x-bold
//
$font-x-bold: 700 !default;


//
// $text-colors
//
// Map containing default colors for various text elements / styles
//
// Markup: Markup for $text-colors goes here // TODO
//
// Style guide: Variables.Core.Typography.text-colors
//
$text-colors: (
  text:                 $color-black,
  text--alt:            $color-bright-red,
  reverse-text:         #fff,
  reverse-text--active: #fff,
  link:                 #006CB8,
  link--active:         #00548F,
);

$sans-defaults: ( // styles for "Big paragraph"
  'font-family':         $font-sans,
  'font-weight':         $font-normal,
  'size-modscale-steps': 0,
  'color':               map_get($text-colors, text),
  'line-height':         0 + 24 / 16, // 0 + forces / to do division
);

//
// $sans
//
// Map containing font specifications for all elements in our sans-serif (default) font
//
// Markup: Markup for $sans goes here // TODO
//
// Style guide: Variables.Core.Typography.sans
//
$sans: (
  'display-a': map-merge($sans-defaults, (
      'font-weight':         $font-bold,
      'size-modscale-steps': 4,
      'line-height':         0 + 49/39, // 0 + forces / to do division
  )),
  'display-b': map-merge($sans-defaults, (
      'font-weight':         $font-bold,
      'size-modscale-steps': 3,
      'line-height':         0 + 39/31.25,
  )),
  'display-c': map-merge($sans-defaults, (
      'font-weight':         $font-bold,
      'size-modscale-steps': 2,
      'line-height':         0 + 31/25,
  )),
  'display-d': map-merge($sans-defaults, (
      'font-weight':         $font-bold,
      'size-modscale-steps': 1,
      'line-height':         0 + 26/20,
  )),
  'display-e': map-merge($sans-defaults, (
      'font-weight':         $font-bold,
      'size-modscale-steps': 0,
      'line-height':         0 + 21/16,
  )),
  'display-f': map-merge($sans-defaults, (
      'font-weight':         $font-bold,
      'size-modscale-steps': -1,
      'line-height':         0 + 17/13,
      'text-transform':      uppercase,
  )),
  'subheading': map-merge($sans-defaults, (
      'size-modscale-steps': 1,
  )),
  'splash-text': map-merge($sans-defaults, (
      'font-weight':         $font-bold,
      'size-modscale-steps': 4,
      'line-height':         0 + 49/39,
  )),
  'intro-text': map-merge($sans-defaults, (
      'size-modscale-steps': 3,
      'line-height':         0 + 47/31.25,
  )),
  'big-paragraph': $sans-defaults,
  'small-paragraph': map-merge($sans-defaults, (
      'size-modscale-steps': -.1,
      'line-height':         0 + 19/15,
  )),
  'list-item': map-merge($sans-defaults, (
      'line-height':         0 + 19/16,
  )),
  'caption': map-merge($sans-defaults, (
      'font-style':          italic,
      'line-height':         0 + 21/16,
  )),
  'credit': map-merge($sans-defaults, (
      'line-height':         0 + 21/16,
  )),
  'quote': map-merge($sans-defaults, (
      'font-style':          italic,
      'size-modscale-steps': 1,
      'line-height':         0 + 30/20,
  )),
  'link': map-merge($sans-defaults, (
      'color':               $color-bright-blue,
      'text-decoration':     underline,
  )),
  'link:hover': map-merge($sans-defaults, (
      'color':               $color-blue,
      'text-decoration':     underline,
  )),
  'inherit': (
    'font-family':           inherit,
    'font-weight':           inherit,
    'font-style':            inherit,
    'size-modscale-steps':   inherit,
    'color':                 inherit,
    'line-height':           inherit,
    'text-decoration':       inherit,
  ),
);
//@debug $sans;
