@charset "UTF-8";

//
// Core
//
// Variables for core settings.
//
// Style guide: Variables.Core
//

@import
  'breakpoints',
  'box-shadow',
  'colors',
  'file-paths',
  'magic-numbers',
  'modular-spacing',
  'typography';
