@media only screen and (max-width: 575px) {
  .layout--chess {
    padding: 1em calc(((50% /12) * 0) + 20px);
  }
  .layout--chess::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .layout--chess {
    padding: 1em calc(((50% /12) * 0) + 20px);
  }
  .layout--chess::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .layout--chess {
    padding: 1em calc(((50% /12) * 0) + 40px);
  }
  .layout--chess::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1499px) {
  .layout--chess {
    padding: 1em calc(((50% /12) * 0) + 40px);
  }
  .layout--chess::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 1500px) {
  .layout--chess {
    padding: 1em calc(50% - (750px - 60px));
  }
  .layout--chess::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only print {
  .layout--chess {
    padding: 1em calc(((50% /12) * 0) + 0.25in);
  }
  .layout--chess::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (max-width: 575px) {
  .layout--chess .grid-collapse {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .layout--chess .grid-collapse {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .layout--chess .grid-collapse {
    margin-left: -40px;
    margin-right: -40px;
    width: calc(100% + 80px);
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1499px) {
  .layout--chess .grid-collapse {
    margin-left: -40px;
    margin-right: -40px;
    width: calc(100% + 80px);
  }
}

@media only screen and (min-width: 1500px) {
  .layout--chess .grid-collapse {
    margin-left: -60px;
    margin-right: -60px;
    width: calc(100% + 120px);
  }
}

@media only print {
  .layout--chess .grid-collapse {
    margin-left: -0.25in;
    margin-right: -0.25in;
    width: calc(100% + 0.5in);
  }
}

.layout--chess .grid-collapse::after {
  clear: both;
  content: "";
  display: block;
}

@media only screen and (max-width: 575px) {
  .layout--chess .column {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .layout--chess .column {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .layout--chess .column {
    width: calc(33.33333% - 53.33333px);
    float: left;
    margin-left: 40px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1499px) {
  .layout--chess .column {
    width: calc(33.33333% - 53.33333px);
    float: left;
    margin-left: 40px;
  }
}

@media only screen and (min-width: 1500px) {
  .layout--chess .column {
    width: calc(33.33333% - 80px);
    float: left;
    margin-left: 60px;
  }
}

@media only print {
  .layout--chess .column {
    width: calc(33.33333% - 0.33333in);
    float: left;
    margin-left: 0.25in;
  }
}

.layout--chess .column--fifth {
  clear: left;
}

/*# sourceMappingURL=chess.css.map */