@charset "UTF-8";

///
/// MEGA MENU
///

@mixin megamenu {
  @include media($nav-width) {
    @include padding(3.15rem null);

    left: -1rem;
    width: 100%;
  }


  &::before {
    @include media($nav-width) {
      @include outer-megamenu;

      right: 100%;
    }
  }

  &::after {
    @include media($nav-width) {
      @include outer-megamenu;

      left: 100%;
    }
  }
}
