@charset "UTF-8";

//
// @megamenu
//
// An expandable menu in which choices are displayed in a two-dimensional
// dropdown layout. Excellent design choice for accommodating a large number of
// options or for revealing lower-level site pages at a glance.
//
// Style guide: Mixins.Menus.megamenu
//
@mixin megamenu {
  @media #{$breakpoint-navwidth} {
    @include padding(3.15rem null);

    left: -1rem;
    width: 100%;
  }

  &::before {
    @media #{$breakpoint-navwidth} {
      @include outer-megamenu;

      right: 100%;
    }
  }

  &::after {
    @media #{$breakpoint-navwidth} {
      @include outer-megamenu;

      left: 100%;
    }
  }

  .decanter-megamenu__col {
    @media #{$breakpoint-navwidth} {
      // @TODO Implement cssGrid solution.
      // @include grid-column(3);

      &:nth-child(2n) {
        // @TODO Implement cssGrid solution.
        // @include grid-column(3);
      }

      &:nth-child(4n) {
        @include margin(null 0 null null);
      }
    }

    > ul {
      @include list-unstyled;
    }
  }

  .decanter-nav {
    @media #{$breakpoint-navwidth} {
      width: 100%;

      @include padding(0 null null 0);
    }
  }

  .decanter-nav__inner {
    display: flex;
    flex-direction: column;

    @media #{$breakpoint-navwidth} {
      display: block;
      float: right;

      @include margin((-4.8rem) null null);
    }
  }

  .decanter-nav-submenu {
    .decanter-grid-full {
      @media #{$breakpoint-navwidth} {
        @include margin(null null null -1.8rem);
      }
    }
  }
}
