@charset "UTF-8";

///
/// MEGA MENU BASIC
///

@mixin megamenu-basic {
  .decanter-nav {
    @include media($nav-width) {
      padding-left: 0;
      padding-top: 0;
      width: 100%;
    }
  }

  .decanter-nav__inner {
    display: flex;
    flex-direction: column;

    @include media($nav-width) {
      display: block;
      float: right;
      margin-top: -4.8rem;
    }
  }

  .decanter-nav-submenu {
    .decanter-grid-full {
      @include media($nav-width) {
        margin-left: -1.8rem;
      }
    }
  }
}
