@charset "UTF-8";

///
/// OUTTER MEGAMENU
///

@mixin outer-megamenu {
  background-color: $color-bright-red;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 1000%;
}
