@charset "UTF-8";

//
// @outer-megamenu
//
// @TODO Needs to be documented.
//
// Style guide: Mixins.Menus.outter-megamenu
//
@mixin outer-megamenu {
  background-color: $color-bright-red;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 1000%;
}
