@charset "UTF-8";

///
/// SIDENAV LIST
///

@mixin sidenav-list {
  @include list-unstyled;

  > li {
    background-color: transparent;
    font-size: $h4-font-size;

    &:first-child {
      border-top: none;
    }
  }

  a {
    border: none;
    color: $color-bright-red;
    display: block;
    font-family: $font-sans;
    line-height: 1.3;
    text-decoration: none;

    @include padding(0.85rem 1rem 0.85rem 1.8rem);

    &:hover,
    &:focus {
      color: $color-black;
      text-decoration: underline;
    }

    &.decanter-nav__current {
      border-left: 0.2rem solid $color-black;
      color: $color-black;
      font-weight: $font-bold;

      @include padding(null null null 1.4rem);

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}
