@charset "UTF-8";

///
/// SIDENAV SUBLIST
///

@mixin sidenav-sublist {
  @include list-unstyled;
  @include margin(0);

  width: 100%;

  li {
    border: none;
    font-size: $h5-font-size;
  }

  a {
    padding-left: 2.8rem;
    line-height: $heading-line-height;

    &:hover,
    &.decanter-nav__current {
      border: none;
      padding-left: 2.8rem;
    }
  }

  .decanter-sidenav__sublist {
    a {
      padding-left: 3.8rem;

      &:hover {
        padding-left: 3.8rem;
      }
    }
  }
}
