@charset "UTF-8";

/// Creates a wrapper-less centered section using padding
/// centered-section mixin
@mixin responsive-container(
  $section: null
)
{
  $_default-container: map-merge((
      screen-xs: ( columns: 12, grid-media: $media-xs, v-space: 1em, max-width: false, grid-collapse: false ),
      screen-xl: ( columns: 12, grid-media: $media-xl, v-space: 1em, max-width: true, grid-collapse: false ),
      print: ( columns: 12, grid-media: $media-print, v-space: 1em, max-width: false, grid-collapse: false ),
  ), $default-container);

  $_responsive-container: map-merge($_default-container, $section);

  @each $breakpoint, $_map in $_responsive-container {
    $_cols: map-get($_map, columns);
    $_grid: map-get($_map, grid-media);
    $_v-space: map-get($_map, v-space);
    $_max-width: map-get($_map, max-width);
    $_grid-collapse: map-get($_map, grid-collapse);

    @include grid-media(map-get($_map, grid-media)) {
      @include centered-container($_cols, $_grid, $_v-space, $_max-width, $_grid-collapse);
    }
  }
}
