@charset "UTF-8";

// Warning alert.
.su-alert--warning {
  background-color: map-get($alert-colors, 'warning');
  background-image: url("#{$image-path}/alert-warning.png");
  background-image: url("#{$image-path}/alert-warning.svg");

  .su-alert__body {
    a {
      &,
      &:link {
        color: $color-black;
        text-decoration: underline;
      }

      &:hover {
        color: $color-dark-red;
      }
    }
  }
}
