@charset "UTF-8";

// Info alert.
.su-alert--info {
  background-color: map-get($alert-colors, 'info');
  background-image: url("#{$image-path}/alert-info.png");
  background-image: url("#{$image-path}/alert-info.svg");
  color: $color-white;
}
