@charset "UTF-8";

// Success alert.
.su-alert--success {
  background-color: map-get($alert-colors, 'success');
  background-image: url("#{$image-path}/alert-success.png");
  background-image: url("#{$image-path}/alert-success.svg");
  color: $color-white;
}
