@charset "UTF-8";

////
/// Colors
/// @group _variables|buttons
////

/// This variable is a sass map that overrides our generic button map.
///
/// @name Base button
///
/// @require $base-font-family
/// @require $base-line-height
/// @require $small-spacing
/// @require $base-transition
/// @require material-shadow
/// @require color
/// @require em
$base-button: (
  box-shadow: material-shadow(flat),
  appearance: none,
  background-color: color(link),
  border: none,
  color: color(reverse-text),
  cursor: pointer,
  display: inline-block,
  font-family: $base-font-family,
  font-size: inherit,
  -webkit-font-smoothing: antialiased,
  font-weight: inherit,
  line-height: $base-line-height,
  padding: em(6px) em($small-spacing) em(7px),
  text-align: center,
  text-decoration: none,
  user-select: none,
  vertical-align: middle,
  transition: $base-transition,

  '#{$hocus}': (
    background-color: color(link--active),
    color: color(reverse-text--active),
    text-decoration: none,
  ),

  '&:disabled, &.disabled': (
    background-color: color(link),
    color: color(reverse-text),
    cursor: not-allowed,
    opacity: .5,

    '&:hover': (
      cursor: not-allowed,
    ),
  ),
) !default;

$primary-button: (
  background-color: color(link),
  color: color(reverse-text),
  font-weight: 600,
  padding: em(10px) em($base-spacing) em(12px),

  '#{$hocus}': (
    background-color: color(link--active),
    color: color(reverse-text),
    text-decoration: none,
  ),
) !default;

///
/// @require $base-border
/// @require $base-spacing
/// @require $hocus
$secondary-button: (
  background-color: inherit,
  border: $base-border,
  color: color(text),
  font-weight: 600,
  padding: em(7px) em($base-spacing) em(9px),

  '#{$hocus}': (
    background-color: inherit,
    border-color: color(link),
    color: color(link),
  ),
) !default;
