@charset "UTF-8";

////
/// Colors
/// @group Variables | Colors
////

/// This variable is a sass map that overrides our generic color map.
/// Use this to define your project's color palette.
///
/// @type map
///
/// @name Colors
///
/// @property {Key} Color [brand] - The Name of the color to be called by the color function
/// @property {Value} Value [#004fdc] - The color value retrieved by the color function

$colors: (
    brand:                        #004fdc,
    action:                       #004991,
    action-active:                #005ddc,
    background:                   #fff,
    background-secondary:         #ddd,
    border:                       #999,
    text:                         #112,
    text-active:                  #808080,
    reverse-text:                 #fff,
    reverse-text-active:          #dceefe,
) !default;

/// Custom Colors Map
/// If you would like to have multiple color palettes in a single project, you can do
/// this by defining a new map stored within a variable of your choosing. This
/// variable can then be passed directly to the color() function, such as
/// `color(red, $my-custom-colors)`.
///
/// @type map
///
/// @name Custom colors
///
/// @property {Key} Color [brand] - The Name of the color to be called by the color function
/// @property {Value} Value [#004fdc] - The color value retrieved by the color function
$custom-colors: () !default;
