@charset 'UTF-8';

////
/// A place for all your custom grid goodness
////

///
/// One column nested grid.
$nested-grid-one: (
    columns: $grid-columns,
    gutter:  $gutter / 2,
    media: null,
    color: rgba(#00d4ff, 0.25),
    direction: ltr,
) !default;
