@charset 'UTF-8';

////
/// Animations
/// @group _variables|animations
////

/// Base property animation default.
$base-property: all !default;

/// Base delay animation default.
$base-delay: null !default;

/// Base duration animation default.
$base-duration: 250ms !default;

/// Base timing animation default.
$base-timing: ease-in-out !default;

/// Base transition animation default.
$base-transition: $base-property $base-duration $base-timing !default;
