@charset 'UTF-8';

////
/// Typography
////

// Individual Font family definitions
// ----------------------------------

/// Font Stack Monospace.
/// This is outputted via `font-family: $font-stack-monospace;`

$decanter-default-fonts: (
  monospace:    'https://fonts.googleapis.com/css?family=Source+Code+Pro',
  sans-serif:   'https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i',
  serif:        'https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i',
) !default;

$decanter-font-families: (
  monospace:  "'Source Code Pro', #{$font-stack-monaco}",
  sans-serif: "'Noto Sans', #{$font-stack-helvetica}",
  serif:      "'Noto Serif', #{$font-stack-georgia}"
) !default;

// Semantic definitions
// These map the generic `$font-family-serif` stacks to more functional, semantic
// font stacks. `$base-font-family`, `$heading-font-family`, `$code-font-family`
// --------------------

/// Base Font Family Setting.
$base-font-family: map-get($decanter-font-families, sans-serif) !default;

/// Heading Font Family.
$heading-font-family: map-get($decanter-font-families, serif) !default;

/// Code Font Family.
$code-font-family: map-get($decanter-font-families, monospace) !default;

/// Base Line Height.
$base-line-height: 1.5 !default;

/// Heading Line Height.
$heading-line-height: 1.2 !default;

/// All Headlines
$all-headlines: 'h1, h2, h3, h4, h5, h6' !default;
