@charset "UTF-8";

////
/// Decanter settings
/// This file contains decanter specific variables.
/// @group _variables|__decanter
////

/// Decanter global default settings
$decanter-default-settings: (
  // Configure global units
  root-font-size: 10px,
  base-font-size: 18px,
  // Configure Bourbon Modular Scale
  modular-scale-ratio: 1.25,
  // Configure Default Neat Grid
  columns: 12,
  gutter: 20px,
  // Configure Decanter Functions and settings
  max-container-width: 1200px,
  breakpoint-helper: false,
  breakpoint-helper-selector: #breakpoint-helper,
) !default;

/// Decanter override settings. These get merged with default settings by the retrieve decanter setting function.
/// Use these map in your own project to declare decanter settings
$decanter-settings: ()!default;
