@charset "UTF-8";

////
/// This file contains decanter specific variables.
/// @group settings
////

/// Root font size in pixels. Used for converting rem to pixels.
///
/// @type length
///
/// @group settings
$root-font-size: 10px !default;

/// Base font size in pixels. Used for converting between em and absolute lengths.
/// @type length
///
/// @group settings
$base-font-size: 18px !default;

// -----------------------------------------------------------------------------
// Components
// -----------------------------------------------------------------------------

$breakpoint-helper: true;
