@charset "UTF-8";

////
/// Neat settings
/// This file contains neat specific variable overrides.
/// @group _variables|_neat
////

/// This variable is a sass map that overrides Neat's default grid settings.
/// Use this to define your project's grid properties incluting gutters and
/// total column count.
///
/// @type map
/// @link http://neat.bourbon.io/docs/2.0.0/
/// @name Neat Settings
///
/// @property {number (unitless)} columns [12]
///   Default number of the total grid columns.
///
/// @property {number (with unit)} gutter [20px]
///   Default grid gutter width between columns.
///
/// @property {string | number (with unit)} media [null]
///   Grid media query.
///
/// @property {color} color [rgba(#00d4ff, 0.25)]
///   Default visual grid color.
///
/// @example scss SCSS
///   $neat-grid: (
///     columns: 12,
///     gutter: 20px,
///   );
///
$neat-grid: (
    columns: _retrieve-decanter-setting(columns),
    gutter:  _retrieve-decanter-setting(gutter),
    media: null,
    color: rgba(#00d4ff, 0.25),
    direction: ltr,
) !default;
