@charset "UTF-8";

////
/// Decanter settings
/// This file contains decanter specific variables.
/// @group variables|decanter
////

/// Root font size in pixels.
/// Used for converting rem to pixels.
///
/// @type number | pixel measurement
$root-font-size: 10px !default;

/// Base font size in pixels.
/// Used for converting between em and absolute lengths.
///
/// @type number | pixel measurement
$base-font-size: 18px !default;

/// Grid Columns
/// How many columns in the default grid
///
/// @type number
$grid-columns: 12 !default;

/// Gutter
/// The space on the left and right of default grid elements
///
/// @type number | pixel measurement
$gutter: 20px !default;

/// Max width, including horizontal gutters.
//  This is also used to generate our XL breakpoint.
//
/// @type number | pixel measurement
$max-container-width: 1200px !default;

/// Max Content Width
/// Removes gutters from the max-container-width constant to give us a computed content-width.
///
/// @type number | pixel measurement
$max-content-width: $max-container-width - ($gutter * 2) !default;

/// Breakpoint Helper.
/// Generates a set of configurable breakpoint visual prompts to aid during development.
///
/// @type bool
$breakpoint-helper: true;
