@charset 'UTF-8';

.block--link-block {
  h2 {
    @include font-size(modular-scale(1.1));
    margin-top: 0px;
  }

  a,
  a:link,
  a:visited {
    color: color('action', $palette-stanford);
  }

  a:hover {
    color: color('action-active', $palette-stanford);
  }
  

}
