@charset 'UTF-8';

// I like big fonts I cannot lie.
$root-font-size: 20px;
$base-font-size: 36px;

// Decant.
@import "decanter";


.layout--toucan {
  @include responsive-container($default-container);
  @include grid-container;
  background: #FDF;

  .column--first,
  .column--second {
    border: dashed 3px #0F0;
    @include grid-media($media-sm) {
      @include grid-column(1 of 2);
    }
  }

}
