<div class="full-site-experiment--01">
  <div class="page-wrapper">
    <header class="site-header">
      This is the site header.
    </header>
    <div class="content--wrapper">
      <div class="region region--content-header">
        This is the content header.
      </div>
      <div class="region region--content">
        <b>This is the content.</b> Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis
        ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.
        Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
        Donec ullamcorper nulla non metus auctor fringilla. Donec ullamcorper nulla non metus auctor fringilla.
        Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus,
        nisi erat porttitor ligula, eget lacinia odio sem nec elit.
      </div>
      <aside class="region region--sidebar-first">
        <b>This is the first sidebar</b>, which would most likely only be used for a menu system.
        At smaller breakpoints, this menu would be part of the hamburger menu, in which case this sidebar would
        disappear.  However, if there is anything here, it would probably be a filter or search, which we'd want
        to display above the main content.
      </aside>
      <aside class="region region--sidebar-second">
        <b>This is the second sidebar.</b>
      </aside>
      <div class="region region--content-footer">
        This is the content footer.
      </div>
    </div>
    <footer class="site-footer">
      This is the site footer.
    </footer>
  </div>
</div>

&nbsp;

<div class="full-site-experiment--01">
  <div class="page-wrapper">
    <header class="site-header">
      This is the site header.
    </header>
    <div class="content--wrapper">
      <div class="region region--content">
        This is the content.
      </div>
      <aside class="region region--sidebar-first">
        This is the first sidebar.
      </aside>
      <aside class="region region--sidebar-second">
        This is the second sidebar.
      </aside>
    </div>
    <footer class="site-footer">
      This is the site footer.
    </footer>
  </div>
</div>

&nbsp;

<div class="full-site-experiment--02">
  <div class="page-wrapper">
    <header class="site-header">
      This is the site header.
    </header>
    <div class="content--wrapper">
      <div class="region region--content">
        This is the content.
      </div>
      <aside class="region region--sidebar-first">
        This is the first sidebar.
      </aside>
    </div>
    <footer class="site-footer">
      This is the site footer.
    </footer>
  </div>
</div>
