<div class="full-site-experiment--01">

  <div class="page-wrapper">
    <header class="site-header">
      This is the site header.
    </header>
    <div class="content--wrapper">
      <div class="region region--content-header">
        This is the content header.
      </div>
      <div class="region region--content">
        This is the content.
      </div>
      <aside class="region region--sidebar-first">
        This is the first sidebar.
      </aside>
      <aside class="region region--sidebar-second">
        This is the second sidebar.
      </aside>
      <div class="region region--content-footer">
        This is the content footer.
      </div>
    </div>
    <footer class="site-footer">
      This is the site footer.
    </footer>
  </div>

</div>

&nbsp;

<div class="full-site-experiment--01 no-header no-footer">

  <div class="page-wrapper">
    <header class="site-header">
      This is the site header.
    </header>
    <div class="content--wrapper">
      <div class="region region--content">
        This is the content.
      </div>
      <aside class="region region--sidebar-first">
        This is the first sidebar.
      </aside>
      <aside class="region region--sidebar-second">
        This is the second sidebar.
      </aside>
    </div>
    <footer class="site-footer">
      This is the site footer.
    </footer>
  </div>

</div>
