@charset "UTF-8";

@charset "UTF-8";

//
// @sr-only
//
// Hides piece of content from the screen but keeps in the DOM for screen
// readers.
//
// Style guide: Core.Helpers.sr-only
//
.su-sr-only {
  @include sr-only;
}
