@charset 'UTF-8';

// Import Decanter.
@import "decanter/core/utilities/decanter-utilities";
@import "decanter/core/components/decanter-components";

.basic-main-menu {
  @include responsive-container($default-container);
  li {
    display: inline-block;
    margin-right: 10px;
  }

  a, a:link, a:visited {
    display: inline-block;
    color: color('brand', $palette-stanford);
    font-weight: bold;
  }

  a:hover {
    color: color('active');
  }
}
