@charset "UTF-8";

//
// Sunset Delorean
//
// A complext three column layout.
//
// .layout-sunset-delorean--right - Right side variant
//
// Markup: ../../../../../templates/layout/grid/three-column/sunset-delorean/sunset-delorean.twig
//
// Style guide: Layout.Grid.3Column.SunsetDelorean
//
.layout-sunset-delorean {
  > div {
    @include centered-column;
    @include responsive-grid-gap;

    // Enable grid after sm sizes.
    @include grid-media('sm') {
      @include display-grid;
      @include grid-columns(1fr 1fr 1fr, false);
    }

    > header {
      @include grid-item-spans(2, span 2, 1, span 1);
      -ms-grid-column: 2;
    }

    > aside {
      @include grid-item-spans(1, span 1, 1, span 2);
    }

    > section {
      @include grid-item-spans(null, null, 2, span 1);
      -ms-grid-row: 2;
      -ms-grid-column: 2;
    }

    section:nth-of-type(2) {
      -ms-grid-column: 3;
    }

  }
}
