@charset "UTF-8";

//
// @button-secondary
//
// Secondary button styling.
//
// Style guide: Mixins.Button.button-secondary
//
@mixin button-secondary {
  @extend %button-base;
  @include padding(1rem 2rem 1.15rem);

  background-color: $color-white;
  box-shadow: $button-stroke $color-bright-red;
  color: $color-bright-red;

  &:hover {
    background-color: $color-white;
    box-shadow: $button-stroke $color-black;
    color: $color-black;
  }

  &:focus {
    background-color: $color-white;
    box-shadow: $button-stroke $color-black, $focus-shadow;
    color: $color-black;
  }
}
