@charset "UTF-8";

//
// @button-primary
//
// Primary (default) button styling.
//
// Style guide: Mixins.Button.button-primary
//

@mixin button-primary {
  @extend %button-base;
  @include padding(1rem 2rem 1.15rem);

  background-color: $color-bright-red;
  color: $color-white;

  &:hover {
    background-color: $color-black;
    color: $color-white;
  }

  &:focus {
    box-shadow: $focus-shadow;
    background-color: $color-black;
  }
}
