@charset "UTF-8";

//
// @button-primary
//
// Primary (default) button styling.
//
// Style guide: Mixins.Button.button-primary
//
@mixin button-primary {
  @include font-smoothing;
  @include padding(1rem 2rem 1.15rem);
  @include modular-typography(0);

  appearance: none;
  background-color: $color-bright-red;
  border: 0;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  outline: none;
  text-align: center;
  text-decoration: none;
  width: 100%;
  transition: background-color .25s ease-in-out, color .25s ease-in-out;

  @include grid-media('sm') {
    width: auto;
  }

  &:hover {
    background-color: $color-black;
    border-bottom: 0;
    color: $color-white;
    text-decoration: none;
  }

  &:focus {
    background-color: $color-black;
    box-shadow: $focus-shadow;
  }
}
