@layer components {
  .logo {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: var(--font-stanford);
    font-weight: var(--font-weight-normal);
    line-height: var(--leading-trim);
    text-decoration: none;
    text-transform: none;
    color: var(--color-cardinal-red);
    transform: translateZ(0);
    font-style: normal;
    font-variant: normal;
    letter-spacing: var(--tracking-normal);
    font-feature-settings: "liga" 1;
    font-variant-ligatures: discretionary-ligatures;

    &:focus,
    &:hover {
      color: var(--color-cardinal-red);
    }
  }

  /* Form Components */
  .button {
    font-family: var(--font-sans);
    cursor: pointer;
    display: inline-block;
    border: none;
    font-weight: var(--font-weight-normal);
    line-height: 1;
    text-align: center;
    text-decoration: none;
    width: auto;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    padding: 1rem 2rem;
    background-color: var(--color-digital-red);
    color: var(--color-white);

    &:active,
    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:hover,
    &:focus {
      background-color: var(--color-black);
      color: var(--color-white);
    }

    &:focus {
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
  }

  .input {
    display: block;
    border-color: var(--color-black-20);
    color: var(--color-black);
    font-size: 1.8rem;
    font-weight: var(--leading-snug);
  }

  .radio,
  .checkbox {
    background-color: var(--color-white);
    border-width: 3px;
    border-color: var(--color-digital-blue);
    width: 2.4rem;
    height: 2.4rem;
  }

  .radio:checked,
  .checkbox:checked {
    background-color: var(--color-digital-blue);
  }

  .fieldset {
    border: 0;
  }

  .label {
    display: block;
    font-size: 1.8rem;
  }

  .legend {
    font-weight: var(--leading-display);
  }

  .textarea {
    height: 16rem;
    display: block;
    border-color: var(--color-black-20);
    color: var(--color-black);
    font-size: 1.8rem;
    font-weight: var(--leading-snug);
  }

  .select {
    display: block;
    border-color: var(--color-black-20);
    color: var(--color-black);
    font-size: 1.8rem;
    font-weight: var(--leading-snug);
    background-color: white;
  }

  /* Layout Components */
  .centered-container,
  .cc {
    padding-left: var(--screen-margin-xs);
    padding-right: var(--screen-margin-xs);
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 576px) {
      padding-left: var(--screen-margin-sm);
      padding-right: var(--screen-margin-sm);
    }

    @media (min-width: 768px) {
      padding-left: var(--screen-margin-md);
      padding-right: var(--screen-margin-md);
    }

    @media (min-width: 992px) {
      padding-left: var(--screen-margin-lg);
      padding-right: var(--screen-margin-lg);
    }

    @media (min-width: 1200px) {
      padding-left: var(--screen-margin-xl);
      padding-right: var(--screen-margin-xl);
    }

    @media (min-width: 1700px) {
      padding-left: calc((100% - 1500px) / 2);
      padding-right: calc((100% - 1500px) / 2);
    }

    .centered-container,
    .cc {
      padding-left: 0;
      padding-right: 0;
    }
  }

  /* Responsive grid gap */
  .grid-gap {
    gap: var(--gap-xs);

    @media (min-width: 992px) {
      gap: var(--gap-lg);
    }

    @media (min-width: 1200px) {
      gap: var(--gap-xl);
    }

    @media (min-width: 1500px) {
      gap: var(--gap-2xl);
    }
  }

  /* Stretched link */
  .stretched-link {
    &::after {
      display: block;
      position: absolute;
      inset: 0;
      z-index: 1;
      pointer-events: auto;
      content: "";
      background-color: transparent;
    }
  }

  /* Lists Components */
  .list-unstyled {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }

  .list-horizontal {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;

    > li {
      display: block;
      float: left;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  /* Media Components */
  .embed-container {
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    embed,
    iframe,
    object {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  /* Shadow Components */
  .text-shadow {
    text-shadow: rgba(0, 0, 0, 40%) 0 0 6px, rgba(0, 0, 0, 60%) 0 0 2px;
  }

  .text-shadow-md {
    text-shadow: rgba(0, 0, 0, 40%) 0 0 8px, rgba(0, 0, 0, 60%) 0 0 3px;
  }

  .text-shadow-lg {
    text-shadow: rgba(0, 0, 0, 30%) 0 0 12px;
  }

  /* Skiplink */
  .skiplink,
  .skiplinks {
    position: absolute;
    top: -500px;
    left: 0.8em;
    min-height: 1px;
    transition: top 0.25s ease-in-out;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 2rem;
    font-weight: var(--font-weight-normal);
    text-decoration: none;

    &:hover,
    &:visited {
      width: 1px;
      height: 1px;
      color: var(--color-white);
      overflow: hidden;
      white-space: nowrap;
    }

    &:active,
    &:focus {
      position: fixed;
      top: 0.8em;
      padding: 0.4em 0.8em;
      width: auto;
      height: auto;
      color: var(--color-white);
      border-style: solid;
      border-width: 1px;
      border-color: var(--color-cool-grey);
      border-radius: 3px;
      z-index: 10000;
    }

    @media print {
      display: none;
    }
  }

  /* Tables Components */
  .table-borderless {
    thead,
    tbody,
    tfoot {
      tr,
      th,
      td {
        border: 0;
      }
    }

    thead + tbody {
      border: 0;
    }
  }

  /**
  * Fluid typography
  *
  * Typography with font size that increases smoothly and linearly between a min and max value
  * over the viewport width range 360px (XS) to 1500px (2XL)
  * See concept on https://www.aleksandrhovhannisyan.com/blog/fluid-type-scale-with-css-clamp/
  *
  * See google sheet for a plot of the font sizes over the viewport width range 360px (XS) to 1500px (2XL):
  * https://docs.google.com/spreadsheets/d/1AN9eV_ECXc9MzTZUc10hiLjOHeOCDTutC5tMHOCPqgo/edit?usp=sharing
  *
  * Good for use in hero banners and horizontal cards where UI looks better with a smooth transition of font size
  * Here we offer the sizes from fluid-type-0 to fluid-type-10. Their min and max values at the XS and 2XL breakpoints
  * are the same as the corresponding modular typography classes (type-0 to type-10) with base font sizes
  * XS: 1.8rem, MD: 2.1rem, 2XL: 2.3rem
  */
  .fluid-type-0 {
    font-size: clamp(1.8rem, 0.44vw + 1.64rem, 2.3rem);
  }

  .fluid-type-1 {
    font-size: clamp(2.1rem, 0.7vw + 1.85rem, 2.9rem);
  }

  .fluid-type-2 {
    font-size: clamp(2.4rem, 1.05vw + 2.02rem, 3.6rem);
  }

  .fluid-type-3 {
    font-size: clamp(2.7rem, 1.58vw + 2.13rem, 4.5rem);
  }

  .fluid-type-4 {
    font-size: clamp(3.1rem, 2.19vw + 2.31rem, 5.6rem);
  }

  .fluid-type-5 {
    font-size: clamp(3.6rem, 2.98vw + 2.53rem, 7rem);
  }

  .fluid-type-6 {
    font-size: clamp(4.2rem, 4.04vw + 2.75rem, 8.8rem);
  }

  .fluid-type-7 {
    font-size: clamp(4.8rem, 5.44vw + 2.84rem, 11rem);
  }

  .fluid-type-8 {
    font-size: clamp(5.5rem, 7.19vw + 2.91rem, 13.7rem);
  }

  .fluid-type-9 {
    font-size: clamp(6.3rem, 9.47vw + 2.89rem, 17.1rem);
  }

  .fluid-type-10 {
    font-size: clamp(7.3rem, 12.37vw + 2.85rem, 21.4rem);
  }

  .type-0 {
    font-size: 1em;
  }

  .type-1 {
    font-size: 1.15em;
    letter-spacing: -0.01em;
    @media (min-width: 768px) {
      font-size: 1.2em;
    }
    @media (min-width: 992px) {
      font-size: 1.25em;
    }
  }

  .type-2 {
    font-size: 1.32em;
    letter-spacing: -0.012em;
    @media (min-width: 768px) {
      font-size: 1.44em;
    }
    @media (min-width: 992px) {
      font-size: 1.56em;
    }
  }

  .type-3 {
    font-size: 1.52em;
    letter-spacing: -0.014em;
    @media (min-width: 768px) {
      font-size: 1.73em;
    }
    @media (min-width: 992px) {
      font-size: 1.95em;
    }
  }

  .type-4 {
    font-size: 1.75em;
    letter-spacing: -0.016em;
    @media (min-width: 768px) {
      font-size: 2.07em;
    }
    @media (min-width: 992px) {
      font-size: 2.44em;
    }
  }

  .type-5 {
    font-size: 2.01em;
    letter-spacing: -0.018em;
    @media (min-width: 768px) {
      font-size: 2.49em;
    }
    @media (min-width: 992px) {
      font-size: 3.05em;
    }
  }

  .type-6 {
    font-size: 2.31em;
    letter-spacing: -0.02em;
    @media (min-width: 768px) {
      font-size: 2.99em;
    }
    @media (min-width: 992px) {
      font-size: 3.81em;
    }
  }

  .type-7 {
    font-size: 2.66em;
    letter-spacing: -0.022em;
    @media (min-width: 768px) {
      font-size: 3.59em;
    }
    @media (min-width: 992px) {
      font-size: 4.77em;
    }
  }

  .type-8 {
    font-size: 3.06em;
    letter-spacing: -0.024em;
    @media (min-width: 768px) {
      font-size: 4.31em;
    }
    @media (min-width: 992px) {
      font-size: 5.96em;
    }
  }

  .type-9 {
    font-size: 3.52em;
    letter-spacing: -0.026em;
    @media (min-width: 768px) {
      font-size: 5.18em;
    }
    @media (min-width: 992px) {
      font-size: 7.45em;
    }
  }

  .types
  .splash-text {
    line-height: var(--leading-display);
    font-weight: var(--font-weight-bold);
    margin-bottom: 0.6em;
    clear: both;

    a {
      text-decoration: none;
      font-weight: var(--font-weight-bold);
    }
  }

  .splash-text {
    font-size: 2.31em;
    letter-spacing: -0.02em;

    @media (min-width: 768px) {
      font-size: 2.99em;
    }

    @media (min-width: 992px) {
      font-size: 3.81em;
    }

    a {
      text-decoration: none;
      font-weight: var(--font-weight-bold);
    }
  }

  .intro-text {
    font-size: 1.32em;
    letter-spacing: -0.012em;
    font-weight: var(--leading-normal);
    max-width: var(--max-width-prose);

    @media (min-width: 768px) {
      font-size: 1.44em;
    }

    @media (min-width: 992px) {
      font-size: 1.56em;
    }
  }

  .quote-text {
    font-size: 1.25em;
    font-style: italic;
  }

  .caption,
  .credits {
    font-size: max(1.6rem, 0.9em);
    font-weight: var(--leading-snug);
    color: var(--color-cool-grey);
  }

  .caption {
    margin-top: 0.4em;
  }

  .credits {
    font-style: italic;
  }

  .subheading {
    font-size: 1.15em;
    letter-spacing: -0.01em;

    @media (min-width: 768px) {
      font-size: 1.2em;
    }

    @media (min-width: 992px) {
      font-size: 1.25em;
    }
  }

  .big-paragraph {
    font-size: 1.15em;
    font-weight: var(--leading-cozy);

    @media (min-width: 768px) {
      font-weight: var(--leading-normal);
    }
  }

  .card-paragraph {
    font-size: max(1.6rem, 0.93em);
    font-weight: var(--leading-snug);

    @media (min-width: 768px) {
      font-weight: var(--leading-cozy);
    }
  }

  .basefont-19 {
    font-size: 1.6rem;

    @media (min-width: 768px) {
      font-size: 1.8rem;
    }

    @media (min-width: 1500px) {
      font-size: 1.9rem;
    }
  }

  .basefont-20 {
    font-size: 1.8rem;

    @media (min-width: 768px) {
      font-size: 1.9rem;
    }

    @media (min-width: 1500px) {
      font-size: 2rem;
    }
  }

  .basefont-21 {
    font-size: 1.8rem;

    @media (min-width: 768px) {
      font-size: 1.9rem;
    }

    @media (min-width: 1500px) {
      font-size: 2.1rem;
    }
  }

  .basefont-22 {
    font-size: 1.8rem;

    @media (min-width: 768px) {
      font-size: 2rem;
    }

    @media (min-width: 1500px) {
      font-size: 2.2rem;
    }
  }

  .basefont-23 {
    font-size: 1.8rem;

    @media (min-width: 768px) {
      font-size: 2.1rem;
    }

    @media (min-width: 1500px) {
      font-size: 2.3rem;
    }
  }

  .wysiwyg {
    > *:first-child {
      margin-top: -0.25em;
    }

    > *:last-child {
      margin-bottom: 0;
    }

    p,
    ol,
    ul,
    dl {
      margin-bottom: 1.6em;
    }

    li p {
      margin-bottom: 0.4em;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0.7em;
      clear: both;

      &:not(:first-child) {
        margin-top: 1.6em;
      }

      a {
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }

    h2 + h3,
    h3 + h4,
    h4 + h5,
    h5 + h6 {
      &:not(:first-child) {
        margin-top: 1em;
      }
    }
  }
}
