@theme {
  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1500px;
  --breakpoint-3xl: 1700px;
  --breakpoint-4xl: 2000px;

  /* Screen margins */
  --screen-margin-xs: 20px;
  --screen-margin-sm: 30px;
  --screen-margin-md: 50px;
  --screen-margin-lg: 80px;
  --screen-margin-xl: 100px;

  /* Grid gap */
  --gap-xs: 2rem;
  --gap-lg: 3.6rem;
  --gap-xl: 4rem;
  --gap-2xl: 4.8rem;

  /* Spacing used for width, height, margin, padding, max-width, positions, gap etc */
  --spacing: 0.1rem;
  --spacing-prose-wide: 75ch;

  /* Em-based spacing values for typography elements */
  --spacing-01em: 0.1em;
  --spacing-02em: 0.2em;
  --spacing-03em: 0.3em;
  --spacing-04em: 0.4em;
  --spacing-05em: 0.5em;
  --spacing-06em: 0.6em;
  --spacing-07em: 0.7em;
  --spacing-08em: 0.8em;
  --spacing-09em: 0.9em;
  --spacing-1em: 1em;

  /* Responsive spacing values */
  --responsive-spacing-xs-neg2: 0.8rem;
  --responsive-spacing-md-neg2: 0.9rem;
  --responsive-spacing-2xl-neg2: 1rem;
  --responsive-spacing-xs-neg1: 1.1rem;
  --responsive-spacing-md-neg1: 1.2rem;
  --responsive-spacing-2xl-neg1: 1.3rem;
  --responsive-spacing-xs-0: 1.5rem;
  --responsive-spacing-md-0: 1.8rem;
  --responsive-spacing-2xl-0: 1.9rem;
  --responsive-spacing-xs-1: 2rem;
  --responsive-spacing-md-1: 2.6rem;
  --responsive-spacing-2xl-1: 2.7rem;
  --responsive-spacing-xs-2: 3rem;
  --responsive-spacing-md-2: 3.6rem;
  --responsive-spacing-2xl-2: 3.8rem;
  --responsive-spacing-xs-3: 3.2rem;
  --responsive-spacing-md-3: 4.5rem;
  --responsive-spacing-2xl-3: 4.8rem;
  --responsive-spacing-xs-4: 3.4rem;
  --responsive-spacing-md-4: 5.8rem;
  --responsive-spacing-2xl-4: 6.1rem;
  --responsive-spacing-xs-5: 3.8rem;
  --responsive-spacing-md-5: 7.2rem;
  --responsive-spacing-2xl-5: 7.6rem;
  --responsive-spacing-xs-6: 4.5rem;
  --responsive-spacing-md-6: 9rem;
  --responsive-spacing-2xl-6: 9.5rem;
  --responsive-spacing-xs-7: 5rem;
  --responsive-spacing-md-7: 10.8rem;
  --responsive-spacing-2xl-7: 11.4rem;
  --responsive-spacing-xs-8: 6rem;
  --responsive-spacing-md-8: 12.6rem;
  --responsive-spacing-2xl-8: 13.3rem;
  --responsive-spacing-xs-9: 7rem;
  --responsive-spacing-md-9: 16.2rem;
  --responsive-spacing-2xl-9: 17.1rem;
  --responsive-spacing-xs-10: 8rem;
  --responsive-spacing-md-10: 21.6rem;
  --responsive-spacing-2xl-10: 22.8rem;

  /**
    Stanford Identity primary colors
    https://identity.stanford.edu/design-elements/color/primary-colors/
  */
  --color-cardinal-red: #8C1515; /* Stanford brand color */
  --color-cardinal-red-light: #B83A4B;
  --color-cardinal-red-dark: #820000;
  --color-cardinal-red-xdark: #7A0000; /* Passed contrast test with digital-red-xlight as text */
  --color-cardinal-red-xxdark: #541107;

  /* Grayscale */
  --color-black: #2E2D29;
  --color-black-90: #43423E;
  --color-black-80: #585754;
  --color-black-70: #6D6C69;
  --color-black-60: #767674;
  --color-black-50: #979694;
  --color-black-40: #ABABA9;
  --color-black-30: #C0C0BF;
  --color-black-20: #D5D5D4;
  --color-black-10: #EAEAEA;
  --color-black-true: #000000;
  --color-cool-grey: #53565A;

  /**
    Web interactive colors
    https://identity.stanford.edu/design-elements/color/web/
  */
  --color-digital-red: #B1040E;
  --color-digital-red-light: #E50808;
  --color-digital-red-xlight: #F83535; /* Passed contrast test as regular text on black background */
  --color-digital-red-dark: var(--color-cardinal-red-dark);

  --color-digital-blue: #006CB8;
  --color-digital-blue-light: #85CCFF;
  --color-digital-blue-dark: #00548F;
  --color-digital-blue-vivid: #0597FF;

  --color-digital-green: #008566;
  --color-digital-green-light: #1AECBA;
  --color-digital-green-dark: #006F54;
  --color-digital-green-bright: #009B76;

  /**
    Accent colors
    https://identity.stanford.edu/design-elements/color/accent-colors/
  */
  --color-palo-alto: #175E54;
  --color-palo-alto-light: #2D716F;
  --color-palo-alto-dark: #014240;
  --color-palo-verde: #279989;
  --color-palo-verde-light: #59B3A9;
  --color-palo-verde-dark: #017E7C;
  --color-olive: #8F993E;
  --color-olive-light: #A6B168;
  --color-olive-dark: #7A863B;
  --color-bay: #6FA287;
  --color-bay-light: #8AB8A7;
  --color-bay-dark: #417865;
  --color-sky: #4298B5;
  --color-sky-light: #67AFD2;
  --color-sky-dark: #016895;
  --color-lagunita: #007C92;
  --color-lagunita-light: #009AB4;
  --color-lagunita-dark: #006B81;
  /* Lagunita 20 and 40 are used for form elements */
  --color-lagunita-20: #CCEBF0;
  --color-lagunita-40: #8DD8E4;
  --color-poppy: #E98300;
  --color-poppy-light: #F9A44A;
  --color-poppy-dark: #D1660F;
  --color-spirited: #E04F39;
  --color-spirited-light: #F4795B;
  --color-spirited-dark: #C74632;
  --color-illuminating: #FEDD5C;
  --color-illuminating-light: #FFE781;
  --color-illuminating-dark: #FEC51D;
  --color-plum: #620059;
  --color-plum-light: #734675;
  --color-plum-dark: #350D36;
  --color-brick: #651C32;
  --color-brick-light: #7F2D48;
  --color-brick-dark: #42081B;
  --color-archway: #5D4B3C;
  --color-archway-light: #766253;
  --color-archway-dark: #2F2424;
  --color-stone: #7F7776;
  --color-stone-light: #D4D1D1;
  --color-stone-dark: #544948;
  --color-fog: #DAD7CB;
  --color-fog-light: #F4F4F4;
  --color-fog-dark: #B6B1A9;

  /* Social media colors */
  --color-facebook: #4267B2;
  --color-twitter: #1DA1F2;
  --color-instagram: #E1306C;
  --color-linkedin: #0077B5;
  --color-youtube: #FF0000;

  /* Font families */
  --font-sans: "Source Sans 3", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: "Source Serif 4", Georgia, Times, "Times New Roman", serif;
  --font-stanford: Stanford, var(--font-serif);
  --font-mono: "Roboto Mono", Menlo, "Courier New", monospace;
  --font-slab: "Roboto Slab", Georgia, Times, "Times New Roman", serif;
  --default-font-family: var(--font-sans);

  --default-transition-duration: 0.25s;

  --text-10: 1rem;
  --text-11: 1.1rem;
  --text-12: 1.2rem;
  --text-13: 1.3rem;
  --text-14: 1.4rem;
  --text-15: 1.5rem;
  --text-16: 1.6rem;
  --text-17: 1.7rem;
  --text-18: 1.8rem;
  --text-19: 1.9rem;
  --text-20: 2rem;
  --text-21: 2.1rem;
  --text-22: 2.2rem;
  --text-23: 2.3rem;
  --text-24: 2.4rem;
  --text-25: 2.5rem;
  --text-26: 2.6rem;
  --text-27: 2.7rem;
  --text-28: 2.8rem;
  --text-29: 2.9rem;
  --text-30: 3rem;

  --text-1em: 1em;
  --text-09em: 0.9em;
  --text-root: 62.5%;
  --text-input: 1.8rem;

  /* Line heights */
  --leading-tight: 1.1;
  --leading-display: 1.2;
  --leading-snug: 1.3;
  --leading-cozy: 1.4;
  --leading-normal: 1.5;
  --leading-half: 0.5;
  --leading-trim: 0.75;
}
