@utility backface-hidden {
  backface-visibility: hidden;
}

@utility break-words {
  word-break: break-word;
}

@utility text-vertical-lr {
  writing-mode: vertical-lr;
}

@utility link-* {
  a {
    color: --value(--color-*);
  }
}
