<form action="{{ action }}" method="{{ method }}" accept-charset="UTF-8" _lpchecked="1" class="su-site-search">
  <label class="su-site-search__sr-label" for="search-field">Search term</label>
  <input type="text" id="search-field" class="su-site-search__input" placeholder="{{ placeholder }}" maxlength="128">
</form>