@charset "UTF-8";

// We are using flexbox for general positioning, and using neat as a fallback for grid layouts. This is a powerful combination that covers most browsers, while elegantly degrading on older browsers.

html {
  font-size: ($em_base * 1px);
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

// We rely on source order for mobile-first approach
// in this case:
//
//  -50   header
//  -40   nav
//    1   main
//   50   footer
//

body > header { order: -50; }
body > nav { order: -40; }
body > main { order: 1; }
body > footer { order: 50; }


main {
  overflow: hidden;
  background-color: $base-background-color;
  flex: 1;

  @media print {
    background: transparent;
    // min-height: 0;
  }
}


article {

  header {
    @include centered-section(wide);
    // color: $base-background-color;
    background-color: $su-beige-30;
    time {
      @extend %meta;
    }
  }

  > section {
    border-top: 1px solid $base-border-color;
    @include centered-section();

    &:nth-of-type(odd) {
      background-color: $secondary-background-color;
    }

    &:nth-of-type(even) {
      background-color: tint($secondary-background-color, 75%);
    }
  }
}
