@charset "UTF-8";

///
/// Standard horizontal list.
/// Credit: http://snippetcentral.com/horizontal-navigation-lists/
///
/// @name list-horizontal
///
/// @group mixin
@mixin list-horizontal {
  @include padding(0);
  @include margin(0);
  list-style-type: none;
  overflow: hidden;

  > li {
    display: block;
    float: left;

    &:last-child {
      @include margin(null 0 null null);
    }
  }
}
