@charset "UTF-8";

// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@if(global-variable-exists(monospace-source)) {
  @import url($monospace-source);
}
@if(global-variable-exists(sans-serif-source)) {
  @import url($sans-serif-source);
}
@if(global-variable-exists(serif-source)) {
  @import url($serif-source);
}