@charset "UTF-8";

$base-font-size: _retrieve-decanter-setting(base-font-size);
$root-font-size: _retrieve-decanter-setting(root-font-size);

// -----------------------------------------------------------------------------
// This file contains Site-wide typography
// -----------------------------------------------------------------------------
body {
  color: color(text);
  font-family: $base-font-family;
  line-height: $base-line-height;
  @include font-size($base-font-size, $root-font-size);

  // Responsive font sizes:
  @include grid-media($media-sm-max) {
    @include font-size(16px, $root-font-size)
  }

  @include grid-media($media-xl) {
    @include font-size(19px, $root-font-size)
  }

  @include grid-media($media-print) {
    @include font-size(12px, $root-font-size)
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: {
    top: 0;
    bottom: modular-scale(-4);
  }
  font-weight: 600;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6,
ol + h1,
ol + h2,
ol + h3,
ol + h4,
ol + h5,
ol + h6 {
  margin-top: modular-scale(0);
}

h1 {
  @include font-size(modular-scale(4))
  @include grid-media($media-sm) {
    @include font-size(modular-scale(5));
  }
}

h2 {
  @include font-size(modular-scale(3))
  @include grid-media($media-sm) {
    @include font-size(modular-scale(4));
  }
}

h3 {
  @include font-size(modular-scale(2))
  @include grid-media($media-sm) {
    @include font-size(modular-scale(3));
  }
}

h4 {
  @include font-size(modular-scale(1))
  @include grid-media($media-sm) {
    @include font-size(modular-scale(2));
  }
}

h5 {
  @include font-size(modular-scale(0))
  @include grid-media($media-sm) {
    @include font-size(modular-scale(1));
  }
}

h6 {
  @include font-size(modular-scale(0));
}

p {
  margin: 0 0 modular-scale(1);
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote, q {
  margin: 0 modular-scale(2);
  quotes: "" "";

  &:before,
  &:after {
    content: "";
  }
}

address {
  margin: 0 0 modular-scale(2);
}

pre {
  background: shade(color(border), 10%);
  font-family: $font-family-monospace;
  @include font-size(16px);
  line-height: $base-line-height;
  margin-bottom: modular-scale(2);
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: $font-family-monospace;
  @include font-size(16px);;
}

abbr, acronym {
  border-bottom: 1px dotted color(border);
  cursor: help;
}

mark, ins, del {
  padding: 0 .25em .15em
}

del {
  color: color(text);
  background: color(light-red);
  dext-decoration: line-through;
  text-decoration-color: color(light-red);
}

ins {
  color: color(text);
  background: color(light-green);
  text-decoration: none;
}

mark {
  color: color(text);
  background: color(light-yellow);
  text-decoration: none;
}

small,
.small-text {
  @include font-size(modular-scale(-1, $ratio: 1.125));
}

big,
.large-text {
  @include font-size(modular-scale(1));
}

a {
  color: color(action);
  text-decoration: none;

  @include on-event {
    color: color(action-active);
    text-decoration: underline;
  }
}

hr {
  border-top: 0;
  border-right: 0;
  border-bottom: $base-border;
  border-left: 0;
  margin: modular-scale(1) 0;
}

// Stanford University Brand Icon Font
// ---------------------------------------------------------------------------------------------------------------------
$su-brand-University: "\1f57e";
$su-brand-Stanford-University: "\1f57c";
$su-brand-Stanford: "\1f57d";

[class^="su-brand"], [class*=" su-brand"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Stanford', $font-family-serif !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  transform: translateZ(0); //enables hardware acceleration. Makes performance much smoother on resize.

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
