@charset "UTF-8";

//
// Brand Bar
//
// Stanford brand bar with the wordmark logo that links to the Stanford homepage. The brand bar sits at the very top of a website.
//
// .su-brand-bar--bright - White wordmark on bright red background
// .su-brand-bar--dark - White wordmark on dark grey background
// .su-brand-bar--white - Cardinal red wordmark on white background
//
// Markup: templates/components/brand-bar/brand-bar.twig
//
// Style guide: Identity.Brand Bar
//
.su-brand-bar {
  width: 100%;
  height: 30px;
  background-color: color(brand);
}

.su-brand-bar__container {
  @include centered-column;
}

.su-brand-bar__logo {
  @include logo;
  @include margin(8px null null);
  white-space: nowrap;
  color: $su-color-white;
  font-size: 20px;
  -ms-grid-column: 2;

  &:hover,
  &:active,
  &:focus {
    color: $su-color-white;
  }
}

.su-brand-bar__link--a11y {
  @include hide-visually;
}
