@charset "UTF-8";

///
/// INPUTS VARIABLES
///

// Every variable is declared as !default so that it can be
// overridden by a previous import.
//
// If you want to override a variable, set that variable in one of your
// own partials, then @import '{path/to/}core/variables'.

$input-line-height:  1.3;
$input-border-width: 0.1rem;

// Using rem instead of px so function uses same units.
$input-padding-vertical: 1rem;

// Input heights will vary by browser and type
// if height not explicitly set.
$input-height-exact: $base-font-size * $input-line-height + $input-padding-vertical * 2 + $input-border-width * 2;

// Truncated to 1 decimal place
// (i.e., 1.21rem -> 1.2rem).
$input-height: floor($input-height-exact * 10) / 10;
