@charset "UTF-8";

//
// Inputs
//
// Style guide: Variables.Elements.Inputs
//

//
// $input-line-height
//
// Default input line height.
//
// Markup: $input-line-height: 1.3;
//
// Styleguide: Variables.Elements.Inputs.line-height
//
$input-line-height: 1.3;

//
// $input-border-width
//
// Default input border width.
//
// Markup: $input-border-width: 0.1rem;
//
// Styleguide: Variables.Elements.Inputs.border-width
//
$input-border-width: 0.1rem;

//
// $input-padding-vertical
//
// Default input border width.
// Using rem instead of px so function uses same units.
//
// Markup: $input-padding-vertical: 1rem;
//
// Styleguide: Variables.Elements.Inputs.padding-vertical
//
$input-padding-vertical: 1rem;

//
// $input-height-exact
//
// Input heights will vary by browser and type
// if height not explicitly set.
//
// Markup: $input-height-exact: $base-font-size * $input-line-height + $input-padding-vertical * 2 + $input-border-width * 2;
//
// Styleguide: Variables.Elements.Inputs.height-exact
//
$input-height-exact: $base-font-size * $input-line-height + $input-padding-vertical * 2 + $input-border-width * 2;

//
// $input-height
//
// Truncated to 1 decimal place
// (i.e., 1.21rem -> 1.2rem).
//
// Markup: $input-height: floor($input-height-exact * 10) / 10;
//
// Styleguide: Variables.Elements.Inputs.input-height
//
$input-height: floor($input-height-exact * 10) / 10;
