@charset "UTF-8";

//
// Link
//
// A simple building block element with many variants.
//
// .su-link--more - More info link
// .su-link--external - Link to external site
// .su-link--button - Button style link
// .su-link--action - call to action link
//
// Markup: ../templates/components/link/link.twig
//
// Style guide: Components.Link
//
.su-link,
a {
  @include link;
}
