@charset "UTF-8";

//
// Button link.
//
// @see scss/components/link/_link.scss
// @see scss/utilities/mixins/button/_button-primary.scss
//
.su-link--button {
  @include type-style('inherit');
  @include button-primary;
}
