@charset "UTF-8";

//
// @image-defaults
//
// Default image styling to help with layout and responsiveness.
//
// Style guide: Mixins.Image.image-defaults
//
@mixin image-defaults {
  @include margin(0);
  @include padding(0);

  display: block;
  height: auto;
  max-width: 100%;
}
