@charset "UTF-8";

//
// @alerts-icons-colors
//
// TODO: Joe to document.
//
// Styleguide: Mixins.Alerts.alerts-icons-colors
//
@mixin alerts-icons-colors {
  @each $name, $bgcolor in $alerts {
    .decanter-alert-#{$name} {
      background-color: $bgcolor;
      background-image: url("#{$image-path}/#{$name}.png");
      background-image: url("#{$image-path}/#{$name}.svg");
    }
  }
}
