@charset "UTF-8";

//
// Alerts Icons and Colors
//

@mixin alerts-icons-colors {
  @each $name, $bgcolor in $alerts {
    .decanter-alert-#{$name} {
      background-color: $bgcolor;
      background-image: url("#{$image-path}/#{$name}.png");
      background-image: url("#{$image-path}/#{$name}.svg");
    }
  }
}
