@charset "UTF-8";

//
// @alerts-icons-colors
//
// Loops through color option settings for Alets component.
//
// Style guide: Mixins.Alerts.alerts-icons-colors
//
@mixin alerts-icons-colors {
  @each $name, $bgcolor in $alerts {
    .decanter-alert-#{$name} {
      background-color: $bgcolor;
      background-image: url("#{$image-path}/#{$name}.png");
      background-image: url("#{$image-path}/#{$name}.svg");
    }
  }
}
