<div class="carafe-grid">
  <div class="carafe-grid--item carafe-width-one-fourth">1: one-fourth</div>
  <div class="carafe-grid--item carafe-width-three-fourths">2: three-fourths</div>
  <div class="carafe-grid--item carafe-width-one-third">3: one-third</div>
  <div class="carafe-grid--item carafe-width-two-thirds">4: two-thirds</div>
  <div class="carafe-grid--item carafe-width-one-half">5: one-half</div>
  <div class="carafe-grid--item carafe-width-one-half">6: one-half</div>
  <div class="carafe-grid--item carafe-width-one-fourth">7: one-fourth</div>
  <div class="carafe-grid--item carafe-width-one-half">8: one-half</div>
  <div class="carafe-grid--item carafe-width-one-fourth">9: one-fourth</div>
  <div class="carafe-grid--item carafe-width-one-whole">10: one-whole</div>
</div>
