@charset "UTF-8";

///
/// ALERTS
///

@mixin alerts {
  background-color: $color-cool-grey;
  background-position: 1rem 2rem;
  background-repeat: no-repeat;
  background-size: 4rem;

  @include margin(1.5em null null);
  @include padding(1em);

  @include media($medium-screen) {
    background-size: 5.2rem;
  }

  a {
    color: $color-bright-blue;

    &:focus,
    &:hover {
      color: $color-blue;
    }
  }

  ul {
    @include margin(1em null 0);
    @include padding(null null null 1em);
  }

  .decanter-alert__body {
    display: table-cell;
    vertical-align: top;

    @include padding(null null null 3.5rem);

    @include media($medium-screen) {
      @include padding(null null null 5rem);
    }

    p:first-child {
      @include margin(0.8rem null null);
    }

    p:last-child {
      @include margin(null null 0.8rem);
    }

    .decanter-alert__heading {
      @include margin(0 null .3rem);

      @include media($medium-screen) {
        @include margin(.3rem null null);
      }
    }

    .decanter-alert__text {
      font-family: $font-sans;
      @include margin(0 null);
    }
  }
}
