// My Config comes first.
@import "../config/config";
// Decanter config.
@import "decanter/core/utilities/decanter-utilities.scss";

.block--local-tasks {
  @include responsive-container($default-container);
}

// Tabs.
ul.tabs {
  width: 100%;
  margin: 0 0 5px;
  border-bottom: 1px solid $light-gray;

  li {
    display: inline-block;
  }

  a {
    display: block;
    border: 1px solid $light-gray;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
  }
}
