@charset "UTF-8";

//
// Main Navigation
//
// The primary site navigation that is usually in the header region of a website. It is horizontal on larger devices and collapses on small devices.
//
// Markup: ../templates/components/main-nav/main-nav.twig
//
// Style guide: Components.Main Navigation
//
.su-main-nav {
  @include font-smoothing(antialiased);
  font-family: $font-sans;
  position: relative;
  z-index: 1000;

  ul {
    @include margin(0 null);
    list-style: none;
  }

  li {
    @include margin(null null 0);
  }

  a {
    text-decoration: none;
  }
}

.su-main-nav__toggle {
  @include fancy-hover;
  @include padding(0 0 1em);
  background-color: transparent;
  color: $color-black;
  font-size: .8em;
  font-weight: 400;
  line-height: .7;
  width: 40px;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;

  &:after {
    display: inline-block;
    margin: 0 auto;
    width: 30px;
    height: 26px;
    background: url("#{$image-path}/hamburger-black.svg") no-repeat 3px 0;
    content: "";
  }

  &[aria-expanded="true"] {
    &:before {
      background-color: $color-black;
    }

    &:after {
      width: 26px;
      background: url("#{$image-path}/close-black.svg") no-repeat 3px 0;
      background-size: 20px 20px;
    }
  }

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    color: $color-black;
    box-shadow: none;
  }

  @include grid-media('lg') {
    display: none;
  }

  @include grid-media-max('md') {
    &[aria-expanded="false"] {
      + .su-main-nav__menu-lv1 {
        display: none;
      }
    }

    &[aria-expanded="true"] {
      + .su-main-nav__menu-lv1 {
        position: absolute;
      }
    }
  }

  @include grid-media('md') {
    &[aria-expanded="true"] {
      + .su-main-nav__menu-lv1 {
        max-width: 21em;
      }
    }
  }
}

.su-main-nav__menu-lv1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $color-black;
  width: 100%;

  @include grid-media-max('md') {
    height: 100vh;
  }

  @include grid-media('lg') {
    @include padding(null null null 0);
    flex-direction: row;
    background-color: transparent;

    > li {
      > a {
        @include fancy-hover;
        @include padding(null 0 .8em);
        @include margin(0 1.16em 0 0);
        font-size: 1.05em;
        color: $color-black;
        font-weight: 600;
        border-bottom: 0;

        &:hover,
        &:focus {
          color: $color-dark-red;
        }

        &:active {
          color: $color-black;
        }

      }
    }
  }
}

.su-main-nav__item-lv1 {
  @include margin(null null 0);

  a {
    @include fancy-hover-vertical($color: $color-white, $active: $color-bright-red);
    @include padding(.8em .4em .8em 1em);
    display: block;
    color: $color-white;
    font-size: .9em;
    font-weight: 600;
    border-bottom: $color-cool-grey solid 1px;
  }

  @include grid-media('lg') {
    &:first-child {
      a {
        @include margin(null null null 0);
      }
    }

    &:last-child {
      a {
        @include margin(null 0 null null);
      }
    }

    > a {
      @include padding(null 0 .8em);
      @include margin(0 1.16em 0 0);
      font-size: 1.05em;
      color: $color-black;
      font-weight: 600;
      border-bottom: 0;

      &:hover,
      &:focus {
        color: $color-dark-red;
      }

    }
  }

}

.su-main-nav__item-lv1--current {
  > a {
    font-weight: 600;

    &:before {
      visibility: visible !important;
      transform: scaleY(1);
      background-color: $color-bright-red;
    }

    &:hover,
    &:focus {
      &:before {
        left: 5px;
        background-color: $color-bright-red;
      }
    }
  }

  @include grid-media('lg') {
    > a {

      &:before {
        transform: scaleX(1) !important;
        transform: scaleY(0);
        background-color: $color-black;
      }

      &:hover,
      &:focus {
        &:before {
          left: 0;
        }
      }
    }
  }
}

.su-main-nav__menu-lv2 {
  @include padding(null null null 1em);
  background-color: $color-black;
  flex-direction: column;
  display: none;

  @include grid-media('lg') {
    @include padding(null null null .6em);
    @include box-shadow($depth: 'medium', $stroke: none);
    @include margin(null null null -18px);
    position: absolute;
    width: 18.75em;
    z-index: 1000;
  }
}

.su-main-nav__item-lv2 {
  a {
    color: $color-white;
    font-size: .9em;
    font-weight: 400;

    &:hover,
    &:focus {
      color: $color-white;
    }

    &:active {
      font-weight: 600;
    }
  }

  @include grid-media('lg') {
    &:last-child a {
      border-bottom: 0;
    }
  }
}

.su-main-nav__item-lv1--parent {
  > a {
    &:after {
      background: url("#{$image-path}/plus-white.svg") no-repeat 0 0;
      background-size: 100%;
      content: "";
      display: inline-block;
      position: absolute;
      right: 1em;
      top: 1.03em;
      height: .9em;
      width: .9em;

      @include grid-media('lg') {
        @include margin (null null 1px 6px);
        background: url("#{$image-path}/caret-down-black.svg") no-repeat 0 0;
        background-size: 100%;
        position: relative;
        right: 0;
        top: 0;
        height: 11px; // small svg gets chopped off if use em instead of px
        width: 11px;
        transition: all .3s ease-out;
      }
    }
  }
}

.su-main-nav__item-lv1--parent.su-main-nav__item-lv1--expanded {
  > a {
    &:after {
      background: url("#{$image-path}/minus-white.svg") no-repeat 0 0;
      background-size: 100%;

      @include grid-media('lg') {
        background: url("#{$image-path}/caret-down-black.svg") no-repeat 0 0;
        background-size: 100%;
        transform: rotate(180deg);
      }
    }
  }

  > .su-main-nav__menu-lv2 {
    display: flex;
  }

  .su-main-nav__item-lv2--current a {
    font-weight: 600;

    &:before {
      visibility: visible;
      transform: scaleY(1);
      background-color: $color-bright-red;
    }

    &:hover,
    &:focus {
      &:before {
        left: 5px;
      }
    }
  }

}
