@charset "UTF-8";

//
// Main Navigation
//
// The primary site navigation that is usually in the header region of a website. It is horizontal on larger devices and collapses on small devices.
//
// .su-main-nav--center - Centered main nav
// .su-main-nav--right - Right-aligned main nav
//
// Markup: ../templates/components/main-nav/main-nav.twig
//
// Style guide: Components.Main Navigation
//
.su-main-nav {
  @include font-smoothing(antialiased);
  font-family: $font-sans;

  ul {
    @include margin(0 null);
    list-style: none;
  }

  li {
    @include margin(null null 0);
  }

  a {
    text-decoration: none;
    color: $color-black;
  }
}

.su-main-nav__menu-lv1 {
  display: flex;
  flex-direction: column;
  background-color: $color-black;
  width: 100%;

  > li {
    @include margin(null null 0);

    &:hover,
    &:focus,
    &:active {

      @media #{$breakpoint-lg} {

        > .su-main-nav__menu-lv2 {
          visibility: visible;
        }
      }
    }

    a {
      @include fancy-hover($color: $color-white, $active: $color-bright-red);
      @include padding(.8em .4em .8em 1em);
      display: block;
      color: $color-white;
      font-size: .9em;
      border-bottom: $color-cool-grey solid 1px;

      &::after {
        height: 100%;
        width: 5px;
        transform: scaleX(0);
        transform: scaleY(0);
      }

      &:hover,
      &:focus {

        &:after {
          transform: scaleX(0);
          transform: scaleY(1);
        }
      }

    }
  }

  @media #{$breakpoint-lg} {
    @include padding(null null null 0);
    flex-direction: row;
    background-color: transparent;

    > li {

      > a {
        @include fancy-hover;
        @include padding(null 0 .8em);
        @include margin(0 .58em);
        font-size: 1.05em;
        color: $color-black;
        font-weight: 600;
        border-bottom: 0;

        &:hover,
        &:focus {
          color: $color-dark-red;
        }

        &:active {
          color: $color-black;
        }

      }

      &:first-child {
        a {
          @include margin(null null null 0);
        }
      }

      &:last-child {
        a {
          @include margin(null 0 null null);
        }
      }
    }
  }
}

.su-main-nav__menu-lv2 {
  background-color: $color-black;
  flex-direction: column;

  li {
    a {
      color: $color-white;
      font-size: .9em;
      font-weight: 400;

      &:hover,
      &:focus {
        color: $color-white;
      }
    }
  }

  @media #{$breakpoint-lg} {
    position: absolute;
    width: 18.75em;
    visibility: hidden;
  }
}

.su-main-nav__item-lv2--current {
  font-weight: 600;
}
