@charset "UTF-8";

.su-main-nav.su-main-nav--light {
  .su-main-nav__toggle {
    &[aria-expanded="true"] {
      &::before {
        background-color: $color-driftwood;
      }

      &:hover::before {
        background-color: $color-dark-red;
      }
    }
  }

  // general menu styles
  ul {
    background-color: $color-white;
  }

  li {
    a {
      color: $color-black;
      border-bottom-color: #d9d9d9;

      &:hover,
      &:focus {
        &::before {
          background-color: $color-black;
        }
      }

      &:active {
        color: $color-dark-red;

        &::before {
          background-color: $color-dark-red;
        }
      }

      &[aria-expanded="true"]::before {
        background-color: $color-dark-red;
      }
    }

    &.su-main-nav__item--current {
      > a {
        color: $color-dark-red;

        &::before {
          background-color: $color-dark-red;
        }
      }
    }

    @include grid-media-max('md') {
      &.su-main-nav__item--parent {
        > a::after {
          background: url("#{$image-path}/plus-black.svg") no-repeat 0 0;
          background-size: 100%;
        }

        &.su-main-nav__item--expanded > a::after {
          background: url("#{$image-path}/minus-black.svg") no-repeat 0 0;
          background-size: 100%;
        }
      }
    }
  }

  // desktop first level menu style override
  > ul {
    @include grid-media('lg') {
      background-color: transparent;

      > li {
        > a {
          &:hover,
          &:focus {
            color: $color-dark-red;

            &::before {
              background-color: $color-dark-red;
            }
          }

          &:active {
            color: $color-black;

            &::before {
              background-color: $color-black;
            }
          }

          &[aria-expanded="true"] {
            color: $color-black;

            &::before {
              background-color: $color-driftwood;
            }

            &:hover {
              color: $color-dark-red;

              &::before {
                background-color: $color-dark-red;
              }
            }
          }
        }

        &.su-main-nav__item--current {
          > a {
            color: $color-black;

            &::before {
              background-color: $color-driftwood;
            }

            &:hover,
            &:focus {
              color: $color-dark-red;

              &::before {
                background-color: $color-dark-red;
              }
            }

          }
        }
      }
    }
  }
}
