@charset "UTF-8";

.su-main-nav--light {

  .su-main-nav__menu-lv1 {
    background-color: $color-white;
  }

  .su-main-nav__item-lv1 {
    a {
      color: $color-black;
      border-bottom-color: #d9d9d9;

      &:hover,
      &:focus,
      &[aria-expanded="true"] {
        &:before {
          background-color: $color-black;
          transition: all .15s ease-out;
        }
      }
    }

    @include grid-media('lg') {
      > a {
        &:hover,
        &:focus {
          &:before {
            background-color: $color-dark-red;
          }
        }

        &[aria-expanded="true"] {
          color: $color-black;

          &::before {
            background-color: $color-driftwood!important;
          }
        }
      }
    }
  }

  .su-main-nav__item-lv1--current {
    > a {
      color: $color-black;

      &:before {
        background-color: $color-dark-red;
      }

      &:hover,
      &:focus {
        &::before {
          background-color: $color-dark-red;
        }
      }
    }

    @include grid-media('lg') {
      > a {
        &::before {
          background-color: $color-driftwood;
        }
      }
    }
  }

  .su-main-nav__menu-lv2 {
    background-color: $color-white;
  }

  .su-main-nav__item-lv2 {
    a {
      color: $color-black;

      &:hover,
      &:focus {
        //color: $color-black;
      }
    }
  }

  .su-main-nav__item-lv2--current a {
    color: $color-dark-red;

    &::before {
      background-color: $color-dark-red;
    }
  }

  .su-main-nav__item-lv1--parent {
    > a {
      &:after {
        background: url("#{$image-path}/plus-black.svg") no-repeat 0 0;
        background-size: 100%;
        content: "";
        display: inline-block;
        position: absolute;
        right: 1em;
        top: 1.03em;
        height: .9em;
        width: .9em;

        @include grid-media('lg') {
          background: url("#{$image-path}/caret-down-black.svg") no-repeat 0 0;
          background-size: 100%;
          position: relative;
          right: 0;
          top: 0;
          height: 11px; // small svg gets chopped off if use em instead of px
          width: 11px;
          transition: all .3s ease-out;
        }
      }
    }
  }

  .su-main-nav__item-lv1--parent.su-main-nav__item-lv1--expanded {
    > a {
      &::after {
        background: url("#{$image-path}/minus-black.svg") no-repeat 0 0;
        background-size: 100%;

        @include grid-media('lg') {
          background: url("#{$image-path}/caret-down-black.svg") no-repeat 0 0;
          background-size: 100%;
        }
      }
    }

    .su-main-nav__item-lv2--current a {
      color: $color-dark-red;

      &:before {
        background-color: $color-dark-red;
      }
    }
  }

  &.su-main-nav--mobile-search .su-main-nav__toggle[aria-expanded="true"] {
    + .su-main-nav__menu-lv1 {
      + .su-site-search {
        background-color: $color-white;
      }
    }
  }

}
