@charset 'UTF-8';

// I like big fonts I cannot lie.
$base-font-size: 18px;

// Decant.
@import "decanter";

.grid-collapse {
  @include grid-media($media-sm) {
    @include grid-collapse;
    @include clearfix;
  }
}

.layout--molive {
  @include responsive-container($default-container);
  @include grid-container;
  background: #FDF;

  .column {
    border: dashed 3px #0F0;
  }

  .column--first,
  .column--second,
  .column--third,
  .column--fourth {
    @include grid-media($media-sm) {
      @include grid-column(2 of 4);
    }
    @include grid-media($media-md) {
      @include grid-column(1 of 4);
    }
  }

}
