@charset "UTF-8";

// Dependencies
@import '../utilities/settings';

ul.plain,
ol.plain {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl.plain {
  margin: 0;
}

dt.plain {
  font-weight: 600;
  margin: 0;
}

dd.plain {
  margin: 0;
}