{#
/**
 * @file
 * Default theme implementation for global brand bar
 */
#}
<div class="brand-bar">
  <div class="decanter-grid">
    <a href="https://www.stanford.edu/">
      <img src="/{{ stanford_basic_path }}/img/optimized/header-stanford-logo@2x.png" alt="Stanford University"/>
    </a>
  </div>
</div>
<!-- /#global-header -->
