{#
/**
 * @file
 * Default theme implementation for the basic structure of the global stanford footer
 */
#}
<section id="footer__global-footer">
  <div class="decanter-grid">
    <div class="decanter-width-one-sixth">
      <div id="global-footer__brand"> <a href="http://www.stanford.edu/" class="su-brand">
          <object data="/{{ stanford_basic_path }}/assets/svg/su_sig_stack_linked.svg" alt="Stanford University" width="105" height="49" tabindex="-1">Stanford University Logo</object>
        </a>
      </div>
    </div>
    <div id="global-footer__info" class="decanter-width-five-sixths">
      <div id="global-footer__nav" role="navigation">
        <nav id="nav__global-links">
          <a href="http://www.stanford.edu">Stanford Home</a>
          <a href="http://visit.stanford.edu/plan/maps.html">Maps &amp; Directions</a>
          <a href="http://stanford.edu/search/">Search Stanford</a>
          <a href="http://emergency.stanford.edu/">Emergency Info</a>
        </nav>
        <nav id="nav__policy-links">
          <a href="http://www.stanford.edu/site/terms.html">Terms of Use</a>
          <a href="http://www.stanford.edu/site/privacy.html">Privacy Policy</a>
          <a href="https://uit.stanford.edu/security/copyright-infringement">Copyright Complaints</a>
          <a href="https://adminguide.stanford.edu/chapter-1/subchapter-5/policy-1-5-4">Trademark Notice</a>
        </nav>
      </div>
      <div id="global-footer__copyright">
        <span class="vcard">
      © <span class="fn org">Stanford University</span>.
        <span class="adr">
        <span class="locality">Stanford</span>,
        <span class="region">California</span>
        <span class="postal-code">94305</span>.
        </span>
        </span>
      </div>
    </div>
  </div>
</section>
