{#
/**
 * @file
 * Centered container
 *
 * An example of how to center a container in the page.
 *
 * Available modifiers
 *  - None so far
 *
 * Available Variables
 * - attributes: A series of tag attributes for the wrapper
 * - modifier_class: Modifier css classes for this component.
 * - body: A block element that is expected to be replaced with your content.
 * - content: Your content
 *
 */
#}
<div{{attributes}} class="layout centered-container {{ modifier_class }}">
  <div>
    {% block body %}
    {{ content }}
    {% endblock %}
  </div>
</div>
