<h4 style="text-align: center;">Whole & Halves</h4>
  <div class="flex-container">
    <div class="flex-item flex-12-of-12">12/12</div>
  </div>

<div class="flex-container">
    <div class="flex-item flex-6-of-12">6/12</div>
    <div class="flex-item flex-6-of-12">6/12</div>
  </div>
</div>

<h4 style="text-align: center;">Thirds</h4>
<div class="flex-container">
  <div class="flex-item flex-4-of-12">4/12</div>
  <div class="flex-item flex-4-of-12">4/12</div>
  <div class="flex-item flex-4-of-12">4/12</div>
</div>

<div class="flex-container">
  <div class="flex-item flex-4-of-12">4/12</div>
  <div class="flex-item flex-8-of-12">8/12</div>
</div>

<h4 style="text-align: center;">Fourths & Halves</h4>
<div class="flex-container">
  <div class="flex-item flex-3-of-12">3/12</div>
  <div class="flex-item flex-3-of-12">3/12</div>
  <div class="flex-item flex-3-of-12">3/12</div>
  <div class="flex-item flex-3-of-12">3/12</div>
</div>

<div class="flex-container">
  <div class="flex-item flex-3-of-12">3/12</div>
  <div class="flex-item flex-9-of-12">9/12</div>
</div>

<div class="flex-container">
  <div class="flex-item flex-3-of-12">3/12</div>
  <div class="flex-item flex-6-of-12">9/12</div>
  <div class="flex-item flex-3-of-12">3/12</div>
</div>

<h4 style="text-align: center;">Sixths, Halves, and Thirds</h4>
<div class="flex-container">
  <div class="flex-item flex-2-of-12">2/12</div>
  <div class="flex-item flex-2-of-12">2/12</div>
  <div class="flex-item flex-2-of-12">2/12</div>
  <div class="flex-item flex-2-of-12">2/12</div>
  <div class="flex-item flex-2-of-12">2/12</div>
  <div class="flex-item flex-2-of-12">2/12</div>
</div>

<div class="flex-container">
  <div class="flex-item flex-2-of-12">2/12</div>
  <div class="flex-item flex-6-of-12">6/12</div>
  <div class="flex-item flex-4-of-12">4/12</div>
</div>

<div class="flex-container">
  <div class="flex-item flex-2-of-12">2/12</div>
  <div class="flex-item flex-8-of-12">8/12</div>
  <div class="flex-item flex-2-of-12">2/12</div>
</div>

<div class="flex-container">
  <div class="flex-item flex-2-of-12">2/12</div>
  <div class="flex-item flex-10-of-12">10/12</div>
</div>



<h4 style="text-align: center;">Twelfths</h4>
<div class="flex-container">
  <div class="flex-item flex-1-of-12">1/12</div>
  <div class="flex-item flex-1-of-12">1/12</div>
  <div class="flex-item flex-1-of-12">1/12</div>
  <div class="flex-item flex-1-of-12">1/12</div>
  <div class="flex-item flex-1-of-12">1/12</div>
  <div class="flex-item flex-1-of-12">1/12</div>
  <div class="flex-item flex-1-of-12">1/12</div>
  <div class="flex-item flex-1-of-12">1/12</div>
  <div class="flex-item flex-1-of-12">1/12</div>
  <div class="flex-item flex-1-of-12">1/12</div>
  <div class="flex-item flex-1-of-12">1/12</div>
  <div class="flex-item flex-1-of-12">1/12</div>
</div>

<div class="flex-container">
  <div class="flex-item flex-5-of-12">5/12</div>
  <div class="flex-item flex-7-of-12">7/12</div>
</div>
