<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Flex Grid</title>

    <!-- Flex Grid CSS -->
    <link href="../../../css/decanter-grid.css" rel="stylesheet">

    <style>
      [class*="grid-"] {
        background-color: #006BB6;
        border: 2px solid #FDB927;
        color: #FFFFFF;
      }
      .grid--container {
        background-color: transparent;
        border: 0;
        margin-bottom: 1rem;
      }
      .grid--container h1 {
        color: black;
      }
    </style>

  </head>

  <body>
    <div class="container">

      <div class="grid--container">
        <h1>Flex Grid</h1>
      </div>

      <div class="grid--container">
        <div class="grid-4-of-12">.grid-4-of-12</div>
        <div class="grid-4-of-12">.grid-4-of-12</div>
        <div class="grid-4-of-12">.grid-4-of-12</div>
      </div>

      <div class="grid--container">
        <div class="grid-sm-4-of-12">.grid-sm-4-of-12</div>
        <div class="grid-sm-4-of-12">.grid-sm-4-of-12</div>
        <div class="grid-sm-4-of-12">.grid-sm-4-of-12</div>
      </div>

      <div class="grid--container">
        <div class="grid-md-4-of-12">.grid-md-4-of-12</div>
        <div class="grid-md-4-of-12">.grid-md-4-of-12</div>
        <div class="grid-md-4-of-12">.grid-md-4-of-12</div>
      </div>

      <div class="grid--container">
        <div class="grid-lg-4-of-12">.grid-lg-4-of-12</div>
        <div class="grid-lg-4-of-12">.grid-lg-4-of-12</div>
        <div class="grid-lg-4-of-12">.grid-lg-4-of-12</div>
      </div>

      <div class="grid--container">
        <div class="grid-xl-4-of-12">.grid-xl-4-of-12</div>
        <div class="grid-xl-4-of-12">.grid-xl-4-of-12</div>
        <div class="grid-xl-4-of-12">.grid-xl-4-of-12</div>
      </div>

      <div class="grid--container">
        <div class="grid-2xl-4-of-12">.grid-2xl-4-of-12</div>
        <div class="grid-2xl-4-of-12">.grid-2xl-4-of-12</div>
        <div class="grid-2xl-4-of-12">.grid-2xl-4-of-12</div>
      </div>

    </div>
  </body>
</html>
