<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Flex Grid</title>

    <!-- Flex Grid CSS -->
    <link href="../../../css/decanter-grid.css" rel="stylesheet">

    <style>
      [class*="flex-"] {
        background-color: #006BB6;
        border: 2px solid #FDB927;
        color: #FFFFFF;
      }
      .flex-container {
        background-color: transparent;
        border: 0;
        margin-bottom: 1rem;
      }
      .flex-container h1 {
        color: black;
      }
    </style>

  </head>

  <body>
    <div class="container">

      <div class="flex-container">
        <h1>Flex Grid</h1>
      </div>

      <div class="flex-container">
        <div class="flex-2-of-12">.flex-2-of-12</div>
        <div class="flex-2-of-12">.flex-2-of-12</div>
        <div class="flex-2-of-12">.flex-2-of-12</div>
        <div class="flex-2-of-12">.flex-2-of-12</div>
        <div class="flex-2-of-12">.flex-2-of-12</div>
        <div class="flex-2-of-12">.flex-2-of-12</div>
      </div>

      <div class="flex-container">
        <div class="flex-sm-2-of-12">.flex-sm-2-of-12</div>
        <div class="flex-sm-2-of-12">.flex-sm-2-of-12</div>
        <div class="flex-sm-2-of-12">.flex-sm-2-of-12</div>
        <div class="flex-sm-2-of-12">.flex-sm-2-of-12</div>
        <div class="flex-sm-2-of-12">.flex-sm-2-of-12</div>
        <div class="flex-sm-2-of-12">.flex-sm-2-of-12</div>
      </div>

      <div class="flex-container">
        <div class="flex-md-2-of-12">.flex-md-2-of-12</div>
        <div class="flex-md-2-of-12">.flex-md-2-of-12</div>
        <div class="flex-md-2-of-12">.flex-md-2-of-12</div>
        <div class="flex-md-2-of-12">.flex-md-2-of-12</div>
        <div class="flex-md-2-of-12">.flex-md-2-of-12</div>
        <div class="flex-md-2-of-12">.flex-md-2-of-12</div>
      </div>

      <div class="flex-container">
        <div class="flex-lg-2-of-12">.flex-lg-2-of-12</div>
        <div class="flex-lg-2-of-12">.flex-lg-2-of-12</div>
        <div class="flex-lg-2-of-12">.flex-lg-2-of-12</div>
        <div class="flex-lg-2-of-12">.flex-lg-2-of-12</div>
        <div class="flex-lg-2-of-12">.flex-lg-2-of-12</div>
        <div class="flex-lg-2-of-12">.flex-lg-2-of-12</div>
      </div>

      <div class="flex-container">
        <div class="flex-xl-2-of-12">.flex-xl-2-of-12</div>
        <div class="flex-xl-2-of-12">.flex-xl-2-of-12</div>
        <div class="flex-xl-2-of-12">.flex-xl-2-of-12</div>
        <div class="flex-xl-2-of-12">.flex-xl-2-of-12</div>
        <div class="flex-xl-2-of-12">.flex-xl-2-of-12</div>
        <div class="flex-xl-2-of-12">.flex-xl-2-of-12</div>
      </div>

      <div class="flex-container">
        <div class="flex-2xl-2-of-12">.flex-2xl-2-of-12</div>
        <div class="flex-2xl-2-of-12">.flex-2xl-2-of-12</div>
        <div class="flex-2xl-2-of-12">.flex-2xl-2-of-12</div>
        <div class="flex-2xl-2-of-12">.flex-2xl-2-of-12</div>
        <div class="flex-2xl-2-of-12">.flex-2xl-2-of-12</div>
        <div class="flex-2xl-2-of-12">.flex-2xl-2-of-12</div>
      </div>


      <div class="flex-container">
        <div class="flex-4-of-12">.flex-4-of-12</div>
        <div class="flex-4-of-12">.flex-4-of-12</div>
        <div class="flex-4-of-12">.flex-4-of-12</div>
      </div>

      <div class="flex-container">
        <div class="flex-sm-4-of-12">.flex-sm-4-of-12</div>
        <div class="flex-sm-4-of-12">.flex-sm-4-of-12</div>
        <div class="flex-sm-4-of-12">.flex-sm-4-of-12</div>
      </div>

      <div class="flex-container">
        <div class="flex-md-4-of-12">.flex-md-4-of-12</div>
        <div class="flex-md-4-of-12">.flex-md-4-of-12</div>
        <div class="flex-md-4-of-12">.flex-md-4-of-12</div>
      </div>

      <div class="flex-container">
        <div class="flex-lg-4-of-12">.flex-lg-4-of-12</div>
        <div class="flex-lg-4-of-12">.flex-lg-4-of-12</div>
        <div class="flex-lg-4-of-12">.flex-lg-4-of-12</div>
      </div>

      <div class="flex-container">
        <div class="flex-xl-4-of-12">.flex-xl-4-of-12</div>
        <div class="flex-xl-4-of-12">.flex-xl-4-of-12</div>
        <div class="flex-xl-4-of-12">.flex-xl-4-of-12</div>
      </div>

      <div class="flex-container">
        <div class="flex-2xl-4-of-12">.flex-2xl-4-of-12</div>
        <div class="flex-2xl-4-of-12">.flex-2xl-4-of-12</div>
        <div class="flex-2xl-4-of-12">.flex-2xl-4-of-12</div>
      </div>


    </div>
  </body>
</html>
