@charset "UTF-8";

/// Creates a wrapper-less centered section using padding
/// Section map.
$sections: (
    content: (
        screen-xs: ( columns: 12, max-width: false, grid-media: $media-xs-only ),
        screen-sm: ( columns: 9, max-width: false, grid-media: $media-sm-only ),
        screen-md: ( columns: 8, max-width: false, grid-media: $media-md-only ),
        screen-lg: ( columns: 7.5, max-width: false, grid-media: $media-lg-only ),
        screen-xl: ( columns: 7, max-width: true, grid-media: $media-xl ),
        print: ( columns: 12, max-width: true, grid-media: $media-print),
    ),
    full: (
        screen-xs: ( columns: 12, max-width: false, grid-media: $media-xs-only ),
        screen-sm: ( columns: 12, max-width: false, grid-media: $media-sm-only ),
        screen-md: ( columns: 12, max-width: false, grid-media: $media-md-only ),
        screen-lg: ( columns: 12, max-width: false, grid-media: $media-lg-only ),
        screen-xl: ( columns: 12, max-width: true, grid-media: $media-xl ),
        print: ( columns: 12, max-width: true, grid-media: $media-print),
    ),
    edge-to-edge: (
        screen-xs: ( columns: 12, max-width: false, grid-media: $media-xs-only ),
        screen-sm: ( columns: 12, max-width: false, grid-media: $media-sm-only ),
        screen-md: ( columns: 12, max-width: false, grid-media: $media-md-only ),
        screen-lg: ( columns: 12, max-width: false, grid-media: $media-lg-only ),
        screen-xl: ( columns: 12, max-width: false, grid-media: $media-xl ),
        print: ( columns: 12, max-width: false, grid-media: $media-print),
    ),
) !default;

/// Creates a wrapper-less centered section using padding
/// centered-section mixin
@mixin centered-section
(
  $_cols: full,
  $_grid: $neat-grid,
  $_v-space: modular-scale(1),
  $_include_max-width: false,
  $_grid-collapse: false
)
{
  @include grid-container;

  @if $_cols == edge-to-edge {
    @include grid-collapse;
  }

  @if map-get($sections, $_cols) {

    $section: map-get($sections, $_cols);

    @each $breakpoint, $_map in $section {

      @include grid-media(map-get($_map, grid-media)) {
        $_h-space: _retrieve-neat-setting(map-get($_map, grid-media), gutter);
        padding: set-container-padding(map-get($_map, columns), $_v-space, $_h-space, map-get($_map, max-width));
        @if $_grid-collapse == true {
          @include grid-collapse;
        }
      }
    }
  } @else if type-of($_cols) == number {
    $_h-space: _retrieve-neat-setting($_grid, gutter);
    padding: set-container-padding($_cols, $_v-space, $_h-space, $_include_max-width);
    @if $_grid-collapse == true {
      @include grid-collapse;
    }
  }
}
