@charset "UTF-8";

/// Creates a wrapper-less centered section using padding
/// centered-section mixin
@mixin centered-section(
  $_cols: full,
  $_grid: (),
  $_v-space: 1em,
  $_max-width: false,
  $_grid-collapse: false
)
{
  @include grid-container;
  @if map-get($sections, $_cols) {
    $section: map-get($sections, $_cols);
    @each $breakpoint, $_map in $section {
      @include grid-media(map-get($_map, grid-media)) {
        $_gutter: _retrieve-neat-setting(map-get($_map, grid-media), gutter);
        padding: set-container-padding(map-get($_map, columns), $_v-space, $_gutter, map-get($_map, max-width));
        @if $_grid-collapse == true {
          @include grid-collapse;
        }
      }
    }
  }
  @else if type-of($_cols) == number {
    $_gutter: _retrieve-neat-setting($_grid, gutter);
    padding: set-container-padding($_cols, $_v-space, $_gutter, $_max-width);
    @if $_grid-collapse == true {
      @include grid-collapse;
    }
  }
}
