@charset "UTF-8";

///
/// @name center-block
///
/// Defines the current element as a centered block element.
///

@mixin center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  clear: both;
}
