@charset "UTF-8";

// Default set of parameters.
$flex-container-defaults: (
  'parent': '&',
  'children': '> *',
  'flex': flex,
  'flex-direction': row,
  'flex-wrap': wrap,
  'justify-content': center,
  'align-items': flex-start,
  'align-content': center,
  'flex-grow': 0,
  'flex-shrink': 0,
  'flex-basis': auto
) !default;

/// Creates a flexbox container with children
/// See: https://css-tricks.com/snippets/css/a-guide-to-flexbox for flexbox property explanations.
///
/// selector: *,
/// flex: flex, // flex | inline-flex
///
/// // Parent properties
/// flex-direction: row, // row | row-reverse | column | column-reverse
/// flex-wrap: wrap, // nowrap | wrap | wrap-reverse
///
/// // Change $_justify-content from 'center' to 'flex-start' to left align wrapped orphans
/// justify-content: center, // flex-start | flex-end | center | space-between | space-around
///
/// // Change $_align-items from `flex-start` to `stretch` for equal heights
/// align-items: flex-start, //  flex-start | flex-end | center | baseline | stretch
///
/// align-content: center, // flex-start | flex-end | center | space-between | space-around | stretch
/// // Children properties
/// flex-grow: 0,
/// flex-shrink: 0,
/// flex-basis: auto
/// //  $_order: <integer>  // Note that this should be set at the element level
/// // $_align-self: flex-start // Note that this should be set at the element level
@mixin flex-container($settings-map: $flex-container-defaults) {

  // Pull out the parts for easy use.
  $parent: map-get('parent', $settings-map);
  $children: map-get('children', $settings-map);
  $flex: map-get('flex', $settings-map);
  $flex-direction: map-get('flex-direction', $settings-map);
  $flex-wrap: map-get('flex-wrap', $settings-map);
  $justify-content: map-get('justify-content', $settings-map);
  $align-items: map-get('align-items', $settings-map);
  $align-content: map-get('align-content', $settings-map);
  $flex-grow: map-get('flex-grow', $settings-map);
  $flex-shrink: map-get('flex-shrink', $settings-map);
  $flex-basis: map-get('flex-basis', $settings-map);

  #{$parent} {
    // Inherited properties from mixin.
    display:          $flex;
    flex-flow:        $flex-direction $flex-wrap; // default: row wrap;
    justify-content:  $justify-content; // default: flex-start;
    align-items:      $align-items; // default: flex-start;
    align-content:    $align-content; // default: flex-start;

    // Opinionated properties
    box-sizing: border-box;

    // Applies the direct children
    #{$children} {
      // Inherited properties from mixin
      flex: $flex-grow $flex-shrink $flex-basis; // default: flex: 0 0 auto;

      //Opinionated properties
      box-sizing: inherit;
    }
  }
}
