@charset "UTF-8";

/// Creates a flexbox container with children
/// See: https://css-tricks.com/snippets/css/a-guide-to-flexbox for flexbox property explanations.
///
/// $_selector: *,
/// $_flex: flex, // flex | inline-flex
///
/// // Parent properties
/// $_flex-direction: row, // row | row-reverse | column | column-reverse
/// $_flex-wrap: wrap, // nowrap | wrap | wrap-reverse
///
/// // Change $_justify-content from 'center' to 'flex-start' to left align wrapped orphans
/// $_justify-content: center, // flex-start | flex-end | center | space-between | space-around
///
/// // Change $_align-items from `flex-start` to `stretch` for equal heights
/// $_align-items: flex-start, //  flex-start | flex-end | center | baseline | stretch
///
/// $_align-content: center, // flex-start | flex-end | center | space-between | space-around | stretch
/// // Children properties
/// $_flex-grow: 0,
/// $_flex-shrink: 0,
/// $_flex-basis: auto
/// //  $_order: <integer>  // Note that this should be set at the element level
/// // $_align-self: flex-start // Note that this should be set at the element level
@mixin flex-container
(
  $selector: '*',
  $flex: flex,
  $flex-direction: row,
  $flex-wrap: wrap,
  $justify-content: center,
  $align-items: flex-start,
  $align-content: center,
  $flex-grow: 0,
  $flex-shrink: 0,
  $flex-basis: auto
)
{
  // Inherited properties from mixin.
  display:          $flex;
  flex-flow:        $flex-direction $flex-wrap; // default: row wrap;
  justify-content:  $justify-content; // default: flex-start;
  align-items:      $align-items; // default: flex-start;
  align-content:    $align-content; // default: flex-start;

  // Opinionated properties
  box-sizing: border-box;

  // Applies the direct children
  > #{$selector} {
    // Inherited properties from mixin
    flex: $flex-grow $flex-shrink $flex-basis; // default: flex: 0 0 auto;

    // align-self: $_align-self; // default: align-self: flex-start; -- this should be set at the element level, and not here

    //Opinionated properties
    box-sizing: inherit;
  }
}
