@charset 'UTF-8';

////
/// Font loading function.
/// @group mixins
////

/// Global default fonts.
$fonts: () !default;

/// Keeps track of already loaded fonts.
$loaded-fonts: () !default;

/// Load a collection of @font-face fonts
///
/// @require $fonts
/// @require $loaded-fonts
/// @require log-loaded-fonts
/// @require _check-loaded-font
/// @require _log-loaded-font
@mixin load-fonts($load: $fonts) {

  // String
  @if type-of($load) == string {
    // Cast the item to a string to be sure we don't pass
    // strange variables to the loader.
    $_item_string: '#{$load}';
    @if _check-loaded_font($_item_string) {
      @debug "Font: #{$_item_string} already loaded.";
    } @else {
      $_tmp: _log-loaded-font($_item_string);
      $_item_string: quote($_item_string);
      @import url($_item_string);
    }
    // List
  } @else if type-of($load) == list {
    // Loop through each item in the passed in list.
    @each $_item in $load {
      // Cast the item to a string to be sure we don't pass
      // strange variables to the loader.
      $_item_string: '#{$_item}';
      @if _check-loaded-font($_item_string) {
        @debug "Font: #{$_item_string} already loaded.";
      } @else {
        $_tmp: _log-loaded-font($_item_string);
        $_item_string: quote($_item_string);
        @import url($_item_string);
      }
    }
    // Map
  } @else if type-of($load) == map {
    // Loop through each item in the passed in map.
    @each $_index, $_item in $load {
      @each $_font in $_item {
        // Cast the item to a string to be sure we don't pass
        // strange variables to the loader.
        $_item_string: '#{$_font}';
        @if _check-loaded-font($_item_string) {
          @debug "Font: #{$_item_string} already loaded.";
        } @else {
          $_tmp: _log-loaded-font($_item_string);
          $_item_string: quote($_item_string);
          @import url($_item_string);
        }
      }
    }
  }
}
