<div class="page-layout page-layout--three-column">
  <div class="column column--head">
    {{ headContent }}
  </div>
  <div class="column column--content">
    {{ mainContent }}
  </div>
  <aside class="column column--sidebar column--sidebar--first">
    {{ firstSidebarContent }}
  </aside>
  <aside class="column column--sidebar column--sidebar--second">
    {{ secondSidebarContent }}
  </aside>
</div>
