@charset 'UTF-8';

// -------------------------------------------------------
// Color library
// -------------------------------------------------------

// Default, Unbranded Color Pallete
// see http://clrs.cc
// -------------------------------------------------------
$navy:                  #001f3f !default;
$blue:                  #0074d9 !default;
$aqua:                  #7fdbff !default;
$teal:                  #39cccc !default;
$olive:                 #3d9970 !default;
$green:                 #2ecc40 !default;
$lime:                  #01ff70 !default;
$yellow:                #ffdc00 !default;
$orange:                #ff851b !default;
$red:                   #ff4136 !default;
$fuchsia:               #f012be !default;
$purple:                #b10dc9 !default;
$maroon:                #85144b !default;
$white:                 #fff !default;
$silver:                #ddd !default;
$gray:                  #aaa !default;
$dark-gray:             #333 !default;
$medium-gray:           #999 !default;
$light-gray:            #ddd !default;
$black:                 #111 !default;


// Stanford Colors
// -------------------------------------------------------
// You can lighten or darken these colors by using the tint
// or shade mixins: tint($color, 30%); shade($color, 30%);
// Enable colors and shades as needed.

// Primary palette.
$su-red:                #8c1515 !default;
$su-red-text:           #820000 !default;

$su-black:              #2e2d29 !default;
$su-black-80:           tint($su-black, 20%) !default;

$su-cool-gray:          #4d4f53 !default;

$su-warm-gray:          #3f3c30 !default;
$su-warm-gray-90:       tint($su-warm-gray, 10%) !default;
$su-warm-gray-60:       tint($su-warm-gray, 40%) !default;

// Neutral palette.
$su-beige:              #9d9573 !default;
$su-beige-85:           tint($su-beige, 15%) !default;
$su-beige-60:           tint($su-beige, 40%) !default;
$su-beige-40:           tint($su-beige, 60%) !default;
$su-beige-30:           tint($su-beige, 70%) !default;
$su-beige-20:           tint($su-beige, 80%) !default;
$su-beige-10:           tint($su-beige, 87%) !default;
$su-beige-05:           tint($su-beige, 93%) !default;

$su-sandstone:          #ddcf99 !default;
$su-sandstone-50:       tint($su-sandstone, 50%) !default;
$su-sandstone-35:       tint($su-sandstone, 65%) !default;
$su-sandstone-25:       tint($su-sandstone, 75%) !default;
$su-sandstone-20:       tint($su-sandstone, 80%) !default;

$facebook-blue:         #4767b1 !default;
$twitter-blue:          #55acee !default;
$instagram-blue:        #125688 !default;

$su-sandhill:           #b3995d !default;
$su-stone:              #928b81 !default;
$su-driftwood:          #b6b1a9 !default;
$su-cloud:              #dad7cb !default;
$su-sage:               #c7d1c5 !default;
$su-sage-gray:          #4d5357 !default;
$su-clay:               #5f574f !default;

// Deep tone palette.
$su-brown:               #5e3032 !default;
$su-redwood:             #8d3c1e !default;
$su-teal:                #00505c !default;
$su-palo-alto:           #175e54 !default;
$su-purple:              #53284f !default;

// Bright palette.
$su-sky:                 #0098db !default;
$su-lagunita:            #007c92 !default;
$su-mint:                #009b76 !default;
$su-gold:                #b26f16 !default;
$su-poppy:               #e98300 !default;
$su-sun:                 #eaab00 !default;
