<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Decanter Components | Icon Grid</title>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../../css/decanter.css">
  <!-- Example Component Styles -->
  <style>
    .grid-example {
      margin-bottom: 2em;
    }

    .grid-example [class*="decanter-grid"]>* {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  </style>
</head>

<body>
  <div class="grid-example">
    <div class="decanter-grid">
      <h1>Icon Grid</h1>
      <div class="decanter-icon-grid">
        <div class="decanter-icon-grid__row">
          <div class="decanter-width-one-half decanter-media-block">
            <img class="decanter-media-block__img" src="../../../img/circle.png" alt="Alt text">
            <div class="decanter-media-block__body">
              <h2>Lorem ipsum dolor sit</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="decanter-width-one-half decanter-media_block">
            <img class="decanter-media-block__img" src="../../../img/circle.png" alt="Alt text">
            <div class="decanter-media-block__body">
              <h2>Lorem ipsum dolor sit</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="decanter-icon-grid__row">
          <div class="decanter-width-one-half decanter-media-block">
            <img class="decanter-media-block__img" src="../../../img/circle.png" alt="Alt text">
            <div class="decanter-media-block__body">
              <h2>Lorem ipsum dolor sit</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="decanter-width-one-half decanter-media-block">
            <img class="decanter-media-block__img" src="../../../img/circle.png" alt="Alt text">
            <div class="decanter-media-block__body">
              <h2>Lorem ipsum dolor sit</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Script -->
  <script src="../../js/decanter.min.js"></script>
</body>

</html>
