@charset "UTF-8";

.su-main-nav--light {

  // All ul contaiers.
  ul {
    background-color: color(bg, $nav-light-colors);
  }

  a {
    color: color(link, $nav-light-colors);
    border-bottom: solid 1px color(divider, $nav-light-colors);

    &:focus,
    &:hover {
      color: color(link--hover, $nav-light-colors);

      &::before {
        background-color: color(border--hover, $nav-light-colors);
      }

    }

  }

  .su-main-nav__item--parent {
    > a {
      &::after {
        background: url("#{$image-path}/plus-black.svg") no-repeat 0 0;
      }
    }

    &.su-main-nav__item--expanded {
      > a {
        &::after {
          background: url("#{$image-path}/minus-black.svg") no-repeat 0 0;
        }
      }
    }
  }

  // Active path.
  .su-main-nav__item--current {
    > a {
      color: color(link--active, $nav-light-colors);

      &::before {
        background-color: color(border--active, $nav-light-colors);
      }
    }
  }

  // First Level Links.
  .su-main-nav__menu-lv1 > li > a {
    @include grid-media("lg") {
      color: color(h--link, $nav-light-colors);

      &::before {
        background-color: color(h--border, $nav-light-colors);
      }

      // State styles for horizontal desktop.
      // -----------------------------------------------------------------------
      &:hover,
      &:active,
      &:focus {
        color: color(h--link-hover, $nav-light-colors);

        &::before {
          background-color: color(h--border-hover, $nav-light-colors);
        }
      }
    }
  }

  // First level nav items.
  .su-main-nav__menu-lv1 > li {
    // First level expanded items.
    // First level parent items.
    &.su-main-nav__item--expanded {
      &.su-main-nav__item--parent {
        > a {
          @include grid-media("lg") {
            &::after {
              background-size: 100%;
              background-image: url("#{$image-path}/caret-down-black.svg");
            }

            &::before {
              background-color: color(h--border-expanded, $nav-light-colors);
            }
          }
        }
      }
    }

    // Current path items.
    &.su-main-nav__item--current {
      @include grid-media("lg") {
        > a {
          color: color(h--link, $nav-light-colors);

          &:hover {
            color: color(h--link-hover, $nav-light-colors);

            &::before {
              background-color: color(h--border-hover, $nav-light-colors);
            }
          }

          &::before {
            background-color: color(h--border, $nav-light-colors);
          }
        }
      }
    }
  }

  &.su-main-nav--mobile-search {
    .su-main-nav__toggle[aria-expanded="true"] {
      @include grid-media-max('md') {
        + .su-main-nav__menu-lv1 + .su-site-search {
          background-color: color(bg, $nav-light-colors);
        }
      }
    }
  }
}
