@charset "UTF-8";

.su-main-nav--light {
  @include grid-media-max('md') {
    .su-main-nav__toggle {
      &[aria-expanded="true"] {
        &::before {
          background-color: color(border--expanded, $main-nav-light-colors);
        }

        &:hover::before {
          background-color: color(border--hover, $main-nav-light-colors);
        }

        &:active::before {
          background-color: color(border--active, $main-nav-light-colors);
        }
      }
    }
  }

  // General menu styles - mobile, also desktop drop down part
  ul {
    background-color: color(bg--mobile, $main-nav-light-colors);
  }

  li {
    a {
      color: color(link--mobile, $main-nav-light-colors);
      border-bottom-color: color(divider, $main-nav-light-colors);

      &:hover,
      &:focus {
        &::before {
          background-color: color(border--mobile-hover, $main-nav-light-colors);
        }
      }

      &:active {
        color: color(link--mobile-active, $main-nav-light-colors);

        &::before {
          background-color: color(border--mobile-active, $main-nav-light-colors);
        }
      }
    }
  }

  .su-main-nav__item--current {
    > a {
      color: color(link--mobile-active, $main-nav-light-colors);

      &::before {
        background-color: color(border--mobile-active, $main-nav-light-colors);
      }

      &:hover,
      &:focus {
        &::before {
          background-color: color(border--mobile-active, $main-nav-light-colors);
        }
      }
    }
  }

  @include grid-media-max('md') {
    .su-main-nav__item--parent {
      > a::after {
        background: url("#{$image-path}/plus-black.svg") no-repeat 0 0;
        background-size: 100%;
      }

      &.su-main-nav__item--expanded > a {
        &::after {
          background: url("#{$image-path}/minus-black.svg") no-repeat 0 0;
          background-size: 100%;
        }

        &:focus::before {
          background-color: color(border--mobile-expanded, $main-nav-light-colors);
        }

        &[aria-expanded="true"] {
          &:hover::before {
            background-color: color(border--mobile-hover, $main-nav-light-colors);
          }

          &:active::before {
            background-color: color(border--mobile-active, $main-nav-light-colors);
          }
        }
      }
    }

    .su-main-nav__item--current {
      &.su-main-nav__item--expanded {
        > a {
          color: color(link--mobile-expanded, $main-nav-light-colors);

          &::before,
          &:focus::before {
            background-color: color(border--mobile-active-expanded, $main-nav-light-colors);
          }

          &[aria-expanded="true"]:active {
            color: color(link--mobile-active, $main-nav-light-colors);
          }
        }
      }
    }
  }

  // desktop first level menu style override
  @include grid-media('lg') {
    > ul {
      background-color: transparent;

      > li {
        > a {
          &:hover,
          &:focus {
            color: color(link--hover, $main-nav-light-colors);

            &::before {
              background-color: color(border--hover, $main-nav-light-colors);
            }
          }

          &:active {
            color: color(link--active, $main-nav-light-colors);

            &::before {
              background-color: color(border--active, $main-nav-light-colors);
            }
          }

          &[aria-expanded="true"] {
            color: color(link--expanded, $main-nav-light-colors);

            &::before {
              background-color: color(border--expanded, $main-nav-light-colors);
            }

            &:hover {
              color: color(link--hover, $main-nav-light-colors);

              &::before {
                background-color: color(border--hover, $main-nav-light-colors);
              }
            }

            &:focus {
              &::before {
                background-color: color(border--expanded, $main-nav-light-colors);
              }
            }

            &:active {
              color: color(link--active, $main-nav-light-colors);
            }
          }
        }
      }

      > .su-main-nav__item--current {
        > a {
          color: color(link--active, $main-nav-light-colors);

          &::before {
            background-color: color(border--current, $main-nav-light-colors);
          }

          &:hover,
          &:focus {
            color: color(link--hover, $main-nav-light-colors);

            &::before {
              background-color: color(border--hover, $main-nav-light-colors);
            }
          }

          &:active {
            color: color(link--active, $main-nav-light-colors);

            &::before {
              background-color: color(border--active, $main-nav-light-colors);
            }
          }
        }

        &.su-main-nav__item--expanded {
          > a:focus {
            color: color(link--expanded, $main-nav-light-colors);

            &::before {
              background-color: color(border--expanded, $main-nav-light-colors);
            }
          }

          > a[aria-expanded="true"] {
            &:hover {
              color: color(link--hover, $main-nav-light-colors);

              &::before {
                background-color: color(border--hover, $main-nav-light-colors);
              }
            }

            &:active {
              color: color(link--active, $main-nav-light-colors);

              &::before {
                background-color: color(border--active, $main-nav-light-colors);
              }
            }
          }
        }
      }
    }
  }

  &.su-main-nav--mobile-search {
    .su-main-nav__toggle[aria-expanded="true"] {
      @include grid-media-max('md') {
        + .su-main-nav__menu-lv1 + .su-site-search {
          background-color: color(bg--mobile, $main-nav-light-colors);
        }
      }
    }
  }
}
