@charset "UTF-8";
//
// Main Navigation
//
// The primary site navigation that is usually in the header region of a website.
// It is a horizontal menu bar on larger breakpoints, while on smaller breakpoints,
// it changes into a vertical menu and can be expanded or collapsed by a toggle button.
//
// The following Javascript events are dispatched:
// - `openNav` - fires when a mobile nav is opened - dispatched on `.su-main-nav`
// - `closeNav` - fires when a mobile nav is closed - dispatched on `.su-main-nav`
// - `openSubnav` - fires when a subnav is opened - dispatched on `li.su-main-nav__item--parent`
// - `closeSubnav` - fires when a subnav is closed - dispatched on `li.su-main-nav__item--parent`
//
// The Main Navigation component is implemented to be accessible. For more information on building
// accessible site navigation, please see
// <a href="https://github.com/SU-SWS/decanter/wiki/About-the-Main-Nav-Component">About the Main Nav Component</a>
// on Decanter's wiki.
//
//**Modifier classes for the Main Nav:**
// - .su-main-nav--light          - Light colored theme
// - .su-main-nav--dark           - Light on dark theme (for use on dark background colors).
// Note: The dark background color in below example is just for demo. The actual background is transparent.
// - .su-main-nav--mobile-search   - Include search form inside the mobile nav
// - .su-main-nav--center         - Center both the desktop and mobile nav
// - .su-main-nav--right          - Right justify both the desktop and mobile nav
//
//**Modifier classes for the hamburger toggle button:**
// - .su-main-nav__toggle--center - Center only the toggle
// - .su-main-nav__toggle--right - Right justify only the toggle
//
// .su-main-nav--light          - Light colored theme
// .su-main-nav--dark           - Light on dark theme (for use on dark background colors).
// The dark background color in below example is just for demo. The actual background is transparent.
// .su-main-nav--mobile-search  - Include search form inside the mobile nav
// .su-main-nav--center         - Center both the desktop and mobile nav
// .su-main-nav--right          - Right justify both the desktop and mobile nav
//
// Markup: ../templates/components/main-nav/main-nav.twig
//
// Style guide: Components.Main Navigation
//

.su-main-nav__item--parent {
  @extend %nav-item--parent;

  &.su-main-nav__item--expanded {
    @extend %nav-item--expanded;
  }
}

.su-main-nav__item--current {
  @extend %nav-item--current;
}

.su-main-nav {
  // All ul contaiers.
  ul {
    @extend %nav-menu;
  }

  // All li items.
  li {
    @extend %nav-item;
  }

  a {
    @extend %nav-item-link;
  }
}

.su-main-nav {
  @include font-smoothing;
  @include sans;
  display: block;
  position: relative;
  z-index: 100;

  // Second Level Drop Downs.
  > ul > li > ul {
    @include padding(null null null 2rem);

    // Desktop dropdown menu
    @include grid-media('lg') {
      @include padding(1px null null 1.2rem);
      @include margin(null null null -1.8rem);
      @include box-shadow($depth: 'medium', $stroke: none);
      z-index: 11111; //When menu wrap to 2nd line make sure dropdown covers up top level links
      position: absolute;
      max-width: 30rem;
    }
  }

  // When js is disabled, submenus is visible when parent trigger is hovered
  &.no-js {
    //Expand everything on mobile
    @include grid-media-max('md') {
      .su-main-nav__toggle[aria-expanded="false"] + .su-main-nav__menu-lv1 {
        display: flex;
      }

      li > ul {
        display: flex;
      }
    }

    // On desktop, if mouse user hovers over a parent menu item,
    // submenu is expanded
    @include grid-media('lg') {
      li:hover > ul {
        display: flex;
      }
    }
  }

  // -----------------------------------------------------------------------------
  // TOP LEVEL STYLES
  // -----------------------------------------------------------------------------

  // First level deskop menu.
  .su-main-nav__menu-lv1 {
    @include grid-media("lg") {
      @include padding(null null null 0);
      flex-direction: row;
      flex-wrap: wrap;
      background: transparent;
    }
  }

  // First Level Links.
  .su-main-nav__menu-lv1 > li > a {
    @include grid-media("lg") {
      color: color(h--link, $nav-colors);
      @include padding(null 0);
      @include margin(0 1.2em 0 0);
      font-size: 2.1rem;
      border-bottom: 0;
      font-weight: $font-semi-bold;

      &::before {
        height: 6px;
        width: 100%;
        transition: transform 0.3s ease-out;
        background-color: color(h--border, $nav-colors);
        transform: scaleX(0);
      }

      // State styles for horizontal desktop.
      // -----------------------------------------------------------------------
      &:hover,
      &:active,
      &:focus {
        font-weight: $font-semi-bold;
        color: color(h--link-hover, $nav-colors);
        text-decoration: none;

        &::before {
          transform: scaleX(1);
          visibility: visible;
          left: 0;
          background-color: color(h--border-hover, $nav-colors);
        }
      }
    }
  }

  // First level nav items.
  .su-main-nav__menu-lv1 > li {

    &.su-main-nav__item--active-trail {
      @include grid-media("lg") {
        > a {
          &::before {
            height: 6px;
            transform: scaleX(1);
            visibility: visible;
            background-color: color(h--border-hover, $nav-colors);
          }
        }
      }
    }

    // First level current items.
    &.su-main-nav__item--current {
      > a {
        &::before {
          transform: scaleX(1);
        }
      }
    }

    // First level expanded items.
    &.su-main-nav__item--expanded {
      @include grid-media("lg") {
        > a {
          &::before {
            height: 6px;
            transform: scaleX(1);
            visibility: visible;
            background-color: color(h--border-hover, $nav-colors);
          }
        }
      }
    }

    // First level parent items.
    &.su-main-nav__item--parent {
      @include grid-media("lg") {
        > a {
          &::after {
            @include margin(null null 1px 6px);
            background: url("#{$image-path}/caret-down-black.svg") no-repeat 0 0;
            background-size: 100%;
            position: relative;
            height: 11px;
            width: 11px;
            right: 0;
            top: 0;
            transition: transform 0.3s ease-out;
          }
        }
      }
    }
  }
}
