@charset "UTF-8";

.su-main-nav--buttons {

  .su-main-nav__item--parent {
    position: relative;
  }

  .su-nav-toggle {
    &::before {
      background-color: transparent;
    }
  }

  .su-main-nav__menu-lv1 {
    > li {
      &.su-main-nav__item--parent {
        @include grid-media('lg') {
          position: static;

          > a {
            @include margin(0 5px 0 0);
            @include padding(null 0px null null);
            display: inline-block;

            &::after {
              background: none;
              height: 0;
              width: 0;
              position: static;
              content: none;
            }
          }

          > .su-nav-toggle {
            @include padding(0);
            position: relative;
            height: 40px;
            line-height: 40px;
            width: 40px;
            max-width: 40px;

            &[aria-expanded="true"] {
              transform: rotate(180deg);
              &::before {
                background: transparent url("#{$su-image-path}/caret-down-black.svg") no-repeat right / 52%;
                background-size: 15px;
              }
            }

            &::before {
              @include padding(0);
              position: static;
              background: transparent url("#{$su-image-path}/caret-down-black.svg") no-repeat left / 48%;
              background-size: 15px;
            }

            &:hover {
              &::before {
                background-size: 18px;
              }
            }

          }
        }

        a {
          &::after {
            content: "";
            background: transparent;
            background-image: none;
          }
        }
      }
    }
  }
}
