@charset "UTF-8";

.su-main-nav--dark {
  $_su-main-nav-color-map: $main-nav-dark-colors;

  @include grid-media-max('md') {
    .su-main-nav__toggle {
      color: color(link, $_su-main-nav-color-map);

      &:hover,
      &:focus {
        &::before {
          background-color: color(border--hover, $_su-main-nav-color-map);
        }
      }

      &:active {
        &::before {
          background-color: color(border--active, $_su-main-nav-color-map);
        }
      }

      &::after {
        background: url("#{$image-path}/hamburger-white.svg") no-repeat 3px 0;
      }

      &[aria-expanded="true"] {
        &::before {
          background-color: color(border--expanded, $_su-main-nav-color-map);
        }

        &:hover::before {
          background-color: color(border--expanded-hover, $_su-main-nav-color-map);
        }

        &:active::before {
          background-color: color(border--expanded-active, $_su-main-nav-color-map);
        }

        &::after {
          background: url("#{$image-path}/close-white.svg") no-repeat 3px 0;
          background-size: 16px 16px;
        }
      }
    }
  }

  // desktop first level menu style override
  @include grid-media('lg') {
    > ul {
      > li {
        > a {
          color: color(link, $_su-main-nav-color-map);

          &:hover,
          &:focus {
            color: color(link--hover, $_su-main-nav-color-map);

            &::before {
              background-color: color(border--hover, $_su-main-nav-color-map);
            }
          }

          &:active {
            color: color(link--active, $_su-main-nav-color-map);

            &::before {
              background-color: color(border--active, $_su-main-nav-color-map);
            }
          }

          &[aria-expanded="true"] {
            color: color(link--expanded, $_su-main-nav-color-map);

            &::before {
              background-color: color(border--expanded, $_su-main-nav-color-map);
            }

            &:hover {
              color: color(link--hover, $_su-main-nav-color-map);
            }
          }
        }
      }

      > .su-main-nav__item--parent {
        &,
        &.su-main-nav__item--expanded {
          > a::after {
            background: url("#{$image-path}/caret-down-white.svg") no-repeat 0 0;
            background-size: 100%;
          }
        }
      }

      > .su-main-nav__item--current {
        > a {
          color: color(link--active, $_su-main-nav-color-map);

          &::before {
            background-color: color(border--active, $_su-main-nav-color-map);
          }

          &:hover,
          &:focus {
            color: color(link--active-hover, $_su-main-nav-color-map);

            &::before {
              background-color: color(border--active-hover, $_su-main-nav-color-map);
            }
          }

          &:active::before {
            background-color: color(border--active, $_su-main-nav-color-map);
          }
        }
      }

      > .su-main-nav__item--expanded {
        &,
        &.su-main-nav__item--current {
          > a,
          > a:focus {
            &::before {
              background-color: color(border--expanded, $_su-main-nav-color-map);
            }
          }
        }

        > a[aria-expanded="true"] {
          &:hover::before {
            background-color: color(border--expanded-hover, $_su-main-nav-color-map);
          }

          &:active::before {
            background-color: color(border--expanded-active, $_su-main-nav-color-map);
          }
        }
      }
    }
  }
}
