@charset "UTF-8";

.su-main-nav--mobile-search {
  .su-site-search {
    display: none; //not displayed on desktop
  }

  .su-main-nav__toggle[aria-expanded="true"] {
    @include grid-media-max('md') {
      + .su-main-nav__menu-lv1 {
        @include padding(8.6rem null null null);

        + .su-site-search {
          @include padding(2rem);
          display: block;
          position: absolute;
          width: 100%;
          background-color: color(bg, $su-nav-colors);

          .su-site-search__submit {
            top: 3.1rem;
            right: 3.1rem;
          }
        }
      }
    }

    + .su-main-nav__menu-lv1 {
      + .su-site-search {
        @include grid-media-only('md') {
          width: 24em;
        }
      }
    }
  }
}
