/**
 * .block-lockup
 */

.block--lockup {

  vertical-align: bottom;
  font-size: 14px;
  line-height: 1.4em;

  .site-logo {
    border-right: 1px solid #3f3c30;
    width: 180px;
    display: table-cell;
    padding: 0 10px 0 0;
    margin: 0;
  }

  .site-name {
    display: table-cell;
    margin-top: -4px;
    margin-bottom: -5px;
    padding-left: 10px;
    vertical-align: bottom;

      > a {
        text-decoration: none;
        letter-spacing: -.5px;
        color: #3f3c30;
      }

  }

  .site-slogan {

  }

}
