/**
 * Global Header
 * Red full width stripe with stanford logo.
 */

body > header {
  @include centered-section(wide, 0px);
}

#global-header {
  background-color: $su-red;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -4px 8px -2px inset;
  color: $white;
  vertical-align: middle;

  #top-logo {
    max-height: 30px;

    img {
      width: 153px;
      height: 22px;
    }
    
  }

}
