/**
 * Global Header
 * Red full width stripe with stanford logo.
 */

#global-header {
  background-color: $su-red;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -4px 8px -2px inset;
  color: $white;


  .container {
    // @todo: something to center on the container
  }

  #top-logo {
    max-height: 30px;
    vertical-align: middle;

    img {
      width: 153px;
      height: 22px;
    }

  }

}
