/**
 * Global Header
 * Red full width stripe with stanford logo.
 */

#global-header {
  background-color: $su-red;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -4px 8px -2px inset;
  color: $white;
  vertical-align: middle;

  .container {
    @include centered-section("jumbo", 2px);
  }

  #top-logo {
    max-height: 30px;

    img {
      width: 153px;
      height: 22px;
    }

  }

}
