@charset "UTF-8";

//
// Space Invader
//
// A complext three column layout.
//
// Markup: ../../../../../templates/layout/flex/three-column/space-invader/space-invader.twig
//
// Style guide: Layout.Flex.3Column.SpaceInvader
//
.layout-space-invader {
  > div {
    @include centered-column;
    @include responsive-grid-gap;

    // Enable grid after sm sizes.
    @include grid-media('sm') {
      @include display-grid;
      @include grid-columns(1fr 1fr 1fr);
    }

    > header {
      @include grid-item-spans(1, span 3);
    }
  }
}
