@charset "UTF-8";

///
/// BUTTON UNSTYLED
///

@mixin button-unstyled {
  background-color: transparent;
  border: 0;
  font-weight: $font-normal;
  outline: 0;
  text-align: left;
  -webkit-font-smoothing: auto;

  @include margin(0);
  @include padding(0);

  &:hover {
    background-color: transparent;
  }
}
