@charset "UTF-8";

///
/// BUTTONS ELEMENT
///

// Buttons variables
$button-stroke: inset 0 0 0 2px;

// Primary button
.decanter-button,
a.decanter-button,
button,
[type=button],
[type=submit],
[type=reset],
[type=image] {
  @include font-smoothing;
  @include margin(0.5em 0.5em 0.5em null);

  appearance: none;
  background-color: $color-bright-red;
  border: 0;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-family: $font-sans;
  font-size: $base-font-size;
  font-weight: $font-bold;
  line-height: 1;
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;

  @include media($small-screen) {
    width: auto;
  }


  &:hover,
  &.decanter-button--hover {
    background-color: $color-black;
    border-bottom: 0;
    color: $color-white;
    text-decoration: none;
  }

  &:focus,
  &.decanter-button--focus {
    background-color: $color-black;
    box-shadow: $focus-shadow;
  }
}

// Secondary button
.decanter-button--secondary,
a.decanter-button--secondary {
  @extend .decanter-button;

  background-color: $color-white;
  box-shadow: $button-stroke $color-bright-red;
  color: $color-bright-red;

  &:hover,
  &.decanter-button--hover {
    background-color: $color-white;
    box-shadow: $button-stroke $color-black;
    color: $color-black;
  }

  &:focus,
  &.decanter-button--focus {
    background-color: $color-white;
    box-shadow: $button-stroke $color-black, $focus-shadow;
    color: $color-black;
  }
}

.decanter-button--big,
a.decanter-button--big {
  @extend .decanter-button;

  font-size: 1.9rem;
  padding: 1.5rem 3rem;
}

.decanter-button--unstyled,
a.decanter-button--unstyled {
  @include button-unstyled;
}
