@charset "UTF-8";

///
/// EMBED ELEMENT
///

// Responsive embed container to ensure that contents scale to the
// width of parent element while retaining an aspect ratio of 16:9.


// Embed variables
$aspect-height: 9;
$aspect-width: 16;

@mixin embed-container($height, $width) {
  padding-bottom: percentage($height / $width);
}

.decanter-embed-container {
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.decanter-embed-container {
  @include embed-container($aspect-height, $aspect-width);

  position: relative;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
