@charset "UTF-8";

///
/// LABELS ELEMENT
///

.decanter-label {
  background-color: $color-bright-red;
  border-radius: $border-radius;
  color: $color-white;
  font-size: $h5-font-size;
  margin-right: 0.5rem;
  padding: 0.1rem 0.7rem;
  text-transform: uppercase;

  &:only-of-type {
    margin-right: 0;
  }
}

.decanter-label-big {
  @extend .decanter-label;
  font-size: $base-font-size;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}
