@charset "UTF-8";

table {
  border-spacing: 0;
  margin: 2em 0;
  min-width: 100%;

  thead {
    th,
    td {
      background-color: $color-cool-grey;
    }
  }

  th {
    text-align: left;
  }

  tbody {
    th {
      font-weight: $font-normal;
    }
  }

  th,
  td {
    background-color: $color-white;
    border: 1px solid $color-cool-grey;
    padding: 1.5rem;
  }
}

.decanter-table-borderless {
  thead {
    tr {
      background-color: transparent;
    }

    th {
      border-top: 0;
    }
  }

  th,
  td {
    border-left: 0;
    border-right: 0;
  }
}
