@charset "UTF-8";

///
/// TYPOGRAPHY ELEMENT
///

html {
  font-family: $font-sans;
  font-size: $em-base;
}

body {
  color: $color-black;
  font-size: $base-font-size;
}

p {
  line-height: $base-line-height;
  margin-bottom: 1em;
  margin-top: 1em;
}

a {
  color: $color-bright-red;
  text-decoration: underline;

  &:hover,
  &:active {
    color: $color-black;
  }

  &:focus {
    outline: 0;
  }
}

@mixin external-link($external-link, $external-link-hover) {
  &::after {
    background: url("#{$image-path}/#{$external-link}.png") no-repeat 0 0;
    background: url("#{$image-path}/#{$external-link}.svg") no-repeat 0 0;
    background-size: 100%;
    content: '';
    display: inline-block;
    height: 0.65em;
    margin-bottom: -1px;
    margin-left: 4px;
    width: 0.65em;
  }

  &:hover::after {
    background-image: url("#{$image-path}/#{$external-link-hover}.png");
    background-image: url("#{$image-path}/#{$external-link-hover}.svg");
  }
}

.decanter-external_link {
  @include external-link(external-link, external-link-hover);
}

@mixin more-link($more-link, $more-link-hover) {
  &::after {
    color: $color-bright-red;
    content: '\00BB';
    display: inline-block;
    margin-left: 4px;
  }

  &:hover::after {
    color: $color-black;
  }
}

.decanter-more_link {
  @include more-link(more-link, more-link-hover);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: $font-sans;
  line-height: $heading-line-height;
  margin-bottom: .5em;
  margin-top: 1.5em;

  .decanter-sans & {
    font-family: $font-sans;
  }

  .decanter-serif & {
    font-family: $font-serif;
  }

  .decanter-slab & {
    font-family: $font-slab;
  }
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}

// Remove user agent styles
cite,
var,
address,
dfn {
  font-style: normal;
}

// Custom typography
.decanter-sans {
  p,
  a,
  li,
  span {
    font-family: $font-sans;
  }

  a {
    border-bottom: none;
    font-weight: $font-bold;
  }
}

.decanter-serif {
  p,
  a,
  li,
  span {
    font-family: $font-serif;
  }
}

.decanter-slab {
  p,
  a,
  li,
  span {
    font-family: $font-slab;
  }
}

.decanter-font-lead {
  font-family: $font-sans;
  font-size: $lead-font-size;
  font-weight: $font-light;
  line-height: $lead-line-height;
  max-width: $lead-max-width;
}

.decanter-font-splash {
  @include h3;

  margin-bottom: 0;

  @include media($small-screen) {
    @include h1;
  }


  @include media($medium-screen) {
    @include title;
  }
}

.decanter-short-line-length {
  max-width: $text-max-width;
}

.decanter-caption {
  color: $color-cool-grey;
  font-size: $h6-font-size;
  margin-top: 0;
}

.decanter-credits {
  @extend .decanter-caption;

  font-style: italic;
}

.decanter-image-block {
  position: relative;
}

.decanter-image-text-block {
  color: $color-white;
  left: 0;
  margin-left: 8%;
  position: absolute;
  top: 0;
}

// Removes top margin from first child and bottom margin from last child on
// elements when they are within those layout elements.
.decanter-grid,
.decanter-grid-full {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.decanter-width-one-whole,
.decanter-width-one-half,
.decanter-width-one-third,
.decanter-width-two-thirds,
.decanter-width-one-fourth,
.decanter-width-three-fourths,
.decanter-width-one-sixth,
.decanter-width-five-sixths,
.decanter-width-one-twelfth {
  &:first-child {
    > :first-child {
      margin-top: 0;
    }
  }

  > :first-child {
    @include media($medium-screen) {
      margin-top: 0;
    }
  }

  &:last-child {
    > :last-child {
      margin-bottom: 0;
    }
  }

  > :last-child {
    @include media($medium-screen) {
      margin-bottom: 0;
    }
  }
}
