@charset "UTF-8";

//
// Quote
//
// Default styling for a quote element.
//
// Markup: ../../templates/elements/quote/quote.html.twig
//
// Style guide: Elements.Quote
//
.decanter-quote {

  @include padding(1em);

  .decanter-media-block__img {
    border-radius: 150px;
    border: 7px solid;
    height: 300px;
    width: 300px;
    margin-right: 2em;
  }

}
