@charset 'UTF-8';

// My grids
@import "config/grid-system";

// Decant.
@import "decanter/core/utilities/decanter-utilities";

// Responsive grid patterns for the column.
$column: (
  'xs': 1 of 1,
  'sm': 1 of 1,
  'md': 3 of 4,
  'lg': 3 of 4,
  'xl': 3 of 4,
  'print': 3 of 4
);

$column-header: (
  'md': 1 of 1,
  'lg': 1 of 1,
  'xl': 1 of 1,
  'print': 1 of 1
);

$column-fs: (
  'sm': 1 of 2,
  'md': 1 of 2,
  'lg': 1 of 2,
  'xl': 1 of 2,
  'print': 1 of 2
);

$column-aside: (
  'sm': 1 of 1,
  'md': 1 of 4,
  'lg': 1 of 4,
  'xl': 1 of 4,
  'print': 1 of 4
);

.layout--sunset-delorean--left {
  @include responsive-container($default-container);

  .grid-collapse {
    @include responsive-grid-collapse($default-container);
    @include clearfix;
  }

  // Main Content.
  > div > section {
    @include clearfix;
    @include responsive-grid-column($column, $default-container);

    // Gotta do better than this.
    .column--header {
      @include responsive-grid-column($column-header, $default-container);
    }

    // Two columns in right content region.
    .column--first,
    .column--second {
      @include responsive-grid-column($column-fs, $default-container);
    }

  }

  // Sidebar
  > div > aside {
    @include responsive-grid-column($column-aside, $default-container);
  }

}
