@charset "UTF-8";
// TODO: @shea, we should discuss if we want to include boilerplate styling for
// primary sections, or if thise should be left to individual themes.
// My instinct says this should be a placeholder file if someone wants to use
// this to scaffold their project, but it shouldn't really belong in decanter.

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

// We rely on source order for mobile-first approach
// in this case:
//
//  -50   header
//  -40   nav
//    1   main
//   50   footer
//

body > header { order: -50; }
body > nav { order: -40; }
body > main { order: 1; }
body > footer { order: 50; }

main {
  overflow: hidden;
  background-color: color(homesite, background);
  flex: 1;

  @media print {
    background: transparent;
  }
}
