// Pulse shadow animation For the Menu.
@keyframes pulse-dark {
  0% {
    filter: drop-shadow(0 0 0 rgba(177, 4, 14, 1));
  }

  70% {
    filter: drop-shadow(0 0 6px rgba(177, 4, 14, 0.5));
  }

  100% {
    filter: drop-shadow(0 0 10px rgba(177, 4, 14, 0));
  }
}

// Hover up and down animation.
@keyframes hoverboard {
  0% {
    top: calc(50% - 19px);
  }

  30% {
    top: calc(50% - 21px);
  }

  50% {
    top: calc(50% - 23px);
  }

  70% {
    top: calc(50% - 21px);
  }

  100% {
    top: calc(50% - 19px);
  }
}
