@charset "UTF-8";

.su-multi-menu--buttons,
.su-multi-menu--buttons-dark {

  // Nested Menus (ul)
  .su-multi-menu__menu {

  }

  // Nested Items (li)
  .su-multi-menu__item {

  }

  // Nested links (li > a)
  .su-multi-menu__link {

  }

  // Parent Items
  .su-multi-menu__item--parent {

  }

  .su-multi-menu__item--expanded {

  }

  // Menu Level 1 (top)
  .su-multi-menu__menu-lv1 {
    // Top Level Parent Items.
    > .su-multi-menu__item--parent {
      > .su-multi-menu__link {
        &::after {
          background: url("#{$su-image-path}/plus-white.svg") no-repeat 0 0;
          background-size: 100%;
          content: "";
          display: inline-block;
          position: absolute;
          right: 2rem;
          top: 2.06rem;
          height: 1.8rem;
          width: 1.8rem;

          // Desktop Styles.
          @include grid-media('lg') {
            @include margin(null null 1px 6px);
            background: url("#{$su-image-path}/caret-down-black.svg") no-repeat 0 0;
            background-size: 100%;
            position: relative;
            right: 0;
            top: 0;
            height: 11px; // Small svg gets chopped off if use em instead of px
            width: 11px;
            transition: transform 0.3s ease-out;
          }
        }
      }
    } // end top level parent items.
  }

  // Menu Level 2 (first level drops)
  .su-multi-menu__menu-lv2 {

  }

  // Menu Level 3 (flyout)
  .su-multi-menu__menu-lv3 {

  }

}
