@charset "UTF-8";

.su-multi-menu--accordion-dark {
  background: $su-color-black;

  // Nested Menus (ul)
  .su-multi-menu__menu {

  }

  // Nested Items (li)
  .su-multi-menu__item {

  }

  // Nested links (li > a)
  .su-multi-menu__link {
    color: $su-color-white;
  }

  // Parent Items
  .su-multi-menu__item--parent {

  }

  .su-multi-menu__item--expanded {

  }

  // Menu Level 1 (top)
  // ---------------------------------------------------------------------------
  .su-multi-menu__menu-lv1 {
    // Top level items.
    > .su-multi-menu__item {

      // Top level links.
      > .su-multi-menu__link {
        color: $su-color-white;
      }
    }

    // Top Level Parent Items.
    > .su-multi-menu__item--parent {
      > .su-multi-menu__link {
        &::after {
          // Desktop Styles.
          @include grid-media('lg') {
            background: url("#{$su-image-path}/plus-white.svg") no-repeat 0 0;
            background-size: 100%;
          }
        }
      }
    } // end top level parent items.
  }

  // Menu Level 2 (first level drops)
  // ---------------------------------------------------------------------------
  .su-multi-menu__menu-lv2 {

  }

  // Menu Level 3 (flyout)
  // ---------------------------------------------------------------------------
  .su-multi-menu__menu-lv3 {

  }

}
