@charset "UTF-8";

.su-multi-menu--dark {

  // All ul contaiers.
  ul {
    background-color: color(bg, $su-multi-menu-dark-colors);
  }

  a {
    color: color(link, $su-multi-menu-dark-colors);
    border-bottom: solid 1px color(divider, $su-multi-menu-dark-colors);

    &:focus,
    &:hover {
      color: color(link--hover, $su-multi-menu-dark-colors);

      &::before {
        background-color: color(border--hover, $su-multi-menu-dark-colors);
      }
    }
  }

  // Active path.
  .su-multi-menu__item--current {
    > a {
      color: color(link--active, $su-multi-menu-dark-colors);

      &::before {
        background-color: color(border--active, $su-multi-menu-dark-colors);
      }
    }
  }

  // First Level Links.
  .su-multi-menu__menu-lv1 > li > a {
    @include grid-media("lg") {
      color: color(h--link, $su-multi-menu-dark-colors);

      &::before {
        background-color: color(h--border, $su-multi-menu-dark-colors);
      }

      // State styles for horizontal desktop.
      // -----------------------------------------------------------------------
      &:hover,
      &:active,
      &:focus {
        color: color(h--link-hover, $su-multi-menu-dark-colors);

        &::before {
          background-color: color(h--border-hover, $su-multi-menu-dark-colors);
        }
      }
    }
  }

  // First level nav items.
  .su-multi-menu__menu-lv1 > li {

    &.su-multi-menu__item--active-trail {
      @include grid-media("lg") {
        > a {
          &::before {
            background-color: color(h--border-hover, $su-multi-menu-dark-colors);
          }
        }
      }
    }

    @include grid-media("lg") {
      // First level expanded items.
      // First level parent items.
      &.su-multi-menu__item--parent {
        > a {
          &::after {
            background-image: url("#{$su-image-path}/caret-down-white.svg");
          }
        }
      }

      &.su-multi-menu__item--expanded {
        > a {
          &::before {
            visibility: visible;
            background-color: color(border--expanded, $su-multi-menu-dark-colors);
          }
        }
      }
    }

    // Current path items.
    &.su-multi-menu__item--current {
      @include grid-media("lg") {
        > a {
          color: color(h--link, $su-multi-menu-dark-colors);

          &:focus,
          &:hover {
            color: color(h--link-hover, $su-multi-menu-dark-colors);

            &::before {
              background-color: color(h--border-hover, $su-multi-menu-dark-colors);
            }
          }

          &::before {
            background-color: color(border--active, $su-multi-menu-dark-colors);
          }
        }
      }
    }
  }

  // TOGGLE STYLES.
  .su-multi-menu__toggle {
    color: color(link, $su-multi-menu-dark-colors);

    &:hover,
    &:focus {
      color: color(h--link-hover, $su-multi-menu-dark-colors);

      &::before {
        background-color: color(border--hover, $su-multi-menu-dark-colors);
      }
    }

    &:active {
      &::before {
        background-color: color(border--active, $su-multi-menu-dark-colors);
      }
    }

    &::after {
      background: url("#{$su-image-path}/hamburger-white.svg") no-repeat 3px 0;
    }

    &[aria-expanded="true"] {
      &::before {
        background-color: color(border--expanded, $su-multi-menu-dark-colors);
      }

      &:hover::before,
      &:active::before {
        background-color: color(border--active, $su-multi-menu-dark-colors);
      }

      &::after {
        background: url("#{$su-image-path}/close-white.svg") no-repeat 3px 0;
        background-size: 16px 16px;
      }
    }
  }
}
