@charset "UTF-8";

.su-multi-menu--buttons-dark {
  background: $su-color-black;

  // Make bright.
  .su-multi-menu__nav-toggle {
    color: $su-color-white;

    @include grid-media-max('md') {
      &::after {
        background: url("#{$su-image-path}/hamburger-white.svg") no-repeat 3px 0;
      }

      &[aria-expanded="true"] {
        &::after {
          background: url("#{$su-image-path}/close-white.svg") no-repeat 3px 0;
        }
      }
    }
  }

  // Nested Menus (ul)
  .su-multi-menu__menu {

  }

  // Nested Items (li)
  .su-multi-menu__item {

  }

  // Nested links (li > a)
  .su-multi-menu__link {
    color: $su-color-white;
  }

  // Parent Items
  .su-multi-menu__item--parent {

  }

  .su-multi-menu__item--expanded {

  }

  // Menu Level 1 (top)
  // ---------------------------------------------------------------------------
  .su-multi-menu__menu-lv1 {
    // Top level items.
    > .su-multi-menu__item {
      // Top level links.
      > .su-multi-menu__link {
        color: $su-color-white;
      }
    }

    // Top Level Parent Items.
    > .su-multi-menu__item--parent {

      // First level link.
      > .su-multi-menu__link {
      }

      // First level nav toggle.
      > .su-nav-toggle {
        // Desktop Styles.
        @include grid-media('lg') {
          &::before {
            background-image: url("#{$su-image-path}/caret-down-white.svg");
          }
        }
      } // End su-nav-toggle.
    } // end top level parent items.
  }

  // Menu Level 2 (first level drops)
  // ---------------------------------------------------------------------------
  .su-multi-menu__menu-lv2 {

  }

  // Menu Level 3 (flyout)
  // ---------------------------------------------------------------------------
  .su-multi-menu__menu-lv3 {

  }

}
