@charset "UTF-8";

.su-multi-menu--buttons,
.su-multi-menu--buttons-dark {

  // Parent Items
  .su-multi-menu__item--parent {
    position: relative;
  }

  // Menu Level 1 (top)
  .su-multi-menu__menu-lv1 {
    // Top Level Parent Items.
    > .su-multi-menu__item--parent {
      @include grid-media('lg') {
        @include padding(null 1.6rem null null);
      }

      > .su-multi-menu__link {
        // Desktop Styles.
        @include grid-media('lg') {
          @include margin(null 0 null null);
          display: inline-block;
        }
      }

      > .su-nav-toggle {
        // Desktop Styles.
        @include grid-media('lg') {
          @include padding(0);
          display: inline-block;
          position: relative;
          width: 28px;
          max-width: 28px;
          height: 55px;
          max-height: 55px;

          &::before {
            background-color: transparent;
            background-image: url("#{$su-image-path}/caret-down-black.svg");
            transition: transform 0.3s ease-out, left 0.3s ease-out, right 0.3s ease-out;
          }

          &[aria-expanded="true"] {
            transition: transform 0.3s ease-out, left 0.3s ease-out, right 0.3s ease-out;
          }
        }
      }
    } // end top level parent items.
  }
}
