{#
  Accordion

  Template for an expandable/collapsable section.

  * Available variables:
  * - attributes: For additional HTML attributes not already provided.
  * - modifier_class: Additional css classes to change look and behaviour.
  * - template_path_nav_toggle:
  * - nav_toggle_vars:
  * - toggle:
  * - title:
  * - content:
#}
<div {{ attributes }} class="su-accordion no-js {{ modifier_class }}">
  {% if accordion_items is iterable %}
    {% for item in accordion_items %}
      <div class="su-accordion__item">
        {% if item.title is not empty %}
          <h2 class="su-accordion__title"><button class="su-accordion__button">{{ item.title }}</button></h2>
        {% endif %}
        <div class="su-accordion__content">
          {{ item.content }}
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>