@charset "UTF-8";

//
// Media
//
// A media element, e.g., image, videos, embedded videos (eg., YouTube and Vimeo), audio, etc., with the option of including a caption and a link.
// To constrain the aspect ratio of the media element, add classes e.g.,
// <a href="/section-core.html#kssref-core-helpers-aspect-ratio">su-aspect-ratio--1x1</a> to the .su-media__wrapper container, or
// use the <a href="/section-mixins.html#kssref-mixins-display-aspect-ratio">mixin @aspect-ratio</a> to set custom
// aspect ratio on the .su-media__wrapper container. The default .su-media component takes
// custom HTML for the media content such as an iframe, e.g., YouTube embeds.
//
// .su-media--image - Image
// .su-media--video - HTML5 video
// .su-media--audio - HTML5 audio
//
// Markup: templates/components/media/media.twig
//
// Style guide: Simple.Media
//

.su-media__caption {
  @include caption;
  @include margin(0.4em null 0);
}

.su-media__wrapper {
  line-height: 0;
  overflow: hidden;

  > * {
    width: 100%;
  }
}
