@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities.scss";

.block--lockup {
  @include responsive-container($default-container);
  @include flex-container();

  // Grid collapse.
  .block-grid-collapse {
    @include grid-collapse;
  }

  .block--lockup__site-logo {
    @include grid-column(6 of 12);
    @include grid-media($media-sm) {
      @include grid-column(5 of 12);
    }
    @include grid-media($media-md) {
      @include grid-column(3 of 12);
    }
  }

  .block--lockup__site-name-and-slogan {
    @include grid-column(6 of 12);
    @include grid-media($media-sm) {
      @include grid-column(7 of 12);
    }
    @include grid-media($media-md) {
      @include grid-column(9 of 12);
    }
  }

  .block--lockup__site-name {
    @include font-size(31px);

    a, a:link, a:visited {
      color: color(black);
    }
    a:hover {
      text-decoration: none;
    }
  }

  .block--lockup__site-slogan {
    color: color(black);
    @include font-size(1.3em);
    font-style: italic;
    margin: 0px;
    padding: 0px;
  }

}
