{#
/**
 * @file
 * Date Stacked Component.
 *
 * Abbreviated month stacked on top of numerical day of the month.
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - modifier_class: Additional css classes to change look and behaviour.
 */
#}
<div{{ attributes }} class="su-date-stacked {{ modifier_class }}">
  {% if month_of_year is not empty %}
    <div class="su-date-month">{{ month_of_year }}</div>
  {% endif %}

  {% if day_of_month is not empty %}
    <div class="su-date-day">{{ day_of_month }}</div>
  {% endif %}

</div>
