<div {{ attributes }} class="su-aspect-ratio {{ modifier_class }}">
  <img src="https://alistapart.com/wp-content/uploads/2013/01/ALA284_videoresize_300.png" />
  <div>
    <p>
      Nam commodo suscipit quam. Etiam iaculis nunc ac metus. Curabitur at lacus ac velit ornare lobortis.
      Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus.
      Sed cursus turpis vitae tortor. Aenean imperdiet.
    </p>
  </div>
</div>
