@charset "UTF-8";

//
// @grid--12-of-12
//
// Mixin to apply to an element that should occupy 12/12 of a class-based grid row.
//
// Style guide: Mixins.Grid.grid--12-of-12
//

@mixin grid--12-of-12 {
  width: 100%;
}

//
// @grid--6-of-12
//
// Mixin to apply to an element that should occupy 6/12 of a class-based grid row.
//
// Style guide: Mixins.Grid.grid--6-of-12
//

@mixin grid--6-of-12 {
  width: 100%;
  @include responsive-flex-column(6);
}

//
// @grid--3-of-12
//
// Mixin to apply to an element that should occupy 3/12 of a class-based grid row.
//
// Style guide: Mixins.Grid.grid--3-of-12
//

@mixin grid--3-of-12 {
  width: 100%;
  @include responsive-flex-column(3);

}

//
// @grid--9-of-12
//
// Mixin to apply to an element that should occupy 9/12 of a class-based grid row.
//
// Style guide: Mixins.Grid.grid--9-of-12
//

@mixin grid--9-of-12 {
  width: 100%;
  @include responsive-flex-column(9 of 12);
}

//
// @grid--4-of-12
//
// Mixin to apply to an element that should occupy 4/12 of a class-based grid row.
//
// Style guide: Mixins.Grid.grid--4-of-12
//

@mixin grid--4-of-12 {
  width: 100%;
  @include responsive-flex-column(4);
}

//
// @grid--8-of-12
//
// Mixin to apply to an element that should occupy 8/12 of a class-based grid row.
//
// Style guide: Mixins.Grid.grid--8-of-12
//

@mixin grid--8-of-12 {
  width: 100%;
  @include responsive-flex-column(8 of 12);
}

//
// @grid--2-of-12
//
// Mixin to apply to an element that should occupy 2/12 of a class-based grid row.
//
// Style guide: Mixins.Grid.grid--2-of-12
//

@mixin grid--2-of-12 {
  width: 100%;
  @include responsive-flex-column(2 of 12);
}

//
// @grid--10-of-12
//
// Mixin to apply to an element that should occupy 10/12 of a class-based grid row.
//
// Style guide: Mixins.Grid.grid--10-of-12
//

@mixin grid--10-of-12 {
  width: 100%;
  @include responsive-flex-column(10 of 12);
}

//
// @grid--1-of-12
//
// Mixin to apply to an element that should occupy 1/12 of a class-based grid row.
//
// Style guide: Mixins.Grid.grid--1-of-12
//

@mixin grid--1-of-12 {
  width: 100%;
  @include responsive-flex-column(1 of 12);
}

//
// @grid--5-of-12
//
// Mixin to apply to an element that should occupy 5/12 of a class-based grid row.
//
// Style guide: Mixins.Grid.grid--5-of-12
//

@mixin grid--5-of-12 {
  width: 100%;
  @include responsive-flex-column(5 of 12);
}

//
// @grid--7-of-12
//
// Mixin to apply to an element that should occupy 7/12 of a class-based grid row.
//
// Style guide: Mixins.Grid.grid--7-of-12
//

@mixin grid--7-of-12 {
  width: 100%;
  @include responsive-flex-column(7 of 12);
}
