@charset "UTF-8";

//
// @flex-container($gap: $gutter-xs)
//
// Mixin to apply to the wrapper of all class-based layouts.
//
// Style guide: Mixins.Flex.flex-container
//
@mixin flex-container() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  max-width: $site-max-width;

  @include padding(null $site-margins-mobile);

  @include grid-media('md') {
    @include padding(null $site-margins);
  }

}
