@charset "UTF-8";

//
// @flex-container($gap: $gutter-xs)
//
// Mixin to apply to the wrapper of all class-based layouts.
//
// Style guide: Mixins.Flex.flex-container
//
@mixin flex-container() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: $site-max-width;


  @include margin(null null $gutter-xs * -1 null);

  @include grid-media('sm') {
    @include margin(null null $gutter-sm * -1 null);
  }
  @include grid-media('md') {
    @include margin(null null $gutter-md * -1 null);
  }
  @include grid-media('lg') {
    @include margin(null null $gutter-lg * -1 null);
  }
  @include grid-media('xl') {
    @include margin(null null $gutter-xl * -1 null);
  }
  @include grid-media('2xl') {
    @include margin(null null $gutter-2xl * -1 null);
  }

}
