{#
/**
 * @file
 * Template for a complex column panel layout.
 *
 * This template provides a complex column panel display layout, with
 * each column roughly equal in width.
 *
 * Variables:
 * -
 * -
 *
 *
 *
 */
#}
<div{{ attributes }} class="layout {{ modifier_class }}">
  <section class="flex-container centered-container">
    <div class="flex-md-4-of-12">
      {{ first }}
    </div>

    <div class="flex-md-8-of-12">
      {{ second }}
    </div>
  </section>
</div>
