// I like big fonts I cannot lie.
$root-font-size: 20px;
$base-font-size: 36px;

// Decant.
@import "decanter";


.layout-two-column-centered {
  background: #FDF;
  @include responsive-container();

  .layout-column-first,
  .layout-column-second  {
      @include grid-column(6 of 12);

      @include grid-media($media-xs-only) {
        @include grid-column(1 of 1);
      }

  }

}
