@charset "UTF-8";

//
// @action-link($color: $color-bright-blue)
//
// Provides a right carat link with alternate color.
//
// $color - Default color. Defaults to $color-bright-blue.
// $hover - Hover color. Defaults to $color-black.
//
// Style guide: Mixins.Link.action-link
//
@mixin action-link($color: $color-bright-blue, $hover: $color-black) {
  font-weight: $font-semi-bold;
  text-decoration: none;
  color: $color;

  &::after {
    content: ' ›';
    left: 1px;
    position: relative;
    transition: left 0.2s ease-in-out;
    text-decoration: none;
  }

  &:hover {
    color: $hover;

    &::after {
      left: 4px;
    }
  }
}
