@charset "UTF-8";

//
// @external-link($external-link, $external-link-hover)
//
// Default external link styling, with external icon.
//
// $external-link - filename of external link png & svg
// $external-link-hover - filename of external link png & svg on hover
//
// Style guide: Mixins.Link.external-link
//
@mixin external-link($external-link: external-link, $external-link-hover: external-link-hover) {
  @supports (mask-repeat: no-repeat) {
    &::after {
      @include margin(null null -1px 4px);
      @include size(0.65em);
      display: inline-block;
      content: '';
      mask: url("#{$image-path}/#{$external-link}.svg") no-repeat 0 0;
      mask-size: cover;
      background-color: color(link);
    }

    &:hover,
    &:focus {
      &::after {
        background-color: color(link--hover);
      }
    }
  }
}
