@charset "UTF-8";

///
/// Default link styling.
///
/// @name link
///
/// @param {variable} $color - Default up color
/// @param {variable} $hover - Default hover color
///
/// @group mixin
@mixin link($color: color(link), $hover: color(link--hover)) {
  color: $color;
  text-decoration: underline;
  font-weight: $su-font-semi-bold;

  &:hover,
  &:focus,
  &:active {
    color: $hover;
  }
}
