@charset "UTF-8";

//
// @link($color, $hover)
//
// Default link styling.
//
// $color - Default up color
// $hover - Default hover color
//
// Style guide: Mixins.Link.link
//
@mixin link($color: color(link-inline), $hover: color(link-inline--hover)) {
  color: $color;
  text-decoration: underline;
  font-weight: $font-semi-bold;

  &:hover,
  &:active {
    color: $hover;
  }
}
