@charset "UTF-8";

///
/// Default link styling.
///
/// @name link
///
/// @param {variable} $color - Default up color
/// @param {variable} $hover - Default hover color
///
/// @group mixin
@mixin link($color: color(link), $hover: color(link--hover)) {
  @include padding(null 0.15rem);
  color: $color;
  font-weight: $su-font-semi-bold;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    color: $hover;
  }

  &:focus {
    box-shadow: $su-button-stroke color(focus), $su-focus-shadow;
    outline: none;
  }
}
