@charset "UTF-8";
/// @access public

////
/// Form base styles.
/// @group base
////


// Dependencies
@import '../utilities/settings';

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  $_spacing: $small-spacing;
  font-weight: 600;
  margin-bottom: $_spacing / 2;
  padding: 0;
}

label {
  $_spacing: $small-spacing;
  display: block;
  font-weight: 600;
  margin-bottom: $_spacing / 2;
}

input,
select,
textarea {
  $_font-family: $base-font-family;
  display: block;
  font-family: $_font-family;
}

#{$all-text-inputs} {
  $_border: $base-border;
  $_border-radius: $base-border-radius;
  $_box-shadow: $form-box-shadow;
  $_spacing: $base-spacing;
  $_small-spacing: $base-spacing;
  $_duration: $base-duration;
  $_timing: $base-timing;

  appearance: none;
  background-color: color(background);
  border: $_border;
  border-radius: $_border-radius;
  box-shadow: $_box-shadow;
  box-sizing: border-box;
  margin-bottom: $_small-spacing;
  padding: $_spacing / 3;
  transition: border-color $_duration $_timing;
  width: 100%;

  @include on-event {
    border-color: shade(color(border), 20%);
  }

  &:disabled {
    background-color: shade(color(background), 5%);
    cursor: not-allowed;

    &:hover {
      border: $_border;
    }
  }

  &::placeholder {
    color: tint(color(text), 40%);
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  $_spacing: $small-spacing;
  display: inline;
  margin-right: $_spacing / 2;
}

[type="file"] {
  $_spacing: $small-spacing;
  margin-bottom: $_spacing;
  width: 100%;
}

select {
  $_spacing: $small-spacing;
  margin-bottom: $_spacing;
  width: 100%;
}
