{#
/**
 * @file
 * Brand Bar Component.
 *
 * Stanford brand bar with the wordmark logo with four variants:
 *   - Default: White wordmark over cardinal red background
 *   - Bright: White wordmark over bright red background
 *   - Dark: White wordmark over dark grey background
 *   - White: Cardinal red wordmark over white background
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - modifier_class: Additional css classes to change look and behaviour.
 */
#}
{% if external_link_text is empty -%}
  {%- set external_link_text -%}
    <span class="su-brand-bar__link--a11y"> (link is external)</span>
  {% endset %}
{%- endif %}

<div class="su-brand-bar {{ modifier_class }}">
  <div class="su-brand-bar__container"><a {{ attributes }} class="su-brand-bar__logo" href="https://stanford.edu">Stanford University{{ external_link_text }}</a></div>
</div>
